// General styles
$landing-background-color: #FFFFFF;
$landing-header-color: #3B568D;
$landing-header-font-size: 30px; // 32px
$landing-header-letter-spacing: 0.22px; // 0.19px
$landing-general-text-color: #212121;
$landing-orange-text-color: #F6A623;
$btn-gradient-color-yellow-light: #FFE589;
$btn-gradient-color-yellow-dark: #FEC751;
$landing-top-header-color: #212121;
$landing-top-header-text-size: 20px;
$landing-top-header-letter-spacing: 0.13px;

// Cards styles
$card-background-color: #FFFFFF;
$card-green-background-color: #16A085;
$card-border: 1px solid #DCDCDC;
$card-shadow: 0px 2px 6px 0px #DCDCDC;
$card-border-radius: 1px;
$card-font-color: #212121;
$card-header-font-size: 22px;
$card-header-letter-spacing: 0.14px;
$card-text-font-size: 16px;
$card-text-letter-spacing: 0.1px;
$card-image-1: '/assets/images/landing-image-1.png';
$card-image-2: '/assets/images/landing-image-2.png';
$card-image-3: '/assets/images/landing-image-3.png';
$card-btn-border: 1px solid #A6A6A6;
$card-btn-text-color: #2A0202;
$card-btn-font-size: 14px;
$card-btn-letter-spacing: 0.9px;

// Descriptions styles
$center-description-font-size: 24px;
$center-description-letter-spacing: 0.11px;
$footer-description-color: #4A4A4A;

// How to block styles
$how-to-products-image: '/assets/images/product-image.png';
$how-to-order-form-image: '/assets/images/order-form.png';
$how-to-font-size: 18px;
$how-to-letter-spacing: 0.11px;
$how-to-icons-color: #4A4A4A;
$how-to-icons-size: 24px;

// Banners style
$banner-text-color: #FFFFFF;
$banner-text-font-size: 30px;
$banner-text-letter-spacing: 0.19px;
$banner-text-shadow: 2px 2px 4px rgba(0,0,0,0.80);
$banner-image-1: '/assets/images/banner-1.png';
$banner-image-2: '/assets/images/banner-2.png';
$banner-image-3: '/assets/images/banner-3.png';

// Footer styles
$footer-background-color: #0C0B0D;
$footer-text-color: rgba(255, 255, 255, 0.7);
$footer-text-font-size: 15px;
$footer-text-letter-spacing: 0.09px;

// Search box
$search-input-background: #FFFFFF;
$search-input-border: 1px solid #C8C8C8;
$search-result-border: 1px solid #DCDCDC;
$search-input-box-shadow: 0 2px 6px 0 #DCDCDC;
$search-text-color: #212121;
$search-text-size: 18px;
$search-text-letter-spacing: 0.11px;
$search-result-hover-background: #506795;
$search-result-text-color: #212121;
$search-result-text-size: 16px;
$search-result-letter-spacing: 0.1px;
$search-result-empty-font-size: 14px;
$search-result-empty-color: #8D9494;
$search-close-icon-base-color: #8D9494;

// Services cards
$services-container-background: #FFFFFF;
$services-container-shadoed: #000000;
$services-container-border: 1px solid #DCE0E0;
$services-container-box-shadow: 0 2px 6px 0 #DCDCDC;
$services-header-color: #FFFFFF;
$services-header-text-size: 16px;
$services-header-letter-spacing: 0.09px;
$services-content-color: #212121;
$services-content-text-size: 14px;
$services-content-letter-spacing: 0.09px;
$services-footer-text-size: 12px;
$services-footer-letter-spacing: 0.06px;
$services-footer-price-text-size: 22px;
$services-footer-price-letter-spacing: 0.06px;

app-landing {
  height: 100%;
  overflow: auto;
}
.landing {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 50px; // 70px
  padding-bottom: 50px;
  background-color: $landing-background-color;
  overflow: hidden;
}
.landing h1 {
  font-weight: 700;
  color: black;
  margin: 0 auto;
  max-width: 700px;
}
.landing h2 {
  color: black;
}
.landing h6 {
  color: black;
  margin: 0 auto;
}


// HEADER
.header-page {
  padding: 90px 0 50px;
  // border-bottom: 1px solid #CCCCCC;
}
.landing-header {

}
.landing-header h1,
.landing-header h2,
.landing-header h3,
.landing-header h4,
.landing-header h5,
.landing-header h6 {
  text-align: center;
}
.landing-header h6 {
  margin: 20px 0;
  font-weight: 400;
}
.landing-header-button {
  margin-top: 30px;
}

.landing-header-button .button-header-column {
  display: block;
  position: relative;
  float: none;
  max-width: 400px;
  margin: 0 auto;
}




// Facebook btn
.landing-header-button .btn.btn-primary {
  position: relative;
  width: 100%;
  height: 50px;

  border: 1px solid #3B5998;
  border-radius: 3px;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.1px;
  font-weight: 600;
  padding: 10px 7px;
  background-color: #3B5998;
  text-align: center;
  margin-top: 34px;
  outline: none;
}
.landing-header-button .btn.btn-primary.facebook i {
  display: block;
  position: absolute;
  top: 7px;
  left: 12px;
  width: 34px;
  height: 34px;
  background-image: url('/assets/images/fb-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
}


.landing .row .top-cards {
  padding: 0 10px;
}
.top-cards .top-card {
  display: block;
  position: relative;
  width: 100%;
  height: 250px;
  padding: 5px;
  background-color: $card-background-color;
  border: $card-border;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
  margin-bottom: 20px;
}
.top-cards .top-card .header {
  display: block;
  position: relative;
  width: 100%;
  padding: 16px 12px 20px 12px;

  font-size: $card-header-font-size;
  letter-spacing: $card-header-letter-spacing;
  color: $card-font-color;
  z-index: 3;
}
.top-cards .top-card.green-card .header {
  color: $card-background-color;
}
.top-cards .top-card .description {
  display: block;
  width: 100%;
  margin-top: -20px;
  position: relative;
  z-index: 3;

  font-size: $card-text-font-size;
  color: $card-font-color;
  letter-spacing: $card-text-letter-spacing;
  padding: 0 12px;
  line-height: 18px;
}
.top-cards .top-card.green-card .description {
  color: $card-background-color;
}
.top-cards .top-card .header span {

  font-size: $card-text-font-size;
  color: $card-font-color;
  letter-spacing: $card-text-letter-spacing;
}
.top-cards .top-card p {
  display: block;
  width: 100%;
  margin: 0;

  font-size: $card-text-font-size;
  color: $card-font-color;
  letter-spacing: $card-text-letter-spacing;
  padding: 0 12px;
  line-height: 18px;
}
.top-card .card-background {
  display: block;
  position: absolute;
  width: 100%;
  height: 203px;
  top: 0;
  left: 0;
  padding: 5px 5px 0 5px;
}
.top-card .card-background .image {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.top-card .card-background .image.image-1 {
  background-image: url($card-image-1);
}
.top-card .card-background .image.image-2 {
  background-image: url($card-image-2);
}
.top-card .card-background .image.image-3 {
  background-image: url($card-image-3);
}
.top-card .card-background .white-background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $card-background-color;
  opacity: 0.95;
  z-index: 2;
  transition: opacity 0.5s ease-in-out;
}
.top-card.green-card .card-background .white-background {
  top:5px;
  left: 5px;
  right: 5px;
  bottom: 0;
  height: auto;
  width: auto;
  background-color: $card-green-background-color;
  opacity: 0.9;
  transition: opacity 0.5s ease-in-out;
}
.top-card .landing-card-footer {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 5px;
}
.landing .center-description {
  display: block;
  max-width: 500px;
  margin: 20px auto 20px;

  color: $landing-general-text-color;
  font-size: $center-description-font-size;
  letter-spacing: $center-description-letter-spacing;
  text-align: center;
}
.landing .how-to-block {
  margin-bottom: 21px;
}
.landing .how-to-block .how-to-content {
  display: block;
  width: 100%;
}
.how-to-content .top-part {
  display: block;
  width: 100%;
  height: 187px;
}
.how-to-content .top-part .product-image {
  display: block;
  width: 100%;
  height: 187px;
  background-image: url($how-to-products-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.how-to-content .top-part .order-image {
  display: block;
  width: 100%;
  height: 183px;
  background-image: url($how-to-order-form-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 4px;
}
.how-to-content .top-part .landing-form {
  display: block;
  width: 209px;
  height: 183px;
  margin: 0 auto;
  padding-top: 40px;
}
.how-to-content .top-part .landing-form .btn.btn-warning {
  height: 30px;
  color: $landing-general-text-color;
  padding: 5px 7px;
}
.how-to-content .top-part .landing-form .icons-block {
  display: block;
  width: 160px;
  margin: 25px auto 0;
  color: $how-to-icons-color;
  font-size: $how-to-icons-size;
}
.landing-form .icons-block .fa-envelope {
  margin-left: 37px;
  margin-right: 36px;
}
.how-to-content .header {
  display: block;
  width: 100%;
  margin-top: 52px;

  font-size: $how-to-font-size;
  letter-spacing: $how-to-letter-spacing;
  color: $landing-general-text-color;
  text-align: center;
}
.how-to-content p {
  display: block;
  width: 100%;
  margin-top: 25px;

  font-size: $how-to-font-size;
  letter-spacing: $how-to-letter-spacing;
  color: $landing-general-text-color;
  text-align: center;
}
.landing .row .banner {
  padding: 0 10px;
}
.landing .banner a {
  display: block;
  position: relative;
  width: 100%;
  height: 235px;
}
.landing .banner a .background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: 1;
  transition: opacity 0.5s ease-in-out;
}
.landing .banner a:hover .background {
  opacity: 1;
}
.landing .banner a span {
  display: block;
  position: absolute;
  width: auto;
  height: 35px;
  bottom: 19px;
  left: 26px;
  z-index: 2;

  color: $banner-text-color;
  font-size: $banner-text-font-size;
  letter-spacing: $banner-text-letter-spacing;
  text-shadow: $banner-text-shadow;
}
.landing .banner a.banner-1 .background {
  background-image: url($banner-image-1);
}
.landing .banner a.banner-2 .background {
  background-image: url($banner-image-2);
}
.landing .banner a.banner-3 .background {
  background-image: url($banner-image-3);
}
.footer-description {
  display: block;
  max-width: 570px;
  margin: 90px auto 130px;

  font-size: $center-description-font-size;
  letter-spacing: $center-description-letter-spacing;
  color: #4A4A4A;
  text-align: center;
}
.footer-container {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: $footer-background-color;
  text-align: center;
  padding: 13px 0;
}
.light-footer {
  background-color: #F7F7F7;
  border-top: 1px solid #CCCCCC;
}
.footer-container .copyright, .footer-container span, .footer-container a, .footer-container a:hover {
  display: inline;
  color: $footer-text-color;

  font-size: $footer-text-font-size;
  letter-spacing: $footer-text-letter-spacing;
  text-decoration: none;
}
.light-footer .copyright, .light-footer span, .light-footer a, .light-footer a:hover{
  color: black;
}
.footer-container .copyright strong {
  font-size: 16px;
}
// Search box
.landing-search {
  display: block;
  position: relative;
  float: none;
  max-width: 600px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
}
.landing-search .ui-autocomplete-input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 46px 15px 19px;
  background-color: $search-input-background;
  border: $search-input-border;
  border-radius: 1px;
  // box-shadow: $search-input-box-shadow;
  box-shadow: none;
  outline: none;
  color: $search-text-color;

  font-size: $search-text-size;
  letter-spacing: $search-text-letter-spacing;
}


.landing .landing-top-header h1 {
  display: block;
  float: none;
  max-width: 470px;
  margin: 0 auto;
  text-align: center;

  color: $landing-top-header-color;
  font-size: $landing-top-header-text-size;
  letter-spacing: $landing-top-header-letter-spacing;
  padding: 0;
  font-weight: normal;
}
.landing .btn.btn-warning {

  font-weight: bold;
  border: $card-btn-border;
  // font-size: $card-btn-font-size;
  color: $card-btn-text-color;
  letter-spacing: $card-btn-letter-spacing;
  padding: 8px 7px;
  background: $btn-gradient-color-yellow-light;
  text-align: center;
  outline: none;
  background: -moz-linear-gradient(top,  $btn-gradient-color-yellow-light 0%, $btn-gradient-color-yellow-dark 100%);
  background: -webkit-linear-gradient(top,  $btn-gradient-color-yellow-light 0%,$btn-gradient-color-yellow-dark 100%);
  background: linear-gradient(to bottom,  $btn-gradient-color-yellow-light 0%,$btn-gradient-color-yellow-dark 100%);
  opacity: 0.9;
  width: 320px;
  margin: auto;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
}

.landing .btn.btn-warning:hover,
.landing .btn.btn-warning:active {
  opacity: 1.0;
}
.landing .btn.btn-success {

  // border: $card-btn-border;
  // font-size: $card-btn-font-size;
  color: white;
  letter-spacing: $card-btn-letter-spacing;
  padding: 8px 7px;
  // background: $btn-gradient-color-yellow-light;
  text-align: center;
  outline: none;
  // background: -moz-linear-gradient(top,  $btn-gradient-color-yellow-light 0%, $btn-gradient-color-yellow-dark 100%);
  // background: -webkit-linear-gradient(top,  $btn-gradient-color-yellow-light 0%,$btn-gradient-color-yellow-dark 100%);
  // background: linear-gradient(to bottom,  $btn-gradient-color-yellow-light 0%,$btn-gradient-color-yellow-dark 100%);
  opacity: 0.9;
  width: 320px;
  margin: auto;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
}

.landing .btn.btn-success:hover,
.landing .btn.btn-success:active {
  opacity: 1.0;
}

input.ui-autocomplete-input::-webkit-input-placeholder,
input.landing-search .ui-autocomplete-input:-moz-placeholder,
input.landing-search .ui-autocomplete-input:-ms-input-placeholder {
  color: $search-text-color;
}
.landing-search .spinner {
  display: block;
  position: absolute;
  top: 15px;
  right: 35px;
  width: 21px;
  height: 21px;
}
.no-result button {
  outline: none;
}
.suggess-service {
  display: block;
  position: absolute;
  top: 10px;
  right: 5px;
  color: #2980b9;
  font-weight: 600;
}
.suggess-service:hover {
  color: #3C5381;
}
.landing-search .close-container {
  display: block;
  position: absolute;
  top: 15px;
  right: 35px;
}
.close-container .close{
  position: relative;
  display: inline-block;
  width: 21px;
  height: 21px;
  overflow: hidden;
  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #3498db;
  }
  &::before {
   transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &.thick {
    &::before, &::after {
      height: 4px;
      margin-top: -2px;
    }
  }
  &.rounded {
    &::before, &::after {
      border-radius: 5px;
    }
  }
}

.landing-search .ui-autocomplete-panel {
  display: block;
  position: relative;
  margin-top: -50px;
  width: 100%;
  background-color: $search-input-background;
  border-left: $search-result-border;
  border-right: $search-result-border;
  border-bottom: $search-result-border;
  // box-shadow: $search-input-box-shadow;
  outline: none;
  border-radius: 1px;
  overflow-y: scroll;
}
.landing-search .ui-autocomplete-panel .ui-state-highlight .search-result {
  color: white;
  background-color: $search-result-hover-background;
}
.landing-search .ui-autocomplete-panel .search-result {
  display: block;
  width: 100%;

  color: $search-result-text-color;
  font-size: $search-result-text-size;
  letter-spacing: $search-result-letter-spacing;
  padding: 16px 21px;
}
.landing-search .ui-autocomplete-panel.empty {
  margin-top: 0;
}
.landing-search .ui-autocomplete-panel.empty .no-result {
  display: block;
  width: 100%;

  color: $search-result-empty-color;
  font-size: $search-result-empty-font-size;
  letter-spacing: $search-result-letter-spacing;
  padding: 8px 21px;
}


// Services cards
.landing .card-container {
  padding: 40px 0;
  text-align: center;
}
.landing .card-container h2 {
  width: 100%;
  text-align: center;
  color: #324977;
}
.landing .card-container h3 {
  display: block;
  font-weight: 700;
  color: #FFC846;
}
.landing .card-container h4 {
  display: block;
  font-weight: 700;
  color: #FFC846;
}
.landing .card-container h5 {
  display: block;
  font-weight: 300;
  color: black;
}
.landing .card-container h6 {
  display: block;
  font-weight: 400;
  color: black;
}
.landing-services {
  display: block;
  float: none;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  min-height: 284px;
  margin: 40px auto 40px;
  text-align: center;
}
.landing-services h2 {
  display: block;
  float: none;
  margin: 0 auto;
  text-align: left;

  color: $landing-top-header-color;
  font-size: $landing-top-header-text-size;
  letter-spacing: $landing-top-header-letter-spacing;
  padding-left: 7px;
  padding-bottom: 15px;
  font-weight: normal;
}
.landing-services .swiper-container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1136px;
  height: 284px;
  overflow: hidden;
}
.landing-services .swiper-container .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 284px;
  text-align: center;
  white-space: nowrap;
}
.landing-services .services-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  float: none;
  width: 224px;
  height: 280px;
  padding: 2px;
}
.services-card .service-container {
  display: block;
  position: relative;
  width: 224px;
  min-height: 280px;
  border: none;
  // border-radius: 1px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.services-card .service-container .shadow {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $services-container-shadoed;
  opacity: 0.1;
  transition: opacity 0.4s ease-in-out;
  z-index: 1;
  // border-radius: 3px;
}
.services-card .service-container:hover .shadow {
  opacity: 0.2;
}
.services-card .service-container .header {
  display: block;
  position: relative;
  z-index: 2;
  width: 200px;

  font-weight: bold;
  color: $services-header-color;
  font-size: $services-header-text-size;
  letter-spacing: $services-header-letter-spacing;
  padding: 18px 12px;
  text-transform: uppercase;
  white-space: normal !important;
  text-align: left;
}
.services-card .service-container .service-footer {
  display: block;
  position: absolute;
  z-index: 2;
  right: 13px;
  bottom: 17px;
  width: 100%;
  text-align: right;

  font-weight: 600;
  color: $services-header-color;
  font-size: $services-footer-text-size;
  letter-spacing: $services-footer-letter-spacing;
  font-weight: normal;
}
.services-card .service-container .service-footer span {

  font-weight: bold;
  color: $services-header-color;
  font-size: $services-footer-price-text-size;
  letter-spacing: $services-footer-price-letter-spacing;
}

// WHY
.why-container {
  background: #161517;
  padding: 70px 0 70px 0;
}
.why-container h3 {
  width: 100%;
  text-align: center;
  padding-bottom: 60px;

  color: $landing-orange-text-color;
}
.why-container h4 {
  width: 100%;
  text-align: center;
  padding-bottom: 60px;

  color: $landing-orange-text-color;
}
.why-container h5 {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;

  font-weight: 400;
  color: $landing-orange-text-color;
  max-width: 280px;
  margin: auto;
}
.why-container h6 {
  width: 100%;
  text-align: center;

  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  margin: auto;
  line-height: 22px;
  max-width: 300px;
}
.why-container img {
  height: 100px;
  width: 100px;
}

// PARTNER CONTAINER
.partner-container {
  background: #161517;
  padding: 50px 0 50px 0;
  border-top: 1px solid rgba(240, 240, 240, 0.2);
}
.partner-container h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;

  color: $landing-orange-text-color;
}
.partner-container .list-brands-scrollable {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  margin: auto;
  max-width: 750px;
}
.partner-container .list-brands-scrollable img {
  max-height: 130px;
}

// PRE FOOTER CONTAINER
.pre-footer-container {
  background: #161517;
  padding: 50px 0 50px 0;
  border-top: 1px solid rgba(240, 240, 240, 0.2);
}
.pre-footer-container h5 {
  width: 100%;
  text-align: left;

  font-weight: 400;
  color: white;
}
.pre-footer-container h6 {
  width: 100%;
  text-align: left;

  font-weight: 400;
  color: white;
}
.pre-footer-container small {
  line-height: 20px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.pre-footer-container .list-security {
  display: inline-block;
  max-width: 280px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pre-footer-container .list-security img{
  max-height: 40px;
  margin: 5px;
  float: left;
}
.pre-footer-container .list-payment-methods {
  display: inline-block;
  max-width: 280px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pre-footer-container .list-payment-methods img{
  max-height: 40px;
  margin: 5px;
  float: left;
}
.pre-footer-container .list-contact-methods {
  display: inline-block;
  max-width: 280px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pre-footer-container .list-contact-methods h4 {
  padding-bottom: 5px;
  color: $footer-text-color;
}
.pre-footer-container .list-socials {
  display: inline-block;
  max-width: 280px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pre-footer-container .list-socials img {
  max-height: 40px;
  margin: 5px;
  float: left;
}

// Loading style
.landing-services .loader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 50px;
  background-color: $loader-style;
  z-index: 10;
}
.landing-services .loader svg {
  display: block;
  width: 50px;
  height: 50px;
  margin: 20px auto;
}

@media (max-width: 991px) {

}
@media (max-width: 768px) {
  .landing-header h1 {
    padding: 40px 0 10px;
  }
  .landing-header h6 {
    padding: 10px 0 25px;
    font-weight: 400;
  }
  .header-page {
    padding-bottom: 0;
  }

  .card-container h2 {
    padding-top: 25px;
  }
  .landing-services {
  }
  .why-container .why-cell {
    padding-bottom: 40px;
  }
  .pre-footer-container .list-security, .pre-footer-container .list-payment-methods, .pre-footer-container .list-contact-methods, .pre-footer-container .list-socials {
    padding-bottom: 20px;
  }
  .pre-footer-container {
    margin: auto;
    text-align: center;
  }
  .pre-footer-container h4 {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .landing-header h1 {
    text-align: left;
    padding: 20px 0 10px;
  }
  .landing-header h6 {
    text-align: left;
    padding: 0px;
    margin: 10px 0;
  }
  .header-page {
    padding: 0;
  }
  .card-container h2 {
    padding: 10px 10px 10px;
  }
  .landing-services {
    margin: 20px auto;
  }
  .landing-header-button {
    margin: 20px 0 0;
  }
  .landing .btn.btn-warning {
    width: 100%;
  }

  .landing-services .services-card {

  }
  .landing .landing-top-header h1 {
    padding: 0 15px;
  }
  .why-container .why-cell {
    padding-bottom: 40px;
  }
  .pre-footer-container .list-security, .pre-footer-container .list-payment-methods, .pre-footer-container .list-contact-methods, .pre-footer-container .list-socials {
    padding-bottom: 20px;
  }
  .footer-container {
    height: auto;
    position: static;
    margin-bottom: -62px;
    // margin-top: 20px;
  }
  .footer-container span {
    display: none;
  }
  .footer-container .copyright, .footer-container a, .footer-container a:hover {
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }
  .landing .center-description, .footer-description  {
    width: 100%;
    padding: 0 15px;
  }
  .pre-footer-container h6 {
    text-align: center;
  }
}

/* Remove inner shadow from inputs on mobile iOS */
textarea, input[type="text"] {
  -webkit-appearance: none;
}
