<div class="header">
  <h1>Il miglior servizio per la tua casa al prezzo giusto</h1>
  <h4>Niente più ricerche, attese o confronti di preventivi. Lo facciamo noi al posto tuo. Ed è gratis.</h4>
  <div class="search">
    <div class="search-field">
      <p-autoComplete [(ngModel)]="query" [suggestions]="results" field="title" scrollHeight="275px" (completeMethod)="search($event)" (onSelect)="selectResult(query)" placeholder="Cartongesso..." minLength="0">
        <template let-res>
          <div class="search-result" (click)="selectResult(res)">{{ res.title }}</div>
        </template>
      </p-autoComplete>
      <div class="spinner" *ngIf="spinerView">
        <svg width='21px' height='21px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
          <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
          <circle cx="50" cy="50" r="45" stroke-dasharray="169.64600329384882 113.09733552923257" stroke="#3B568D" fill="none" stroke-width="10">
            <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform>
          </circle>
        </svg>
      </div>
      <div class="close-container" *ngIf="!spinerView && clearView">
        <span class="close rounded thick" (click)="clearSearchForm()"></span>
      </div>
      <div class="ui-autocomplete-panel empty" *ngIf="results.length === 0 && query.length > 0">
        <div class="no-result noselect">
          Il servizio "{{query}}" non è disponibile
          <button class="suggess-service" (click)="requireService()">{{newServiceRequest.message}}</button>
        </div>
      </div>
    </div>
    <div class="search-button">
      <button class="btn btn-primary" (click)="searchMore()">Cerca</button>
    </div>
  </div>
</div>
<div class="services">
  <h1>Servizi piu richiesti</h1>
  <div class="services-container">
    <div class="service-box" *ngFor="let service of services" (click)="selectResult(service)">
      <div class="service" [style.background-image]="'url(' + service.image_url + ')'">
      </div>
      <div class="title">{{ service.title }}</div>
    </div>
  </div>
</div>
<div class="how-work">
  <h1>Come funziona</h1>
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
    <div class="box">
      <img src="../../../assets/images/service-list.png" class="rounded mx-auto d-block" alt="Seleziona il servizio">
      <h3>Seleziona un servizio</h3>
      <h5>Trova un servizio di cui hai bisogno e seleziona le carateristiche.</h5>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
    <div class="box">
      <img src="../../../assets/images/service-time.png" class="rounded mx-auto d-block" alt="Calcola preventivo">
      <h3>Preventivo immediato</h3>
      <h5>Ricevi in tempo reale un unico prezzo per il servizio, niente attese e niente intermediari.</h5>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
    <div class="box">
      <img src="../../../assets/images/service-booking.png" class="rounded mx-auto d-block" alt="Ordina il servizio">
      <h3>Ordina</h3>
      <h5>Scegli il giorno quando vuoi iniziare i lavori, l'indirizzo dove si trova la tua casa e ordina direttamente.</h5>
    </div>
  </div>
</div>
<div class="market">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-7 col-sm-12">
      <div class="box">
        <img src="../../../assets/images/bars-chart.png" class="rounded mx-auto d-block" alt="Quality">
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-5 col-sm-12">
      <div class="box">
        <h1>Prezzo del mercato</h1>
        <p>I prezzi dei servizi vengono calcolati usando un algoritmo che considera il prezzo del mercato. Noi ci assicuriamo che il cliente riceva il prezzo giusto del servizio e che il professionista sia pagato il giusto.</p>
      </div>
    </div>
  </div>
</div>
<div class="professional">
  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
      <div class="box">
        <h1>Solo i migliori professionisti</h1>
        <p>Noi lavoriamo solo con i migliori professionisti del settore per assicurarci un miglior risultato finale. Questi sono alcuni dei professionisti selezionati che fanno parte del team Starbook.</p>
      </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
      <div class="worker-img"></div>
    </div>
  </div>
</div>
<div class="recruiting">
  <div class="join-box">
    <h1>Sei un professionista in cerca di clienti?</h1>
    <p>Iscriviti a Starbook gratuitamente e diventa parte del nostro team.</p>
    <button type="button" class="btn btn-primary" name="button" (click)="joinUs()">Unisciti adesso</button>
  </div>
  <div class="partner-box">
    <h1>Programma partnership</h1>
    <p>Scopri il nostro programma di Riferimento per Agenzie Immobiliari e Amministratori Condominiali.</p>
    <button type="button" class="btn btn-warning" name="button" (click)="lernMore()">Scopri di più</button>
  </div>
</div>
<div class="pre-footer">
  <div class="container-fluid">
    <div class="pre">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <p>Sicurezza del sito</p>
          <div class="list-security">
            <img src="../../../assets/images/norton.png" alt="Norton Security">
            <img src="../../../assets/images/secure.png" alt="100% Secure">
            <img src="../../../assets/images/trust.png" alt="Trusted Website">
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <p>Sistemi di pagamento</p>
          <div class="list-payment-methods">
            <img src="../../../assets/images/mastercard.png" alt="Mastercard">
            <img src="../../../assets/images/visa.png" alt="Visa">
            <img src="../../../assets/images/americanexpress.png" alt="American Express">
            <img src="../../../assets/images/stripe.png" alt="Stripe">
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <p><a routerLink="about">Chi siamo</a></p>
          <p><a routerLink="help">Aiuto e Assistenza</a></p>
          <p><a routerLink="legal">Privacy e Condizioni</a></p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <p>Seguici su</p>
          <div class="list-socials">
            <a href="https://www.facebook.com/starbook.co/" target="_blank"><img src="../../../assets/images/facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com/starbookco/" target="_blank"><img src="../../../assets/images/twitter.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/starbook.co/" target="_blank"><img src="../../../assets/images/instagram.png" alt="Instagram"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <p><a routerLink="/"><strong>Starbook</strong> © 2017 Tutti i diritti riservati</a></p>
</div>


<!-- <div class="landing">
  <div class="header-page">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 landing-header">
          <h1>Hai bisogno di lavorazioni interni?</h1>
          <h6>É semplice. Trova il servizio. Prenota.</h6>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12 landing-search">
          <p-autoComplete [(ngModel)]="query" [suggestions]="results" field="title" scrollHeight="275px" (completeMethod)="search($event)" (onSelect)="selectResult(query)" placeholder="Cartongesso..." minLength="0">
            <template let-res>
              <div class="search-result" (click)="selectResult(res)">{{ res.title }}</div>
            </template>
          </p-autoComplete>
          <div class="spinner" *ngIf="spinerView">
            <svg width='21px' height='21px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
              <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
              <circle cx="50" cy="50" r="45" stroke-dasharray="169.64600329384882 113.09733552923257" stroke="#3B568D" fill="none" stroke-width="10">
                <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform>
              </circle>
            </svg>
          </div>
          <div class="close-container" *ngIf="!spinerView && clearView">
            <span class="close rounded thick" (click)="clearSearchForm()"></span>
          </div>
          <div class="ui-autocomplete-panel empty" *ngIf="results.length === 0 && query.length > 0">
            <div class="no-result noselect">
              Il servizio "{{query}}" non è disponibile
              <button class="suggess-service" (click)="requireService()">{{newServiceRequest.message}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="container">
      <h4>LAVORI IN CARTONGESSO</h4>
    </div>
    <div class="col-xl-12 landing-services">
      <app-loading *ngIf="isLoading"></app-loading>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="services-card swiper-slide" *ngFor="let service of services" (click)="selectResult(service)">
            <div class="service-container" [style.background-image]="'url(' + service.image_url + ')'">
              <div class="shadow"></div>
              <div class="header">{{ service.title }}</div>
              <div class="service-footer">
                A PARTIRE DA <span>€{{ service.order_options.min_amount / 100 }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h5>Scegli una delle lavorazioni di cui hai bisogno, calcola il preventivo e prenotalo</h5>
    </div>
  </div>
  <div class="why-container">
    <div class="container">
      <h3>Perché Starbook?</h3>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 why-cell">
          <div class="text-center">
            <img src="../../../assets/images/star_quality.png" class="rounded mx-auto d-block" alt="Quality">
            <h5>Lavorazioni di alta qualità</h5>
            <h6>I servizi vengono eseguiti dai migliori professionisti e artigiani della zona. Usando un algoritmo di ricerca, Starbook trova il professionista più vicino alla sua abitazione.</h6>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 why-cell">
          <div class="text-center">
            <img src="../../../assets/images/timing.png" class="rounded mx-auto d-block" alt="Timing">
            <h5>Preventivo istantaneo</h5>
            <h6>Una volta scelto il servizio, seleziona i form secondo le esigenze e calcola il preventivo direttamente dalla piattaforma.</h6>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 why-cell">
          <div class="text-center">
            <img src="../../../assets/images/market-price.png" class="rounded mx-auto d-block" alt="Market price">
            <h5>Prezzo mercato</h5>
            <h6>I prezzi dei servizi su Starbook sono dinamici che partono dagli standard del mercato. Usando un algoritmo della piattaforma il prezzo standard viene ridotto in base al mercato attuale.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partner-container">
    <div class="container">
      <h2>Le migliori aziende partner</h2>
      <div class="list-brands-scrollable">
        <img src="../../../assets/images/partner-example.png">
        <img src="../../../assets/images/partner-example.png">
        <img src="../../../assets/images/partner-example.png">
        <img src="../../../assets/images/partner-example.png">
        <img src="../../../assets/images/partner-example.png">
        <img src="../../../assets/images/partner-example.png">
        <img src="../../../assets/images/partner-example.png">
        <img src="../../../assets/images/partner-example.png">
        <img src="../../../assets/images/partner-example.png">
      </div>
    </div>
  </div>
  <div class="pre-footer-container">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <h6>Sicurezza del sito</h6>
          <div class="list-security">
            <img src="../../../assets/images/norton.png" alt="Norton Security">
            <img src="../../../assets/images/secure.png" alt="100% Secure">
            <img src="../../../assets/images/trust.png" alt="Trusted Website">
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <h6>Sistemi di pagamento</h6>
          <div class="list-payment-methods">
            <img src="../../../assets/images/mastercard.png" alt="Mastercard">
            <img src="../../../assets/images/visa.png" alt="Visa">
            <img src="../../../assets/images/americanexpress.png" alt="American Express">
            <img src="../../../assets/images/stripe.png" alt="Stripe">
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <h6>Contatti</h6>
          <div class="list-contact-methods">
            <h6><small>Attivo 24/7 <br>Cellulare: +39 327 24 15 028<br>Email: info@starbook.co<br>Busto Arsizio VA</small></h6>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <h6>Seguici su</h6>
          <div class="list-socials">
            <a href="https://www.facebook.com/starbook.co/" target="_blank"><img src="../../../assets/images/facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com/starbookco/" target="_blank"><img src="../../../assets/images/twitter.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/starbook.co/" target="_blank"><img src="../../../assets/images/instagram.png" alt="Instagram"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="container">
      <div class="copyright"><a routerLink="/"><strong>Starbook</strong> © 2017 Tutti i diritti riservati</a></div>
      <span> • </span><a routerLink="legal">Privacy e Condizioni</a>
      <span> • </span><a routerLink="about">Chi siamo</a>
      <span> • </span><a routerLink="help">Aiuto e Assistenza</a>
    </div>
  </div>
  <div class="container landing-top-header">
    <div class="row">
      <h1>Prenota il servizio di cui hai bisogno, nell'ora e il giorno che desideri</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 top-cards">
        <div class="top-card">
          <div class="header">Starbook <span>services</span></div>
          <p>Seleziona uno dei servizi su Starbook, imposta la data, ora, indirizzo e conferma l’ordine. Verrai notificato con un sms e una mail quando l’ordine e stato accettato da un professionista qualificato.</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 top-cards">
        <div class="top-card">
          <div class="card-background">
            <div class="image image-1"></div>
            <div class="white-background" [ngStyle]="{'opacity':cardStyles[1]}"></div>
          </div>
          <div class="header">Pulizie</div>
          <div class="description">Hai bisogno di un servizio di pulizie per la casa, l’ufficio o il negozio?</div>
          <div class="landing-card-footer">
            <a (click)="navigate('584fcfee9d6752423a61e79e')" class="btn btn-warning" (mouseenter)="cardHover(1, 'on')" (mouseleave)="cardHover(1, 'off')">Prenota Pulizie</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 top-cards">
        <div class="top-card">
          <div class="card-background">
            <div class="image image-2"></div>
            <div class="white-background" [ngStyle]="{'opacity':cardStyles[2]}"></div>
          </div>
          <div class="header">Elettricista</div>
          <div class="description">Ti serve un elettricista qualificato e affidabile per lavori di casa, ufficio o negozio?</div>
          <div class="landing-card-footer">
            <a (click)="navigate('582ee41df1bafa41cdbfb9d1')" class="btn btn-warning" (mouseenter)="cardHover(2, 'on')" (mouseleave)="cardHover(2, 'off')">Prenota Elettricista</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 top-cards">
        <div class="top-card green-card">
          <div class="card-background">
            <div class="image image-3"></div>
            <div class="white-background" [ngStyle]="{'opacity':cardStyles[3]}"></div>
          </div>
          <div class="header">Idraulico</div>
          <div class="description">Ti serve un idraulico professionista, puoi prenotarlo subito su Starbook senza impegno.</div>
          <div class="landing-card-footer">
            <a (click)="navigate('582edfe4f1bafa41cdbfb9cb')" class="btn btn-warning" (mouseenter)="cardHover(3, 'on')" (mouseleave)="cardHover(3, 'off')">Prenota Idraulico</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="center-description">
        Rendi la tua vita più facile. Prenota il servizio di cui hai bisogno.
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 landing-header">
        <h1>Come funziona?</h1>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 how-to-block">
        <div class="how-to-content">
          <div class="top-part">
            <div class="product-image"></div>
          </div>
          <div class="header">Seleziona i servizi</div>
          <p>Ogni categoria ha una lista di servizi. Seleziona quelli di qui hai bisogno.</p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 how-to-block">
        <div class="how-to-content">
          <div class="top-part">
            <div class="order-image"></div>
          </div>
          <div class="header">Prenota un appuntamento</div>
          <p>Inserisci i dati necessari del ordine e invia la richiesta.</p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 how-to-block">
        <div class="how-to-content">
          <div class="top-part">
            <div class="landing-form">
              <a class="btn btn-warning">Invia richiesta</a>
              <div class="icons-block">
                <a><i class="fa fa-bell"></i></a>
                <a><i class="fa fa-envelope"></i></a>
                <a><i class="fa fa-commenting"></i></a>
              </div>
            </div>
          </div>
          <div class="header">Ricevi la conferma e rilassati!</div>
          <p>Un professionista si presenterà nella data e l’ora del appuntamento.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 landing-header">
        <h1>Le principali città</h1>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 banner">
        <a href="#" class="banner-1">
          <div class="background"></div>
          <span>Varese</span>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 banner">
        <a href="#" class="banner-2">
          <div class="background"></div>
          <span>Milano</span>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 banner">
        <a href="#" class="banner-3">
          <div class="background"></div>
          <span>Torino</span>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="footer-description">
        Starbook è la piattaforma che ti da la possibilità di prenotare i professionisti nell'ora e data che tu desideri senza dover chiamare e lasciare appuntamenti tramite telefono o email.
      </div>
    </div>
  </div>
</div> -->
