//
// Base stylesheet.
// Should define common styles used throughout the application.
// Should be defined from specific to generic
//
$font-name: Roboto, sans-serif;

html, body {
  font-family: $font-name;
}
h1 {
  font-size: 36px;
  letter-spacing: 0.22px;
}
h2 {
  font-size: 32px;
  letter-spacing: 0.22px;
}
h3 {
  font-size: 28px;
  letter-spacing: 0.22px;
}
h4 {
  font-size: 24px;
  letter-spacing: 0.22px;
}
h5 {
  font-size: 20px;
  letter-spacing: 0.22px;
}
h6 {
  font-size: 16px;
  letter-spacing: 0.22px;
}
p {
  font-size: 18px !important;
  letter-spacing: 0.11px !important;
}


.btn-success {
  background: #7FC443 !important;
  border-radius: 0;
  height: 50px;
  border: 0;
  color: white !important;
  font-size: 22px;
  font-family: $font-name;
  font-weight: 400;
  outline: none;
  padding: 0;
  line-height: 50px;
}
.btn-danger {
  border-radius: 0;
  height: 50px;
  border: 0;
  color: white !important;
  font-size: 22px;
  font-family: $font-name;
  font-weight: 400;
  outline: none;
  padding: 0;
  line-height: 50px;
}
.btn-primary {
  border-radius: 0;
  height: 50px;
  border: 0;
  color: white !important;
  font-size: 22px;
  font-family: $font-name;
  font-weight: 400;
  outline: none !important;
  padding: 0 20px;
  line-height: 50px;
}
.btn-secondary {
  border-radius: 0;
  height: 50px;
  width: 160px;
  height: 50px;
  font-size: 22px;
  font-family: $font-name;
  font-weight: 400;
  outline: none;
  padding: 0;
  line-height: 50px;
}
.btn-warning {
  background: #FFC845 !important;
  color: white;
  font-size: 22px;
  font-family: $font-name;
  font-weight: 400;
  letter-spacing: 0.1px;
  padding: 0 20px;
  outline: none;
  border-radius: 0;
  border: 0;
  outline: none !important;
  height: 50px;
}
.btn-warning:active:focus {
  color: white !important;
  background-color: #EBB431 !important;
}
.btn-warning:hover {
  color: white !important;
  background-color: #EBB431 !important;
}
.btn-yellow-green {
  background: #FFC845 !important;
  color: white;
  font-family: $font-name;
  font-weight: 400;
  letter-spacing: 0.1px;
  padding: 11px 7px;
  outline: none;
  border-radius: 0;
  border: 0;
  outline: none !important;
}
.btn-yellow-green:active:focus {
  color: white !important;
  background-color: #FFC845 !important;
}
.btn-yellow-green:hover {
  color: white !important;
  background-color: #7FC443 !important;
}
.btn-white {
  background: white !important;
  color: black;
  font-family: $font-name;
  font-weight: 400;
  letter-spacing: 0.1px;
  padding: 11px 7px;
  outline: none;
  border-radius: 0;
  border: 1px solid #A6A6A6;
  outline: none !important;
}
.btn-white:active:focus {
  color: black !important;
  // background-color: #FFC845 !important;
}
.btn-white:hover {
  color: black !important;
  // background-color: #7FC443 !important;
}
.btn-facebook {
  background: #3B5998 !important;
  color: white;
  font-family: $font-name;
  font-weight: 400;
  letter-spacing: 0.1px;
  padding: 11px 7px;
  outline: none;
  border-radius: 0;
  outline: none !important;
}
.btn-facebook:active:focus {
  // color: black !important;
  // background-color: #FFC845 !important;
}
.btn-facebook:hover {
  // color: black !important;
  // background-color: #7FC443 !important;
}
.input-group .form-control {
  position: relative;
  padding-left: 20px;
  box-shadow: none;
  background-color: #2A292B;
}
.form-group label {
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 0 11px;
  margin-bottom: 4px;
}
.form-control {
  height: 40px;
  color: black;
  font-size: 16px;
  letter-spacing: 0.1px;
  padding: 7px 20px;
  border-radius: 1px !important;
  background-color: #FFFFFF;
  border: 1px solid rgba(220,224,224,0.7);
}

// .input-group .form-control .ui-autocomplete-input {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   border: none !important;
//   padding-left: 20px;
//   top: 0;
//   left: 0;
//   color: white;
//   font-size: 16px;
//   letter-spacing: 0.1px;
//   outline: none;
// }
.form-control.text-small {
  font-size: 12px;
}
textarea.form-control {
  height: 80px;
  resize:none;
  font-size: 17px;
  color: white;
  letter-spacing: 0.01px;
  box-shadow: none;
  background-color: #2A292B;
}
.form-control:focus {
  border: 1px solid rgba(220,224,224,0.7);
  outline: none;
  background-color: white;
  color: rgba(255,255,255,1.0);
}
.form-group {
  margin-bottom: 15px;
}
.form-group .form-control {
  height: 50px !important;
  border: 1px solid #DCDCDC;
}
.form-group .error-input {
  border: 2px solid #f75c4b !important;
}
.form-group .form-control:focus {
  color: black;
}
.form-group .ui-inputtext {
  height: 50px !important;
  border: 1px solid #DCDCDC !important;
}
.form-group label {
  color: #212121 !important;
  font-size: 14px !important;
  font-family: $font-name;
  font-weight: 600 !important;
  padding: 0 !important;
  margin-bottom: 5px !important;
}
.form-group .ui-inputtext {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 22px;
  font-family: $font-name;
  font-weight: 400;
  letter-spacing: 0.1px;
  border: 1px solid #DCDCDC;
  border-radius: 0;
  outline: none;
}

// LODER
.animate {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


// COMMON
$success-icon: '/assets/images/success.png';
.success-icon {
  display: block;
  width: 100%;
  height: 100px;
  text-align: center;
}
.success-icon span {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-image: url($success-icon);
  background-repeat: no-repeat;
  background-size: contain;
}

// DATE PICKER
$datepicker-background-color: #ffffff;
$datepicker-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
$datepicker-font-size: 15px;
$datepicker-text-color: #4A4A4A;
$datepicker-text-default-color: #7FC443;
$datepicker-disabled-text-color: #4A4A4A;
$datepicker-background-primary: #7FC443;
$datepicker-hover-text-color: #ffffff;

.date.datepicker-block {
  z-index: 100;
}
.date .ui-datepicker {
  position: absolute;
  width: 100%;
  background-color: $datepicker-background-color;
  box-shadow: $datepicker-shadow;
  font-size: $datepicker-font-size;
  color: $datepicker-text-color;
  font-family: $font-name;
  font-weight: 400;
  border: none !important;
  padding: 12px 7px 11px 9px !important;
}
.date .ui-datepicker .ui-datepicker-title {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 18px;
  color: $datepicker-text-color;
  font-family: $font-name;
  font-weight: 600;
  line-height: 50px;
}
.date .ui-datepicker .ui-datepicker-prev, .date .ui-datepicker .ui-datepicker-next {
  display: block;
  position: absolute;
}
.date .ui-datepicker .ui-datepicker-prev span, .date .ui-datepicker .ui-datepicker-next span {
  width: 50px;
  height: 50px;
  color: black;
  padding: 16px;
  text-align: center;
}
.date .ui-datepicker .ui-datepicker-prev span:hover, .date .ui-datepicker .ui-datepicker-next span:hover {
  background-color: $datepicker-background-primary;
  color: $datepicker-hover-text-color;
  height: 50px;
  width: 50px;
}
.date .ui-datepicker .ui-datepicker-prev {
  left: 20px;
}
.date .ui-datepicker .ui-datepicker-next {
  right: 70px;
}
.date .dropdown-menu .btn-secondary.btn-inline {
  border: none;
  color: $datepicker-text-color;
  width: 30px;
  height: 30px;
  font-family: $font-name;
  font-weight: 600;
  font-size: 12px;
  margin-top: -3px;
}
.ui-datepicker-calendar {
  width: 100%;
  margin-top: 5px;
}
.ui-datepicker-calendar th span {
  height: 25px;
  display: block;
  color: $datepicker-text-color;
  font-family: $font-name;
  font-weight: 600;
  text-align: center;
}
.ui-datepicker-calendar td a.ui-state-default {
  display: block;
  height: 22px;
  color: $datepicker-text-default-color;
  font-size: 18px;
  font-family: $font-name;
  font-weight: 900;
  text-decoration: none !important;
  text-align: center;
  padding: 10px 5px;
  height: 100%;
}
.ui-datepicker-calendar td a.ui-state-disabled {
  opacity: 0.3;
  font-weight: 400;
  color: $datepicker-text-color;
}
.ui-datepicker-calendar td a.ui-state-default:hover, .ui-datepicker-calendar td a.ui-state-active {
  font-family: $font-name;
  text-decoration: none !important;
  background-color: $datepicker-background-primary;
  color: $datepicker-hover-text-color;
  height: 100%;
}
.ui-datepicker-calendar td a.ui-state-disabled:hover {
  font-family: $font-name;
  text-decoration: none !important;
  border-radius: 3px;
  background-color: transparent;
  color: $datepicker-text-color;
}
.ui-datepicker-calendar td.ui-state-disabled a.ui-state-default {
  opacity: 0.3;
  font-weight: 400;
  color: $datepicker-disabled-text-color;
}
.ui-datepicker-calendar td.ui-state-disabled a.ui-state-default:hover {
  background-color: $datepicker-background-primary;
  color: $datepicker-hover-text-color;
  border-radius: 0;
  height: 100%;
}
.date .dropdown-menu .next.btn-secondary.btn-inline {
  border: none;
  color: $datepicker-text-color;
  width: 30px;
  height: 30px;
  font-weight: 600;
  font-size: 12px;
  margin-top: -3px;
}
.date .dropdown-menu .day .btn-secondary {
  width: 27px;
  height: 30px;
  padding-top: 6px !important;
}
.date .dropdown-menu .day .bg-primary {
  background-color: $datepicker-background-primary !important;
}

// UTILS
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.disable-body-scroll {
  overflow: hidden;
}
@media (max-width: 480px) {
  .visibility-hidden {
    visibility: hidden;
  }
}

/* Remove inner shadow from inputs on mobile iOS */
textarea, input[type="text"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0;
}
input::-ms-clear {
  display: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
