//
// Variables
//
//

// colors
$black: #000;
$gray: #C0C0C0;
$fontColorDefault: rgba(0, 0, 0, 0.8);
$textSelectionColor: $gray;

// timepicker style
$timepicker-bg: #ffffff;
$timepicker-border: #E3E3E3;
$border-radius-base: 3px;
$timepicker-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
$timepicker-height: 162px;
$timepicker-min-width: 120px;
$zindex-timepicker: 1000;
$timepicker-time-color: #444;
$line-height-base: 1.53846;
$timepicker-time-padding: 5px 15px;
$timepicker-time-hover-bg: #EFEFF1;
$timepicker-time-hover-color: #4A4A4A;
$timepicker-time-selected-bg: #EFEFF1;
$timepicker-time-selected-color: #4A4A4A;
$timepicker-duration-color: #F1F1F1;
$timepicker-duration-selected-color: #4A4A4A;
$timepicker-time-disabled-bg: #F1F1F1;
$timepicker-time-disabled-color: #4A4A4A;

// datepicker style
$border-radius-base: 3px;
$datepicker-padding: 5px;
$datepicker-day-border-radius: 4px;
$datepicker-day-size: 30px;
$datepicker-day-size: 30px;
$datepicker-other-dates-color: grey;
$datepicker-hover-bg: #F1F1F1;
$datepicker-hover-color: #4A4A4A;
$datepicker-disabled-bg: rgba(128, 128, 128, 0.51);
$datepicker-disabled-color: #4A4A4A;
$datepicker-month-border-radius: 54px;
$datepicker-month-height: 54px;
$datepicker-active-bg: #F1F1F1;
$datepicker-active-color: #4A4A4A;
$datepicker-switch-width: 150px;
$datepicker-calendar-week-font-size: 10px;
$datepicker-calendar-week-padding: 0 5px;
$datepicker-calendar-week-width: 12px;
$datepicker-inline-width: 220px;
$dropdown-border: #ddd;
$dropdown-bg: #fff;
$datepicker-arrow-distance: 7px;

