<div class="auth-container">
  <div class="auth" *ngIf="page==='login'">
    <div class="auth-header">
      <h1>Accedi al tuo account</h1>
    </div>
    <div class="auth-body">
      <form>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="emailInput">Email</label>
            <input type="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': login_state.email_error}" id="emailInput" [(ngModel)]="loginParameters.email" [ngModelOptions]="{standalone: true}">
            <small class="error-message" *ngIf="login_state.email_error">{{login_state.email_error}}</small>
          </div>
          <div class="form-group col-md-12">
            <label for="passwordInput">Password</label>
            <input type="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': login_state.password_error}" id="passwordInput" [(ngModel)]="loginParameters.password" [ngModelOptions]="{standalone: true}">
            <small class="error-message" *ngIf="login_state.password_error">{{login_state.password_error}}</small>
          </div>
          <div class="form-group col-md-12" *ngIf="login_state.error_message">
            <div class="alert alert-danger" role="alert">{{login_state.error_message}}</div>
          </div>
          <div class="form-group col-md-12 text-center">
            <button type="button" id="next" class="btn btn-success" (click)="login()"><i class="fa fa-circle-o-notch animate" *ngIf="login_state.loading"></i>{{login_state.button_title}}</button>
          </div>
          <div class="form-group col-md-12 footer-group">
            <span class="text password-forget"><a routerLink="/auth/password_recovery">Hai dimenticato la password?</a></span>
            <span class="text">Non sei ancora registrato?</span>
            <span class="text enter"><a routerLink="/auth/signup">Registrati</a></span>
          </div>
          <div class="form-group col-md-12">
            <button type="button" class="btn btn-facebook" id="continueWithFacebook" (click)="continueWithFacebook('/account/profile')"><i class="fa fa-facebook-official" aria-hidden="true"></i>Continua con Facebook</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="auth" *ngIf="page==='signup'">
    <div class="auth-header">
      <h1>Iscrivi la tua azienda</h1>
      <p>Hai una professione, un attivita o un'azienda e vuoi promuoverla? Iscriviti su Starbook gratuitamente e crea la tua pagina professionale.</p>
    </div>
    <div class="auth-body">
      <form>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="firstNameInput">Nome</label>
            <input type="firstname" placeholder="Nome" class="form-control" [ngClass]="{'error-input': Signup_State.creating && !Signup.profile.firstname}" id="firstNameInput" [(ngModel)]="Signup.profile.firstname" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-6">
            <label for="lastNameInput">Cognome</label>
            <input type="lastname" placeholder="Cognome" class="form-control" [ngClass]="{'error-input': Signup_State.creating && !Signup.profile.lastname}" id="lastNameInput" [(ngModel)]="Signup.profile.lastname" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-12">
            <label for="business-name-input">Ragione sociale (nome dell'azienda)</label>
            <input class="form-control" placeholder="Nome dell'azienda" type="text" [ngClass]="{'error-input': Signup_State.creating && !Signup.business.name}" id="business-name-input" [(ngModel)]="Signup.business.name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-12">
            <label for="emailInput">Email</label>
            <input type="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': Signup_State.creating && !Signup.email}" id="emailInput" [(ngModel)]="Signup.email" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-12">
            <label for="passwordInput">Scegli una password</label>
            <input type="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': Signup_State.creating && !Signup.password}" id="passwordInput" [(ngModel)]="Signup.password" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-12" *ngIf="Signup_State.error_message">
            <div class="alert alert-danger" role="alert">{{Signup_State.error_message}}</div>
          </div>
          <div class="form-group col-md-12">
            <button type="button" id="next" class="btn btn-success" (click)="signup()"><i class="fa fa-circle-o-notch animate" *ngIf="Signup_State.loading"></i>Iscriviti</button>
          </div>
          <div class="form-group col-md-12 footer-group">
            <span class="text">Continuando dichiari di aver letto e accetti le <a routerLink="/info/legal" target="_blank">condizioni generali e l’informativa sulla privacy</a></span>
            <div class="login">
              <span class="text">Sei gia iscritto?</span>
              <span class="text enter"><a routerLink="/auth/login">Accedi</a></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <button class="btn btn-facebook" id="continueWithFacebook" (click)="continueWithFacebook('/account/profile')"><i class="fa fa-facebook-official" aria-hidden="true"></i>Continua con Facebook</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="auth" *ngIf="page==='password_recovery'">
    <div class="auth-header">
      <h1>Recupera password</h1>
      <p>Ti manderemo una mail con il link per cambiare la password.</p>
    </div>
    <div class="auth-body">
      <form>
        <div class="form-group">
          <label for="emailInput">Inserisci la tua email</label>
          <input type="email" placeholder="La tua email" class="form-control" [ngClass]="{'error-input': login_state.email_error}" id="emailInput" [(ngModel)]="loginParameters.email" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="login_state.email_error">{{login_state.email_error}}</small>
        </div>
        <div class="form-group text-center">
          <button type="button" id="next" class="btn btn-success" (click)="recoverPassword(loginParameters.email)"><i class="fa fa-circle-o-notch animate" *ngIf="login_state.loading"></i>Recupera</button>
        </div>
        <div class="form-group footer-group">
          <span class="text enter"><a routerLink="/auth/login">Accedi</a></span>
        </div>
      </form>
    </div>
  </div>
  <div class="auth" *ngIf="page==='email_verification'">
    <div class="auth-header">
      <h1>{{email_verification.title}}</h1>
    </div>
    <div class="loader text-center">
      <div class="popup-spinner" *ngIf="email_verification.spinner.visible">
        <svg width='100px' height='100px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
          <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
          <circle cx="50" cy="50" r="45" stroke-dasharray="169.64600329384882 113.09733552923257" stroke="#7FC443" fill="none" stroke-width="4">
            <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform>
          </circle>
        </svg>
      </div>
      <div class="success-icon" *ngIf="email_verification.success.visible"><span></span></div>
    </div>
    <div class="auth-body">
      <div class="actions text-center">
        <div class="form-group">
          <button class="btn btn-warning" type="button" routerLink="/" *ngIf="email_verification.button.visible">{{email_verification.button.title}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="auth" *ngIf="page==='password_verification'">
    <div class="auth-header">
      <h1>{{password_verification.title}}</h1>
    </div>
    <div class="loader text-center">
      <div class="popup-spinner" *ngIf="password_verification.spinner.visible">
        <svg width='100px' height='100px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
          <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
          <circle cx="50" cy="50" r="45" stroke-dasharray="169.64600329384882 113.09733552923257" stroke="#7FC443" fill="none" stroke-width="4">
            <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform>
          </circle>
        </svg>
      </div>
      <div class="success-icon" *ngIf="password_verification.success.visible"><span></span></div>
    </div>
    <div class="auth-body">
      <div class="actions text-center">
        <div class="form-group">
          <button class="btn btn-warning" type="button" routerLink="/" *ngIf="password_verification.button.visible">{{password_verification.button.title}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="auth" *ngIf="page==='create_new_password'">
    <div class="auth-header">
      <h1>{{new_password_creation.title}}</h1>
    </div>
    <div class="loader text-center">
      <div class="form-group" *ngIf="new_password_creation.password_field.visible">
        <label>{{new_password_creation.password_field.title}}</label>
        <input class="form-control" type="password" name="password" placeholder="" required [(ngModel)]="new_password_creation.password_field.value">
      </div>
    </div>
    <div class="auth-body">
      <div class="actions text-center">
        <div class="form-group" *ngIf="new_password_creation.button.visible">
          <button class="btn btn-warning" type="button" (click)="createNewPassword(new_password_creation.password_field.value)">{{new_password_creation.button.title}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="auth" *ngIf="page==='token_auth'">
    <div class="auth-header">
      <h1>Accedendo</h1>
    </div>
    <div class="loader text-center">
      <div class="popup-spinner">
        <svg width='100px' height='100px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
          <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
          <circle cx="50" cy="50" r="45" stroke-dasharray="169.64600329384882 113.09733552923257" stroke="#7FC443" fill="none" stroke-width="4">
            <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform>
          </circle>
        </svg>
      </div>
    </div>
    <div class="auth-body">
    </div>
  </div>
</div>
