<div class="company-container" *ngIf="!page">
  <div class="section-container starbook-background">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="left-content">
            <h1>Soluzioni web per aziende e professionisti</h1>
            <h3>Crea una pagina professionale, pubblicizza online con pochi click, ricevi richieste da clienti e invia preventivi.</h3>
            <button *ngIf="!Account" class="btn btn-warning" id="goToSignupPage" routerLink="/auth/signup">Iscrivi la tua azienda</button>
            <button *ngIf="Account" class="btn btn-success" id="goToAccountPage" routerLink="/account/profile">Vai al tuo account</button>
          </div>
          <div class="right-media">
            <img src="../assets/images/solutions.png" title="Preventivi Web" alt="Preventivi Web">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section">
      <div class="section-content">
        <div class="section-header">
          <h2>Crea uno spazio web professionale</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container grey-background">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="left-media hide-mobile width_45pc">
            <img class="shadow" src="../assets/images/starbook_page_example.png" title="Preventivi Web" alt="Preventivi Web">
          </div>
          <div class="right-content width_55pc">
            <h2><b>Pagina Starbook</b></h2>
            <p>Su Starbook puoi creare la tua pagina web semplicemente inserendo le tue informazioni:</p>
            <ul>
              <li><i class="fa fa-check tick" aria-hidden="true"></i><strong>Pagina</strong> web Starbook</li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Indicizzazione su <strong>Google</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Registrazione su <strong>Google Maps</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Pubblicazione sui <strong>Social Media</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Pubblicazione su <strong>Starbook Blog</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i><strong>Funzionalità</strong> su richiesta</li>
            </ul>
            <button *ngIf="Account" class="btn btn-success" id="goToAccountPage" routerLink="/account/profile">Vai al tuo account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section">
      <div class="section-content">
        <div class="section-header">
          <h2>Pubblicità online con un click</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container grey-background">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="left-content">
            <h2><b>Pubblicità multipiattaforma</b></h2>
            <p>Con un costo giornaliero a partire da <strong>2€</strong> puoi creare una campagna pubblicitaria sulle piattaforme con maggior numero di utenti.</p>
            <ul>
              <li><i class="fa fa-check tick" aria-hidden="true"></i><strong>Facebook Ads</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i><strong>Google Adwords</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i><strong>Linkedin Advertising</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Decidi tu la durata della campagna</li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Solo pubblicità mirata</li>
            </ul>
            <button class="btn btn-warning" id="goToPromotionLandingPage" routerLink="/company/promotions">Scopri di più</button>
          </div>
          <div class="right-media hide-mobile">
            <img class="shadow" src="../assets/images/multyplatform-advertising.png" title="Preventivi Web" alt="Pubblicità multipiattaforma">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section">
      <div class="section-content">
        <div class="section-header">
          <h2>Utilizza i preventivi dinamici</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container grey-background">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="left-media hide-mobile">
            <img class="shadow" src="../assets/images/quotation-options.png" title="Preventivi Web" alt="Preventivi Web">
          </div>
          <div class="right-content">
            <h2><strong>Preventivi dinamici</strong></h2>
            <p>Un sistema innovativo per conquistare i tuoi clienti, fidelizzarli e mantenerli.</p>
            <ul>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Nessuna complessità, <strong>crea e invia</strong> il preventivo <strong>in un click.</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Il modo migliore per inviare preventivi <strong>rapidamente.</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Una marcia in più che <strong>ti rende competitivo.</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Invia in <strong>tutti formati</strong> necessari, Web, Email, PDF e SMS.</li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i><strong>Avvisa</strong> con le Notifiche Push, SMS ed Email.</li>
            </ul>
            <button class="btn btn-warning" id="goToQuotationsLandingPage" routerLink="/company/quotations">Scopri di più</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section action-section">
      <div class="section-content">
        <div class="section-header">
          <div class="quote">
            <p class="text"><i>"Dietro ogni impresa di successo c'è qualcuno che ha preso una decisione coraggiosa."</i></p>
            <p class="author">Andrew Carnegie</p>
          </div>
          <button *ngIf="!Account" class="btn btn-primary" id="goToSignupPage" routerLink="/auth/signup">Iscriviti adesso</button>
          <button *ngIf="Account" class="btn btn-success" id="goToAccountPage" routerLink="/account/profile">Vai al tuo account</button>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container grey-background">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="links">
            <p>Per qualsiasi domanda o richiesta contattaci</p>
            <ul class="contact-list">
              <li><a href="mailto:info@starbook.co" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i><span>info@starbook.co</span></a></li>
              <li><a href="tel:+393272415028" target="_blank"><i class="fa fa-phone" aria-hidden="true"></i><span>(39) 327 2415028</span></a></li>
            </ul>
            <p><a href="/info/legal" target="_blank">Termini e Condizioni</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="company-container" *ngIf="page==='quotations'">
  <div class="section-container grey-background">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="left-content">
            <h1>Preventivi dinamici</h1>
            <h3>Il miglior sistema per conquistare i tuoi clienti, fidelizzarli e mantenerli. Porta al livello successivo i tuoi preventivi della tua azienda.</h3>
            <button *ngIf="!Account" class="btn btn-primary" id="goToSignupPage" routerLink="/auth/signup">Iscrivi la tua azienda</button>
            <button *ngIf="Account" class="btn btn-success" id="goQuotationPage" routerLink="/account/quotation">Invia un preventivo</button>
          </div>
          <div class="right-media">
            <img src="../assets/images/computer.png" title="Preventivi Web" alt="Preventivi Web">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section">
      <div class="section-content">
        <div class="section-header">
          <h2>Perché utilizzare solo preventivi dinamici?</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container grey-background">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="left-media hide-mobile">
            <img class="shadow" src="../assets/images/quotation-options.png" alt="Prezzo lo decidi tu">
          </div>
          <div class="right-content">
            <h2>Più <strong>semplici</strong> da creare e più <strong>veloci</strong> da inviare</h2>
            <p>Vuoi un metodo semplice per scrivere <strong>preventivi più efficaci?</strong> Nessun problema. Starbook ti offre <strong>un semplice sistema</strong> per creare preventivi professionali e crescere il tasso di conversione.</p>
            <ul>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Nessuna complessità, <strong>crea e invia</strong> il preventivo <strong>in un click.</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Il modo migliore per inviare preventivi <strong>rapidamente.</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Una marcia in più che <strong>ti rende competitivo.</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Invia in <strong>tutti formati</strong> necessari, Web, Email, PDF e SMS.</li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i><strong>Avvisa</strong> con le Notifiche Push, SMS ed Email.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="left-content">
            <h2><strong>Verifica</strong> i contatti e <strong>traccia</strong> i preventivi</h2>
            <p>Ti sei mai chiesto se il tuo preventivo <strong>viene visualizzato dal cliente</strong> e quante volte? Ti sei mai chiesto che <strong>il tuo contatto è reale?</strong> Immagino proprio di si ma per scoprirlo <strong>devi utilizzare gli strumenti adatti.</strong></p>
            <ul>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Traccia le <strong>azioni</strong> e le <strong>visualizzazioni.</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i><strong>Verifica i contatti email e numeri di telefono.</strong></li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Controlla la <strong>piattaforma di acquisizione</strong> contatti.</li>
            </ul>
          </div>
          <div class="right-media hide-mobile">
            <img class="shadow" src="../assets/images/quotation-analytics.png" alt="Prezzo lo decidi tu">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container grey-background">
    <div class="section">
      <div class="section-content">
        <div class="section-header">
          <div class="quote">
            <p class="text"><i>"È la capacità di innovare che distingue un leader da un epigono."</i></p>
            <p class="author">Steve Jobs</p>
          </div>
          <button *ngIf="!Account" class="btn btn-primary" id="goToSignupPage" routerLink="/auth/signup">Iscriviti adesso</button>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="links">
            <p>Per qualsiasi domanda o richiesta contattaci</p>
            <ul class="contact-list">
              <li><a href="mailto:info@starbook.co" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i><span>info@starbook.co</span></a></li>
              <li><a href="tel:+393272415028" target="_blank"><i class="fa fa-phone" aria-hidden="true"></i><span>(39) 327 2415028</span></a></li>
            </ul>
            <p><a href="/info/legal" target="_blank">Termini e Condizioni</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="company-container" *ngIf="page==='promotions'">
  <div class="section-container promotion-background">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="left-content">
            <h1>Promuovi la tua attività</h1>
            <h3>Raggiungi milioni di utenti pubblicizzando la tua attività online.</h3>
            <button *ngIf="!Account" class="btn btn-warning" id="goToSignupPage" routerLink="/auth/signup">Iscrivi la tua azienda</button>
            <button *ngIf="Account" class="btn btn-primary" id="goToPromotionPage" routerLink="/account/inprogress_promotion">Promuovi</button>
          </div>
          <div class="right-media">
            <img src="../assets/images/cross_promotion_company.png" title="Preventivi Web" alt="Preventivi Web">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container grey-background">
    <div class="section">
      <div class="section-content">
        <div class="section-header">
          <h2>Espandi le tue opportunità</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="left-media width_45pc">
            <img class="shadow" src="../assets/images/facebook_ads_example.png" alt="facebook ads example">
          </div>
          <div class="right-content width_55pc">
            <h2><strong>Facebook Ads</strong></h2>
            <p>Cattura l'attenzione delle persone attive raggiungendo risultati concreti con facilità.</p>
            <ul>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Ogni mese 2 miliardi di utenti attivi</li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Pubblico personalizzato</li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Costo giornaliero da 1€</li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Durata pubblicità personalizzata</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container grey-background">
    <div class="section">
      <div class="section-content">
        <div class="section-header">
          <div class="quote">
            <p class="text"><i>Le inserzioni di Facebook caratterizzate da una targetizzazione mirata permettono al pubblico italiano di venire a conoscenza della vostra attività.</i></p>
          </div>
          <button *ngIf="!Account" class="btn btn-primary" id="goToSignupPage" routerLink="/auth/signup">Iscriviti adesso</button>
          <button *ngIf="Account" class="btn btn-success" id="goToPromotionPage" routerLink="/account/inprogress_promotion">Promuovi la tua azienda</button>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="left-content width_55pc">
            <h2><strong>Google Adwords</strong></h2>
            <p>Fatti vedere tra i primi risultati della ricerca su Google.</p>
            <ul>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Pubblicità locale o globale</li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Raggiungi il pubblico giusto</li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Paghi solo per risultati</li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Budget giornaliero da 1€</li>
            </ul>
          </div>
          <div class="right-media width_45pc">
            <img class="shadow" src="../assets/images/google_adword_example.png" alt="google adwords example">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container grey-background">
    <div class="section">
      <div class="section-content">
        <div class="section-header">
          <div class="quote">
            <p class="text"><i>Google Adwords aiuta ad aumentare il traffico nella tua pagina professionale, ricevere richieste direttamente e crescere il tuo business.</i></p>
          </div>
          <button *ngIf="!Account" class="btn btn-primary" id="goToSignupPage" routerLink="/auth/signup">Iscriviti adesso</button>
          <button *ngIf="Account" class="btn btn-success" id="goToPromotionPage" routerLink="/account/inprogress_promotion">Promuovi la tua azienda</button>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="left-media width_45pc">
            <img class="shadow" src="../assets/images/google_search_example.png" alt="google search example">
          </div>
          <div class="right-content width_55pc">
            <h2><strong>Google Search</strong></h2>
            <p>Posiziona la tua pagina web Starbook tra i primi risultati su Google.</p>
            <ul>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Indicizzazione pagina Starbook</li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Applicazione gratuita</li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Posizionamento automatico</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container grey-background">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="left-content width_55pc">
            <h2><strong>Google Maps</strong></h2>
            <p>Registra la tua attività gratis su Google Maps.</p>
            <ul>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Incentiva i clienti a contattarti</li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Punta i clienti alla tua pagina web</li>
              <li><i class="fa fa-check tick" aria-hidden="true"></i>Ricevi recensioni e rispondi</li>
            </ul>
          </div>
          <div class="right-media width_45pc">
            <img class="shadow" src="../assets/images/google_maps_example.png" alt="Prezzo lo decidi tu">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section">
      <div class="section-content">
        <div class="section-header">
          <div class="quote">
            <p class="text"><i>"Anche Dio crede nella pubblicità; infatti ha messo campane in ognuna delle sue chiese."</i></p>
            <p class="author">Sacha Guitry</p>
          </div>
          <button *ngIf="!Account" class="btn btn-primary" id="goToSignupPage" routerLink="/auth/signup">Iscriviti adesso</button>
          <button *ngIf="Account" class="btn btn-success" id="goToPromotionPage" routerLink="/account/inprogress_promotion">Promuovi la tua azienda</button>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container grey-background">
    <div class="section">
      <div class="section-content">
        <div class="section-body">
          <div class="links">
            <p>Per qualsiasi domanda o richiesta contattaci</p>
            <ul class="contact-list">
              <li><a href="mailto:info@starbook.co" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i><span>info@starbook.co</span></a></li>
              <li><a href="tel:+393272415028" target="_blank"><i class="fa fa-phone" aria-hidden="true"></i><span>(39) 327 2415028</span></a></li>
            </ul>
            <p><a href="/info/legal" target="_blank">Termini e Condizioni</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
