<div class="company-container">
  <div class="header-container">
    <div class="overlay">
      <div class="header">
        <h1>La piattaforma ideale per vendere i tuoi servizi professionali.</h1>
        <button class="btn btn-warning" routerLink="/insert/title">Pubblica il tuo servizio</button>
      </div>
    </div>
  </div>
  <div class="bullets-container">
    <h1>Come funziona</h1>
    <div class="row bullets">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="box">
          <img src="../../../assets/images/subscribe-icon.png" class="rounded mx-auto d-block" alt="Seleziona il servizio">
          <h3>Iscriviti</h3>
          <h5>Racontaci del servizio che offri, quanto costa e carica una foto. É cosi semplice, ed é gratis!</h5>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="box">
          <img src="../../../assets/images/client-icon.png" class="rounded mx-auto d-block" alt="Calcola preventivo">
          <h3>Ricevi clienti</h3>
          <h5>Niente preventivi e attese, noi ti assicuriamo clienti reali e lavori pronti.</h5>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="box">
          <img src="../../../assets/images/payment-icon.png" class="rounded mx-auto d-block" alt="Ordina il servizio">
          <h3>Pagamenti sicuri</h3>
          <h5>Per i pagamenti ci pensiamo noi! Tutto passa attraverso la nostra piattaforma di pagamento.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="frase-container">
    <div class="overlay">
      <div class="frase">
        <h1>Rendiamo tutto piú semplice.</h1>
        <h4>Inserisci i tuoi servizi e decidi i tuoi prezzi. Ricevi ordini dai tuoi clienti online e sopratutto decidi tu quando e dove vuoi lavorare.</h4>
        <button class="btn btn-warning" routerLink="/insert/title">Pubblica il tuo servizio</button>
      </div>
    </div>
  </div>
  <div class="prefooter-container">
    <div class="row prefooter">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <p>Sicurezza del sito</p>
        <div class="list-security">
          <img src="../../../assets/images/norton.png" alt="Norton Security">
          <img src="../../../assets/images/secure.png" alt="100% Secure">
          <img src="../../../assets/images/trust.png" alt="Trusted Website">
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <p>Sistemi di pagamento</p>
        <div class="list-payment-methods">
          <img src="../../../assets/images/mastercard.png" alt="Mastercard">
          <img src="../../../assets/images/visa.png" alt="Visa">
          <img src="../../../assets/images/americanexpress.png" alt="American Express">
          <!-- <img src="../../../assets/images/stripe.png" alt="Stripe"> -->
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <!-- <p><a routerLink="/info/help">Aiuto e Assistenza</a></p> -->
        <p><a routerLink="/info/legal">Privacy e Condizioni</a></p>
        <!-- <p><a routerLink="/contact/partner" *ngIf="currentUser">Diventa partner</a></p> -->
        <p><a routerLink="/insert/product">Pubblica un servizio</a></p>
        <p><a routerLink="/info/about">Chi siamo</a></p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <p>Seguici su</p>
        <div class="list-socials">
          <a href="https://www.facebook.com/starbook.co/" target="_blank"><img src="../../../assets/images/facebook.png" alt="Facebook"></a>
          <a href="https://twitter.com/starbookco/" target="_blank"><img src="../../../assets/images/twitter.png" alt="Twitter"></a>
          <a href="https://www.instagram.com/starbook.co/" target="_blank"><img src="../../../assets/images/instagram.png" alt="Instagram"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p><a routerLink="/"><strong>Starbook</strong> © 2017 Tutti i diritti riservati</a></p>
  </div>
</div>
