<div class="company-container" *ngIf="!page">
  <div class="header-container">
    <div class="overlay">
      <div class="header">
        <h1>Cresci la tua impresa, facile come fissare un tassello</h1>
        <p>Entra nella miglior piattaforma professionale per aumentare i tuoi clienti.<br>Prova Starbook adesso!</p>
        <button class="btn btn-facebook" (click)="continueWithFacebook()"><i class="fa fa-facebook-official" aria-hidden="true"></i>   Continua con Facebook</button>
        <small>Diamo valore al privacy e non condividiamo mai le tue informazioni</small>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section">
      <h2>Come Starbook cambierà la tua impresa?</h2>
    </div>
  </div>
  <div class="section-container white-backgound">
    <div class="section">
      <div class="image left">
        <img src="../assets/images/crescita-clienti-guadagni.png" alt="Crescita clienti e guadagni">
      </div>
      <div class="descr">
        <h3>Crescita dei clienti e dei guadagni, gratis!</h3>
        <p>Aumentando la clientela, si aumenta il guadagno e il fatturato annuale. Utilizzerai i giusti strumenti per farlo, gratis per sempre!</p>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section">
      <div class="image left">
        <img src="../assets/images/calculator.png" alt="Prezzo lo decidi tu">
      </div>
      <div class="descr">
        <h3>Mantenendo il prezzo giusto per sempre</h3>
        <p>Scegli il prezzo che lo ritieni più giusto e non dovrai giocare al ribasso. Mostra professionalità, correttezza e il tuo prezzo per sempre.</p>
      </div>
    </div>
  </div>
  <div class="section-container white-backgound">
    <div class="section">
      <div class="image left">
        <img src="../assets/images/trophy.png" alt="Diventando più competitivi della concorrenza">
      </div>
      <div class="descr">
        <h3>Diventando più competitivi della concorrenza</h3>
        <p>La competizione è molto importante, ma più è importante vincerla. Per farlo va mostrato velocità, accuratezza e professionalità. Ti aiutiamo noi ad avere tutto quello che ti serve!</p>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section">
      <div class="image left">
        <img src="../assets/images/computer.png" alt="Presenza professionale online e gratis">
      </div>
      <div class="descr left">
        <h3>Presenza professionale online e gratis!</h3>
        <p>La professionalità prima di essere percepita deve essere mostrata. Per questo noi offriamo tutte le funzionalità per migliorare l'immagine di un impresa.</p>
      </div>
    </div>
  </div>
  <div class="section-container small white-backgound">
    <div class="section">
      <div class="actions">
        <button class="btn btn-facebook" (click)="continueWithFacebook()"><i class="fa fa-facebook-official" aria-hidden="true"></i>   Continua con Facebook</button>
      </div>
    </div>
  </div>

  <div class="section-container small">
    <div class="section">
      <h2>Senza dimenticare i servizi aggiuntivi</h2>
    </div>
  </div>
  <div class="section-container small white-backgound">
    <div class="section">
      <div class="image left">
        <img src="../assets/images/pie-chart.png" alt="Marketing gratis">
      </div>
      <div class="descr left">
        <h3>Marketing gratis della tua azienda</h3>
        <p>Utilizzeremo i metodi più efficienti per promuovere la tua azienda senza costi aggiuntivi. Non hai bisogno di utilizzare agenzie di pubblicità ma solo degli strumenti necessari per poter crescere la tua attività.</p>
      </div>
    </div>
  </div>
  <div class="section-container small">
    <div class="section">
      <div class="image left">
        <img src="../assets/images/office-material.png" alt="Professionalità e competenze">
      </div>
      <div class="descr left">
        <h3>Riconquista i vecchi clienti</h3>
        <p>Anche i tuoi vecchi clienti si possono conquistare, ma per farlo devono essere utilizzate le ultime metodi e tecnologie. Ti sarà facile poi con un click invitare tutti i tuoi vecchi clienti a vedere il tuo profilo e riconquistarli.</p>
      </div>
    </div>
  </div>
  <div class="section-container small white-backgound">
    <div class="section">
      <div class="image left">
        <img src="../assets/images/list.png" alt="Marketing gratis">
      </div>
      <div class="descr left">
        <h3>Preventivi digitali con la tua firma</h3>
        <p>Non devi scrivere più a mano tutto il preventivo e spedirlo tramite email. Noi ti offriamo lo strumento perfetto per inviare email professionali o sms con la tua firma. Non dimenticare, inviando email professionali hai 90% di probabilità di successo in più rispetto alla tua concorrenza.</p>
      </div>
    </div>
  </div>
  <div class="section-container small">
    <div class="section">
      <div class="image left">
        <img src="../assets/images/barchart.png" alt="Marketing gratis">
      </div>
      <div class="descr left">
        <h3>Espansione della tua attività</h3>
        <p>Non devi scrivere più a mano tutto il preventivo e spedirlo tramite email. Noi ti offriamo lo strumento perfetto per inviare email professionali o sms con la tua firma. Non dimenticare, inviando email professionali hai 90% di probabilità di successo in più rispetto alla tua concorrenza.</p>
      </div>
    </div>
  </div>
  <div class="section-container small white-backgound">
    <div class="section">
      <div class="image left">
        <img src="../assets/images/customer-service.png" alt="Assistenza 24/24 - 7/7 senza sosta">
      </div>
      <div class="descr left">
        <h3>Assistenza 24/24 - 7/7 senza sosta</h3>
        <p>L’assistenza è molto importante per poter facilitare il tuo lavoro e risolvere problemi. Per questo siamo qui 24/24 - 7/7 full time. Non esitare a chiamare o ad inviarci una mail con richieste o problemi vari.</p>
      </div>
    </div>
  </div>
  <div class="section-container small">
    <div class="section">
      <div class="actions">
        <button class="btn btn-facebook" (click)="continueWithFacebook()"><i class="fa fa-facebook-official" aria-hidden="true"></i>   Continua con Facebook</button>
      </div>
    </div>
  </div>
  <div class="section-container small white-backgound">
    <div class="section">
      <div class="links">
        <h5>Siamo qui per te</h5>
        <p>Per qualsiasi domanda o richiesta contattaci</p>
        <ul class="contact-list">
          <li><a href="mailto:info@starbook.co" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i><span>info@starbook.co</span></a></li>
          <li><a href="tel:+393272415028" target="_blank"><i class="fa fa-phone" aria-hidden="true"></i><span>(39) 327 2415028</span></a></li>
        </ul>
        <p><a href="/info/legal" target="_blank">Termini e Condizioni</a></p>
      </div>
    </div>
  </div>

  <!-- <div class="bullets-container">
    <h1>Come funziona</h1>
    <div class="row bullets">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="box">
          <img src="../../../assets/images/subscribe-icon.png" class="rounded mx-auto d-block" alt="Seleziona il servizio">
          <h3>Iscriviti</h3>
          <h5>Racontaci del servizio che offri, quanto costa e carica una foto. É cosi semplice, ed é gratis!</h5>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="box">
          <img src="../../../assets/images/client-icon.png" class="rounded mx-auto d-block" alt="Calcola preventivo">
          <h3>Ricevi clienti</h3>
          <h5>Niente preventivi e attese, noi ti assicuriamo clienti reali e lavori pronti.</h5>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="box">
          <img src="../../../assets/images/payment-icon.png" class="rounded mx-auto d-block" alt="Ordina il servizio">
          <h3>Pagamenti sicuri</h3>
          <h5>Per i pagamenti ci pensiamo noi! Tutto passa attraverso la nostra piattaforma di pagamento.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="frase-container">
    <div class="overlay">
      <div class="frase">
        <h1>Vuoi andare oltre?</h1>
        <h4>Puoi pubblicare i tuoi servizi personalizzati con i tuoi prezzi. Vai alla pagina del inserimento del servizio e inizia subito.</h4>
        <button class="btn btn-warning" (click)="publishService()">Pubblica il tuo servizio</button>
      </div>
    </div>
  </div>
  <div class="prefooter-container">
    <div class="row prefooter">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <p>Sicurezza del sito</p>
        <div class="list-security">
          <img src="../../../assets/images/norton.png" alt="Norton Security">
          <img src="../../../assets/images/secure.png" alt="100% Secure">
          <img src="../../../assets/images/trust.png" alt="Trusted Website">
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <p>Sistemi di pagamento</p>
        <div class="list-payment-methods">
          <img src="../../../assets/images/mastercard.png" alt="Mastercard">
          <img src="../../../assets/images/visa.png" alt="Visa">
          <img src="../../../assets/images/americanexpress.png" alt="American Express">
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <p><a routerLink="/info/legal">Privacy e Condizioni</a></p>
        <p><a routerLink="/insert/product">Pubblica un servizio</a></p>
        <p><a routerLink="/info/about">Chi siamo</a></p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <p>Seguici su</p>
        <div class="list-socials">
          <a href="https://www.facebook.com/starbook.co/" target="_blank"><img src="../../../assets/images/facebook.png" alt="Facebook"></a>
          <a href="https://twitter.com/starbookco/" target="_blank"><img src="../../../assets/images/twitter.png" alt="Twitter"></a>
          <a href="https://www.instagram.com/starbook.co/" target="_blank"><img src="../../../assets/images/instagram.png" alt="Instagram"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p><a routerLink="/"><strong>Starbook</strong> © 2017 Tutti i diritti riservati</a></p>
  </div> -->
</div>

<div class="company-container" *ngIf="page==='1'">
  <div class="header-container">
    <div class="header">
      <h1>Fai crescere la tua attività senza spendere niente. Per sempre.</h1>
      <p>Perché non lavorare continuamente per sempre e senza costi di acquisizione clienti? Prova Starbook adesso. Inserisci la tua email e ti aggiorneremo sulla novità a breve.</p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Inserisci il tuo indirizzo email" id="emailInput">
        <small>Diamo valore al privacy e non condividiamo mai le tue informazioni</small>
      </div>
      <button class="btn btn-success myButton">Aggiornami</button>
      <!-- <button class="btn btn-warning" (click)="registerCompany()">Iscrivi la tua attività</button> -->
    </div>
  </div>
  <div class="message-container">
    <div class="message">
      <div class="left picture">
        <img src="../../assets/images/robot.png" alt="Automatizza">
      </div>
      <div class="left content">
        <h2>AUTOMATIZZA LA TUA ATTIVITÁ PROFESSIONALE</h2>
        <p>Cercare di crescere un attività professionale, trovare e fidelizzare i clienti è diventato un problema per molti professionisti, artigiani e giovanni intraprendenti. Un problema molto comune non solo in tempi di crisi ma anche quando la domanda sul mercato è abondante. Abbiamo costruito Starbook per rendere tutto questo più facile e gestito tutto tramite Internet. Piattaforma disponibile in tutta l’italia a tutti i professionisti.</p>
      </div>
    </div>
  </div>
</div>
