app-account {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 70px 0 0;
  -webkit-overflow-scrolling: touch;
  .top-bar-container {
    // position: fixed;
    position: relative;
    width: 100%;
    background: white;
    // height: 60px;
    border-bottom: 1px solid #DBDBDB;
    z-index: 1024;
  }
  .top-bar {
    list-style: none;
    overflow: hidden;
    font: 18px Sans-Serif;
    padding: 0;
    z-index: 1;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .top-bar li {
    color: rgba(33, 33, 33, 0.7);
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    margin-right: 40px;
  }
  .top-bar li:hover {
    color: black;
  }
  .top-bar .active {
    color: rgba(33, 33, 33, 1);
    border-bottom: 4px solid #212121;
  }

  .account-container {
    padding: 0 10px;

    .input-group input {
      height: 60px;
      font-size: 22px;
    }
    .input-group textarea {
      height: auto;
      font-size: 22px;
      text-align: center;
    }
    .input-group .form-control:focus {
      border: 2px solid #16A084 !important;
    }
    .half-group {
      float: left;
      width: 50%;
      .price {
        text-align: center;
      }
      .unit {
        text-align: center;
      }
    }

    .account {
      max-width: 1100px;
      margin: auto;
      border: 1px solid #DBDBDB;
      margin-top: 30px;
      margin-bottom: 30px;
      .account-top-bar {
        background: #edefed;
        color: #484848;
        font-size: 16px;
        padding: 12px 20px;
        border-bottom: 1px solid #DBDBDB;
        font-weight: 500;
      }
      .account-header {
        text-align: center;
        padding-bottom: 30px;
        max-width: 700px;
        margin: auto;
        h1 {
          font-weight: 300;
          color: black;
          line-height: inherit;
          span {
            font-weight: 500;
          }
          .one {
            color: #2980b9;
          }
          .two {
            color: #f39c12;
          }
        }
        p {
          font-weight: 300;
          margin-top: 20px;
        }
      }
      .account-body {
        padding: 30px;
        overflow: auto;
        .avatar {
          position: relative;
          display: inline-block;
          text-align: center;
          width: 100%;
          height: 230px;
          background-color: #bbb;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          // background-image: url("https://a0.muscache.com/im/pictures/e370dcdf-89d7-42af-9fde-f3880ba076ab.jpg?aki_policy=profile_x_medium");
          .overlay {
            width: 100%;
            height: 100%;
            background: -moz-radial-gradient(transparent 115px, rgba(255, 255, 255, 0.4) 115px);
            background: -webkit-radial-gradient(transparent 115px, rgba(255, 255, 255, 0.4) 115px);
            background: -ms-radial-gradient(transparent 115px, rgba(255, 255, 255, 0.4) 115px);
            background: -o-radial-gradient(transparent 115px, rgba(255, 255, 255, 0.4) 115px);
            pointer-events: none;
          }
        }
        .content {
          margin-top: 10px;
          .btn {
            padding: 0 30px;
            font-size: 18px;
            border-radius: 3px;
            margin-top: 20px;
          }
          p {
            font-size: 16px !important;
            color: #484848;
          }
        }

        .services {
          overflow: auto;
          .service-container {
            float: left;
            width: calc(100% / 4);
            padding: 10px;
            .service {
              position: relative;
              height: 250px;
              text-align: center;
              background-color: #ffd87c;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                background: rgba(0, 0, 0, 0.1);
                -webkit-transition: background 0.4s ease;
                   -moz-transition: background 0.4s ease;
                     -o-transition: background 0.4s ease;
                        transition: background 0.4s ease;
                .text-container {
                  display: block;
                  position: absolute;
                  z-index: 2;
                  padding: 20px;
                  bottom: 0;
                  width: 100%;
                  text-align: left;
                  background: -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.65) 100%) !important;
                  background: -moz-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.65) 100%) !important;
                  background: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.65) 100%) !important;
                  .title {
                    font-weight: 700;
                    color: white;
                    line-height: 120%;
                    font-size: 25px;
                    // text-transform: capitalize;
                    white-space: normal !important;
                    text-align: left;
                  }
                }
              }
              .overlay:hover {
                background: rgba(0, 0, 0, 0.0);
              }
              i {
                line-height: 250px;
                font-size: 50px;
                color: white;
              }
            }
            .service:hover {
              background-color: #e8c061;
            }
          }
        }

        label {
          text-align: right;
          font-size: 16px !important;
          padding-top: 14px;
        }
        small {
          font-size: 14px;
        }
        textarea.form-control {
          resize: vertical;
        }
        .avatar-container {
          background: grey;
          .avatar {
            float: left;
            width: 230px;
            height: 230px;
          }
          .content {
            float: left;
            padding: 20px;
            p {
              font-size: 16px !important;
              color: #484848;
            }
          }
        }

        .row-actions {
          .btn {
            padding: 0 30px;
            font-size: 18px;
            border-radius: 3px;
          }
          .error-message {
            display: block;
            margin: 10px 0;
            color: red;
          }
          .success-message {
            display: block;
            margin: 10px 0;
            color: green;
          }
        }

        .error {
          text-align: center;
          .error-text {
            color: #f75c4b;
          }
        }
        .actions {
          margin-top: 30px;
        }
        .price-per-unit {
          height: 60px;
          overflow: auto;
          margin-bottom: 15px;
          .input-group {
            float: left;
            width: 47.5%;
          }
          .euro {
            font-size: 22px;
            padding: 0 20px;
            background: white;
            border-radius: 0;
          }
          .per {
            width: 5%;
            float: left;
            font-size: 20px;
            text-align: center;
            line-height: 60px;
            font-weight: 300;
          }
        }
        .picture-container {
          margin-bottom: 30px;
          .service-picture {
            max-width: 288px;
            height: 360px;
            background: #f1f1f1;
            margin: auto;
            font-size: 30px;
            color: white;
            i {
              position: absolute;
              margin-left: 129px;
              margin-top: 153px;
              color: #d2d2d2;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              line-height: 415px;
              font-size: 18px;
              text-align: center;
              color: #d2d2d2;
            }
          }
          .profile-picture {
            width: 160px;
            height: 160px;
            background: #f1f1f1;
            margin: auto;
            font-size: 30px;
            color: white;
            i {
              position: absolute;
              margin-left: 65px;
              margin-top: 65px;
              color: #d2d2d2;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              line-height: 300px;
              font-size: 18px;
              text-align: center;
              color: transparent;
            }
          }
        }
        .form-group .ui-inputtext {
          color: black;
          font-size: 16px;
        }
        .footer-group {
          text-align: center;
          font-size: 16px;
          font-weight: 300;
          padding: 10px 0;
          .text {
            display: block;
          }
          .enter, .password-forget, .facebook-continue {
            color: #16a085;
            font-weight: 400;
            margin-bottom: 20px;
            cursor: pointer;
          }

        }
      }
      .loader {
        padding: 30px;
      }
    }

    .footer-actions {
      max-width: 1100px;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      .btn {
        padding: 0 30px;
        font-size: 18px;
        border-radius: 3px;
      }
    }
  }
  .footer-container {
    .footer {
      max-width: 1100px;
      margin: auto;
      .links {
        text-align: right;
      }
      li {
        display: inline-block;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        margin-left: 10px;
        a:hover {
          cursor: pointer;
          color: #014c8c;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  app-account .account-container .account .account-body .services .service-container {
    width: calc(100% / 3);
  }
}

@media (max-width: 425px) {
  app-account .account-container .account .account-body .avatar {
    width: 230px;
  }
  app-account .account-container .account .account-body .content {
    margin-top: 20px;
    padding: 0;
  }
  app-insert .account-container .account {
    padding-top: 20px;
  }
  app-insert .account-container .account .account-body .picture-container .service-picture {
    max-width: 224px;
    height: 280px;
  }
  app-insert .account-container .account .account-body .picture-container .service-picture i {
    margin-top: 120px;
    margin-left: 97px;
  }
  app-insert .account-container .account .account-body .picture-container .service-picture img {
    line-height: 341px;
  }
  app-account .account-container .account .account-body .services .service-container {
    width: 100%;
  }
  app-account .footer-container .footer .links {
    text-align: left;
  }
  app-account .footer-container .footer li {
    margin-left: 0;
    margin-right: 10px;
  }
}
