app-account {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 70px 0 0;
  -webkit-overflow-scrolling: touch;
  background-color: #EDEFF3;
  .top-bar-container {
    position: relative;
    width: 100%;
    background: white;
    box-shadow: 0 1px 0px #E5E6E9;
    z-index: 1024;
    .top-bar {
      list-style: none;
      overflow: hidden;
      padding: 0;
      z-index: 1;
      max-width: 1100px;
      margin: 0 auto;
    }
    .top-bar li {
      color: rgba(0, 0, 0, 0.8);
      float: left;
      height: 50px;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      font-weight: 400;
      span {
        font-family: Arial, sans-serif;
        padding: 0 15px;
        font-size: 16px;
      }
      .new_funct {
        color: #f39c12;
        font-weight: 700;
      }
    }
    .top-bar li:hover {
      color: black;
    }
    .top-bar .active {
      font-weight: 500;
      color: black;
      border-bottom: 3px solid #4567ab;
    }
  }
  .input-group label, .form-group label {
    text-align: left;
    font-size: 16px !important;
    font-weight: 500;
    color: #1d2129 !important;
  }
  .form-group select {
    height: 45px !important;
  }
  small {
    font-size: 14px;
  }
  textarea.form-control {
    resize: vertical;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group input {
    height: 45px !important;
  }
  .form-group .form-control {
    border: 1px solid #b1b1b1;
    border-radius: 0px !important;
    padding: 0 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
  }
  textarea.form-control {
    padding: 15px !important;
  }
  .input-group .form-control {
    height: 45px;
    border: 1px solid #b1b1b1;
    border-radius: 0px !important;
  }
  .account-container {
    padding: 0 10px;
    .account {
      max-width: 1100px;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 10px;
      overflow: auto;
      .account-content {
        position: relative;
        box-shadow: 0 1px 0px #E5E6E9, 0 -1px 0px #E5E6E9, 1px 0px 0px #DFE0E4, -1px 0px 0px #DFE0E4;
        background: white;
        border-radius: 3px;
        margin-bottom: 10px;
        .account-header {
          text-align: left;
          padding: 40px;
          margin: auto;
          h1 {
            font-weight: 300;
            color: black;
            line-height: inherit;
            span {
              font-weight: 500;
            }
            .one {
              color: #2980b9;
            }
            .two {
              color: #f39c12;
            }
          }
          h2 {
            font-weight: 400;
            .btn {
              font-size: 15px;
              padding: 0 20px;
              line-height: 40px;
              height: 40px;
              border-radius: 3px;
              font-weight: 600;
            }
          }
          p {
            margin-top: 5px;
            font-size: 16px !important;
            color: rgba(0, 0, 0, 0.5);
            a {
              margin-right: 10px;
            }
          }
          .list-ad-platforms {
            margin-top: 5px;
            img {
              width: 85px;
              margin-right: 20px;
            }
          }
        }
        .account-body {
          padding: 0 40px 40px;
          .avatar-section {
            .avatar-container {
              float: left;
              width: 100px;
              height: 100px;
              .avatar {
                position: relative;
                display: inline-block;
                text-align: center;
                height: 100%;
                width: 100%;
                background-color: #bbb;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border: 1px solid #C6C4C7;
                .overlay {
                  background: rgba(0, 0, 0, 0.5);
                  width: 100%;
                  height: 100%;
                  line-height: 100px;
                  i {
                    color: white;
                  }
                }
              }
            }
            .content {
              margin-left: 100px;
              margin-top: 10px;
              padding: 5px 20px;
              h4 {

              }
              p {
                font-size: 16px !important;
                margin-top: 2px;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.5);
              }
              .btn {
                padding: 0 30px;
                font-size: 14px;
                border-radius: 3px;
                margin-top: 10px;
                line-height: 35px;
                height: 35px;
                background: #F6F6F6;
              }
            }
          }
          form {
            margin-bottom: 30px;
            .option-container {
              text-align: center;
              .option {
                cursor: pointer;
                border-radius: 35px;
                border: 1px solid #b1b1b1;
                padding: 20px;
                margin-bottom: 10px;
                span {
                  font-size: 20px;
                  font-weight: 500;
                }
              }
              .option:hover {
                background: #eaeaea;
              }
              .selected {
                background: #9b59b6;
                color: white;
                border: 0;
              }
              .selected:hover {
                background: #9b59b6;
              }
            }
            .estimate-container {
              text-align: center;
              .estimate {
                // padding: 20px;
                margin-bottom: 10px;
                .amount {
                  font-size: 46px;
                  font-weight: 600;
                }
                .weeks {
                  font-size: 20px;
                  font-weight: 500;
                  color: #34495e;
                }
                .sun-flower {
                  color: #f1c40f;
                }
                .wet-asphalt {
                  color: #34495e;
                }
                .nephritis {
                  color: #27ae60;
                }
                .title {
                  display: block;
                  font-size: 20px;
                  font-weight: 300;
                  color: #7f8c8d;
                }
              }
            }
          }
          .section {
            margin-bottom: 30px;
            h4 {
              font-weight: 400;
            }
            p {
              font-size: 16px !important;
              font-weight: 400;
              margin-top: 5px;
              color: rgba(0, 0, 0, 0.5);
            }
            .details {

            }
          }
          .birthday {
            overflow: auto;
            margin-left: -15px;
            margin-right: -15px;
            .day {
              float: left;
              width: 130px;
              padding-left: 15px;
              padding-right: 15px;
            }
            .month {
              float: left;
              width: 140px;
              padding-left: 15px;
              padding-right: 15px;
            }
            .year {
              float: left;
              width: 150px;
              padding-left: 15px;
              padding-right: 15px;
            }
          }
          .control-group {
            vertical-align: top;
            background: white;
            text-align: left;
            .form-group {
              margin-bottom: 0;
            }
            .select {
              position: relative;
              display: inline-block;
              width: 100%;
              select {
                display: inline-block;
                width: 100%;
                cursor: pointer;
                padding: 0 15px;
                outline: 0;
                border: 0;
                border-radius: 0;
                background: white;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                border: 1px solid #b1b1b1;
                font-size: 15px;
                color: rgba(0, 0, 0, 0.8);
                letter-spacing: 0.1px;
                &::-ms-expand {
                  display: none;
                }
                &:hover,
                &:focus {
                  color: black;
                  background: #efefef;
                }
                &:disabled {
                  opacity: 0.5;
                  pointer-events: none;
                }
              }
              .select__arrow {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 0;
                height: 0;
                pointer-events: none;
                border-style: solid;
                border-width: 8px 5px 0 5px;
                border-color: #7b7b7b transparent transparent transparent;
              }
              .select select:hover ~ &
              .select select:focus ~ & {
                border-top-color: black;
              }
              .select select:disabled ~ & {
                border-top-color: grey;
              }
            }
          }
          .services {
            overflow: auto;
            .service-container {
              float: left;
              width: calc(100% / 4);
              padding: 10px;
              .service {
                position: relative;
                height: 250px;
                text-align: center;
                background-color: #ffd87c;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                .overlay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  z-index: 10;
                  background: rgba(0, 0, 0, 0.1);
                  -webkit-transition: background 0.4s ease;
                     -moz-transition: background 0.4s ease;
                       -o-transition: background 0.4s ease;
                          transition: background 0.4s ease;
                  .text-container {
                    display: block;
                    position: absolute;
                    z-index: 2;
                    padding: 20px;
                    bottom: 0;
                    width: 100%;
                    text-align: left;
                    background: -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.65) 100%) !important;
                    background: -moz-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.65) 100%) !important;
                    background: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.65) 100%) !important;
                    .title {
                      font-weight: 700;
                      color: white;
                      line-height: 120%;
                      font-size: 25px;
                      // text-transform: capitalize;
                      white-space: normal !important;
                      text-align: left;
                    }
                  }
                }
                .overlay:hover {
                  background: rgba(0, 0, 0, 0.0);
                }
                i {
                  line-height: 250px;
                  font-size: 50px;
                  color: white;
                }
              }
              .service:hover {
                background-color: #e8c061;
              }
              .actions {
                margin-top: 5px;
              }
            }
          }
          .actions {
            position: relative;
            // margin-top: 30px;
            .saving {
              display: block;
              position: absolute;
              top: -20px;
            }
            .btn-success {
              // background: #259874;
            }
            .btn {
              padding: 0 40px;
              font-size: 22px;
              font-weight: 500;
              border-radius: 3px;
            }
            .btn-warning {
              height: 60px;
            }
            .btn-success {
              height: 60px;
            }
          }
          .share-actions {
            overflow: hidden;
            .btn-default {
              height: 50px;
              border: 1px solid #DCDCDC;
              font-size: 16px;
              padding-left: 30px;
              padding-right: 30px;
            }
            .input-group-btn .btn-default {
              height: 45px;
              line-height: 45px;
              border: 1px solid #b1b1b1 !important;
              border-radius: 0px;
            }
            li {
              display: inline;
              list-style-type: none;
              float: left;
              padding: 10px 20px 0 0;
              .btn {
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                padding: 0;
              }
              i {
                // display: inline-block;
                // vertical-align: middle;
                // text-align: center;
                // line-height: 40px;
                font-size: 18px !important;
                width: 40px;
                // height: 40px;
              }
              span {
                margin-right: 20px;
                font-size: 14px;
              }
            }

            // .btn {
            //   padding: 0 50px;
            //   font-size: 18px;
            // }
          }
          .row-actions {
            .btn {
              padding: 0 30px;
              font-size: 18px;
              border-radius: 3px;
            }
            .error-message {
              display: block;
              margin: 10px 0;
              color: red;
            }
            .success-message {
              display: block;
              margin: 10px 0;
              color: green;
            }
          }
          .error {
            text-align: center;
            .error-text {
              color: #f75c4b;
            }
          }
          .price-per-unit {
            height: 60px;
            overflow: auto;
            margin-bottom: 15px;
            .input-group {
              float: left;
              width: 47.5%;
            }
            .euro {
              font-size: 22px;
              padding: 0 20px;
              background: white;
              border-radius: 0;
            }
            .per {
              width: 5%;
              float: left;
              font-size: 20px;
              text-align: center;
              line-height: 60px;
              font-weight: 300;
            }
          }
          .picture-container {
            margin-bottom: 30px;
            .service-picture {
              max-width: 288px;
              height: 360px;
              background: #f1f1f1;
              margin: auto;
              font-size: 30px;
              color: white;
              i {
                position: absolute;
                margin-left: 129px;
                margin-top: 153px;
                color: #d2d2d2;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                line-height: 415px;
                font-size: 18px;
                text-align: center;
                color: #d2d2d2;
              }
            }
            .profile-picture {
              width: 160px;
              height: 160px;
              background: #f1f1f1;
              margin: auto;
              font-size: 30px;
              color: white;
              i {
                position: absolute;
                margin-left: 65px;
                margin-top: 65px;
                color: #d2d2d2;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                line-height: 300px;
                font-size: 18px;
                text-align: center;
                color: transparent;
              }
            }
          }
          .form-group .ui-inputtext {
            color: black;
            font-size: 16px;
          }
          .footer-group {
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            padding: 10px 0;
            .text {
              display: block;
            }
            .enter, .password-forget, .facebook-continue {
              color: #16a085;
              font-weight: 400;
              margin-bottom: 20px;
              cursor: pointer;
            }

          }
          .input-group-addon {
            font-size: 20px;
            padding: 0 20px;
          }
          .form-group .form-check-label input {
            height: 16px !important;
            margin-right: 10px;
          }
          .paycard-container {
            overflow: auto;
            .paycard {
              position: relative;
              display: block;
              margin-bottom: .75rem;
              background-color: #fff;
              border-radius: .25rem;
              border: 1px solid rgba(0,0,0,.125);
              .paycard-content {
                .paycard-header {
                  background-color: #f5f5f5;
                  padding: 12px 20px;
                  border-bottom: 1px solid rgba(0,0,0,.125);
                }
                .paycard-body {
                  background-color: white;
                  padding: 20px;
                  overflow: auto;
                  .name-card {
                    margin-right: 10px;
                  }
                  .number-card {
                    margin-right: 10px;
                  }
                  .exp-card {
                    // margin-right: 10px;
                  }
                  .actions {
                    float: right;
                    .btn {
                      font-size: 14px;
                      padding: 0;
                    }
                    .btn-link {
                      color: #3297d3;
                      width: auto;
                    }
                    .default-card {
                      margin-right: 10px;
                      padding: 2px 8px;
                      height: auto;
                      font-size: 12px;
                      border-radius: 20px;
                      color: #3297d3;
                      border: 1px solid #3297d3;
                      font-weight: 600;
                      line-height: 16px;
                    }
                    .not-default-card {
                      cursor: pointer;
                      margin-right: 10px;
                      padding: 2px 8px;
                      height: auto;
                      font-size: 12px;
                      border-radius: 20px;
                      color: rgba(50, 151, 211, 0.2);
                      border: 1px solid rgba(50, 151, 211, 0.2);
                      font-weight: 600;
                      line-height: 16px;
                      i {
                        margin-right: 5px;
                      }
                    }
                    .not-default-card:hover {
                      color: #3297d3;
                      border: 1px solid #3297d3;
                    }
                  }
                }
                .paycard-footer {
                  background-color: #f5f5f5;
                  padding: 12px 20px;
                  border-top: 1px solid rgba(0,0,0,.125);
                }
              }
            }
          }
        }
      }
      .quotation-content {
        position: relative;
        box-shadow: 0 1px 0px #E5E6E9, 0 -1px 0px #E5E6E9, 1px 0px 0px #DFE0E4, -1px 0px 0px #DFE0E4;
        background: white;
        border-radius: 3px;
        margin-bottom: 10px;
        .quotation-header {
          padding: 20px 30px;
          border-bottom: 1px solid #eceeef;
          overflow: auto;
          .title {
            font-size: 20px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.5);
          }
          .date {
            float: right;
            font-size: 17px;
            line-height: 28px;
          }
        }
        .quotation-body {
          padding: 20px 30px;
          p {
            font-size: 16px !important;
            // color: #1d2129;
            // word-wrap: break-word;
            // line-height: 1.38;
          }
          .details {
            margin-top: 15px;
            i {
              float: left;
              text-align: center;
              width: 16px;
              margin-right: 5px;
            }
            span {
              font-size: 15px;
            }
          }
          .vendor {
            float: left;
            width: 50%;
            margin-bottom: 20px;
            .businessname {
              display: block;
              font-size: 26px;
            }
            .username {
              display: block;
              font-size: 16px;
            }
          }
          .customer {
            text-align: right;
            float: right;
            width: 50%;
            .date {
              display: block;
              margin-top: 5px;
              font-size: 18px;
            }
            h4 {
              font-weight: 500;
              color: rgba(0, 0, 0, 0.5);
            }
            h5 {
              margin-top: 20px;
              font-weight: 400;
            }
            h6 {
              margin-top: 20px;
            }
            .username {
              display: block;
              font-size: 20px;
            }
          }
          .description {
            overflow: auto;
            width: 100%;
            p {
              margin-bottom: 10px;
            }
          }
        }
        .quotation-footer {
          padding: 20px 30px;
          border-top: 1px solid #eceeef;
          // text-align: right;
          .btn {
            padding: 0 30px;
            border-radius: 3px;
            height: 45px;
            line-height: 45px;
            font-size: 17px;
            font-weight: 500;
          }
        }
      }
    }
    .account-tab {
      float: left;
      width: 160px;
      ul {
        li {
          margin-bottom: 10px;
          padding: 0 5px;
          .btn {
            font-size: 16px;
            height: 40px;
            line-height: 40px;
            border-radius: 3px;
            width: 100%;
            padding: 0 5px;
          }
          .btn-success {
            font-weight: 500;
            width: 100%;
            padding: 0 20px;
            margin: 10px 0;
            i {
              margin-right: 5px;
            }
          }
          .btn-transparent {
            text-align: left;
            color: rgba(0, 0, 0, 0.7);
            i {
              margin-right: 5px;
              color: rgba(0, 0, 0, 0.7);
            }
          }
          .btn-transparent:hover {
            font-weight: 400;
            color: black;
            i {
              color: black;
            }
          }
          .active {
            font-weight: 500;
            color: #5080e0;
            i {
              color: #5080e0;
            }
          }
          .active:hover {
            font-weight: 500;
            color: #5080e0;
            i {
              color: #5080e0;
            }
          }

        }
      }
    }
    .tabbed-content {
      margin-left: 180px;
    }
    .right-triangle {
      position: absolute;
      width: 0;
      height: 0;
      right: 0;
      border-style: solid;
      border-width: 0 30px 30px 0;
      border-color: transparent #ea0023 transparent transparent;
    }
    .gift {
      max-width: 1100px;
      margin: auto;
      box-shadow: 0 1px 0px #E5E6E9, 0 -1px 0px #E5E6E9, 1px 0px 0px #DFE0E4, -1px 0px 0px #DFE0E4;
      margin-top: 30px;
      margin-bottom: 10px;
      background: white;
      border-radius: 3px;
      overflow: auto;
      padding: 40px;
      .image {
        float: left;
        width: 140px;
        padding: 10px;
        text-align: center;
      }
      .descr {
        padding: 20px;
        margin-left: 140px;
        h3 {
          font-size: 30px;
          font-weight: 300;
          color: #000000;
        }
        p {
          font-size: 16px !important;
          margin-top: 20px;
        }
      }
    }
    .footer-actions {
      max-width: 1100px;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      .btn {
        padding: 0 30px;
        font-size: 18px;
        border-radius: 3px;
      }
    }
  }
  .account-footer {
    .footer {
      max-width: 1100px;
      margin: auto;
      padding: 0 15px;
      margin-bottom: 20px;
      p {
        font-size: 14px !important;
        color: #4A4A4A;
      }
      .links {
        text-align: right;
      }
      li {
        display: inline-block;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        margin-left: 10px;
        a:hover {
          cursor: pointer;
          color: #014c8c;
          text-decoration: underline;
        }
      }
      a {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1024px) {
  app-account .account-container .account {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  app-account .account-container .account .account-body .services .service-container {
    width: calc(100% / 3);
  }
  app-account .account-container .account .account-content .account-header {
    padding: 25px;
  }
  app-account .account-container .account .account-content .account-body {
    padding: 0 25px 25px;
  }
  app-account .account-container .account .account-content .account-body form {
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  app-account .account-container .account .account-body .avatar-section .avatar-container .avatar .overlay {
    line-height: 100px;
  }
  app-account .account-container .account .account-body .avatar {
    width: 230px;
  }
  app-account .account-container .account .account-body .content {
    margin-top: 20px;
    padding: 0;
  }
  app-insert .account-container .account {
    padding-top: 20px;
  }
  app-insert .account-container .account .account-body .picture-container .service-picture {
    max-width: 224px;
    height: 280px;
  }
  app-insert .account-container .account .account-body .picture-container .service-picture i {
    margin-top: 120px;
    margin-left: 97px;
  }
  app-insert .account-container .account .account-body .picture-container .service-picture img {
    line-height: 341px;
  }
  app-account .account-container .account .account-body .services .service-container {
    width: 100%;
  }
  app-account .account-container .gift {
    padding: 20px;
  }
  app-account .account-container .gift .image {
    width: 90px;
  }
  app-account .account-container .gift .descr {
    margin-left: 0;
    padding: 10px;
  }
  app-account .account-container .gift .descr h3 {
    font-size: 25px;
  }
  app-account .account-container .gift .descr p {
    margin-top: 10px;
  }
  app-account .account-container .account .account-header {
    padding: 30px 20px 0;
  }
  app-account .account-container .account .account-header h2 {
    font-size: 26px;
    font-weight: 400;
  }
  app-account .account-container .account .account-body {
    padding: 20px 20px 30px;
  }
  app-account .account-container .account .account-body .avatar-section .avatar-container {
    float: none;
    width: 100px;
    height: 100px;
  }
  app-account .account-container .account .account-body .avatar-section .content {
    margin-left: 0;
    padding: 0;
  }
  app-account .account-footer .footer .links {
    text-align: left;
  }
  app-account .account-container .account .account-body .actions .btn {
    width: 100%;
  }
  app-account .account-container .account .account-body .section h4 {
    font-size: 22px;
  }
  app-account .account-container .account .account-tab {
    float: none;
  }
  app-account .account-container .account .account-content {
    margin-left: 0;
  }
  app-account .account-container .account .tabbed-content {
    margin-left: 0;
  }
  app-account .account-container .account .account-content .account-body .paycard-container .paycard .paycard-content .paycard-body .actions {
    width: 100%;
    margin-top: 15px;
  }
}
