<div class="account-container">
  <div class="account" *ngIf="page==='login'">
    <div class="header">
      <h3>Accedi al tuo account</h3>
    </div>
    <form>
      <div class="form-group">
        <label for="emailInput">Email</label>
        <input type="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': login_state.email_error}" id="emailInput" [(ngModel)]="loginParameters.email" [ngModelOptions]="{standalone: true}">
        <small class="error-message" *ngIf="login_state.email_error">{{login_state.email_error}}</small>
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': login_state.password_error}" id="passwordInput" [(ngModel)]="loginParameters.password" [ngModelOptions]="{standalone: true}">
        <small class="error-message" *ngIf="login_state.password_error">{{login_state.password_error}}</small>
      </div>
      <div class="form-group" *ngIf="login_state.error_message">
        <div class="alert alert-danger" role="alert">{{login_state.error_message}}</div>
      </div>
      <div class="form-group" *ngIf="facebook_state.error_message">
        <div class="alert alert-danger" role="alert">{{facebook_state.error_message}}</div>
      </div>
      <div class="form-group">
        <button type="button" id="next" class="btn btn-warning" (click)="login()"><i class="fa fa-circle-o-notch animate" *ngIf="login_state.loading"></i>{{login_state.button_title}}</button>
      </div>
      <div class="form-group">
        <button type="button" id="next"class="btn btn-white" (click)="changeToSignup()">Sei nuovo? Crea un account</button>
      </div>
      <div class="form-group">
        <button type="button" id="next"class="btn btn-facebook" (click)="continueWithFacebook()"><i></i>{{facebook_state.button_title}}</button>
      </div>
      <div class="form-group">
        <h6><small>Continuando dichiari di aver letto e accetti le <a routerlink="/legal" href="/legal" target="_blank">condizioni generali e l’informativa sulla privacy</a></small></h6>
      </div>
    </form>
  </div>
  <div class="account" *ngIf="page==='signup'">
    <div class="header">
      <h3>Crea un account</h3>
      <h6>Sei nuovo su Starbook? Crea un account per poter navigare liberamente e ordinare i servizi che ti servono per la tua casa.</h6>
    </div>
    <form>
      <div class="form-group">
        <label for="emailInput">Email</label>
        <input type="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': signup_state.email_error}" id="emailInput" [(ngModel)]="signupParameters.email" [ngModelOptions]="{standalone: true}">
        <small class="error-message" *ngIf="signup_state.email_error">{{signup_state.email_error}}</small>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstNameInput">Nome</label>
            <input type="firstname" placeholder="Nome" class="form-control" [ngClass]="{'error-input': signup_state.first_name_error}" id="firstNameInput" [(ngModel)]="signupParameters.firstname" [ngModelOptions]="{standalone: true}">
            <small class="error-message" *ngIf="signup_state.first_name_error">{{signup_state.first_name_error}}</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastNameInput">Cognome</label>
            <input type="lastname" placeholder="Cognome" class="form-control" [ngClass]="{'error-input': signup_state.last_name_error}" id="lastNameInput" [(ngModel)]="signupParameters.lastname" [ngModelOptions]="{standalone: true}">
            <small class="error-message" *ngIf="signup_state.last_name_error">{{signup_state.last_name_error}}</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="phoneInput">Telefono</label>
        <input type="phone" placeholder="Numero di telefono" class="form-control" [ngClass]="{'error-input': signup_state.phone_error}" id="phoneInput" [(ngModel)]="signupParameters.phone" [ngModelOptions]="{standalone: true}">
        <small class="error-message" *ngIf="signup_state.phone_error">{{signup_state.phone_error}}</small>
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': signup_state.password_error}" id="passwordInput" [(ngModel)]="signupParameters.password" [ngModelOptions]="{standalone: true}">
        <small class="error-message" *ngIf="signup_state.password_error">{{signup_state.password_error}}</small>
      </div>
      <div class="form-group">
        <label for="confirmPasswordInput">Di nuovo la password</label>
        <input type="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': signup_state.confirm_password_error}" id="confirmPasswordInput" [(ngModel)]="signupParameters.confirmPassword" [ngModelOptions]="{standalone: true}">
        <small class="error-message" *ngIf="signup_state.confirm_password_error">{{signup_state.confirm_password_error}}</small>
      </div>
      <div class="form-group" *ngIf="login_state.error_message">
        <div class="alert alert-danger" role="alert">{{login_state.error_message}}</div>
      </div>
      <div class="form-group" *ngIf="facebook_state.error_message">
        <div class="alert alert-danger" role="alert">{{facebook_state.error_message}}</div>
      </div>
      <div class="form-group">
        <button type="button" id="next" class="btn btn-warning" (click)="signup()"><i class="fa fa-circle-o-notch animate" *ngIf="signup_state.loading"></i>{{signup_state.button_title}}</button>
      </div>
      <div class="form-group">
        <button type="button" id="next"class="btn btn-white" (click)="changeToLogin()">Accedi</button>
      </div>
      <div class="form-group">
        <button type="button" id="next"class="btn btn-facebook" (click)="continueWithFacebook()"><i></i>{{facebook_state.button_title}}</button>
      </div>
      <div class="form-group">
        <h6><small>Continuando dichiari di aver letto e accetti le <a routerlink="/legal" href="/legal" target="_blank">condizioni generali e l’informativa sulla privacy</a></small></h6>
      </div>
    </form>
  </div>
  <div class="account" *ngIf="page==='professional'">
    <div class="header">
      <h3>Registra la tua attività gratuitamente</h3>
      <h6>Lavori nel mondo dell'edilizia, idraulica, sei un elettrico e esegui lavori particolari artigianali nelle case? Unisciti a noi e collaboreremo per aumentare la professionalità e la clientela in modo smart.</h6>
    </div>
    <form>
      <div class="form-group">
        <label for="emailInput">Email</label>
        <input type="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': signup_state.email_error}" id="emailInput" [(ngModel)]="signupParameters.email" [ngModelOptions]="{standalone: true}">
        <small class="error-message" *ngIf="signup_state.email_error">{{signup_state.email_error}}</small>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstNameInput">Nome</label>
            <input type="firstname" placeholder="Nome" class="form-control" [ngClass]="{'error-input': signup_state.first_name_error}" id="firstNameInput" [(ngModel)]="signupParameters.firstname" [ngModelOptions]="{standalone: true}">
            <small class="error-message" *ngIf="signup_state.first_name_error">{{signup_state.first_name_error}}</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastNameInput">Cognome</label>
            <input type="lastname" placeholder="Cognome" class="form-control" [ngClass]="{'error-input': signup_state.last_name_error}" id="lastNameInput" [(ngModel)]="signupParameters.lastname" [ngModelOptions]="{standalone: true}">
            <small class="error-message" *ngIf="signup_state.last_name_error">{{signup_state.last_name_error}}</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="professionInput">Professione</label>
        <input type="profession" placeholder="La tua professione" class="form-control" id="professionInput" [(ngModel)]="profession" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="phoneInput">Telefono</label>
        <input type="phone" placeholder="Numero di telefono" class="form-control" [ngClass]="{'error-input': signup_state.phone_error}" id="phoneInput" [(ngModel)]="signupParameters.phone" [ngModelOptions]="{standalone: true}">
        <small class="error-message" *ngIf="signup_state.phone_error">{{signup_state.phone_error}}</small>
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': signup_state.password_error}" id="passwordInput" [(ngModel)]="signupParameters.password" [ngModelOptions]="{standalone: true}">
        <small class="error-message" *ngIf="signup_state.password_error">{{signup_state.password_error}}</small>
      </div>
      <div class="form-group">
        <label for="confirmPasswordInput">Di nuovo la password</label>
        <input type="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': signup_state.confirm_password_error}" id="confirmPasswordInput" [(ngModel)]="signupParameters.confirmPassword" [ngModelOptions]="{standalone: true}">
        <small class="error-message" *ngIf="signup_state.confirm_password_error">{{signup_state.confirm_password_error}}</small>
      </div>
      <div class="form-group" *ngIf="signup_state.error_message">
        <div class="alert alert-danger" role="alert">{{signup_state.error_message}}</div>
      </div>
      <!-- <div class="form-group" *ngIf="signup_state.message_success">
        <div class="alert alert-success" role="alert">
          {{recruiter_state.message_success}}
        </div>
      </div> -->
      <div class="form-group">
        <button type="button" id="next" class="btn btn-warning" (click)="signupAsProfessional()"><i class="fa fa-circle-o-notch animate" *ngIf="signup_state.loading"></i>{{signup_state.button_title}}</button>
      </div>
      <div class="form-group">
        <h6><small>Continuando dichiari di aver letto e accetti le <a routerlink="/info/legal" href="/info/legal" target="_blank">condizioni generali e l’informativa sulla privacy</a></small></h6>
      </div>
    </form>
  </div>

  <div class="email-verification" *ngIf="page==='email_verification'">
    <h1>{{email_verification.title}}</h1>
    <div class="popup-spinner" *ngIf="email_verification.spinner.visible">
      <svg width='100px' height='100px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
        <circle cx="50" cy="50" r="45" stroke-dasharray="169.64600329384882 113.09733552923257" stroke="#7FC443" fill="none" stroke-width="4">
          <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform>
        </circle>
      </svg>
    </div>
    <div class="success-icon" *ngIf="email_verification.success.visible"><span></span></div>
    <div class="form-group">
      <button class="btn btn-warning" type="button" (click)="goToHomePage()" *ngIf="email_verification.button.visible">{{email_verification.button.title}}</button>
    </div>
  </div>
  <div class="password-verification" *ngIf="page==='password_verification'">
    <h1>{{password_verification.title}}</h1>
    <div class="popup-spinner" *ngIf="password_verification.spinner.visible">
      <svg width='100px' height='100px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
        <circle cx="50" cy="50" r="45" stroke-dasharray="169.64600329384882 113.09733552923257" stroke="#7FC443" fill="none" stroke-width="4">
          <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform>
        </circle>
      </svg>
    </div>
    <div class="success-icon" *ngIf="password_verification.success.visible"><span></span></div>
    <div class="form-group">
      <button class="btn btn-warning" type="button" (click)="goToHomePage()" *ngIf="password_verification.button.visible">{{password_verification.button.title}}</button>
    </div>
  </div>
  <div class="new-password" *ngIf="page==='create_new_password'">
    <h1>{{new_password_creation.title}}</h1>
    <div class="form-group" *ngIf="new_password_creation.password_field.visible">
      <label>{{new_password_creation.password_field.title}}</label>
      <input class="form-control" type="password" name="password" placeholder="" required [(ngModel)]="new_password_creation.password_field.value">
    </div>
    <div class="form-group" *ngIf="new_password_creation.button.visible">
      <button class="btn btn-warning" type="button" (click)="createNewPassword(new_password_creation.password_field.value)">{{new_password_creation.button.title}}</button>
    </div>
  </div>
</div>
