<div class="top-bar-container noselect">
  <ul class="top-bar">
    <li *ngFor="let tab of tabs" [ngClass]="{'active':tab.route === page}" (click)="clickTabItem(tab.route)">
      <span>{{tab.name}}</span>
    </li>
  </ul>
</div>

<div class="account-container">
  <!-- <div class="gift">
    <div class="image">
      <img src="../assets/images/gift.png" alt="">
    </div>
    <div class="descr">
      <h3>Grandi novità in arrivo su Starbook!</h3>
      <p>Ti informiamo che a breve ci saranno delle modifiche, miglioramenti, funzionalità interessanti e innovative su Starbook. Se hai qualche richiesta particolare scrivici su <a href="mailto:info@starbook.co" target="_blank">info@starbook.co</a>.</p>
    </div>
  </div> -->

  <div class="account" *ngIf="page==='profile' && Account">
    <div class="account-header">
      <h2>Profilo personale</h2>
      <p>Aggiorna le informazioni del tuo profilo personale.</p>
    </div>
    <div class="account-body">
      <form>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="avatar-section">
              <div class="avatar-container">
                <div class="avatar" [ngStyle]="{'background-image' : ' url(' + checkPicture(Account) + ')'}">
                  <div class="overlay" *ngIf="picture_state.loading">
                    <i class="fa fa-circle-o-notch animate"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <h4>Foto del profilo</h4>
                <p>Carica una foto profilo o cambia quella attuale.</p>
                <input type="file" (change)="selectProfilePicture($event)" style="display: none;" #file>
                <button type="button" class="btn btn-secondary" name="button" (click)="file.click()">Carica una foto</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="firstname-input">Il tuo nome</label>
            <input class="form-control" type="text" id="firstname-input" [ngClass]="{'error-input': account_state.firstname_error}" [(ngModel)]="Account.profile.firstname" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-6">
            <label for="lastname-input">Il tuo cognome</label>
            <input class="form-control" type="text" id="lastname-input" [ngClass]="{'error-input': account_state.lastname_error}" [(ngModel)]="Account.profile.lastname" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-12">
            <label for="description-input">La tua presentazione</label>
            <textarea id="description-input" class="form-control" placeholder="" rows="3" [(ngModel)]="Account.profile.description" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="form-group col-md-12">
            <label for="phone-input">Telefono personale</label>
            <input class="form-control" type="text" id="phone-input" [(ngModel)]="Account.profile.phone_number" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </form>
      <form>
        <div class="row">
          <div class="form-group control-group col-md-4">
            <label class="control-label">Giorno di nascita</label>
            <div class="form-group">
              <div class="select">
                <select name="day" [(ngModel)]="Account.birthday.day">
                  <option *ngFor="let day of days" [value]="day.value">{{day.display}}</option>
                </select>
                <div class="select__arrow"></div>
              </div>
            </div>
          </div>
          <div class="form-group control-group col-md-4">
            <label class="control-label">Mese di nascita</label>
            <div class="form-group">
              <div class="select">
                <select name="month" [(ngModel)]="Account.birthday.month">
                  <option *ngFor="let month of months" [value]="month.value">{{month.display}}</option>
                </select>
                <div class="select__arrow"></div>
              </div>
            </div>
          </div>
          <div class="form-group control-group col-md-4">
            <label class="control-label">Anno di nascita</label>
            <div class="form-group">
              <div class="select">
                <select name="year" [(ngModel)]="Account.birthday.year">
                  <option *ngFor="let year of years" [value]="year.value">{{year.display}}</option>
                </select>
                <div class="select__arrow"></div>
              </div>
            </div>
          </div>
          <div class="form-group control-group col-md-4">
            <label class="control-label">Sesso</label>
            <div class="select">
              <select name="gender" [(ngModel)]="Account.gender">
                <option *ngFor="let gender of genders" [value]="gender.value">{{gender.display}}</option>
              </select>
              <div class="select__arrow"></div>
            </div>
          </div>
        </div>
      </form>
      <div class="actions">
        <span class="saving" *ngIf="account_state.loading"><i class="fa fa-circle-o-notch animate"></i> salvando</span>
        <button type="button" class="btn btn-success" name="button" (click)="saveInformations()"> Salva le modifiche</button>
      </div>
    </div>
  </div>
  <div class="account" *ngIf="page==='company' && Account">
    <div class="account-header">
      <h2>Profilo aziendale</h2>
      <p>Aggiorna le tue informazioni della tua azienda o attività.</p>
    </div>
    <div class="account-body">
      <form>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="avatar-section">
              <div class="avatar-container">
                <div class="avatar" [ngStyle]="{'background-image' : ' url(' + checkLogo(Account) + ')'}">
                  <div class="overlay" *ngIf="logo_state.loading">
                    <i class="fa fa-circle-o-notch animate"></i>
                  </div>
                </div>
              </div>
              <div class="content">
                <h4>Logo aziendale</h4>
                <p>Carica il logo o cambia quella attuale.</p>
                <input type="file" (change)="selectCompanyLogo($event)" style="display: none;" #file>
                <button type="button" class="btn btn-secondary" name="button" (click)="file.click()">Carica un logo</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="business-name-input">Ragione sociale</label>
            <input class="form-control" type="text" id="business-name-input"  [(ngModel)]="Account.business.name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-6">
            <label for="vat-input">P.IVA</label>
            <input class="form-control" type="text" id="vat-input" [(ngModel)]="Account.business.vat" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-12">
            <label for="business-description-input">Categoria servizio</label>
            <input class="form-control" type="text" id="vat-input" [(ngModel)]="Account.business.tagline" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-12">
            <label for="business-description-input">Descrizione</label>
            <textarea id="business-description-input" class="form-control" placeholder="Di che cosa si occupa la tua azienda..." rows="3" [(ngModel)]="Account.business.description" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="form-group col-md-12">
            <label for="vat-input">Telefono aziendale</label>
            <input class="form-control" type="text" id="vat-input" [(ngModel)]="Account.business.phone_number" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </form>
      <form>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="vat-input">Indirizzo</label>
            <input class="form-control" type="text" id="address-input" placeholder="Via Verdi 12" [(ngModel)]="Account.address.street" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-2">
            <label for="vat-input">CAP</label>
            <input class="form-control" type="text" id="cap-input" placeholder="CAP" [(ngModel)]="Account.address.postal_code" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-4">
            <label for="vat-input">Città</label>
            <input class="form-control" type="text" id="city-input" placeholder="Città" [(ngModel)]="Account.address.city" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </form>
      <form>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="vat-input">Email aziendale</label>
            <input class="form-control" type="text" id="vat-input" [(ngModel)]="Account.business.email" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-6">
            <label for="vat-input">Sito web</label>
            <input class="form-control" type="text" id="vat-input" [(ngModel)]="Account.business.website" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </form>
      <div class="actions">
        <span class="saving" *ngIf="account_state.loading"><i class="fa fa-circle-o-notch animate"></i> salvando</span>
        <button type="button" class="btn btn-success" name="button" (click)="saveInformations()"> Salva le modifiche</button>
      </div>
    </div>
  </div>

  <div class="account" *ngIf="page==='share' && Account">
    <div class="account-header">
      <h2>Condividi</h2>
      <p>Il tuo profilo può diventare ancora più visitato se condiviso sui social media preferiti. Condividi subito, invia ad un amico o copia il link.</p>
    </div>
    <div class="account-body">
      <ul class="share-actions">
        <div class="input-group">
          <input type="text" class="form-control" id="link" placeholder="" [(ngModel)]="profile_link" #link disabled>
          <span class="input-group-btn">
            <button type="button" id="next" class="btn btn-default" [clipboard]="link.value" (clipboardCopy)="copyLink($event)" (clipboardError)="copyError($event)"><span>Copia</span></button>
          </span>
        </div>
        <li><button type="button" id="facebook" class="btn btn-facebook" (click)="shareOnFacebook()"><i class="fa fa-facebook"></i><span>Facebook</span></button></li>
        <li><button type="button" id="twitter" class="btn btn-twitter" (click)="shareOnTwitter()"><i class="fa fa-twitter"></i><span>Twitter</span></button></li>
        <li><button type="button" id="google" class="btn btn-google-plus" (click)="shareOnGoogle()"><i class="fa fa-google-plus"></i><span>Google +</span></button></li>
        <li><button type="button" id="linkedin" class="btn btn-linkedin" (click)="shareOnLinkedin()"><i class="fa fa-linkedin"></i><span>LinkedIn</span></button></li>
        <li><button type="button" id="linkedin" class="btn btn-pinterest" (click)="shareOnPinterest()"><i class="fa fa-pinterest-p"></i><span>Pinterest</span></button></li>
        <li><button type="button" id="email" class="btn btn-white" (click)="shareWithEmail()"><i class="fa fa-envelope"></i><span>Email</span></button></li>
      </ul>
    </div>
  </div>

  <div class="account" *ngIf="page==='services' && Account">
    <div class="account-header">
    </div>
    <div class="account-body">
      <div class="services">
        <div class="service-container" *ngFor="let service of Services">
          <div class="service" (click)="showService(service)" [ngStyle]="{'background-image' : ' url(' + checkImageUrlFromService(service) + ')'}">
            <div class="overlay">
              <div class="text-container">
                <div class="title">
                  <span>{{service.title}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="actions">
            <button (click)="shareOnFacebook(service)"><i class="fa fa-facebook" aria-hidden="true"></i></button>
            <button (click)="shareOnTwitter(service)"><i class="fa fa-twitter" aria-hidden="true"></i></button>
            <button (click)="shareOnLinkedin(service)"><i class="fa fa-linkedin" aria-hidden="true"></i></button>
          </div>
        </div>
        <div class="service-container">
          <div class="service" (click)="createService()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="account" *ngIf="page==='reviews'">
    <div class="account-top-bar">Le mie recensioni</div>
    <div class="account-body">
      <div class="reviews">
        <p>Al momento non ci sono ancora recensioni pubblicate o ricevute.</p>
      </div>
    </div>
  </div>

  <div class="account" *ngIf="page==='settings'">
    <div class="account-header">
      <h2>Gestisci la tua email</h2>
    </div>
    <div class="account-body">
      <form>
        <div class="form-group row">
          <label for="email-input" class="col-md-2 col-form-label">Indirizzo email</label>
          <div class="col-md-10">
            <input class="form-control" type="text" id="email-input" [(ngModel)]="Account.email" [ngModelOptions]="{standalone: true}">
            <small class="form-text text-muted">Non condivideremo il tuo indirizzo privato di posta elettronica con altri utenti e non sara mai pubblico.</small>
          </div>
        </div>
        <div class="row row-actions text-right">
          <div class="col-md-12">
            <span class="error-message" *ngIf="account_state.message_error">{{account_state.message_error}}</span>
            <span class="success-message" *ngIf="account_state.message_success">{{account_state.message_success}}</span>
            <button type="submit" class="btn btn-danger" (click)="updateEmail()">Aggiorna Email</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="account" *ngIf="page==='settings'">
    <div class="account-header">
      <h2>Gestisci la tua password</h2>
    </div>
    <div class="account-body">
      <form>
        <div class="form-group row">
          <label for="old-password-input" class="col-md-2 col-form-label">Vecchia Password</label>
          <div class="col-md-10">
            <input type="password" class="form-control" id="old-password-input" name="password" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.old">
          </div>
        </div>
        <div class="form-group row">
          <label for="new-password-input" class="col-md-2 col-form-label">Nuova Password</label>
          <div class="col-md-10">
            <input type="password" class="form-control" id="new-password-input" name="password" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.new">
          </div>
        </div>
        <div class="form-group row">
          <label for="confirm-password-input" class="col-md-2 col-form-label">Conferma Password:</label>
          <div class="col-md-10">
            <input type="password" class="form-control" id="confirm-password-input" name="password" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.confirm">
          </div>
        </div>
        <div class="row row-actions text-right">
          <div class="col-md-12">
            <span class="error-message" *ngIf="password_state.message_error">{{password_state.message_error}}</span>
            <span class="success-message" *ngIf="password_state.message_success">{{password_state.message_success}}</span>
            <button type="submit" class="btn btn-danger" (click)="updatePassword()"><i class="fa fa-circle-o-notch animate" *ngIf="password_state.loading"></i> Aggiorna Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- <div class="account" *ngIf="page==='no'">
    <div class="profile-box">
      <div class="profile-header">
        <h3>Informazioni generali</h3>
        <p>Aggiorna le informazioni del tuo account per rimanere in contatto</p>
      </div>
      <div class="profile-body">
        <form>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="firstname">Nome</label>
                <input type="firstname" class="form-control" id="firstname" name="firstname" placeholder="Nome" [ngClass]="{'error-input': user_state.first_name_error}" [(ngModel)]="User.firstname">
                <small class="error-message" *ngIf="user_state.first_name_error">{{user_state.first_name_error}}</small>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="lastname">Cognome</label>
                <input type="lastname" class="form-control" id="lastname" name="lastname" placeholder="Cognome" [ngClass]="{'error-input': user_state.last_name_error}" [(ngModel)]="User.lastname">
                <small class="error-message" *ngIf="user_state.last_name_error">{{user_state.last_name_error}}</small>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="phone">Telefono</label>
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="Telefono" [ngClass]="{'error-input': user_state.phone_number_error}" [(ngModel)]="User.phone_number">
                <small class="error-message" *ngIf="user_state.phone_number_error">{{user_state.phone_number_error}}</small>
              </div>
            </div>
          </div>
          <div class="actions">
            <a class="btn btn-success" (click)="saveProfile()">{{user_state.button_title}}</a>
          </div>
        </form>
      </div>
      <div class="profile-footer">
        <h5>Privacy del account</h5>
        <h6><small>Le informazioni degli utenti consentono a Starbook di fornire agli utenti stessi l’accesso alle sezioni del Sito cui sono interessati e di fornire il Servizio. Esse mettono inoltre Starbook in grado di fatturare gli importi dovuti e consentono a Starbook o ad un professionista cui l’utente abbia inoltrato un Ordine di contattare l’utente in merito al Servizio.</small></h6>
      </div>
    </div>
  </div> -->

  <!-- <div class="account" *ngIf="page==='payment'">
    <div class="account-header">
      <h3>Metodo di pagamento</h3>
      <p>Aggiorna le informazioni del tuo metodo di pagamento</p>
    </div>
    <div class="card-container" *ngFor="let card of cards">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <h4>{{card.brand}} <small>{{ card.funding }} {{ card.object }}</small> <small *ngIf="defaultCard === card.id">Default</small></h4>
          <div class="information-block">
            <span>Nome:</span>
            {{ card.name }}
          </div>
          <div class="information-block">
            <span>Numero:</span>
            **** {{ card.last4 }}
          </div>
          <div class="information-block">
            <span>Scadenza:</span>
            {{ card.exp_month }}/{{ formatYear(card.exp_year) }}
          </div>
          <div class="information-block">
            <span>Tipo:</span>
            {{ card.brand }} {{ card.funding }} {{ card.object }}
          </div>
          <div class="information-block">
            <span>Indirizzo:</span>
            {{ card.address_line1 }} {{ card.address_line2 }} <br>
            {{ card.address_state }} {{ card.address_city }} <br>
            {{ card.address_zip }} {{ card.address_country }}
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="buttons-block">
            <a class="btn btn-success" *ngIf="defaultCard !== card.id" (click)="selectCard(card.id)">Default</a>
            <a class="btn btn-danger" (click)="deleteCard(card.id)">Rimuovi</a>
            <a class="btn btn-secondary" (click)="editCard(card.id)">Modifica</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <a class="btn btn-secondary" *ngIf="cards?.length===0" (click)="showCardPage()">Aggiungi un metodo</a>
      <a class="btn btn-secondary" *ngIf="cards?.length > 0" (click)="showCardPage()">Aggiungi un altro metodo</a>
    </div>
    <div class="footer-box">
      <h5>Privacy del account</h5>
      <h6><small>Le informazioni degli utenti consentono a Starbook di fornire agli utenti stessi l’accesso alle sezioni del Sito cui sono interessati e di fornire il Servizio. Esse mettono inoltre Starbook in grado di fatturare gli importi dovuti e consentono a Starbook o ad un professionista cui l’utente abbia inoltrato un Ordine di contattare l’utente in merito al Servizio.</small></h6>
    </div>
  </div>
  <div class="account" *ngIf="page==='settings'">
    <div class="account-header">
      <h3>Impostazioni</h3>
      <p>Modifica le informazioni</p>
    </div>
    <form>
      <h4>Aggiorna Email</h4>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="email">La tua email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" [ngClass]="{'error-input': user_state.email_error}" [(ngModel)]="User.email" disabled>
            <small class="error-message" *ngIf="user_state.email_error">{{user_state.email_error}}</small>
          </div>
        </div>
        <div class="col-lg-8">
          <p><small>Dopo aver salvato la nuova email ti invieremo nella attuale email un messaggio di conferma per confermare il nuovo indirizzo.</small></p>
        </div>
      </div>
      <div class="actions">
        <a class="btn btn-success" (click)="saveNewEmail()">Salva</a>
      </div>
      <h4>Cambia Password</h4>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.old_password">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="password">Nuova Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.new_password">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="password">Conferma Nuova Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.confirm_password">
          </div>
        </div>
      </div>
      <div class="messages" *ngIf="password_state.message_error || password_state.message_success">
        <div class="success" *ngIf="password_state.message_success">
          <p><small>{{password_state.message_success}}</small></p>
        </div>
        <div class="error" *ngIf="password_state.message_error">
          <p><small>{{password_state.message_error}}</small></p>
        </div>
      </div>
      <div class="actions">
        <a class="btn btn-success" (click)="changePassword()">{{password_state.button_title}}</a>
      </div>
    </form>
    <div class="footer-box">
      <h5>Esci da starbook</h5>
      <h6><small>Puoi uscire ed entrare in qualsiasi momento dal sito. Le tue informazioni rimangono salvate su Starbook.</small></h6>
      <div class="actions">
        <a class="btn btn-danger" (click)="logout()">Esci</a>
      </div>
    </div>
  </div> -->
</div>

<div class="account-footer">
  <div class="footer">
      <div class="row">
        <div class="col-md-6">
          <p>© 2017 • Starbook Tutti i diritti riservati • <a href="/info/legal" target="_blank"><strong>Terms</strong></a> & <a href="/info/legal" target="_blank"><strong>Privacy Policy</strong></a></p>
        </div>
        <div class="col-md-6 links">
          <p><a routerLink="/info/help" target="_blank">Aiuto e Assistenza</a> • <a (click)="logout()">Esci</a></p>
        </div>
      </div>
  </div>
</div>
