<div class="top-bar-container noselect">
  <ul class="top-bar">
    <li *ngFor="let tab of tabs" [ngClass]="{'active':tab.route === page}" (click)="clickTabItem(tab.route)">{{tab.name}}</li>
  </ul>
</div>

<div class="account-container">

  <div *ngIf="page==='profile' && Account">
    <div class="account">
      <div class="account-top-bar">Foto Profilo</div>
      <div class="account-body">
        <div class="row">
          <div class="col-md-3 text-center">
            <div class="avatar" [ngStyle]="{'background-image' : ' url(' + checkImageUrlFromAccount(Account) + ')'}">
              <div class="overlay"></div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="content">
              <p>Un modo importante per conoscere le persone con cui si ha a che fare. Inserisci una foto profilo dove mostri il tuo volto chiaramente. Carica una foto dalla tua galleria e continua ad usare Starbook in modo regolare.</p>
              <input type="file" (change)="selectProfilePicture($event)" style="display: none;" #file>
              <button type="button" class="btn btn-secondary" name="button" (click)="file.click()"><i class="fa fa-circle-o-notch animate" *ngIf="picture_state.loading"></i> Carica dal computer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="account">
      <div class="account-top-bar">Informazioni Profilo</div>
      <div class="account-body">
        <form>
          <div class="form-group row">
            <label for="firstname-input" class="col-md-2 col-form-label">Nome</label>
            <div class="col-md-10">
              <input class="form-control" type="text" id="firstname-input" [ngClass]="{'error-input': account_state.firstname_error}" [(ngModel)]="Account.profile.firstname" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group row">
            <label for="lastname-input" class="col-md-2 col-form-label">Cognome</label>
            <div class="col-md-10">
              <input class="form-control" type="text" id="lastname-input" [ngClass]="{'error-input': account_state.lastname_error}" [(ngModel)]="Account.profile.lastname" [ngModelOptions]="{standalone: true}">
              <small class="form-text text-muted">Sul tuo profilo pubblico viene visualizzato solo il tuo nome. Quando ordine ricevuto o richiesto sara effetuato si potrà vedere il tuo nome e cognome.</small>
            </div>
          </div>
          <div class="form-group row">
            <label for="description-input" class="col-md-2 col-form-label">Raccontaci di te</label>
            <div class="col-md-10">
              <textarea id="description-input" class="form-control" placeholder="" rows="3" [(ngModel)]="Account.profile.description" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="phone-input" class="col-md-2 col-form-label">Numero di telefono</label>
            <div class="col-md-10">
              <input class="form-control" type="text" id="phone-input" [(ngModel)]="Account.phone_number" [ngModelOptions]="{standalone: true}">
              <small class="form-text text-muted">Il numero sarà condiviso solo quando avrai una prenotazione confermata con un altro utente Starbook. È così che entrerete in contatto.</small>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer-actions">
      <button type="button" class="btn btn-danger" name="button" (click)="saveInformations()"><i class="fa fa-circle-o-notch animate" *ngIf="account_state.loading"></i> Salva</button>
    </div>
  </div>

  <div class="account" *ngIf="page==='services'">
    <div class="account-top-bar">I miei servizi</div>
    <div class="account-body">
      <div class="services">
        <div class="service-container" *ngFor="let service of Services" (click)="showService(service)">
          <div class="service" [ngStyle]="{'background-image' : ' url(' + checkImageUrlFromService(service) + ')'}">
            <div class="overlay">
              <div class="text-container">
                <div class="title">
                  <span>{{service.title}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-container">
          <div class="service" (click)="createService()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="account" *ngIf="page==='reviews'">
    <div class="account-top-bar">Le mie recensioni</div>
    <div class="account-body">
      <div class="reviews">
        <p>Al momento non ci sono ancora recensioni pubblicate o ricevute.</p>
      </div>
    </div>
  </div>

  <div *ngIf="page==='settings'">
    <div class="account">
      <div class="account-top-bar">Gestisci la tua email</div>
      <div class="account-body">
        <form>
          <div class="form-group row">
            <label for="email-input" class="col-md-2 col-form-label">Indirizzo email</label>
            <div class="col-md-10">
              <input class="form-control" type="text" id="email-input" [(ngModel)]="Account.email" [ngModelOptions]="{standalone: true}">
              <small class="form-text text-muted">Non condivideremo il tuo indirizzo privato di posta elettronica con altri utenti e non sara mai pubblico.</small>
            </div>
          </div>
          <div class="row row-actions text-right">
            <div class="col-md-12">
              <span class="error-message" *ngIf="account_state.message_error">{{account_state.message_error}}</span>
              <span class="success-message" *ngIf="account_state.message_success">{{account_state.message_success}}</span>
              <button type="submit" class="btn btn-danger" (click)="updateEmail()">Aggiorna Email</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="account">
      <div class="account-top-bar">Gestisci la tua password</div>
      <div class="account-body">
        <form>
          <div class="form-group row">
            <label for="old-password-input" class="col-md-2 col-form-label">Vecchia Password</label>
            <div class="col-md-10">
              <input type="password" class="form-control" id="old-password-input" name="password" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.old">
            </div>
          </div>
          <div class="form-group row">
            <label for="new-password-input" class="col-md-2 col-form-label">Nuova Password</label>
            <div class="col-md-10">
              <input type="password" class="form-control" id="new-password-input" name="password" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.new">
            </div>
          </div>
          <div class="form-group row">
            <label for="confirm-password-input" class="col-md-2 col-form-label">Conferma Password:</label>
            <div class="col-md-10">
              <input type="password" class="form-control" id="confirm-password-input" name="password" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.confirm">
            </div>
          </div>
          <div class="row row-actions text-right">
            <div class="col-md-12">
              <span class="error-message" *ngIf="password_state.message_error">{{password_state.message_error}}</span>
              <span class="success-message" *ngIf="password_state.message_success">{{password_state.message_success}}</span>
              <button type="submit" class="btn btn-danger" (click)="updatePassword()"><i class="fa fa-circle-o-notch animate" *ngIf="password_state.loading"></i> Aggiorna Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- <div class="account" *ngIf="page==='no'">
    <div class="profile-box">
      <div class="profile-header">
        <h3>Informazioni generali</h3>
        <p>Aggiorna le informazioni del tuo account per rimanere in contatto</p>
      </div>
      <div class="profile-body">
        <form>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="firstname">Nome</label>
                <input type="firstname" class="form-control" id="firstname" name="firstname" placeholder="Nome" [ngClass]="{'error-input': user_state.first_name_error}" [(ngModel)]="User.firstname">
                <small class="error-message" *ngIf="user_state.first_name_error">{{user_state.first_name_error}}</small>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="lastname">Cognome</label>
                <input type="lastname" class="form-control" id="lastname" name="lastname" placeholder="Cognome" [ngClass]="{'error-input': user_state.last_name_error}" [(ngModel)]="User.lastname">
                <small class="error-message" *ngIf="user_state.last_name_error">{{user_state.last_name_error}}</small>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="phone">Telefono</label>
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="Telefono" [ngClass]="{'error-input': user_state.phone_number_error}" [(ngModel)]="User.phone_number">
                <small class="error-message" *ngIf="user_state.phone_number_error">{{user_state.phone_number_error}}</small>
              </div>
            </div>
          </div>
          <div class="actions">
            <a class="btn btn-success" (click)="saveProfile()">{{user_state.button_title}}</a>
          </div>
        </form>
      </div>
      <div class="profile-footer">
        <h5>Privacy del account</h5>
        <h6><small>Le informazioni degli utenti consentono a Starbook di fornire agli utenti stessi l’accesso alle sezioni del Sito cui sono interessati e di fornire il Servizio. Esse mettono inoltre Starbook in grado di fatturare gli importi dovuti e consentono a Starbook o ad un professionista cui l’utente abbia inoltrato un Ordine di contattare l’utente in merito al Servizio.</small></h6>
      </div>
    </div>
  </div> -->

  <!-- <div class="account" *ngIf="page==='payment'">
    <div class="account-header">
      <h3>Metodo di pagamento</h3>
      <p>Aggiorna le informazioni del tuo metodo di pagamento</p>
    </div>
    <div class="card-container" *ngFor="let card of cards">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <h4>{{card.brand}} <small>{{ card.funding }} {{ card.object }}</small> <small *ngIf="defaultCard === card.id">Default</small></h4>
          <div class="information-block">
            <span>Nome:</span>
            {{ card.name }}
          </div>
          <div class="information-block">
            <span>Numero:</span>
            **** {{ card.last4 }}
          </div>
          <div class="information-block">
            <span>Scadenza:</span>
            {{ card.exp_month }}/{{ formatYear(card.exp_year) }}
          </div>
          <div class="information-block">
            <span>Tipo:</span>
            {{ card.brand }} {{ card.funding }} {{ card.object }}
          </div>
          <div class="information-block">
            <span>Indirizzo:</span>
            {{ card.address_line1 }} {{ card.address_line2 }} <br>
            {{ card.address_state }} {{ card.address_city }} <br>
            {{ card.address_zip }} {{ card.address_country }}
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="buttons-block">
            <a class="btn btn-success" *ngIf="defaultCard !== card.id" (click)="selectCard(card.id)">Default</a>
            <a class="btn btn-danger" (click)="deleteCard(card.id)">Rimuovi</a>
            <a class="btn btn-secondary" (click)="editCard(card.id)">Modifica</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <a class="btn btn-secondary" *ngIf="cards?.length===0" (click)="showCardPage()">Aggiungi un metodo</a>
      <a class="btn btn-secondary" *ngIf="cards?.length > 0" (click)="showCardPage()">Aggiungi un altro metodo</a>
    </div>
    <div class="footer-box">
      <h5>Privacy del account</h5>
      <h6><small>Le informazioni degli utenti consentono a Starbook di fornire agli utenti stessi l’accesso alle sezioni del Sito cui sono interessati e di fornire il Servizio. Esse mettono inoltre Starbook in grado di fatturare gli importi dovuti e consentono a Starbook o ad un professionista cui l’utente abbia inoltrato un Ordine di contattare l’utente in merito al Servizio.</small></h6>
    </div>
  </div>
  <div class="account" *ngIf="page==='settings'">
    <div class="account-header">
      <h3>Impostazioni</h3>
      <p>Modifica le informazioni</p>
    </div>
    <form>
      <h4>Aggiorna Email</h4>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="email">La tua email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" [ngClass]="{'error-input': user_state.email_error}" [(ngModel)]="User.email" disabled>
            <small class="error-message" *ngIf="user_state.email_error">{{user_state.email_error}}</small>
          </div>
        </div>
        <div class="col-lg-8">
          <p><small>Dopo aver salvato la nuova email ti invieremo nella attuale email un messaggio di conferma per confermare il nuovo indirizzo.</small></p>
        </div>
      </div>
      <div class="actions">
        <a class="btn btn-success" (click)="saveNewEmail()">Salva</a>
      </div>
      <h4>Cambia Password</h4>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.old_password">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="password">Nuova Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.new_password">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="password">Conferma Nuova Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.confirm_password">
          </div>
        </div>
      </div>
      <div class="messages" *ngIf="password_state.message_error || password_state.message_success">
        <div class="success" *ngIf="password_state.message_success">
          <p><small>{{password_state.message_success}}</small></p>
        </div>
        <div class="error" *ngIf="password_state.message_error">
          <p><small>{{password_state.message_error}}</small></p>
        </div>
      </div>
      <div class="actions">
        <a class="btn btn-success" (click)="changePassword()">{{password_state.button_title}}</a>
      </div>
    </form>
    <div class="footer-box">
      <h5>Esci da starbook</h5>
      <h6><small>Puoi uscire ed entrare in qualsiasi momento dal sito. Le tue informazioni rimangono salvate su Starbook.</small></h6>
      <div class="actions">
        <a class="btn btn-danger" (click)="logout()">Esci</a>
      </div>
    </div>
  </div> -->
</div>

<div class="footer-container">
  <div class="footer">
      <div class="row">
        <div class="col-md-6">
          <p>Starbook © 2017</p>
        </div>
        <div class="col-md-6 links">
          <ul>
            <li><a routerLink="/info/help">Aiuto e Assistenza</a></li>
            <li><a routerLink="/info/legal">Privacy e Condizioni</a></li>
            <li><a (click)="logout()">Esci</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>
