app-recruiter {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
  padding: 70px 0 0;

  .btn-warning {
    width: 100%;
    height: 60px;
    font-weight: 700;
    font-size: 30px;
    i {
      position: absolute;
      left: 20px;
      line-height: 60px;
      top: 0;
      font-size: 30px;
    }
  }
  .recruiter-container {
    max-width: 900px;
    margin: auto;
    padding: 50px 150px;
  }
  .header {
    padding: 0 0 10px;
    margin: 0 0 50px;
  }
  h1 {
    margin: 1.5rem 0 0.5rem;
  }
  p {
    margin: 0 0 1rem;
  }

  .referral-container {
    text-align: center;
    max-width: 1100px;
    margin: auto;
    padding: 50px;

    .btn-facebook, .btn-white, .btn-twitter, .btn-linkedin, .btn-google-plus, .btn-success {
      width: 100%;
      height: 50px;
      font-size: 18px;
      font-weight: 500;
      border-radius: 3px;
    }
    .btn-facebook i, .btn-white i, .btn-twitter i, .btn-success i, .btn-google-plus i, .btn-linkedin i {
      position: absolute;
      font-size: 30px;
      left: 15px;
      top: 10px;
    }
    .invitation {
      max-width: 600px;
      margin: auto;
      // height: 50px;
      .input-group-btn {
        width: 20%;
      }
      .left {
        float: left;
        width: 80%;
      }
      .btn-success{
        font-size: 22px;
      }
    }
    .share-actions {
      margin: 40px 0;
      padding: 40px 0 40px;
      h1 {
        margin: 0 0 40px 0;
        font-weight: 300;
      }
    }
  }

  .input-group .form-control:focus {
    border: 2px solid #7FC443 !important;
  }

  @media (max-width: 768px) {
    .recruiter-container {
      padding: 20px;
    }
  }
  @media (max-width: 425px) {
    .referral-container {
      padding: 20px;
    }
  }
  @media (max-width: 320px) {
    .referral-container {
      padding: 10px;
    }
  }
}
