app-recruiter {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
  padding: 70px 0 0;
  .btn-warning {
    width: 100%;
    height: 60px;
    font-weight: 700;
    font-size: 30px;
    i {
      position: absolute;
      left: 20px;
      line-height: 60px;
      top: 0;
      font-size: 30px;
    }
  }
  .recruiter-container {
    max-width: 900px;
    margin: auto;
    padding: 50px 150px;
  }
  .header {
    padding: 0 0 10px;
  }
  h3 {
    margin: 1.5rem 0 0.5rem;
  }
  p {
    margin: 0 0 1rem;
  }

  @media (max-width: 768px) {
    .recruiter-container {
      padding: 20px;
    }
  }
}
