<nav class="navbar navbar-dark navbar-tabs">
  <div class="container-starbook home-tab-bar"
       (swipeleft)="swipe($event.type, $event.deltaX)"
       (swiperight)="swipe($event.type, $event.deltaX)">
    <ul class="nav nav-pills"
        [ngStyle]="{'margin-left.px': delta}">
      <li class="nav-item" *ngFor="let navServices of servicesCategoryList">
        <a class="nav-link" [ngClass]="{'active':navServices._id===activeServiceCategory && activeServiceCategoryType !== false}" (click)="tabNavigate(navServices._id)"><i class="f{{navServices.icon_name}}"></i> {{navServices.title}}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-starbook home-page" *ngIf="activeServiceCategoryType !== false">
  <div class="row">
    <div class="col-sm-9 col-md-10 main">
      <div class="tab-container">
        <masonry>
          <masonry-brick class="services-block" *ngFor="let serviceCategory of servicesData">
            <div class="header">{{serviceCategory.title}}</div>
            <div class="service content">
              <div class="item" *ngFor="let item of serviceCategory.items" [ngClass]="{'checked':item.selected}" (click)="toggleService(activeServiceCategory, serviceCategory._id, item.name)"><i class="fa fa-check"></i> {{item.name}}</div>
            </div>
          </masonry-brick>
        </masonry>
      </div>

      <app-order [orderData]="orderData" [orderIsFull]="orderIsFull" [activeServiceCategoryType]="activeServiceCategoryType"></app-order>
    </div>
  </div>
</div>
<app-landing *ngIf="activeServiceCategoryType === false" (tabSelect)="tabNavigate($event.id)"></app-landing>