<aside 
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700"
  [ngClass]="containerClass"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <app-menu></app-menu>
  </div>
</aside>

<!-- <div class="layout-sidebar">
  <app-menu></app-menu>
</div>  -->

<!-- <div class="layout-sidebar">
  <app-menu></app-menu>
</div> -->
