<div class="dark-screen" [@shadowState]="shadowState" (click)="closePopup()"></div>
<!-- Login popup -->
<div class="popup" [@loginPopupState]="loginPopupState">
  <div class="alert-block" *ngIf="formError">
    <div class="alert-icn"></div>
    <div class="alert-container">
      <div class="header">Si è verificato un errore!</div>
      <p>{{formError.message}}</p>
    </div>
  </div>
  <div class="header">Accedi</div>
  <form class="login-form" #loginForm="ngForm">
    <div class="form-group" [ngClass]="{'isError': loginError.email}">
      <label for="email">Indirizzo e-mail</label>
      <input id="email" class="form-control" type="email" name="email" placeholder="" required [(ngModel)]="loginData.email" #email="ngModel" (keyup)="checkEmail('login', email.value)" (change)="checkEmail('login', email.value)">
      <span class="error">Indirizzo e-mail non valido</span>
    </div>
    <div class="form-group" [ngClass]="{'isError': loginError.password}">
      <label for="password">Password <a class="recovery" (click)="getPopup('recovery')">Password dimenticata?</a></label>
      <input id="password" class="form-control" type="password" name="password" placeholder="" required [(ngModel)]="loginData.password" #password="ngModel" (keyup)="checkNonEmpty('login', password.value)" (change)="checkNonEmpty('login', password.value)">
      <span class="error">Please enter your password</span>
    </div>
    <div class="form-group">
      <button class="btn btn-warning" type="submit" (click)="login(email.value, password.value)">Accedi</button>
    </div>
    <div class="form-description">
      <span>Sei nuovo su Starbook?</span>
    </div>
    <div class="form-group">
      <button class="btn btn-secondary" (click)="getPopup('registration')">Nuovo account</button>
    </div>
  </form>
</div>

<!-- Registration popup -->
<div class="popup" [@registrationPopupState]="registrationPopupState">
  <div class="alert-block" *ngIf="formError">
    <div class="alert-icn"></div>
    <div class="alert-container">
      <div class="header">{{formError.title}}</div>
      <p>{{formError.message}}</p>
    </div>
  </div>
  <div class="header">Nuovo account</div>
  <form class="registration-form" #registrationForm="ngForm">
    <div class="form-group" [ngClass]="{'isError': registrationError.name}">
      <label for="regName">Il tuo nome completo</label>
      <input id="regName" class="form-control" type="text" name="name" placeholder="" required [(ngModel)]="registrationData.name" #regName="ngModel" (keyup)="checkNonEmpty('registrationName', regName.value)">
      <span class="error">Please enter your name</span>
    </div>
    <div class="form-group" [ngClass]="{'isError': registrationError.email}">
      <label for="regEmail">E-mail</label>
      <input id="regEmail" class="form-control" type="email" name="email" placeholder="" required [(ngModel)]="registrationData.email" #regEmail="ngModel" (keyup)="checkEmail('registration', regEmail.value)">
      <span class="error">Indirizzo e-mail non valido</span>
    </div>
    <div class="form-group" [ngClass]="{'isError': registrationError.passwordFirst}">
      <label for="regPassword">Password</label>
      <input id="regPassword" class="form-control" type="password" name="password" placeholder="" required [(ngModel)]="registrationData.password" #regPassword="ngModel" (keyup)="checkNonEmpty('registrationPassword', regPassword.value)">
      <span class="error">Please enter password</span>
    </div>
    <div class="form-group" [ngClass]="{'isError': registrationError.password}">
      <label for="regPasswordConfirm">Di nuovo la password</label>
      <input id="regPasswordConfirm" class="form-control" type="password" name="passwordConfirm" placeholder="" required [(ngModel)]="registrationData.passwordConfirm" #regPasswordConfirm="ngModel" (keyup)="checkPassword(regPassword.value, regPasswordConfirm.value)">
      <span class="error">Le password non corrispondono</span>
    </div>
    <div class="form-group">
      <button class="btn btn-warning" type="submit" (click)="registration(regName.value, regEmail.value, regPassword.value, regPasswordConfirm.value)">Crea account</button>
    </div>
  </form>
  <div class="form-notice">Accedendo dichiari di aver letto e accetti le <a routerLink="profile/conditions">condizioni generali</a> e <a routerLink="profile/privacy">l’informativa sulla privacy</a></div>
  <div class="login-offer">Hai gia un account su Starbook? <a (click)="getPopup('login')">Accedi</a></div>
</div>

<!-- Recovery popup -->
<div class="popup" [@recoveryPopupState]="recoveryPopupState">
  <div class="alert-block" *ngIf="formError">
    <div class="alert-icn"></div>
    <div class="alert-container">
      <div class="header">{{formError.title}}</div>
      <p>{{formError.message}}</p>
    </div>
  </div>
  <div class="header">Recupera password</div>
  <form class="recovery-form" #recoveryForm="ngForm">
    <div class="form-group" [ngClass]="{'isError': recoveryError.email}">
      <label for="recoveryEmail">E-mail</label>
      <input id="recoveryEmail" class="form-control" type="text" name="name" placeholder="" required [(ngModel)]="recoveryData.email" #recoveryEmail="ngModel" (keyup)="checkEmail('recovery', recoveryEmail.value)">
      <span class="error">Indirizzo e-mail non valido</span>
    </div>
    <div class="form-group">
      <button class="btn btn-warning" type="submit" (click)="recovery(recoveryEmail.value)">Invia email</button>
    </div>
  </form>
  <div class="login-offer">Hai gia un account su Starbook? <a (click)="getPopup('login')">Accedi</a></div>
</div>

<!-- Confirm Order popup -->
<div class="popup" [@confirmPopupState]="confirmPopupState">
  <div class="alert-block" *ngIf="formError">
    <div class="alert-icn"></div>
    <div class="alert-container">
      <div class="header">{{formError.title}}</div>
      <p>{{formError.message}}</p>
    </div>
  </div>
  <div class="header">{{ confirmPopupData.title }}</div>
  <form class="confirm-order-form" #confirmOrderForm="ngForm">
    <p *ngIf="confirmPopupData.type !== 'newOrder'">{{ confirmPopupData.text }}</p>
    <div class="orders-list" *ngIf="confirmPopupData.type == 'newOrder'">
      <span *ngFor="let product of confirmPopupData.data">
        <strong>{{ product.productName }}:</strong>
        {{ product.itemName }}
      </span>
    </div>
    <div class="form-group">
      <button class="btn btn-warning" type="submit" (click)="confirmOrder(confirmPopupData.id)" *ngIf="confirmPopupData.button === 'Conferma'">Conferma</button>
      <button class="btn btn-warning" type="submit" (click)="cancelOrder(confirmPopupData.id)" *ngIf="confirmPopupData.button === 'Annulla ordine'">Annulla ordine</button>
      <button class="btn btn-warning" type="submit" (click)="reactivateOrder(confirmPopupData.id)" *ngIf="confirmPopupData.button === 'Riattiva ordine'">Riattiva ordine</button>
      <button class="btn btn-warning" type="submit" (click)="confirmNewOrder()" *ngIf="confirmPopupData.button === 'Conferma Ordine'">Conferma Ordine</button>
      <button class="btn btn-secondary" type="submit" (click)="closePopup()">Chiudi</button>
    </div>
  </form>
</div>

<!-- Confirm Order Finish popup -->
<div class="popup" [@confirmFinishPopupState]="confirmFinishPopupState">
  <div class="finish-message">
    <div class="header">{{ confirmFinishPopupData.title }}</div>
    <p>{{ confirmFinishPopupData.text }}</p>
    <div class="form-group">
      <button class="btn btn-secondary" type="submit" (click)="closePopup()">Chiudi</button>
    </div>
  </div>
</div>

<!-- Finish popup -->
<div class="popup" [@finishPopupState]="finishPopupState">
  <div class="finish-message">
    <a (click)="closePopup()" class="close-popup"></a>
    <div class="header">Check your inbox</div>
    <p>We sent a password reset link to your email address. Please click the link in the email to create e new password.</p>
    <p>The link will only be active for 1 hour. After that you will need to request a new one.</p>
  </div>
</div>


<!-- Add Card popup -->
<div class="popup" [@addCardPopupState]="addCardPopupState">
  <div class="header">Metodo di pagamento</div>
  <form class="add-card-form" #addCardForm="ngForm">
    <div class="cards-logo">
      <div class="card-item visa"></div>
      <div class="card-item mastercard"></div>
      <div class="card-item amex"></div>
    </div>
    <div class="form-group" [ngClass]="{'isError': addCardError.number}">
      <label for="addCardNumber">Numero carta</label>
      <input id="addCardNumber" class="form-control" type="text" name="addCardNumber" placeholder="" [(ngModel)]="addCardData.number" #addCardNumber="ngModel" (keyup)="checkNonEmpty('addCardNumber', addCardNumber.value)">
      <span class="error">Please enter card number</span>
    </div>
    <div class="form-group">
      <div class="part-group first" [ngClass]="{'isError': addCardError.exp_date}">
        <label for="addExpDate">Scadenza</label>
        <input id="addExpDate" class="form-control" type="text" name="addExpDate" placeholder="MM/AA" [(ngModel)]="addCardData.exp_date" #addCardExpDate="ngModel" (keyup)="checkDate('newCard', addCardExpDate.value)">
        <span class="error">Expiration date isn't correct</span>
      </div>
      <div class="part-group last" [ngClass]="{'isError': addCardError.cvc}">
        <label for="addCVV">CVV</label>
        <input id="addCVV" class="form-control" type="text" name="addCVV" [(ngModel)]="addCardData.cvc" #addCardCVV="ngModel" (keyup)="checkNonEmpty('addCardCvv', addCardCVV.value)">
        <span class="fa fa-question-circle"></span>
        <span class="error">CVV isn't correct</span>
      </div>

    </div>
    <div class="subheader">
      Informazioni facoltativi (collapse)
    </div>
    <div class="form-group">
      <label for="addCardName">Nome intestatario</label>
      <input id="addCardName" class="form-control" type="text" name="addCardName" placeholder="Nome Cognome" [(ngModel)]="addCardData.name" #addCardName="ngModel">
    </div>
    <div class="form-group">
      <div class="part-group first-big">
        <label for="addCardVia">Via</label>
        <input id="addCardVia" class="form-control" type="text" name="addCardVia" [(ngModel)]="addCardData.address_line1" #addCardAddress1="ngModel">
      </div>
      <div class="part-group last-small">
        <label for="addCardNr">Nr</label>
        <input id="addCardNr" class="form-control" type="text" name="addCardNr" [(ngModel)]="addCardData.address_line2" #addCardAddress2="ngModel">
      </div>
    </div>
    <div class="form-group">
      <div class="part-group first-big">
        <label for="addCardCitta">Città</label>
        <input id="addCardCitta" class="form-control" type="text" name="addCardCitta" [(ngModel)]="addCardData.address_city" #addCardAddressCity="ngModel">
      </div>
      <div class="part-group last-small">
        <label for="addCardCap">CAP</label>
        <input id="addCardCap" class="form-control" type="text" name="addCardCap" [(ngModel)]="addCardData.address_zip" #addCardAddressZip="ngModel">
      </div>
    </div>
    <div class="form-group">
      <div class="part-group first">
        <label for="addCardProvincia">Provincia</label>
        <input id="addCardProvincia" class="form-control" type="text" name="addCardProvincia" [(ngModel)]="addCardData.address_state" #addCardAddressState="ngModel">
      </div>
      <div class="part-group last">
        <label for="addCardPease">Paese</label>
        <input id="addCardPease" class="form-control" type="text" name="addCardPease" [(ngModel)]="addCardData.address_country" #addCardAddressCountry="ngModel">
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-warning" type="submit" (click)="addNewCard(addCardNumber.value, addCardExpDate.value, addCardCVV.value, addCardName.value, addCardAddress1.value, addCardAddress2.value, addCardAddressCity.value, addCardAddressZip.value, addCardAddressState.value, addCardAddressCountry.value)">Aggiungi metodo</button>
      <button class="btn btn-secondary" (click)="closePopup()">Chiudi</button>
    </div>
  </form>
</div>