<div class="insert-container">
  <div class="progress-container" *ngIf="step">
    <div class="progress"
    [ngStyle]="{'width': setProgressWidth()}"></div>
  </div>
  <button type="button" id="next" class="btn btn-success back" (click)="undoStep()" *ngIf="step && step!=='intro' && step!=='end'">Indietro</button>

  <div class="insert" *ngIf="step==='intro'">
    <div class="insert-header">
      <h1>Pubblica i tuoi <span class="one">servizi</span>. Aumenta i <span class="two">guadagni</span>.</h1>
    </div>
    <div class="insert-body">
      <div class="category-tags">
        <span class="category-example">Artigianato</span>
        <span class="category-example">Idraulica</span>
        <span class="category-example">Elettrica</span>
        <span class="category-example">Edilizia</span>
        <span class="category-example">Decorazione</span>
        <span class="category-example">Design interno</span>
        <span class="category-example">Serramenti</span>
        <span class="category-example">Isolamenti</span>
        <span class="category-example">Impianti</span>
        <span class="category-example">Falegnameria</span>
        <span class="category-example">Fotografia</span>
      </div>
      <div class="actions">
        <div class="form-group text-center">
          <button type="button" class="btn btn-success" (click)="nextStep()">Inizia ora</button>
        </div>
      </div>
    </div>
  </div>
  <div class="insert" *ngIf="step==='title'">
    <div class="insert-header">
      <h1>Inserisci il titolo del servizio</h1>
      <p>Un titolo breve e chiaro può rendere il tuo servizio unico e più ricercato.</p>
    </div>
    <div class="insert-body">
      <form (keyup.enter)="nextStep()">
        <div class="input-group">
          <input id="titleInput" type="text" class="form-control" placeholder="titolo" [autofocus]="!Service.title" [ngStyle]="{'text-align' : 'center'}" [(ngModel)]="Service.title" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group error">
          <span class="error-text" *ngIf="state.title_error">{{state.title_error}}</span>
        </div>
        <div class="actions">
          <div class="form-group text-center">
            <button type="button" class="btn btn-success" (click)="nextStep()">Avanti</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="insert" *ngIf="step==='pricing'">
    <div class="insert-header">
      <h1>Costo mano d'opera</h1>
      <p>Inserisci il costo di mano d'opera per unità di misura.</p>
      <p>(es: €23 x ora, €190 x giorno)</p>
    </div>
    <div class="insert-body">
      <form (keyup.enter)="nextStep()">
        <div class="price-per-unit">
          <div class="input-group">
            <span class="input-group-addon euro">€</span>
            <input id="pricePerUnitInput" type="text" class="form-control price text-center" placeholder="" [autofocus]="!Service.price" [(ngModel)]="Service.price" (keyup)="updatePrice()" (change)="updatePrice()"  [ngModelOptions]="{standalone: true}">
          </div>
          <span class="per">x</span>
          <span class="input-group">
            <input id="unitInput" type="text" class="form-control unit text-center" placeholder="unità" [(ngModel)]="Service.unit" [ngModelOptions]="{standalone: true}">
          </span>
        </div>
        <div class="form-group error">
          <span class="error-text" *ngIf="state.pricing_error">{{state.pricing_error}}</span>
        </div>
        <div class="actions">
          <div class="form-group text-center">
            <button type="button" class="btn btn-success" (click)="nextStep()">Avanti</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="insert" *ngIf="step==='picture'">
    <div class="insert-header">
      <h1>Inserisci un immagine</h1>
      <p>Le possibilità di ricevere richieste da clienti aumentano significativamente inserendo un immagine di qualità.</p>
    </div>
    <div class="insert-body">
      <form>
        <div class="picture-container">
          <input type="file" (change)="selectServicePicture($event)" style="display: none;" #file>
          <div class="service-picture" (click)="file.click()">
            <i *ngIf="!logo" class="fa fa-camera" aria-hidden="true"></i>
            <img class="img-responsive" [src]="logo" alt="Inserisci immagine">
          </div>
        </div>
        <div class="form-group error">
          <span class="error-text" *ngIf="state.picture_file_error">{{state.picture_file_error}}</span>
        </div>
        <div class="actions">
          <div class="form-group text-center">
            <button type="button" id="next" class="btn btn-success" (click)="nextStep()"><i class="fa fa-circle-o-notch animate" *ngIf="state.picture_file_loading"></i> Continua</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="insert" *ngIf="step==='end'">
    <div class="insert-header">
      <h1>Complimenti</h1>
      <p>Il tuo servizio è stato pubblicato con successo.</p>
    </div>
    <div class="insert-body">
      <div class="form-group text-center">
        <button type="button" id="next" class="btn btn-success" (click)="nextStep()">Avanti</button>
      </div>
    </div>
  </div>

  <div class="insert" *ngIf="step==='register'">
    <div class="insert-header">
      <h1>Ultimo passo</h1>
      <p>Registrazione</p>
    </div>
    <div class="insert-body">
      <form>
        <div class="row">
          <div class="col-md-4">
            <div class="picture-container">
              <input type="file" (change)="selectProfilePicture($event)" style="display: none;" #file>
              <div class="profile-picture" (click)="file.click()">
                <i *ngIf="!profile_picture.file" class="fa fa-camera" aria-hidden="true"></i>
                <img class="img-responsive" [src]="profile_picture.url" alt="Inserisci immagine profilo">
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label for="firstNameInput">Nome</label>
              <input id="firstNameInput" type="firstname" name="firstnam" placeholder="Nome" class="form-control" [ngClass]="{'error-input': signup_state.first_name_error}" [(ngModel)]="signupParameters.firstname" [ngModelOptions]="{standalone: true}">
              <small class="error-message" *ngIf="signup_state.first_name_error">{{signup_state.first_name_error}}</small>
            </div>
            <div class="form-group">
              <label for="lastNameInput">Cognome</label>
              <input id="lastNameInput" type="lastname" name="lastname" placeholder="Cognome" class="form-control" [ngClass]="{'error-input': signup_state.last_name_error}" [(ngModel)]="signupParameters.lastname" [ngModelOptions]="{standalone: true}">
              <small class="error-message" *ngIf="signup_state.last_name_error">{{signup_state.last_name_error}}</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input id="emailInput" type="email" name="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': signup_state.email_error}" [(ngModel)]="signupParameters.email" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="signup_state.email_error">{{signup_state.email_error}}</small>
        </div>
        <div class="form-group">
          <label for="phone">Telefono</label>
          <input id="phoneInput" field="phone" type="text" name="phone" placeholder="Numero di telefono" class="form-control" [ngClass]="{'error-input': signup_state.phone_error}" [(ngModel)]="signupParameters.phone" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="signup_state.phone_error">{{signup_state.phone_error}}</small>
        </div>
        <div class="form-group">
          <label for="passwordInput">Crea una password</label>
          <input id="passwordInput" type="password" name="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': signup_state.password_error}" [(ngModel)]="signupParameters.password" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="signup_state.password_error">{{signup_state.password_error}}</small>
        </div>
        <div class="form-group" *ngIf="signup_state.error_message">
          <div class="alert alert-danger" role="alert">{{signup_state.error_message}}</div>
        </div>
        <div class="form-group text-center">
          <button type="button" class="btn btn-success" (click)="signup()"><i class="fa fa-circle-o-notch animate" *ngIf="signup_state.loading"></i>{{signup_state.button_title}}</button>
        </div>
        <div class="form-group footer-group">
          <span class="text">Sei gia registrato?</span>
          <span class="text enter" (click)="changeToLogin()">Entra</span>
          <span class="text">Continuando dichiari di aver letto e accetti le <a routerlink="/info/legal" href="/info/legal" target="_blank">condizioni generali e l’informativa sulla privacy</a></span>
        </div>
      </form>
    </div>
  </div>
  <div class="insert" *ngIf="step==='login'">
    <div class="insert-header">
      <h1>Ultimo passo</h1>
      <p>Entra</p>
    </div>
    <div class="insert-body">
      <form>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input type="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': login_state.email_error}" id="emailInput" [(ngModel)]="loginParameters.email" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="login_state.email_error">{{login_state.email_error}}</small>
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': login_state.password_error}" id="passwordInput" [(ngModel)]="loginParameters.password" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="login_state.password_error">{{login_state.password_error}}</small>
        </div>
        <div class="form-group" *ngIf="login_state.error_message">
          <div class="alert alert-danger" role="alert">{{login_state.error_message}}</div>
        </div>
        <div class="form-group text-center">
          <button type="button" id="next" class="btn btn-success" (click)="login()"><i class="fa fa-circle-o-notch animate" *ngIf="login_state.loading"></i>{{login_state.button_title}}</button>
        </div>
        <div class="form-group footer-group">
          <span class="text password-forget" (click)="changeToRecoverPassword()">Hai dimenticato la password?</span>
          <span class="text">Non sei ancora registrato?</span>
          <span class="text enter" (click)="changeToSignup()">Registrati</span>
        </div>
      </form>
    </div>
  </div>
  <div class="insert" *ngIf="step==='recover'">
    <div class="insert-header">
      <h1>Recupera password</h1>
      <p>Ti manderemo una mail con il link per cambiare la password.</p>
    </div>
    <div class="insert-body">
      <form>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input type="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': login_state.email_error}" id="emailInput" [(ngModel)]="loginParameters.email" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="login_state.email_error">{{login_state.email_error}}</small>
        </div>
        <div class="form-group text-center">
          <button type="button" id="next" class="btn btn-success" (click)="recoverPassword(loginParameters.email)"><i class="fa fa-circle-o-notch animate" *ngIf="login_state.loading"></i>Recupera</button>
        </div>
        <div class="form-group footer-group">
          <span class="text enter" (click)="changeToLogin()">Accedi</span>
        </div>
      </form>
    </div>
  </div>

  <!-- NOT USED -->
  <div class="insert" *ngIf="step==='unit'">
    <div class="insert-header">
      <h1>Inserisci unità di misura</h1>
      <p>In base che cosa decidi il costo del tuo servizio?</p>
    </div>
    <div class="insert-body">
      <form (keyup.enter)="nextStep()">
        <span class="input-group">
          <input id="unitInput" type="text" class="form-control unit text-center" placeholder="Ora, giorno, metro quadro o altro?" [(ngModel)]="Service.unit" [ngModelOptions]="{standalone: true}">
        </span>
        <div class="form-group text-center">
          <button type="button" id="next" class="btn btn-success" (click)="nextStep()">Avanti</button>
        </div>
      </form>
    </div>
  </div>
  <div class="insert" *ngIf="step==='price'">
    <div class="insert-header">
      <h1>Inserisci un prezzo</h1>
      <p>Qual è il prezzo del servizio per l'unità di misura che hai scelto?</p>
    </div>
    <div class="insert-body">
      <form (keyup.enter)="nextStep()">
        <div class="input-group">
          <input id="pricePerUnitInput" type="text" class="form-control price text-center" placeholder="0 €" [(ngModel)]="Service.price" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group text-center">
          <button type="button" id="next" class="btn btn-success" (click)="nextStep()">Avanti</button>
        </div>
      </form>
    </div>
  </div>
  <div class="insert" *ngIf="step==='preview'">
    <div class="insert-header">
      <h1>Anteprima</h1>
      <p></p>
    </div>
    <div class="insert-body">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="titolo" [ngStyle]="{'text-align' : 'center'}" [(ngModel)]="Service.title" [ngModelOptions]="{standalone: true}">
        </div>
        <span class="input-group">
          <input id="unitInput" type="text" class="form-control unit text-center" placeholder="Ora, giorno, metro quadro o altro?" [(ngModel)]="Service.unit" [ngModelOptions]="{standalone: true}">
        </span>
        <div class="input-group">
          <input id="pricePerUnitInput" type="text" class="form-control price text-center" placeholder="0" [(ngModel)]="Service.price" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="picture-container">
          <input type="file" (change)="selectPicture($event)" style="display: none;" #file>
          <div class="picture" (click)="file.click()">
            <i *ngIf="!logo" class="fa fa-camera" aria-hidden="true"></i>
            <img class="img-responsive" [src]="logo" alt="Inserisci immagine">
          </div>
        </div>
        <div class="form-group text-center">
          <button type="button" id="next" class="btn btn-success" (click)="nextStep()">Pubblica</button>
        </div>
      </form>
    </div>
  </div>
</div>
