<div class="insert-container">
  <div class="progress-container">
    <div class="progress"
    [ngStyle]="{'width': setProgressWidth()}"></div>
  </div>
  <button type="button" id="next" class="btn btn-success back" (click)="undoStep()">Indietro</button>
  <div class="insert-body" *ngIf="step==='title'">
    <div class="title">
      <h1>Inserisci il titolo del servizio</h1>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Inserisci il titolo del servizio" [(ngModel)]="Service.title">
    </div>
    <div class="form-group">
      <button type="button" id="next" class="btn btn-success" (click)="saveStep('title')">Avanti</button>
    </div>
  </div>
  <div class="insert-body" *ngIf="step==='price'">
    <div class="title">
      <h1>Inserisci il prezzo del suo servizio</h1>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Inserisci il prezzo del suo servizio" [(ngModel)]="Service.price">
      <input type="text" class="form-control" placeholder="Inserisci il prezzo del suo servizio" [(ngModel)]="Service.unit">
    </div>
    <div class="form-group">
      <button type="button" id="next" class="btn btn-success" (click)="saveStep('price')">Avanti</button>
    </div>
  </div>
  <div class="insert-body" *ngIf="step==='picture'">
    <div class="title">
      <h1>Inserisci l'immagine</h1>
    </div>
    <!-- <image-upload [max]="100" [url]="'example.com/images/upload'"
    [headers]="[
      {header: 'Authorization', value: 'MyToken'}
    ]"
    [buttonCaption]="'Select Images!'"
    [dropBoxMessage]="'Drop your images here!'"
    (onFileUploadFinish)="imageUploaded($event)"
    (onRemove)="imageRemoved($event)"
    (isPending)="disableSendButton($event)"
    ></image-upload> -->
    <input type="file" (change)="fileEvent($event)">


    <div class="form-group">
      <button type="button" id="next" class="btn btn-success" (click)="saveStep('price')">Avanti</button>
    </div>
  </div>
</div>
