// General styles
$font-name: HelveticaNeue, sans-serif;
$font-name-medium: HelveticaNeue-Medium, sans-serif;
$font-name-light: HelveticaNeue-Light, sans-serif;
$letter-spacing: 0.08px;
$background: #FAFAFA;
$home-background-color: #FFFFFF;
$general-text-color: rgba(66, 66, 66, 0.87);
$general-checked-text-color: rgba(33, 33, 33, 1.0);
$general-background-black-color: #161517;
$white-text-secondary-color: rgba(255,255,255,0.7);
$white-text-primary-color: rgba(255,255,255,1.0);
$black-text-primary-color: rgba(0,0,0,1);
$black-text-secondary-color: rgba(0,0,0,0.7);
$box-border-color: 1px solid #CCCCCC;
$box-background-color: #F7F7F7;

app-legal {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: white;
  font-family: $font-name;
}

.legal-container {
  background: white;
}
.legal-container h1 {
  font-size: 30px;
  letter-spacing: 0.22px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.legal-container h2 {
  font-size: 26px;
  letter-spacing: 0.22px;
}
.legal-container h3 {
  font-size: 20px;
  letter-spacing: 0.22px;
}
.legal-container h4 {
  font-size: 14px;
  letter-spacing: 0.22px;
}
.legal-container h6 {
  font-size: 16px;
  letter-spacing: 0.22px;
}

// Content
.legal-container .legal-content {
  padding-bottom: 100px;
}
