app-service {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  overflow: auto;
  .home-page {
    max-width: 1440px;
    margin: auto;
    .main {
      display: block;
      width: 100%;
      padding-right: 410px;
      padding-left: 0px;
    }
    .tab-container {
      padding: 0 10px 0 20px;
    }
    .row {
      position: relative;
      min-height: 100vh;
      padding: 90px 0 0 0;
      margin: 0;
    }
  }
  .header-cover {
    display: block;
    float: left;
    background-color: red;
    margin-bottom: 20px;
    background-color: #161517;
    color: white;
    width: 100%;
    .header-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 400px;
    }
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      object-position: center center;
    }
    .details {
      padding: 20px;
      h2 {
        font-weight: 400;
        color: white;
        margin-bottom: 5px;
      }
      p {
        font-weight: 400;
        color: rgba(255,255,255,0.7);
        font-size: 16px !important;
      }
      .title {
        font-size: 25px;
        font-weight: 300;
        color: white;
      }
      .description {
        font-size: 16px;
        font-weight: 400;
        color: rgba(255,255,255,0.7);
      }
    }

    .left-block {
      float: left;
      width: 30%;
    }
    .cover-footer {
      display: block;
      float: left;
      width: 100%;
      padding: 30px 20px;
      background-color: #F7F7F7;
      border: 1px solid #CCCCCC;
    }
    .cover-footer .item {
      display: block;
      float: left;
      width: 50%;
      margin: 0 0 20px;
    }
  }
  .cover-footer {
    .item .left-area {
      display: block;
      float: left;
      width: 158px;
    }
    .item .content {
      display: block;
      float: left;
      width: 100%;
      margin-left: -158px;
      padding-left: 173px;
    }
    .item .left-area .header {
      display: block;
      float: left;
      width: 100%;
      color: black;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.1px;
      text-transform: uppercase;
      text-align: right;
    }
    .item .left-area .specifications {
      display: block;
      float: left;
      width: 100%;
      margin-top: 5px;
      font-weight: 700;
      color: #4990E2;
      font-size: 28px;
      letter-spacing: 0.13px;
      text-align: right;
    }
    .item .content {
      display: block;
      float: left;
      width: 100%;
      margin-left: -158px;
      padding-left: 173px;
      font-weight: 300;
      color: black;
      font-size: 14px;
      letter-spacing: 0.1px;
    }
  }
  .masonry-container {
    display: block;
    .services-block {
      display: block;
      float: left;
      width: 100%;
      padding: 50px;
      border: 1px solid #CCCCCC;
      margin-bottom: 20px;
      background-color: white;
      .header {
        display: inline-block;
        width: 100%;
        padding-bottom: 20px;
      }
      .header .content-header {
        float: left;
        padding-right: 10px;
        h3 {
          display: block;
          width: 100%;
          letter-spacing: 0.13px;
          color: black;
          margin-bottom: 15px;
          font-weight: 500;
        }
        p {
          display: block;
          width: 100%;
          font-weight: 400;
          font-size: 16px !important;
          letter-spacing: 0.1px;
          color: rgba(0, 0, 0, 0.7);
        }
      }
      // .header .content-header span {
      //   display: block;
      //   width: 100%;
      //   font-size: 25px;
      //   letter-spacing: 0.13px;
      //   color: black;
      //   margin-bottom: 15px;
      //   font-weight: 500;
      // }
      // .header .content-header .service-description {
      //   display: block;
      //   width: 100%;
      //   font-weight: 400;
      //   font-size: 16px;
      //   letter-spacing: 0.1px;
      //   color: rgba(0, 0, 0, 0.7);
      // }
      .header img {
        width: 40%;
        max-height: 200px;
        object-fit: cover;
      }
      .header .service-image {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 360px;
        height: 140px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .service {
        display: block;
        width: 100%;
      }
      .service .item-container {
        display: block;
        position: relative;
        width: 100%;
        padding: 20px;
        cursor: pointer;
      }
      .service .item-container:hover {
        box-sizing: border-box;
      }
      .service .item-container.image-item {
        padding: 0 105px 20px 0;
      }
      .service .item-container .item {
        display: block;
        position: relative;
        width: 100%;
        padding: 0 0 10px 50px;
        font-size: 17px;
        color: black;
        letter-spacing: 0.1px;
        cursor: pointer;
        -webkit-font-smoothing: initial !important;
        border-radius: 3px;
        font-weight: 600;
      }
      .service .item:hover {
        border-radius: 3px;
      }
      .service .item-container .item i.checkbox {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #161517;
        border: none;
      }
      .service .item-container .item i.checkbox span {
        background-image: url('/assets/images/check.png');
        display: block;
        width: 16px;
        height: 13px;
        margin: 6px 4px 6px 5px;
      }
      .service .item-container .item i.checkbox.empty {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        border: 1px solid #E0E0E0;
        background-color: #ffffff;
      }
      .service .item-container .item:hover i.checkbox.empty {
        border: 1px solid rgba(50, 73, 119, 0.3);
      }
      .service .item-container .item-description {
        display: block;
        width: 100%;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.7);
        font-size: 16px;
        letter-spacing: 0.09px;
        padding: 0 0 0 50px;
        p {
          font-weight: 400;
          color: rgba(0, 0, 0, 0.7);
          font-size: 16px !important;
        }
      }
      .service .item-container .item-image {
        display: block;
        position: absolute;
        top: 0;
        right: 105px;
        width: 110px;
        height: 110px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .service .item.checked {
        font-weight: 400;
        font-size: 14px;
        color: black;
        letter-spacing: 0.09px;
        cursor: pointer;
        -webkit-font-smoothing: initial !important;
      }
      .service .input {
        display: block;
        width: 100%;
        padding: 0 2px 1px 2px;
      }
      .service .input input {
        display: block;
        width: 100%;
        height: 35px;
        padding: 9px 13px 8px 13px;
        text-align: right;
        border-radius: 3px;
        background-color: #FAFAFA;
        border: 1px solid #DCDCDC;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.1px;
        color: black;
        outline: none;
      }
      .service .input-group {
        max-width: 50%;
      }
      .service .input-group input {
        width: 100%;
        border-top: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        border-right: 0px solid #CCCCCC;
        display: block;
        height: 50px;
        padding: 9px 13px 8px 13px;
        text-align: right;
        background-color: white;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 0.1px;
        color: black;
        outline: none;
        box-shadow: none;
      }
      .service .input-group span {
        border-top: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        height: 35px;
        text-align: right;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.1px;
        color: black;
        outline: none;
        background-color: #FAFAFA;
        padding: 0px 25px;
        border-radius: 0;
      }
    }
    .services-block-big {
      display: block;
      position: absolute;
      width: 505px;
      border: none;
      background-color: #F7F7F7;
      margin-bottom: 20px;
      box-shadow: 0 1px 3px 0 #EDEFEF;
    }
    .services-block-big img {
      display: block;
      width: 100%;
      min-height: 130px;
      border-radius: 3px 3px 0 0;
    }
  }

  .tablet-mobile {
    display: none;
  }

  @media (max-width: 1430px) {
    .home-page {
      .tab-container {
        display: block;
        width: 100%;
        margin: 0 auto 20px auto;
      }
    }
  }
  @media (max-width: 1168px) {
    .home-page {
      .tab-container {
        display: block;
        width: 100%;
        margin: 0 auto 0 auto;
      }
    }
    .header-cover img {
      width: 100%;
      height: 400px;
      object-position: bottom;
    }
    .tablet-mobile {
      display: inherit;
    }
    .large-cover {
      display: none;
    }
  }
  @media (max-width: 1024px) {
    .masonry-container {
      .services-block {
        padding: 25px;
      }
    }
  }
  @media (max-width: 906px) {
    .home-page {
      .main {
        padding: 0px;
      }
      .tab-container {
        display: block;
        width: 100%;
        padding: 0 20px;
        // padding: 0 20px;
        // margin: 0 auto;
      }
    }
    .header-cover {
      // margin-left: 0px;
      // margin-right: 0px;
    }
    .masonry-container {
      margin-left: 0px;
      margin-right: 0px;
    }
    .tablet-mobile {
      display: inherit;
    }
  }
  @media (max-width: 645px) {
    .home-page {
      .row {
        padding: 80px 0 0;
      }
      .tab-container {
        display: block;
        width: 525px;
        margin: 0 auto;
        .header-cover {
          margin-bottom: 10px;
        }
      }
    }
    .header-cover {
      margin-left: 0;
      margin-right: 0;
    }
    .header-cover img {
      height: 240px;
    }
    .masonry-container {
      padding: 0px;
      margin-left: 0px;
      margin-right: 0px;
      .services-block {
        margin-bottom: 10px;
      }
    }
  }
  @media (max-width: 534px) {
    .home-page {
      .tab-container {
        display: block;
        width: 100%;
        padding: 0 10px;
      }
    }
    .masonry-container {
      .services-block {
        .service .input-group {
          max-width: 100%;
        }
      }
    }
  }
}
