app-service {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 70px 0 0;
  .service-container {
    max-width: 1440px;
    margin: auto;
    padding: 20px;
    overflow: auto;
    .service {
      overflow: auto;
      .picture-container {
        float: left;
        width: 35%;
        padding: 20px;
        .picture {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 500px;
        }
      }
      .content-container {
        float: left;
        width: 65%;
        padding: 20px;
        .content-header {
          border-bottom: 1px solid #DBDBDB;
          padding-bottom: 10px;
          span {
            display: block;
          }
          .title {
            font-weight: 500;
            font-size: 36px;
          }
          .address {
            font-weight: 300;
            font-size: 18px;
          }
          .subtitle {
            font-weight: 300;
            font-size: 18px;
          }
        }
        .content-body {
          padding: 20px 0;
          .items {
            padding: 10px 0;
            font-size: 18px;
            font-weight: 300;
            .item {
              padding: 5px 0;
            }
            i {
              width: 30px;
              text-align: center;
            }
            .text {
              padding-left: 10px;
            }
          }
          .title-container {
            border-bottom: 1px solid #dce0e0;
            padding: 40px 0 10px;
            span {
              font-weight: 500;
              font-size: 20px;
            }
          }
        }
        .content-pricing {
          .pricing-header {
            padding: 10px 20px;
            // border: 1px solid #DBDBDB;
            background-color: #3c3f40;
            color: white;
            font-weight: 500;
            font-size: 20px;
          }
          .pricing-body {
            padding: 20px;
            border-left: 1px solid #DBDBDB;
            border-right: 1px solid #DBDBDB;
            border-bottom: 1px solid #DBDBDB;
            .input-group {
              .input-group-addon {
                font-size: 16px;
                padding: 0 40px;
                text-transform: uppercase;
                font-weight: 600;
                background: white;
              }
              .form-control {
                font-size: 18px;
              }
            }
            .option {
              padding-top: 20px;
              .title {
                margin-bottom: 10px;
                span {
                  font-size: 22px;
                  font-weight: 700;
                  color: #484848;
                }
              }
              .items {
                overflow: auto;
                text-align: left;
                margin: -10px;
                .item-container {
                  box-sizing: border-box;
                  float: left;
                  margin: auto;
                  padding: 10px;
                  width: calc(100% / 4);
                  cursor: pointer;
                  .item {
                    box-sizing: border-box;
                    border-radius: 5px;
                    border: 1px solid #DCDCDC;
                    padding: 25px 10px;
                    text-align: center;
                    color: #484848;
                    text-transform: uppercase;
                    span {
                      font-size: 14px;
                      font-weight: 600;
                    }
                  }
                  .item:hover {
                    border: 1px solid #3C3F42;
                  }
                  .item:hover.checked , .checked{
                    border: 1px solid #3498db;
                    background: #3498db;
                    color: white;
                  }
                }
              }
            }
          }
          .pricing-footer {
            border-left: 1px solid #DBDBDB;
            border-right: 1px solid #DBDBDB;
            border-bottom: 1px solid #DBDBDB;
            padding: 10px 20px;
            font-weight: 500;
            font-size: 20px;
          }
          .pricing-actions {
            padding: 15px 0;
            .btn {
              padding: 0 40px;
              // font-size: 18px;
              border-radius: 3px;
              background: #D91E18;
            }
          }
        }
        .contentactions {
          padding: 20px 0;
          overflow: auto;
          .btn {
            padding: 0 20px;
            font-size: 20px;
            border-radius: 3px;
            background: #D91E18;
          }
        }
      }
    }
    .review-container {
      padding: 50px 0 0;
      overflow: auto;
      width: 100%;
    }
    .main {
      display: block;
      width: 100%;
      padding-right: 410px;
      padding-left: 0px;
    }
    .tab-container {
      overflow: auto;
      padding: 0 10px 0 20px;
    }
    .row {
      position: relative;
      min-height: 100vh;
      padding: 90px 0 0 0;
      margin: 0;
    }
  }
  .footer-container {
    padding: 100px 50px;
    .footer {
      max-width: 1440px;
      margin: auto;
      overflow: auto;
    }
  }

  .cover-container {
    display: block;
    float: left;
    background-color: #161517;
    color: white;
    width: 100%;
    .cover-header {
      padding: 20px;
      background: #161517;
      text-align: center;
      span {
        font-size: 36px;
        font-weight: 500;
      }
    }
    .cover-body {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 500px;
      .details {
        padding: 20px;
        h2 {
          font-weight: 400;
          color: white;
          margin-bottom: 5px;
        }
        p {
          font-weight: 400;
          color: rgba(255,255,255,0.7);
          font-size: 16px !important;
        }
        .title {
          font-size: 25px;
          font-weight: 300;
          color: white;
        }
        .description {
          font-size: 16px;
          font-weight: 400;
          color: rgba(255,255,255,0.7);
        }
      }
    }
    .cover-footer {
      background: #161517;
      padding: 20px;
    }
  }
  .quotation-container {
    display: block;
    overflow: auto;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    .quotation-header {
      padding: 20px;
      background: #161517;
      color: white;
      border: 1px solid #161517;
      overflow: auto;
      .item-container {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 10px;
        i {
          width: 30px;
          text-align: center;
        }
        .text {
          padding-left: 10px;
        }
      }
      span {
        // font-size: 28px;
        // font-weight: 700;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
    }
    .quotation-body {
      display: block;
      padding: 0 40px 40px;
      // border: 1px solid #e3e3e3;
      border: 1px solid #161517;
      border-top: none;
      border-bottom: none;
      .quantity {
        padding-top: 40px;
        .title {
          // border-bottom: 2px solid #1abc9c;
          // padding-bottom: 10px;
          margin-bottom: 20px;
          span {
            font-size: 20px;
            font-weight: 500;
            color: #29384d;
          }
        }
        .input-group {
          .input-group-addon {
            font-size: 16px;
            padding: 0 40px;
            text-transform: uppercase;
            font-weight: 600;
            // background: #fafafb;
            background: white;
            border: 1px solid #808080;
            border-right: 0;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            color: black;
          }
          .form-control {
            font-size: 18px;
            border: 1px solid #808080;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }
      .option {
        // margin-top: 30px;
        padding-top: 20px;
        .title {
          // border-bottom: 2px solid #1abc9c;
          // padding-bottom: 10px;
          margin-bottom: 20px;
          span {
            font-size: 26px;
            font-weight: 900;
            // color: #29384d;
          }
        }
        .items {
          overflow: auto;
          text-align: left;
          margin: -10px;
          .item-container {
            box-sizing: border-box;
            float: left;
            margin: auto;
            padding: 10px;
            width: calc(100% / 4);
            cursor: pointer;
            .item {
              box-sizing: border-box;
              border-radius: 5px;
              border: 1px solid #808080;
              padding: 25px 10px;
              text-align: center;
              // background: rgba(149, 160, 170, 0.1);
              color: black;
              text-transform: uppercase;
              span {
                font-size: 16px;
                font-weight: 600;
              }
            }
            .item:hover {
              border: 1px solid #2980b9;
              // background: #fafafb;
              // border:none;
              // background: red;
              // color: white;
            }
            .item:hover.checked , .checked{
              border: 1px solid #2980b9;
              background: #2980b9;
              color: white;
            }
          }
        }
      }
    }
    .quotation-footer {
      padding: 0 40px 40px;
      border: 1px solid #161517;
      border-top: none;
      text-align: right;
      .btn {
        width: 100%;
        height: 60px;
        font-size: 24px;
        color: black;
        font-weight: 600;
        padding: 0;
      }
      .btn.btn-warning:hover {
        color: black;
        font-weight: 600;
      }
      .form-group {
        margin-bottom: 0;
      }
    }
  }

  .masonry-container {
    display: block;
    .services-block {
      display: block;
      float: left;
      width: 100%;
      padding: 50px;
      border: 1px solid #CCCCCC;
      margin-bottom: 20px;
      background-color: white;
      .header {
        display: inline-block;
        width: 100%;
        padding-bottom: 20px;
      }
      .header .content-header {
        float: left;
        padding-right: 10px;
        h3 {
          display: block;
          width: 100%;
          letter-spacing: 0.13px;
          color: black;
          margin-bottom: 15px;
          font-weight: 500;
        }
        p {
          display: block;
          width: 100%;
          font-weight: 400;
          font-size: 16px !important;
          letter-spacing: 0.1px;
          color: rgba(0, 0, 0, 0.7);
        }
      }
      // .header .content-header span {
      //   display: block;
      //   width: 100%;
      //   font-size: 25px;
      //   letter-spacing: 0.13px;
      //   color: black;
      //   margin-bottom: 15px;
      //   font-weight: 500;
      // }
      // .header .content-header .service-description {
      //   display: block;
      //   width: 100%;
      //   font-weight: 400;
      //   font-size: 16px;
      //   letter-spacing: 0.1px;
      //   color: rgba(0, 0, 0, 0.7);
      // }
      .header img {
        width: 40%;
        max-height: 200px;
        object-fit: cover;
      }
      .header .service-image {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 360px;
        height: 140px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .service {
        display: block;
        width: 100%;
      }
      .service .item-container {
        display: block;
        position: relative;
        width: 100%;
        padding: 20px;
        cursor: pointer;
      }
      .service .item-container:hover {
        box-sizing: border-box;
      }
      .service .item-container.image-item {
        padding: 0 105px 20px 0;
      }
      .service .item-container .item {
        display: block;
        position: relative;
        width: 100%;
        padding: 0 0 10px 50px;
        font-size: 17px;
        color: black;
        letter-spacing: 0.1px;
        cursor: pointer;
        -webkit-font-smoothing: initial !important;
        border-radius: 3px;
        font-weight: 600;
      }
      .service .item:hover {
        border-radius: 3px;
      }
      .service .item-container .item i.checkbox {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #161517;
        border: none;
      }
      .service .item-container .item i.checkbox span {
        background-image: url('/assets/images/check.png');
        display: block;
        width: 16px;
        height: 13px;
        margin: 6px 4px 6px 5px;
      }
      .service .item-container .item i.checkbox.empty {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        border: 1px solid #E0E0E0;
        background-color: #ffffff;
      }
      .service .item-container .item:hover i.checkbox.empty {
        border: 1px solid rgba(50, 73, 119, 0.3);
      }
      .service .item-container .item-description {
        display: block;
        width: 100%;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.7);
        font-size: 16px;
        letter-spacing: 0.09px;
        padding: 0 0 0 50px;
        p {
          font-weight: 400;
          color: rgba(0, 0, 0, 0.7);
          font-size: 16px !important;
        }
      }
      .service .item-container .item-image {
        display: block;
        position: absolute;
        top: 0;
        right: 105px;
        width: 110px;
        height: 110px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .service .item.checked {
        font-weight: 400;
        font-size: 14px;
        color: black;
        letter-spacing: 0.09px;
        cursor: pointer;
        -webkit-font-smoothing: initial !important;
      }
      .service .input {
        display: block;
        width: 100%;
        padding: 0 2px 1px 2px;
      }
      .service .input input {
        display: block;
        width: 100%;
        height: 35px;
        padding: 9px 13px 8px 13px;
        text-align: right;
        border-radius: 3px;
        background-color: #FAFAFA;
        border: 1px solid #DCDCDC;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.1px;
        color: black;
        outline: none;
      }
      .service .input-group {
        max-width: 50%;
      }
      .service .input-group input {
        width: 100%;
        border-top: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        border-right: 0px solid #CCCCCC;
        display: block;
        height: 50px;
        padding: 9px 13px 8px 13px;
        text-align: right;
        background-color: white;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 0.1px;
        color: black;
        outline: none;
        box-shadow: none;
      }
      .service .input-group span {
        border-top: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        height: 35px;
        text-align: right;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.1px;
        color: black;
        outline: none;
        background-color: #FAFAFA;
        padding: 0px 25px;
        border-radius: 0;
      }
    }
    .services-block-big {
      display: block;
      position: absolute;
      width: 505px;
      border: none;
      background-color: #F7F7F7;
      margin-bottom: 20px;
      box-shadow: 0 1px 3px 0 #EDEFEF;
    }
    .services-block-big img {
      display: block;
      width: 100%;
      min-height: 130px;
      border-radius: 3px 3px 0 0;
    }
  }

  .tablet-mobile {
    display: none;
  }

  @media (max-width: 1430px) {
    .service-container {
      .tab-container {
        display: block;
        width: 100%;
        margin: 0 auto 20px auto;
      }
    }
  }
  @media (max-width: 1168px) {
    .service-container {
      .tab-container {
        display: block;
        width: 100%;
        margin: 0 auto 0 auto;
      }
    }
    .header-container img {
      width: 100%;
      height: 400px;
      object-position: bottom;
    }
    .tablet-mobile {
      display: inherit;
    }
    .large-cover {
      display: none;
    }
  }
  @media (max-width: 1024px) {
    .quotation-container .quotation-body .option .items .item-container {
      width: calc(100% / 2);
    }
    .masonry-container {
      .services-block {
        padding: 25px;
      }
    }
  }
  @media (max-width: 906px) {
    .service-container {
      .main {
        padding: 0px;
      }
      .tab-container {
        display: block;
        width: 100%;
        padding: 0 20px;
        // padding: 0 20px;
        // margin: 0 auto;
      }
    }
    .header-container {
      // margin-left: 0px;
      // margin-right: 0px;
    }
    .masonry-container {
      margin-left: 0px;
      margin-right: 0px;
    }
    .tablet-mobile {
      display: inherit;
    }
  }
  @media (max-width: 645px) {
    .service-container {
      .row {
        padding: 80px 0 0;
      }
      .tab-container {
        display: block;
        width: 525px;
        margin: 0 auto;
        .header-container {
          margin-bottom: 10px;
        }
      }
    }
    .header-container {
      margin-left: 0;
      margin-right: 0;
    }
    .header-container img {
      height: 240px;
    }
    .masonry-container {
      padding: 0px;
      margin-left: 0px;
      margin-right: 0px;
      .services-block {
        margin-bottom: 10px;
      }
    }
  }
  @media (max-width: 534px) {
    .service-container {
      .tab-container {
        display: block;
        width: 100%;
        padding: 0 10px;
      }
    }
    .masonry-container {
      .services-block {
        .service .input-group {
          max-width: 100%;
        }
      }
    }
  }
  @media (max-width: 425px) {
    .quotation-container .quotation-body .option .items .item-container {
      width: 100%;
    }
    .quotation-container .quotation-body .quantity {
      padding-top: 20px;
    }
    .quotation-container .quotation-body {
      padding: 0 20px 20px;
    }
    .quotation-container .quotation-footer {
      padding: 0 20px 20px;
    }
  }
}
