<div class="service-container" *ngIf="Service">
  <div class="service">
    <div class="picture-container">
      <div class="picture" *ngIf="Service._id" [ngStyle]="{'background-image' : ' url(' + 'https://s3-eu-west-1.amazonaws.com/starbook-s3/services/' + Service._id + '/cover/0' + ')'}"></div>
      <div class="picture-footer">
        <span class="left-content">Consiglia ad un amico</span>
        <div class="right-content">
          <button (click)="shareOnFacebook()"><i class="fa fa-facebook" aria-hidden="true"></i></button>
          <button (click)="shareOnTwitter()"><i class="fa fa-twitter" aria-hidden="true"></i></button>
          <button (click)="shareOnEmail()"><i class="fa fa-envelope" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="content-container">
      <span class="content-title" *ngIf="Service.title">{{Service.title}}</span>
      <div class="content-users" *ngIf="Accounts.length>0">
        <span class="title">Servizio offerto da</span>
        <div class="user" *ngFor="let account of Accounts">
          <div class="avatar" *ngIf="!avatar" [ngStyle]="{'background-image' : 'url(' + 'https://s3-eu-west-1.amazonaws.com/starbook-s3/accounts/' + account.account._id + '/avatar/0' + ')'}"></div>
          <div class="username">{{account.account.profile.firstname}}</div>
        </div>
        <!-- <div class="user">
          <div class="avatar" *ngIf="!avatar" [ngStyle]="{'background-image' : 'url(' + 'https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-0/p600x600/13336118_10209659000621290_7924440270107874666_n.jpg?oh=325fdbbcb7df8242be38d269e7fed53b&oe=59E7FF57' + ')'}"></div>
          <div class="username">Paolo</div>
        </div>
        <div class="user">
          <div class="avatar" *ngIf="!avatar" [ngStyle]="{'background-image' : 'url(' + 'https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-0/p600x600/13336118_10209659000621290_7924440270107874666_n.jpg?oh=325fdbbcb7df8242be38d269e7fed53b&oe=59E7FF57' + ')'}"></div>
          <div class="username">Giacomo</div>
        </div> -->
      </div>
      <span class="content-description" *ngIf="Service.description">{{Service.description}}</span>
      <div class="content-pricing" *ngIf="Service.pricing">
        <span class="price">{{getPriceStringPerUnit(Service.pricing.unit.price)}}</span>
        <span class="unit"> / {{Service.pricing.unit.title}}</span>
        <div class="options" *ngFor="let option of Service.pricing.options">
          <!-- <div class="title">
            <span>{{option.title}}</span>
          </div> -->
          <div class="item-container noselect" *ngFor="let item of option.items" (click)="toggleItemOption(item, option)">
            <!-- <i class="checkbox" [ngClass]="{'checked':orderServiceDetailsContainItem(item)}"><span></span></i> -->
            <span class="checkbox" [ngClass]="{'checked':orderServiceDetailsContainItem(item)}"><span></span></span>
            <span class="title">{{item.title}}</span>
            <!-- <i class="checkbox empty"></i> -->
            <!-- <span>{{item.title}}</span> -->
            <!-- <div class="item" [ngClass]="{'checked':orderServiceDetailsContainItem(item)}">
              <span>{{item.title}}</span>
            </div> -->
          </div>
        </div>
        <div class="actions">
          <button class="btn btn-warning" name="button" (click)="bookService()">Prenota</button>
        </div>
      </div>
      <div class="content-reviews">
        <div class="reviews-header">
          <span>34 Recensioni</span> <span></span>
        </div>
        <div class="reviews-body">
          <div class="review">
            <div class="user">
              <div class="avatar"></div>
              <div class="user-content">
                <div class="username">Paolo</div>
                <div class="date">Dicembre 2016</div>
              </div>
            </div>
            <div class="text">
              <span>Vengono realizzate mediante incollaggio diretto della lastra a parete o mediante formazione di una struttura metallica di supporto. All'interno dell'intercapedine vengono poi inseriti materiali termo-isolanti al fine di migliorarne le caratteristiche prestazionali.</span>
            </div>
          </div>
          <div class="review">
            <div class="user">
              <div class="avatar"></div>
              <div class="user-content">
                <div class="username">Paolo</div>
                <div class="date">Dicembre 2016</div>
              </div>
            </div>
            <div class="text">
              <span>Vengono realizzate mediante incollaggio diretto della lastra a parete o mediante formazione di una struttura metallica di supporto. All'interno dell'intercapedine vengono poi inseriti materiali termo-isolanti al fine di migliorarne le caratteristiche prestazionali.</span>
            </div>
          </div>
          <div class="review">
            <div class="user">
              <div class="avatar"></div>
              <div class="user-content">
                <div class="username">Paolo</div>
                <div class="date">Dicembre 2016</div>
              </div>
            </div>
            <div class="text">
              <span>Vengono realizzate mediante incollaggio diretto della lastra a parete o mediante formazione di una struttura metallica di supporto. All'interno dell'intercapedine vengono poi inseriti materiali termo-isolanti al fine di migliorarne le caratteristiche prestazionali.</span>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="content-header"> -->
        <!-- <span class="description" *ngIf="Service.description">{{Service.description}}</span> -->
        <!-- <div class="user"><div class="avatar" [ngStyle]="{'background-image' : ' url(' + 'https://s3-eu-west-1.amazonaws.com/starbook-s3/services/' + Service._id + '/cover/0' + ')'}"></div> <i class="fa fa-user-circle" aria-hidden="true"></i><span class="username"> Luigi Capaldo</span></div> -->
        <!-- <div class="user" *ngIf="Service.supplier_id"> -->
          <!-- <div class="avatar" [ngStyle]="{'background-image' : ' url(' + '/assets/images/icon.png' + ')'}"></div><div class="username">{{}}</div> -->
          <!-- <div class="avatar" [ngStyle]="{'background-image' : ' url(' + '/assets/images/icon.png' + ')'}"></div><div class="username">{{Service.supplier_id}}</div> -->
          <!-- <div class="avatar" [ngStyle]="{'background-image' : ' url(' + 'https://s3-eu-west-1.amazonaws.com/starbook-s3/accounts/' + Service.supplier_id + '/avatar/0' + ')'}"></div><div class="username"></div> -->
          <!-- <div class="avatar" *ngIf="pictureForSupplierIdExist(Service.supplier_id)" [ngStyle]="{'background-image' : ' url(' + pictureForSupplierId(Service.supplier_id) + ')'}"></div> -->
          <!-- <div class="avatar" *ngIf="pictureForSupplierId(Service.supplier_id)" [ngStyle]="{'background-image' : ' url(' + 'https://s3-eu-west-1.amazonaws.com/starbook-s3/accounts/' + Service.supplier_id + '/avatar/0' + ')'}"></div> -->
          <!-- <div class="avatar" [ngStyle]="{'background-image' : ' url(' + '/assets/images/icon.png' + ')'}"></div> -->
          <!-- <div class="avatar" *ngIf="avatar" [ngStyle]="{'background-image' : ' url(' + avatar + ')'}"></div> -->
          <!-- <div class="avatar" *ngIf="!avatar" [ngStyle]="{'background-image' : 'url(' + '/assets/images/icon.png' + ')'}"></div> -->
          <!-- <div class="avatar" *ngIf="getPictureForAccount(Service.supplier_id)" [ngStyle]="{'background-image' : 'url(' + getPictureForAccount(Service.supplier_id) + ')'}"></div> -->
          <!-- <div class="username" *ngIf="Service.supplier">{{Service.supplier.profile.fullname.toLowerCase()}}</div> -->
          <!-- <div class="username" *ngIf="Service.supplier">{{Service.supplier.profile.fullname.toLowerCase()}}</div> -->
        <!-- </div> -->
      <!-- </div> -->
      <!-- <div class="content-body" *ngIf="Service.pricing">
        <span class="cost-description">SPESA IVA INCLUSA</span>
        <span class="price">{{getPriceStringPerUnit(Service.pricing.unit.price)}}</span>
        <span class="unit"> / {{Service.pricing.unit.title}}</span>
        <span class="cost-information">La spesa è legata esclusivamente alla qualità del professionista.</span>
        <div class="actions">
          <button class="btn btn-warning" name="button" (click)="bookService()">Prenota</button>
        </div>
        <div class="block-container">
          <div class="tabbar-container noselect">
            <ul class="tabbar">
              <li *ngFor="let tab of tabs; let i=index;" [ngClass]="{'active':tab===selectedTab}" (click)="clickTabItem(tab)">{{tab}}</li>
            </ul>
          </div>
          <div class="description-container" *ngIf="selectedTab==='Descrizione'">
            <div class="description">
              <span>{{Service.description}}</span>
            </div>
          </div>
          <div class="content-pricing" *ngIf="selectedTab==='Preventivo'">
            <div class="pricing-header">
              <span>Calcola il preventivo</span>
            </div>
            <div class="pricing-body">
              <form *ngIf="Service.pricing">
                <div class="input-group">
                  <span class="input-group-addon">{{Service.pricing.unit.title}}</span>
                  <input class="form-control" type="text" [(ngModel)]="OrderService['details'][0].quantity" (keyup)="changeQuantityForOrderService()" (change)="changeQuantityForOrderService()" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="option" *ngFor="let option of Service.pricing.options">
                  <div class="title">
                    <span>{{option.title}}</span>
                  </div>
                  <div class="items">
                    <div class="item-container noselect" *ngFor="let item of option.items" (click)="toggleItemOption(item, option)">
                      <div class="item" [ngClass]="{'checked':orderServiceDetailsContainItem(item)}">
                        <span>{{item.title}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="pricing-footer">
              <span>Prezzo {{getTotalEstimateQuotation()/100}}€</span>
            </div>
          </div>
          <div class="content-pricing" *ngIf="selectedTab==='Recensioni'">
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<footer class="footer-container">
  <div class="footer">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <a class="btn btn-warning" name="button" routerLink="/insert/intro">Pubblica un servizio</a>
        </div>
        <div class="form-group">
          <a class="btn btn-success" name="button" routerLink="/requests/service">Richiedi un servizio</a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <p>Starbook è un marketplace di artigiani e professionisti dove puoi trovare il servizio che ti serve e prenotarlo direttamente.</p>
        <p class="text-center"><a><strong>Starbook</strong> © 2017 Tutti i diritti riservati</a></p>
      </div>
      <div class="col-md-4 text-center">
        <ul>
          <li><a routerLink="/info/help">Aiuto e Assistenza</a></li>
          <li><a routerLink="/info/legal">Privacy e Condizioni</a></li>
          <li><a routerLink="/contact/partner" *ngIf="currentUser">Diventa partner</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<!-- <div class="service-container">
  <div class="row">
    <div class="col-sm-9 col-md-10 main">
      <div class="tab-container">
        <div class="cover-container" *ngIf="Service.pricing">
          <div class="cover-header">
            <i class="fa fa-facebook" aria-hidden="true"></i><i class="fa fa-twitter" aria-hidden="true"></i><i class="fa fa-envelope" aria-hidden="true"></i>
            <span>{{Service.title}}</span>
          </div>
          <div class="cover-body" [ngStyle]="{'background-image' : ' url(' + 'https://s3-eu-west-1.amazonaws.com/starbook-s3/services/' + Service._id + '/cover/0' + ')'}"></div>
          <div class="cover-footer">
            <div class="item">
              <span class="icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><span class="text">Disponibilità su prenotazione</span><br>
            </div>
            <div class="item">
              <span class="text"><i class="fa fa-clock-o" aria-hidden="true"></i> Durata minima</span>
            </div>
            <div class="item">
              <span class="text"><i class="fa fa-map-marker" aria-hidden="true"></i> Sopraluogo</span><br>
            </div>
            <div class="item">
              <span class="text"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Modalità di pagamento con carta</span>
            </div>
          </div>
        </div>
        <div class="quotation-container" *ngIf="Service.pricing">
          <div class="quotation-header">
            <div class="item-container">
              <i class="fa fa-calendar-check-o" aria-hidden="true"></i><span class="text">Disponibilità su prenotazione</span><br>
            </div>
            <div class="item-container">
              <i class="fa fa-clock-o" aria-hidden="true"></i><span class="text">Durata lavoro</span>
            </div>
            <div class="item-container">
              <i class="fa fa-map-marker" aria-hidden="true"></i><span class="text">Sopralluogo gratuito</span>
            </div>
            <div class="item-container">
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i><span class="text">Pagamento: Carta, Prepagata</span>
            </div>
            <span class="left">Calcola il preventivo</span><span class="right">345€</span>
          </div>
          <div class="quotation-body">
            <div class="quantity">
              <div class="input-group">
                <span class="input-group-addon">{{Service.pricing.unit.title}}</span>
                <input class="form-control" type="text" [(ngModel)]="OrderService['details'][0].quantity" (keyup)="changeQuantityForOrderService()" (change)="changeQuantityForOrderService()">
              </div>
            </div>
            <div class="option" *ngFor="let option of Service.pricing.options">
              <div class="title">
                <span>{{option.title}}</span>
              </div>
              <div class="items">
                <div class="item-container noselect" *ngFor="let item of option.items" (click)="toggleItemOption(item, option)">
                  <div class="item" [ngClass]="{'checked':orderServiceDetailsContainItem(item)}">
                    <span>{{item.title}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="quantity" *ngIf="control.type==='QUANTITY'">
              <span>{{pricing.unit.title}}</span>
              <div class="input-group">
                <span class="input-group-addon">{{form.title}}</span>
                <input class="form-control" type="text" [(ngModel)]="control.value" (keyup)="changeValue()" (change)="changeValue()" (focus)="selectAllContent($event)">
              </div>
            </div>
            <div class="price" *ngIf="control.type==='PRICE'">
              <div class="items-container">
                <span class="title">{{form.title}}</span>
                <div class="items">
                  <div class="item-container" *ngFor="let item of control.items">
                    <div class="item">
                      <span>{{control.title}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="quotation-footer">
            <div class="form-group">
              <button class="btn btn-warning">{{getTotalEstimateQuotation()/100}}€ CONTINUA</button>
            </div>
          </div>
        </div>
        <div class="masonry-container">
          <div class="services-block" *ngFor="let serviceCategory of servicesData">
            <div class="header">
              <div class="content-header" *ngIf="serviceCategory.image_url && serviceCategory.image_url !== ''" [ngStyle]="{'width': '60%'}">
                <h3>{{serviceCategory.title}}</h3>
                <p *ngIf="serviceCategory.description !== ''">{{serviceCategory.description}}</p>
              </div>
              <div class="content-header" *ngIf="!serviceCategory.image_url || serviceCategory.image_url === ''" [ngStyle]="{'width': '100%', 'padding-right' : '0px'}">
                <h3>{{serviceCategory.title}}</h3>
                <p *ngIf="serviceCategory.description !== ''">{{serviceCategory.description}}</p>
              </div>
              <div *ngIf="serviceCategory.image_url && serviceCategory.image_url !== ''">
                <img src="{{serviceCategory.image_url}}" alt="{{serviceCategory.title}}">
              </div>
              <div *ngIf="!serviceCategory.image_url || serviceCategory.image_url == ''">
                <img [ngStyle]="{'display': 'none'}">
              </div>
            </div>
            <div class="service content noselect">
              <span *ngFor="let item of serviceCategory.options">
                <div class="item-container" *ngIf="item.type === 'CHECKBOX' || item.type === 'RADIOBUTTON'" [ngClass]="{'checked':item.selected, 'image-item': item.image_url}" (click)="toggleService(serviceCategory.title, item.title)">
                  <div class="item">
                    <i *ngIf="item.selected===true" class="checkbox"><span></span></i>
                    <i *ngIf="item.selected===false" class="checkbox empty"></i>
                    <h4>{{item.title}}</h4>
                  </div>
                  <div class="item-description" *ngIf="item.description!==''">
                    <p>{{ item.description }}</p>
                  </div>
                  <div class="item-image" *ngIf="item.image_url !== ''" [ngStyle]="{'background-image': 'url(' + item.image_url + ')'}"></div>
                  <div class="item-image" *ngIf="item.image_url == ''" [ngStyle]="{'display': 'none'}"></div>
                </div>
                <div class="input-group" *ngIf="item.type === 'INPUTTEXT'">
                  <input type="text" [(ngModel)]="servicesData[item.formId].options[item.optionId].input_value" (keyup)="changeValue(item.formId, item.optionId)" (change)="changeValue(item.formId, item.optionId)" (focus)="selectAllContent($event)">
                  <span class="input-group-addon">{{servicesData[item.formId].options[item.optionId].value_symbol}}</span>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <app-order *ngIf="Service.pricing" [Service]="Service" [orderServices]="OrderService" [orderData]="orderData" [orderIsFull]="orderIsFull" [price_state] = "price_state"></app-order>
    </div>
  </div>
</div> -->
