<div class="service-container" *ngIf="Service">
  <div class="service">
    <div class="picture-container">
      <div class="picture" *ngIf="Service._id" [ngStyle]="{'background-image' : ' url(' + 'https://s3-eu-west-1.amazonaws.com/starbook-s3/services/' + Service._id + '/cover/0' + ')'}"></div>
      <!-- <i class="fa fa-facebook" aria-hidden="true"></i><i class="fa fa-twitter" aria-hidden="true"></i><i class="fa fa-envelope" aria-hidden="true"></i> -->
      <!-- <span><a href="#">Invia ad un amico</a></span> -->
      <!-- <div class="description">
        <span>{{Service.description}}</span>
      </div> -->
    </div>
    <div class="content-container">
      <div class="content-header">
        <span class="title">{{Service.title}}</span>
        <span class="address">da Milano costruzioni</span>
        <!-- <span class="subtitle">{{Service.description}}</span> -->
      </div>
      <div class="content-body" *ngIf="Service.pricing">
        <span class="price">{{getPriceStringPerUnit(Service.pricing.unit.price)}}</span>
        <span class="unit"> / {{Service.pricing.unit.title}}</span>
        <div class="actions">
          <button class="btn btn-danger" name="button" (click)="bookService()">Prenota</button>
        </div>
        <div class="block-container">
          <div class="tabbar-container noselect">
            <ul class="tabbar">
              <li *ngFor="let tab of tabs; let i=index;" [ngClass]="{'active':tab===selectedTab}" (click)="clickTabItem(tab)">{{tab}}</li>
            </ul>
          </div>
          <div class="description-container" *ngIf="selectedTab==='Descrizione'">
            <div class="description">
              <span>{{Service.description}}</span>
            </div>
          </div>
          <div class="content-pricing" *ngIf="selectedTab==='Preventivo'">
            <div class="pricing-header">
              <span>Calcola il preventivo</span>
            </div>
            <div class="pricing-body">
              <form *ngIf="Service.pricing">
                <div class="input-group">
                  <span class="input-group-addon">{{Service.pricing.unit.title}}</span>
                  <input class="form-control" type="text" [(ngModel)]="OrderService['details'][0].quantity" (keyup)="changeQuantityForOrderService()" (change)="changeQuantityForOrderService()" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="option" *ngFor="let option of Service.pricing.options">
                  <div class="title">
                    <span>{{option.title}}</span>
                  </div>
                  <div class="items">
                    <div class="item-container noselect" *ngFor="let item of option.items" (click)="toggleItemOption(item, option)">
                      <div class="item" [ngClass]="{'checked':orderServiceDetailsContainItem(item)}">
                        <span>{{item.title}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="pricing-footer">
              <span>Prezzo {{getTotalEstimateQuotation()/100}}€</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="review-container">
    <p>This is a review</p>
  </div> -->
</div>
<div class="footer-container">
  <div class="footer">
    <!-- This is the footer -->
  </div>
</div>


<!-- <div class="service-container">
  <div class="row">
    <div class="col-sm-9 col-md-10 main">
      <div class="tab-container">
        <div class="cover-container" *ngIf="Service.pricing">
          <div class="cover-header">
            <i class="fa fa-facebook" aria-hidden="true"></i><i class="fa fa-twitter" aria-hidden="true"></i><i class="fa fa-envelope" aria-hidden="true"></i>
            <span>{{Service.title}}</span>
          </div>
          <div class="cover-body" [ngStyle]="{'background-image' : ' url(' + 'https://s3-eu-west-1.amazonaws.com/starbook-s3/services/' + Service._id + '/cover/0' + ')'}"></div>
          <div class="cover-footer">
            <div class="item">
              <span class="icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><span class="text">Disponibilità su prenotazione</span><br>
            </div>
            <div class="item">
              <span class="text"><i class="fa fa-clock-o" aria-hidden="true"></i> Durata minima</span>
            </div>
            <div class="item">
              <span class="text"><i class="fa fa-map-marker" aria-hidden="true"></i> Sopraluogo</span><br>
            </div>
            <div class="item">
              <span class="text"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Modalità di pagamento con carta</span>
            </div>
          </div>
        </div>
        <div class="quotation-container" *ngIf="Service.pricing">
          <div class="quotation-header">
            <div class="item-container">
              <i class="fa fa-calendar-check-o" aria-hidden="true"></i><span class="text">Disponibilità su prenotazione</span><br>
            </div>
            <div class="item-container">
              <i class="fa fa-clock-o" aria-hidden="true"></i><span class="text">Durata lavoro</span>
            </div>
            <div class="item-container">
              <i class="fa fa-map-marker" aria-hidden="true"></i><span class="text">Sopralluogo gratuito</span>
            </div>
            <div class="item-container">
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i><span class="text">Pagamento: Carta, Prepagata</span>
            </div>
            <span class="left">Calcola il preventivo</span><span class="right">345€</span>
          </div>
          <div class="quotation-body">
            <div class="quantity">
              <div class="input-group">
                <span class="input-group-addon">{{Service.pricing.unit.title}}</span>
                <input class="form-control" type="text" [(ngModel)]="OrderService['details'][0].quantity" (keyup)="changeQuantityForOrderService()" (change)="changeQuantityForOrderService()">
              </div>
            </div>
            <div class="option" *ngFor="let option of Service.pricing.options">
              <div class="title">
                <span>{{option.title}}</span>
              </div>
              <div class="items">
                <div class="item-container noselect" *ngFor="let item of option.items" (click)="toggleItemOption(item, option)">
                  <div class="item" [ngClass]="{'checked':orderServiceDetailsContainItem(item)}">
                    <span>{{item.title}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="quantity" *ngIf="control.type==='QUANTITY'">
              <span>{{pricing.unit.title}}</span>
              <div class="input-group">
                <span class="input-group-addon">{{form.title}}</span>
                <input class="form-control" type="text" [(ngModel)]="control.value" (keyup)="changeValue()" (change)="changeValue()" (focus)="selectAllContent($event)">
              </div>
            </div>
            <div class="price" *ngIf="control.type==='PRICE'">
              <div class="items-container">
                <span class="title">{{form.title}}</span>
                <div class="items">
                  <div class="item-container" *ngFor="let item of control.items">
                    <div class="item">
                      <span>{{control.title}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="quotation-footer">
            <div class="form-group">
              <button class="btn btn-warning">{{getTotalEstimateQuotation()/100}}€ CONTINUA</button>
            </div>
          </div>
        </div>
        <div class="masonry-container">
          <div class="services-block" *ngFor="let serviceCategory of servicesData">
            <div class="header">
              <div class="content-header" *ngIf="serviceCategory.image_url && serviceCategory.image_url !== ''" [ngStyle]="{'width': '60%'}">
                <h3>{{serviceCategory.title}}</h3>
                <p *ngIf="serviceCategory.description !== ''">{{serviceCategory.description}}</p>
              </div>
              <div class="content-header" *ngIf="!serviceCategory.image_url || serviceCategory.image_url === ''" [ngStyle]="{'width': '100%', 'padding-right' : '0px'}">
                <h3>{{serviceCategory.title}}</h3>
                <p *ngIf="serviceCategory.description !== ''">{{serviceCategory.description}}</p>
              </div>
              <div *ngIf="serviceCategory.image_url && serviceCategory.image_url !== ''">
                <img src="{{serviceCategory.image_url}}" alt="{{serviceCategory.title}}">
              </div>
              <div *ngIf="!serviceCategory.image_url || serviceCategory.image_url == ''">
                <img [ngStyle]="{'display': 'none'}">
              </div>
            </div>
            <div class="service content noselect">
              <span *ngFor="let item of serviceCategory.options">
                <div class="item-container" *ngIf="item.type === 'CHECKBOX' || item.type === 'RADIOBUTTON'" [ngClass]="{'checked':item.selected, 'image-item': item.image_url}" (click)="toggleService(serviceCategory.title, item.title)">
                  <div class="item">
                    <i *ngIf="item.selected===true" class="checkbox"><span></span></i>
                    <i *ngIf="item.selected===false" class="checkbox empty"></i>
                    <h4>{{item.title}}</h4>
                  </div>
                  <div class="item-description" *ngIf="item.description!==''">
                    <p>{{ item.description }}</p>
                  </div>
                  <div class="item-image" *ngIf="item.image_url !== ''" [ngStyle]="{'background-image': 'url(' + item.image_url + ')'}"></div>
                  <div class="item-image" *ngIf="item.image_url == ''" [ngStyle]="{'display': 'none'}"></div>
                </div>
                <div class="input-group" *ngIf="item.type === 'INPUTTEXT'">
                  <input type="text" [(ngModel)]="servicesData[item.formId].options[item.optionId].input_value" (keyup)="changeValue(item.formId, item.optionId)" (change)="changeValue(item.formId, item.optionId)" (focus)="selectAllContent($event)">
                  <span class="input-group-addon">{{servicesData[item.formId].options[item.optionId].value_symbol}}</span>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <app-order *ngIf="Service.pricing" [Service]="Service" [orderServices]="OrderService" [orderData]="orderData" [orderIsFull]="orderIsFull" [price_state] = "price_state"></app-order>
    </div>
  </div>
</div> -->
