<div class="home-page">
  <div class="row">
    <div class="col-sm-9 col-md-10 main">
      <div class="tab-container">
        <div class="header-cover">
          <div class="header-image" [ngStyle]="{'background-image' : ' url(' + image_url + ')'}"></div>
          <!-- <img src="{{image_url}}" alt="{{title}}"> -->
          <div class="details">
            <h2>{{ title }}</h2>
            <p>{{ description }}</p>
          </div>
        </div>
        <div class="masonry-container">
          <div class="services-block" *ngFor="let serviceCategory of servicesData">
            <div class="header">
              <div class="content-header" *ngIf="serviceCategory.image_url && serviceCategory.image_url !== ''" [ngStyle]="{'width': '60%'}">
                <h3>{{serviceCategory.title}}</h3>
                <p *ngIf="serviceCategory.description !== ''">{{serviceCategory.description}}</p>
              </div>
              <div class="content-header" *ngIf="!serviceCategory.image_url || serviceCategory.image_url === ''" [ngStyle]="{'width': '100%', 'padding-right' : '0px'}">
                <h3>{{serviceCategory.title}}</h3>
                <p *ngIf="serviceCategory.description !== ''">{{serviceCategory.description}}</p>
              </div>
              <div *ngIf="serviceCategory.image_url && serviceCategory.image_url !== ''">
                <img src="{{serviceCategory.image_url}}" alt="{{serviceCategory.title}}">
              </div>
              <div *ngIf="!serviceCategory.image_url || serviceCategory.image_url == ''">
                <img [ngStyle]="{'display': 'none'}">
              </div>
            </div>
            <div class="service content noselect">
              <span *ngFor="let item of serviceCategory.options">
                <div class="item-container" *ngIf="item.type === 'CHECKBOX' || item.type === 'RADIOBUTTON'" [ngClass]="{'checked':item.selected, 'image-item': item.image_url}" (click)="toggleService(serviceCategory.title, item.title)">
                  <div class="item">
                    <i *ngIf="item.selected===true" class="checkbox"><span></span></i>
                    <i *ngIf="item.selected===false" class="checkbox empty"></i>
                    <h4>{{item.title}}</h4>
                  </div>
                  <div class="item-description" *ngIf="item.description!==''">
                    <p>{{ item.description }}</p>
                  </div>
                  <div class="item-image" *ngIf="item.image_url !== ''" [ngStyle]="{'background-image': 'url(' + item.image_url + ')'}"></div>
                  <div class="item-image" *ngIf="item.image_url == ''" [ngStyle]="{'display': 'none'}"></div>
                </div>
                <div class="input-group" *ngIf="item.type === 'INPUTTEXT'">
                  <input type="text" [(ngModel)]="servicesData[item.formId].options[item.optionId].input_value" (keyup)="changeValue(item.formId, item.optionId)" (change)="changeValue(item.formId, item.optionId)" (focus)="selectAllContent($event)">
                  <span class="input-group-addon">{{servicesData[item.formId].options[item.optionId].value_symbol}}</span>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <app-order [orderData]="orderData" [orderIsFull]="orderIsFull" [price_state] = "price_state"></app-order>
    </div>
  </div>
</div>
