app-landing {
  display: block;
  width: 100%;
  height: 100%;
  padding: 70px 0 0;
  .landing-container {
    background: white;
    .header-container {
      background-image: url('https://s3-eu-west-1.amazonaws.com/starbook-s3/website/starbook-la-cura-per-la-casa.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        .header {
          max-width: 960px;
          margin: auto;
          color: white;
          padding: 140px 30px 100px;
          h1 {
            font-weight: 700;
            font-size: 46px;
            line-height: 55px;
            text-align: left;
            margin-bottom: 30px;
          }
          .header-text {
            margin-bottom: 20px;
            h1 {
              font-weight: 700;
              font-size: 46px;
              line-height: 55px;
              text-align: left;
              margin-bottom: 10px;
            }
            p {
              font-weight: 300;
              font-size: 24px !important;
              font-style: italic;
            }
          }
          .search {
            display: block;
            position: relative;
            width: 100%;
            height: 60px;
            .search-field {
              display: inline-block;
              float: left;
              width: 90%;
            }
            .search-button {
              display: inline-block;
              float: left;
              width: 10%;
            }
            .ui-autocomplete-input {
              display: block;
              width: 100%;
              height: 60px;
              padding: 15px 46px 15px 30px;
              background-color: #FFFFFF;
              border: none;
              box-shadow: none;
              outline: none;
              // color: #212121;
              font-size: 20px;
              letter-spacing: 0.11px;
            }
            .close-container {
              display: block;
              position: absolute;
              top: 17px;
              right: 13%;
            }
            .close-container .close {
              position: relative;
              display: inline-block;
              width: 25px;
              height: 25px;
              overflow: hidden;
              &::before, &::after {
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                top: 50%;
                left: 0;
                margin-top: -1px;
                background: #3498db;
              }
              &::before {
               transform: rotate(45deg);
              }
              &::after {
                transform: rotate(-45deg);
              }
              &.thick {
                &::before, &::after {
                  height: 4px;
                  margin-top: -2px;
                }
              }
              &.rounded {
                &::before, &::after {
                  border-radius: 5px;
                }
              }
            }
            .ui-autocomplete-panel {
              display: block;
              position: absolute;
              overflow-y: auto;
              width: 90% !important;
              background-color: #FFFFFF;
              border-left: 1px solid #DCDCDC;
              border-right: 1px solid #DCDCDC;
              border-bottom: 1px solid #DCDCDC;
              outline: none;
              border-radius: 1px;
              text-align: left;
            }
            .ui-autocomplete-panel .ui-state-highlight .search-result {
              color: white;
              background-color: #3498db;
            }
            .ui-autocomplete-panel .search-result {
              display: block;
              width: 100%;
              color: #212121;
              font-size: 18px;
              letter-spacing: 0.1px;
              padding: 20px 30px;
            }
            .ui-autocomplete-panel.empty {
              margin-top: 0;
            }
            .ui-autocomplete-panel.empty .no-result {
              display: block;
              width: 100%;
              color: #8D9494;
              font-size: 14px;
              letter-spacing: 0.1px;
              padding: 15px 30px;
            }
            .spinner {
              display: block;
              position: absolute;
              top: 15px;
              right: 13%;
              width: 25px;
              height: 25px;
            }
            .btn-primary {
              height: 60px;
              width: 100%;
            }
          }
          .search-panel {
            display: block;
            position: relative;
            background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            border-radius: 2px;
            border: 1px solid black;
            padding: 15px 15px 5px;
            .form-control {
              border: 0;
              font-size: 17px;
            }
            .form-control:focus {
              border-width: 0px !important;
            }
            .form-group label, .input-group label {
              font-size: 17px !important;
              font-weight: 500;
              color: #ffffff !important;
              margin-bottom: 10px !important;
            }
            .fields {
              padding-right: 150px;
              display: table;
              width: 100%;
              *::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color: rgba(0, 0, 0, 0.5) !important;
                opacity: 1 !important;
              }
              *:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: rgba(0, 0, 0, 0.5) !important;
                opacity: 1;
              }
              *::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: rgba(0, 0, 0, 0.5) !important;
                opacity: 1;
              }
              *:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: rgba(0, 0, 0, 0.5) !important;
                opacity: 1 !important;
              }
              *::-ms-input-placeholder { /* Microsoft Edge */
                color: rgba(0, 0, 0, 0.5) !important;
                opacity: 1 !important;
              }
              .form-group .input-group .form-control {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                padding: 0 10px 0 0;
                color: rgba(0, 0, 0, 1.0);
                background: rgba(250, 250, 250, 1);
              }
              .form-group .input-group .input-group-addon {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border: 0;
                font-size: 19px;
                padding: 0 15px;
                background: rgba(250, 250, 250, 1);
                color: black;
                height: 50px;
              }
              .missing-parameter {
                position: absolute;
                display: block;
                height: 30px;
                line-height: 30px;
                padding: 0px 20px;
                background-color: #2c2c2c;
                left: 20px;
                bottom: 0;
                margin-bottom: -29px;
                text-align: center;
                border-radius: 0px;
                font-size: 13px;
                font-weight: 500;
                z-index: 100;
                overflow: hidden;
                border: 1px solid white;
              }
              .service-title {
                float: left;
                width: 69%;
                padding: 0 5px;
                .form-group .input-group {
                  background: white;
                  border-radius: 3px;
                  // border: 1px solid rgba(250, 250, 250, 1);
                }
                .ui-autocomplete-input {
                  display: block;
                  width: 100%;
                  height: 60px;
                  padding-right: 15px;
                  background-color: rgba(250, 250, 250, 1);
                  border: none;
                  box-shadow: none;
                  outline: none;
                  font-size: 17px;
                  letter-spacing: 0.11px;
                  border-top-right-radius: 3px;
                  border-bottom-right-radius: 3px;
                }
                .close-container {
                  display: block;
                  position: absolute;
                  top: 15px;
                  right: 3%;
                }
                .close-container .close {
                  position: relative;
                  display: inline-block;
                  width: 22px;
                  height: 22px;
                  overflow: hidden;
                  &::before, &::after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    top: 50%;
                    left: 0;
                    margin-top: -1px;
                    background: #000000;
                  }
                  &::before {
                   transform: rotate(45deg);
                  }
                  &::after {
                    transform: rotate(-45deg);
                  }
                  &.thick {
                    &::before, &::after {
                      height: 2px;
                      margin-top: -2px;
                    }
                  }
                  &.rounded {
                    &::before, &::after {
                      border-radius: 2px;
                    }
                  }
                }
                .spinner {
                  display: block;
                  position: absolute;
                  top: 15px;
                  right: 3%;
                }
                .ui-autocomplete-panel {
                  display: block;
                  position: absolute;
                  margin-top: 5px;
                  overflow-y: auto;
                  width: 100% !important;
                  background-color: #FFFFFF;
                  outline: none;
                  border-radius: 3px;
                  text-align: left;
                }
                .ui-autocomplete-panel .ui-state-highlight .search-result {
                  color: white;
                  background-color: #FE5766;
                }
                .ui-autocomplete-panel .ui-state-highlight i {
                  color: white;
                }
                .ui-autocomplete-panel i {
                  float: left;
                  color: rgba(0, 0, 0, 0.5);
                  height: 50px;
                  width: 50px;
                  line-height: 50px;
                  text-align: center;
                  font-size: 15px;
                }
                .ui-autocomplete-panel .search-result {
                  display: block;
                  width: 100%;
                  color: #212121;
                  font-size: 17px;
                  letter-spacing: 0.1px;
                  padding: 14px 46px;
                }
                .ui-autocomplete-panel.empty {
                  margin-top: 5px;
                  left: 0;
                }
                .ui-autocomplete-panel.empty .no-result {
                  display: block;
                  width: 100%;
                  color: #8D9494;
                  font-size: 14px;
                  letter-spacing: 0.1px;
                  padding: 15px 30px;
                }
              }
              .service-when {
                float: left;
                width: 31%;
                padding: 0 5px;
                .form-group .input-group {
                  background: white;
                  border-radius: 3px;
                }
                .inner-addon {
                  .form-control {
                    padding-left: 50px;
                  }
                }
                .date .ui-calendar input {
                  width: 100%;
                  border: 0;
                  background: rgba(250, 250, 250, 1);
                }
                .date .ui-datepicker {
                  top: -130px !important;
                  width: 210%;
                }
                .date .ui-datepicker .ui-datepicker-prev {
                  left: 5px;
                }
                .date .ui-datepicker .ui-datepicker-next {
                  right: 5px;
                }
                .date .ui-datepicker .ui-datepicker-title {
                  height: 40px;
                  line-height: 40px;
                }
                .date .ui-datepicker-calendar td a.ui-state-default {
                  font-size: 15px;
                  color: rgba(33, 33, 33, 0.7);
                  font-weight: 800;
                }
                .date .ui-datepicker-calendar td a.ui-state-default:hover,
                .ui-datepicker-calendar td a.ui-state-active {
                  background-color: #FE5766;
                  color: #ffffff !important;
                }
                .ui-datepicker-calendar th span {
                  border-bottom: 1px solid #dbdbdb;
                  font-weight: 500;
                }
                .ui-datepicker-calendar td a.ui-state-disabled:hover {
                  border-radius: 0px;
                  background-color: white !important;
                  color: rgba(33, 33, 33, 0.6) !important;
                  cursor: default;
                }
                .ui-datepicker-calendar td a.ui-state-default.ui-state-disabled:hover {
                  cursor: default;
                  border-radius: 0px;
                  background-color: white !important;
                  color: rgba(33, 33, 33, 0.6) !important;
                }
                .date .ui-datepicker .ui-datepicker-prev span, .date .ui-datepicker .ui-datepicker-next span {
                  font-size: 25px;
                  padding: 0;
                  line-height: 40px;
                  height: auto;
                }
                .date .ui-datepicker .ui-datepicker-prev span,
                .date .ui-datepicker .ui-datepicker-next span {
                  background-color: white;
                  color: rgba(0, 0, 0, 0.5);

                }
                .date .ui-datepicker .ui-datepicker-prev span:hover,
                .date .ui-datepicker .ui-datepicker-next span:hover {
                  background-color: white;
                  color: rgba(0, 0, 0, 0.5);
                }
              }
            }
            .service-action {
              width: 150px;
              padding: 0 5px;
              position: absolute;
              right: 15px;
              bottom: 5px;
              .btn-danger {
                background-color: #fe5766;
                font-size: 19px;
                font-weight: 500;
                border-radius: 3px;
                padding: 0 20px;
                width: 100%;
              }
              .btn-danger:hover {
                background-color: #fe707d;
              }
            }
          }
        }
        .bottom-container {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 20px;
          .arrow {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 20px;
            background-color: rgba(0, 0, 0, 0.0);
          }
          .arrow:before, .arrow:after {
            content:'';
            position: absolute;
            bottom: 0%;
            width: 50%;
            box-sizing: border-box;
          }
          .arrow:before {
            right: 50%;
            border-bottom: 20px solid white;
            border-right: 20px solid transparent;
          }
          .arrow:after {
            left: 50%;
            border-bottom: 20px solid white;
            border-left: 20px solid transparent;
          }
        }
      }
    }
    .category-container {
      display: block;
      text-align: center;
      padding: 30px 0;
      max-width: 1380px;
      margin: auto;
      overflow: auto;
      .category {
        .category-header {
          margin-bottom: 20px;
          h1 {
            text-align: center;
            color: #324978;
            font-weight: 700;
          }
        }
        .category-body {
          overflow-x: hidden;
          white-space: nowrap;
          .service-container {
            display: inline-block;
            width: calc(100% / 5);
            padding: 7px;
            margin-right: -3px;
            .service {
              position: relative;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center top;
              background-color: #161517;
              height: 340px;
              overflow: auto;
              cursor: pointer;
              .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                background: rgba(0, 0, 0, 0.3);
                -webkit-transition: background 0.4s ease;
                   -moz-transition: background 0.4s ease;
                     -o-transition: background 0.4s ease;
                        transition: background 0.4s ease;
              }
              .overlay:hover {
                background: rgba(0, 0, 0, 0.0);
              }
              .text-container {
                display: block;
                position: absolute;
                z-index: 2;
                padding: 20px;
                bottom: 0;
                width: 100%;
                text-align: left;
                background: -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.65) 100%) !important;
                background: -moz-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.65) 100%) !important;
                background: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.65) 100%) !important;
                .title {
                  font-weight: 700;
                  color: white;
                  line-height: 120%;
                  font-size: 25px;
                  text-transform: capitalize;
                  white-space: normal !important;
                  text-align: left;
                }
              }
            }
          }
          .house-service {
            width: calc(100% / 3);
          }
        }
      }
    }
    .services-container {
      display: block;
      text-align: center;
      padding: 50px 0;
      max-width: 1400px;
      margin: auto;
      overflow: auto;
      .services-header {
        text-align: center;
        color: #324978;
        margin-bottom: 40px;
      }
      .services-body {
        overflow: auto;
        white-space: nowrap;
        .service-container {
          display: inline-block;
          width: calc(100% / 6);
          padding: 9px;
          margin-right: -3px;
          .service {
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
            background-color: #161517;
            height: 216px;
            overflow: auto;
            border-radius: 3px;
            cursor: pointer;
            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 10;
              background: rgba(0, 0, 0, 0.2);
              -webkit-transition: background 0.4s ease;
                 -moz-transition: background 0.4s ease;
                   -o-transition: background 0.4s ease;
                      transition: background 0.4s ease;
            }
            .overlay:hover {
              background: rgba(0, 0, 0, 0.15);
            }
            .text-container {
              display: block;
              position: absolute;
              z-index: 2;
              padding: 10px 15px;
              bottom: 0;
              width: 100%;
              text-align: left;
              background: -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.65) 100%) !important;
              background: -moz-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.65) 100%) !important;
              background: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.65) 100%) !important;
              .title {
                font-weight: 500;
                color: white;
                line-height: 115%;
                font-size: 21px;
                text-transform: capitalize;
                white-space: normal !important;
                text-align: left;
              }
            }
          }
        }
      }
    }
    .bullets-container {
      display: block;
      text-align: center;
      padding: 100px 0;
      max-width: 1440px;
      margin: auto;
      h1 {
        text-align: center;
        color: #324978;
      }
      img {
        margin: 0 0 30px;
        width: 30%;
      }
      h3 {
        margin: 0 auto 10px;
        color: #324976;
        max-width: 300px;
        font-weight: 400;
        line-height: inherit;
      }
      h5 {
        margin: auto;
        font-weight: 300;
        max-width: 310px;
        line-height: inherit;
      }
      .bullets {
        padding-top: 40px;
      }
    }
    .professional-container {
      display: block;
      background: #fafcfe;
      background-image: url('https://s3-eu-west-1.amazonaws.com/starbook-s3/website/cantiere.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .btn-warning {
        background: #F6A623;
      }
      .btn-warning:focus {
        background: #F6A623;
      }
      .btn-warning:active:focus {
        background: #e49616;
      }
      .btn-warning:hover {
        background: #e49616;
      }

      .overlay {
        background-color: rgba(0, 0, 0, 0.75);
      }
      .professional {
        color: white;
        padding: 80px 30px;
        max-width: 1200px;
        margin: auto;
        text-align: center;
        h1 {
          font-weight: 300;
        }
        p {
          margin-top: 20px;
          font-weight: 300;
          font-size: 22px !important;
          color: rgba(255, 255, 255, 0.8);
        }
        .btn {
          margin-top: 50px;
          font-weight: 600;
          height: 60px;
          padding: 0 40px;
          border-radius: 3px;
        }

      }
      .text {
        padding: 80px;
        h1 {
          color: #324976;
          font-weight: 700;
          margin-bottom: 30px;
        }
        p {
          color: #4a4a4a;
        }
      }
      .image {
        background-image: url('https://s3-eu-west-1.amazonaws.com/starbook-s3/professionista-su-starbook-icon.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 90%;
        height: 600px;
      }
      img {
        max-width: 40px;
        margin-bottom: 30px;
      }
    }
    .prefooter-container {
      overflow: auto;
      color: rgba(255, 255, 255, 0.7);
      text-align: left;
      background: #161517;
      padding: 50px;
      font-weight: 300;
      .prefooter {
        max-width: 1440px;
        margin: auto;
        h6 {
          font-weight: 300;
        }
        a, a:hover {
          text-decoration: none;
        }
        .list-security {
          display: inline-block;
          max-width: 280px;
          margin: auto;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .list-security img {
          max-height: 40px;
          margin: 5px;
          float: left;
        }
        .list-payment-methods {
          display: inline-block;
          max-width: 280px;
          margin: auto;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .list-payment-methods img {
          max-height: 40px;
          margin: 5px;
          float: left;
        }
        .list-socials {
          display: inline-block;
          max-width: 280px;
          margin: auto;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .list-socials img {
          max-height: 40px;
          margin: 5px;
          float: left;
        }
      }
    }
    .footer {
      padding: 20px;
      background: #0C0B0D;
      border: none;
      p {
        text-align: center;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
      }
      a, a:hover {
         display: inline;
         color: rgba(255, 255, 255, 0.7);
         text-decoration: none;
       }
    }
  }
}

@media (max-width: 1024px) {
  app-landing .landing-container .category-container .category .category-body .service-container {
    width: calc(100% / 4);
  }
  app-landing .landing-container .category-container .category .category-body {
    padding: 0 20px;
    overflow-x: scroll;
  }
  app-landing .landing-container .services-container .services-body {
    overflow-x: scroll;
  }
  app-landing .landing-container .services-container .services-body .service-container {
    width: calc(100% / 4.5);
  }
}
@media (max-width: 768px) {
  app-landing .landing-container .header-container .overlay .header {
    padding: 40px 20px;
  }
  app-landing .landing-container .header-container .overlay .header h1 {
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 47px;
  }
  app-landing .landing-container .header-container .overlay .header .search-panel .fields {
    padding-right: 0;
  }
  app-landing .landing-container .header-container .overlay .header .search-panel .service-action {
    position: initial;
    width: 100%;
    padding-top: 10px;
  }
  app-landing .landing-container .category-container .category .category-body .service-container {
    width: calc(100% / 3);
  }
  app-landing .landing-container .category-container .category .category-body .service-container .service {
    height: 300px;
  }
  app-landing .landing-container .services-container .services-body .service-container {
    width: calc(100% / 3.3);
  }
}
@media (max-width: 425px) {
  app-landing .landing-container .header-container .overlay .header {
    padding: 20px;
  }
  app-landing .landing-container .header-container .overlay .header .search-panel .fields .service-title {
    float: none;
    width: 100%;
  }
  app-landing .landing-container .header-container .overlay .header .search-panel .fields .service-when {
    float: none;
    width: 100%;
  }
  app-landing .landing-container .header-container .overlay .header .search-panel .fields .service-when .date .ui-datepicker {
    width: 100%;
  }
  app-landing .landing-container .header-container .overlay {
    // background-color: rgba(0, 0, 0, 0.7);
  }
  app-landing .landing-container .header-container .header {
    padding: 30px 20px;
  }
  app-landing .landing-container .header-container .header .header-text h1 {
    font-size: 40px;
    line-height: 45px;
  }
  app-landing .landing-container .header-container .header .header-text p {
    font-size: 20px !important;
  }
  app-landing .landing-container .category-container .category .category-body .service-container {
    width: calc(100% / 1.5);
  }
  app-landing .landing-container .category-container .category .category-body .service-container .service {
    height: 260px;
  }
  app-landing .landing-container .landing-header .header .search .close-container {
    right: 23%;
  }
  app-landing .landing-container .landing-header .header .search .spinner {
    right: 23%;
  }
  app-landing .landing-container .landing-header .header .search .ui-autocomplete-panel {
    width: 80% !important;
  }
  app-landing .landing-container .services-container .services-body .service-container {
    width: calc(100% / 1.8);
  }
}
@media (max-width: 375px) {
  app-landing .landing-container .header-container .overlay .header .search-panel .fields .service-when .date .ui-datepicker {
    width: 115%;
  }
  app-landing .landing-container .category-container .category .category-body .service-container {
    width: calc(100% / 1.3);
  }
  app-landing .landing-container .services-container .services-body .service-container {
    width: calc(100% / 1.6);
  }
}
@media (max-width: 320px) {
  app-landing .landing-container .header-container .overlay .header .search-panel .fields .service-when .date .ui-datepicker {
    width: 120%;
  }
  app-landing .landing-container .services-container .services-body .service-container {
    width: calc(100% / 1.3);
  }
}
