app-landing {
  display: block;
  width: 100%;
  height: 100%;
  padding: 70px 0 0;
  .landing-container {
    background: white;
    .header-container {
      background-image: url('https://s3-eu-west-1.amazonaws.com/starbook-s3/website/starbook-la-cura-per-la-casa.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      .overlay {
        background-color: rgba(0, 0, 0, 0.5);
      }
      .header {
        color: white;
        padding: 160px 0;
        text-align: center;
        .actions {
          padding: 40px 0 0;
          .btn {
            border-radius: 30px;
            height: 60px;
            padding: 0 80px;
            font-weight: 700;
            font-size: 26px;
          }
        }
        h1 {
          font-weight: 900;
          font-size: 46px;
          max-width: 900px;
          margin: auto;
          line-height: inherit;
          text-align: left;
          margin-bottom: 20px;
        }
        h2, h3 {
          max-width: 700px;
          margin: auto;
          font-weight: 400;
          margin-bottom: 30px;
        }
        p {
          font-size: 24px !important;
        }
        .search {
          display: block;
          position: relative;
          max-width: 900px;
          width: 100%;
          margin: auto;
          height: 60px;
          .search-field {
            display: inline-block;
            float: left;
            width: 90%;
          }
          .search-button {
            display: inline-block;
            float: left;
            width: 10%;
          }
          .ui-autocomplete-input {
            display: block;
            width: 100%;
            height: 60px;
            padding: 15px 46px 15px 30px;
            background-color: #FFFFFF;
            border: none;
            box-shadow: none;
            outline: none;
            // color: #212121;
            font-size: 20px;
            letter-spacing: 0.11px;
          }
          .close-container {
            display: block;
            position: absolute;
            top: 17px;
            right: 13%;
          }
          .close-container .close{
            position: relative;
            display: inline-block;
            width: 25px;
            height: 25px;
            overflow: hidden;
            &::before, &::after {
              content: '';
              position: absolute;
              height: 2px;
              width: 100%;
              top: 50%;
              left: 0;
              margin-top: -1px;
              background: #3498db;
            }
            &::before {
             transform: rotate(45deg);
            }
            &::after {
              transform: rotate(-45deg);
            }
            &.thick {
              &::before, &::after {
                height: 4px;
                margin-top: -2px;
              }
            }
            &.rounded {
              &::before, &::after {
                border-radius: 5px;
              }
            }
          }
          .ui-autocomplete-panel {
            display: block;
            position: absolute;
            overflow-y: auto;
            width: 90% !important;
            background-color: #FFFFFF;
            border-left: 1px solid #DCDCDC;
            border-right: 1px solid #DCDCDC;
            border-bottom: 1px solid #DCDCDC;
            outline: none;
            border-radius: 1px;
            text-align: left;
          }
          .ui-autocomplete-panel .ui-state-highlight .search-result {
            color: white;
            background-color: #506795;
          }
          .ui-autocomplete-panel .search-result {
            display: block;
            width: 100%;
            color: #212121;
            font-size: 16px;
            letter-spacing: 0.1px;
            padding: 20px 30px;
          }
          .ui-autocomplete-panel.empty {
            margin-top: 0;
          }
          .ui-autocomplete-panel.empty .no-result {
            display: block;
            width: 100%;
            color: #8D9494;
            font-size: 14px;
            letter-spacing: 0.1px;
            padding: 15px 30px;
          }
          .spinner {
            display: block;
            position: absolute;
            top: 15px;
            right: 13%;
            width: 25px;
            height: 25px;
          }
          .btn-primary {
            height: 60px;
            width: 100%;
          }
        }
      }
      .bottom-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 20px;
        .arrow {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 20px;
          background-color: rgba(0, 0, 0, 0.0);
        }
        .arrow:before, .arrow:after {
          content:'';
          position: absolute;
          bottom: 0%;
          width: 50%;
          box-sizing: border-box;
        }
        .arrow:before {
          right: 50%;
          border-bottom: 20px solid white;
          border-right: 20px solid transparent;
        }
        .arrow:after {
          left: 50%;
          border-bottom: 20px solid white;
          border-left: 20px solid transparent;
        }
      }
    }
    .services-container {
      display: block;
      text-align: center;
      padding: 30px 0;
      max-width: 1380px;
      margin: auto;
      h1 {
        text-align: center;
        color: #324978;
      }
      .services {
        padding-top: 20px;
      }
      .service-container {
        padding-top: 15px;
        padding-bottom: 15px;
        .service {
          position: relative;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center top;
          height: 250px;
          cursor: pointer;
          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            -webkit-transition: background 0.4s ease;
            -moz-transition: background 0.4s ease;
            -o-transition: background 0.4s ease;
            transition: background 0.4s ease;
            background: rgba(24, 66, 145, 0.4);
          }
          .overlay:hover {
            background: rgba(24, 66, 145, 1.0);
          }
          h1 {
            text-align: center;
            color: white;
            font-weight: 700;
            position: absolute;
            bottom: 20px;
            left: 20px;
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
    .bullets-container {
      display: block;
      text-align: center;
      padding: 100px 0;
      max-width: 1250px;
      margin: auto;
      h1 {
        text-align: center;
        color: #324978;
      }
      img {
        margin: 0 0 30px;
        width: 30%;
      }
      h3 {
        margin: 0 auto 10px;
        color: #324976;
        max-width: 300px;
        font-weight: 400;
      }
      h5 {
        margin: auto;
        font-weight: 300;
        max-width: 310px;
      }
      .bullets {
        padding-top: 40px;
      }
    }

    .professional-container {
      display: block;
      background: #fafcfe;
      border-top: 1px solid #edf5fc;
      border-bottom: 1px solid #edf5fc;
      .professional {
        max-width: 1250px;
        margin: auto;
      }
      .text {
        padding: 120px;
        h1 {
          color: #324976;
          font-weight: 700;
          margin-bottom: 30px;
        }
        p {
          color: #4a4a4a;
        }
      }
      .image {
        background-image: url('https://s3-eu-west-1.amazonaws.com/starbook-s3/professionista-su-starbook-icon.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 90%;
        height: 600px;
      }
      img {
        max-width: 40px;
        margin-bottom: 30px;
      }
    }
    .price-container {
      display: block;
      background-image: url('https://s3-eu-west-1.amazonaws.com/starbook-s3/website/illustration-city-blue.png');
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 100%;
      height: 450px;
      padding: 100px;
      .text {
        max-width: 700px;
        margin: auto;
        h1 {
          text-align: center;
          color: #324976;
          font-weight: 700;
          margin-bottom: 30px;
        }
        p {
          text-align: center;
          color: #4a4a4a;
        }
      }
    }
    .partnership-container {
      display: block;
      background-image: url('https://s3-eu-west-1.amazonaws.com/starbook-s3/website/illustration-city-blue.png');
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 80%;
      height: 550px;
      padding: 100px;
      max-width: 1440px;
      text-align: center;
      .text {
        max-width: 700px;
        margin: auto;
        h1 {
          text-align: center;
          color: #324976;
          font-weight: 700;
          margin-bottom: 30px;
        }
        p {
          text-align: center;
          color: #4a4a4a;
        }
      }
      button {
        margin-top: 30px;
        padding: 0 40px;
        font-weight: 700;
      }
    }
    .prefooter-container {
      overflow: auto;
      color: rgba(255, 255, 255, 0.7);
      text-align: left;
      background: #161517;
      padding: 50px;
      font-weight: 300;
      .prefooter {
        max-width: 1440px;
        margin: auto;
        h6 {
          font-weight: 300;
        }
        a, a:hover {
          text-decoration: none;
        }
        .list-security {
          display: inline-block;
          max-width: 280px;
          margin: auto;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .list-security img {
          max-height: 40px;
          margin: 5px;
          float: left;
        }
        .list-payment-methods {
          display: inline-block;
          max-width: 280px;
          margin: auto;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .list-payment-methods img {
          max-height: 40px;
          margin: 5px;
          float: left;
        }
        .list-socials {
          display: inline-block;
          max-width: 280px;
          margin: auto;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .list-socials img {
          max-height: 40px;
          margin: 5px;
          float: left;
        }
      }
    }
    .footer {
      padding: 20px;
      background: #0C0B0D;
      border: none;
      p {
        text-align: center;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
      }
      a, a:hover {
         display: inline;
         color: rgba(255, 255, 255, 0.7);
         text-decoration: none;
       }
    }

    .recruiting {
      text-align: center;
      color: #4a4a4a;
      height: 600px;
      text-align: left;
      .join-box, .partner-box {
        display: inline-block;
        float: left;
        width: 50%;
        height: 100%;
        padding: 100px;
        h1 {
          margin: 0 0 20px;
          font-weight: 700;
        }
        p {
          font-weight: 400;
        }
        .btn-primary, .btn-warning {
          margin: 100px 0 0;
          border-radius: 3px;
          font-weight: 600;
          height: 60px;
          padding: 0 40px;
        }
      }
      .join-box {
        background: #ebebeb;
        background-image: url('/assets/images/invite-workers.png');
        background-repeat: no-repeat;
        background-position: center bottom;
      }
      .partner-box {
        background: white;
        background-image: url('/assets/images/Handshake.png');
        background-repeat: no-repeat;
        background-position: 116% 64%;
        background-size: 496px;
      }
    }

    .slogan {
      padding: 60px 0;
      text-align: center;
      background: #164170;
      color: white;
      .title {
        max-width: 600px;
        margin: auto;
        h1,h2 {
          font-weight: 300;
          margin: auto;
          line-height: initial;
        }
      }
    }
    .advantages {
      padding: 100px 10px;
      text-align: center;
      .advantages-container {
        padding: 20px 10px;
        .row {
          text-align: left;
        }
        .title {
          padding: 0 0 60px;
          max-width: 900px;
          margin: auto;
          h1 {
            font-weight: 300;
            max-width: 900px;
            margin: auto;
            margin-bottom: 30px;
          }
          h2 {
            font-weight: 300;
            max-width: 900px;
            margin: auto;
            margin-bottom: 30px;
          }
          h3 {
            font-weight: 300;
            line-height: inherit;
            max-width: 700px;
            margin: auto;
            margin-bottom: 30px;
          }
        }
        p {
          margin: 20px 0;
          text-align: justify;
        }
        .btn {
          border-radius: 30px;
          height: 60px;
          padding: 0 80px;
          font-weight: 700;
          font-size: 26px;
          margin-top: 100px;
        }
      }
    }
    .extensions {
      padding: 100px 10px;
      text-align: center;
      .extensions-container {
        .implementation {
          text-align: center;
          .title {
            padding: 80px 0 0;
          }
        }
        .row {
          text-align: left;
          i {
            float: left;
            width: 100%;
            border-bottom: 1px solid rgba(221, 221, 221, 0.8);
          }
        }
        .title {
          padding: 0 0 60px;
          max-width: 900px;
          margin: auto;
          h1 {
            font-weight: 300;
            max-width: 900px;
            margin: auto;
            margin-bottom: 30px;
          }
          h2 {
            font-weight: 300;
            max-width: 900px;
            margin: auto;
            margin-bottom: 30px;
          }
          h3 {
            font-weight: 300;
            line-height: inherit;
            max-width: 700px;
            margin: auto;
            margin-bottom: 30px;
          }
        }
        p {
          margin: 20px 0;
          text-align: justify;
        }
        .btn {
          border-radius: 30px;
          height: 60px;
          padding: 0 80px;
          font-weight: 700;
          font-size: 26px;
          margin-top: 100px;
        }
        .ext-container {
          padding: 10px 0;
          .ext-box {
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center 100%;
            height: 100px;
            border-radius: 5px;
            text-align: center;
            .overlay {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 10;
              border-radius: 5px;
              color: white;
              line-height: 100px;
              font-size: 20px;
              font-weight: 600;
            }
            .plumber {
              -webkit-transition: background-color 0.6s ease;
              -moz-transition: background-color 0.6s ease;
              -o-transition: background-color 0.6s ease;
              transition: background-color 0.6s ease;
              background-color : rgba(22, 65, 112, 0.90);
            }
            .plumber:hover {
              background-color : rgba(22, 65, 112, 0.80);
            }
            .carpenter {
              -webkit-transition: background-color 0.6s ease;
              -moz-transition: background-color 0.6s ease;
              -o-transition: background-color 0.6s ease;
              transition: background-color 0.6s ease;
              background-color : rgba(78, 49, 28, 0.90);
            }
            .carpenter:hover {
              background-color : rgba(78, 49, 28, 0.80);
            }
            .brick {
              -webkit-transition: background-color 0.6s ease;
              -moz-transition: background-color 0.6s ease;
              -o-transition: background-color 0.6s ease;
              transition: background-color 0.6s ease;
              background-color:rgba(126, 51, 19, 0.90);
            }
            .brick:hover {
              background-color:rgba(126, 51, 19, 0.80);
            }
            .blacksmith {
              -webkit-transition: background-color 0.6s ease;
              -moz-transition: background-color 0.6s ease;
              -o-transition: background-color 0.6s ease;
              transition: background-color 0.6s ease;
              background-color:rgba(4, 1, 2, 0.90);
            }
            .blacksmith:hover {
              background-color:rgba(4, 1, 2, 0.80);
            }
            .eletrical {
              -webkit-transition: background-color 0.6s ease;
              -moz-transition: background-color 0.6s ease;
              -o-transition: background-color 0.6s ease;
              transition: background-color 0.6s ease;
              background-color:rgba(42, 135, 246, 0.90);
            }
            .eletrical:hover {
              background-color:rgba(42, 135, 246, 0.80);
            }
            .painter {
              -webkit-transition: background-color 0.6s ease;
              -moz-transition: background-color 0.6s ease;
              -o-transition: background-color 0.6s ease;
              transition: background-color 0.6s ease;
              background-color:rgba(242, 206, 30, 0.90);
            }
            .painter:hover {
              background-color:rgba(242, 206, 30, 0.80);
            }
          }
        }
        h5 {
          margin-bottom: 20px;
        }
        .checkout-container {
          padding: 10px;
          .checkout-box {
            padding: 40px;
            border: 1px solid #dce0e0;
            .line {
              display: block;
              margin: 10px auto;
              height: 1px;
              border-top: 1px solid #e4e4e4;
            }
            .btn {
              margin: 0;
              border-radius: 0;
              width: 100%;
            }
            .header-summary {
              text-align: left;
              margin: auto;
              overflow: auto;
              .summary-details {
                overflow: auto;
                p {
                  margin: 0;
                  text-align: left;
                }
              }
              h3 {
                margin-bottom: 10px;
              }
              .item {
                float: left;
                width: 50%;
                font-size: 18px;
                font-weight: 300;
                line-height: 36px;
              }
              .amount {
                float: left;
                width: 50%;
                font-size: 20px;
                text-align: right;
                font-weight: 500;
              }
            }
            .payment {
              margin: auto;
              overflow: auto;
              padding: 10px 0;
              .item {
                float: left;
                width: 50%;
                font-size: 20px;
                font-weight: 400;
                line-height: 36px;
                text-align: left;
              }
              .amount {
                float: left;
                width: 50%;
                font-size: 28px;
                text-align: right;
                font-weight: 900;
              }
              .initial {
                .amount {
                  font-weight: 400;
                  text-decoration: line-through;
                }
              }
            }
          }
        }
      }
    }
    .payment {
      padding: 100px 10px;
      text-align: center;
    }
    .request {
      padding: 50px 0;
      .request-container {
        margin: auto;
        background: #ebedef;
        padding: 50px;
        .btn {
          width: 100%;
          height: 60px;
          font-weight: 700;
          font-size: 26px;
        }
        h1 {
          margin-bottom: 40px;
          text-align: center;
        }
        p {
          text-align: center;
        }
      }
    }
    .reviews {
      padding: 100px 10px;
      text-align: center;
      .review-container {
        padding: 20px 10px;
      }
      i {
        color: #FFE16A;
      }
      h5 {
        margin-bottom: 10px;
      }
      .btn {
        border-radius: 30px;
        height: 60px;
        padding: 0 80px;
        font-weight: 700;
        font-size: 26px;
        margin-top: 100px;
      }
      .title {
        margin-bottom: 60px;
      }
      .row {
        text-align: left;
      }
    }
    .share {
      padding: 100px 10px;
      text-align: center;
      .alerts {
        max-width: 700px;
        margin: auto;
      }
      h1 {
        max-width: 900px;
        margin: auto;
        margin-bottom: 30px;
      }
      p {
        max-width: 700px;
        margin: auto;
        margin-bottom: 30px;
      }
      .input-group {
        max-width: 700px;
        margin: auto;
        .input-group-btn {
          width: 20%;
          .btn {
            width: 100%;
          }
        }
      }
    }
    .contacts {
      padding: 50px 0;
      border-top: 1px solid #dce0e0;
    }
  }

  @media (max-width: 1024px) {
    .landing-container {
      .header-container {
        .header {
          padding: 90px 0;
        }
      }
      .services-container {
        padding: 30px;
      }
    }
  }
  @media (max-width: 425px) {
    .landing-container {
      .header {
        padding: 50px 10px;
      }
      .advantages {
        padding: 50px 10px;
        .advantages-container {
          .title {
            padding: 0 0 20px;
          }
          .btn {
            margin-top: 40px;
          }
          .row {
            text-align: center;
          }
        }
      }
      .reviews {
        padding: 50px 10px;
        .title {
          margin-bottom: 20px;
        }
        .review-container {
          text-align: center;
        }
        .btn {
          margin-top: 50px;
        }
      }
      .request-form {
        padding: 50px 20px;
      }
      .share {
        padding: 50px 10px;
      }
    }
  }

}
