<div class="landing-container">
  <div class="header-container">
    <div class="overlay">
      <div class="header">
        <div class="header-text">
          <h1>Prenota il servizio che ti serve se non hai tempo da perdere.</h1>
          <!-- <h1>Prenota il servizio che ti serve senza perdere tempo.</h1> -->
          <p>Su <span>Starbook</span> niente annunci, scegli il servizio, inserisci la data e prenota.</p>
          <!-- <h1>Trova il servizio che ti serve e prenota direttamente.</h1> -->
          <!-- <h5>Niente annunci, scegli il servizio, inserisci la data e prenota</h5> -->
          <!-- <h1>Trova il servizio che hai bisogno, fissa un appuntamento e prenotalo.</h1> -->
          <!-- <h1>Prenotare servizi in modo semplice fissando appuntamento</h1>
          <h1>Trova il servizio che ti serve, con il prezzo giusto e prenotalo.</h1>
          <h1>Trova il miglior servizio per la tua casa, al prezzo giusto e senza attese.</h1> -->
        </div>
        <div class="search">
          <div class="search-field">
            <p-autoComplete [(ngModel)]="query" [suggestions]="results" field="title" scrollHeight="275px" (completeMethod)="search($event)" (onSelect)="selectResult(query)" placeholder="Cerca un servizio" minLength="0">
              <template let-res>
                <div class="search-result" (click)="selectResult(res)">{{ res.title }}</div>
              </template>
            </p-autoComplete>
            <div class="spinner" *ngIf="spinerView">
              <svg width='21px' height='21px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
                <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                <circle cx="50" cy="50" r="45" stroke-dasharray="169.64600329384882 113.09733552923257" stroke="#3B568D" fill="none" stroke-width="10">
                  <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform>
                </circle>
              </svg>
            </div>
            <div class="close-container" *ngIf="!spinerView && clearView">
              <span class="close rounded thick" (click)="clearSearchForm()"></span>
            </div>
            <div class="ui-autocomplete-panel empty" *ngIf="results.length === 0 && query.length > 0">
              <div class="no-result noselect">
                Il servizio "{{query}}" non è disponibile
                <button class="suggess-service" (click)="requireService()">{{newServiceRequest.message}}</button>
              </div>
            </div>
          </div>
          <div class="search-button">
            <button class="btn btn-primary" (click)="searchMore()"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="bottom-container">
        <div class="arrow"></div>
      </div>
    </div>
  </div>
  <div class="category-container" *ngIf="professionals">
    <div class="category">
      <div class="category-header">
        <h1>Professionisti</h1>
      </div>
      <div class="category-body">
        <div class="service-container" *ngFor="let professional of professionals" (click)="selectService(professional)">
          <div class="service" [ngStyle]="{'background-image' : ' url(' + images_url + 'services/'+ professional._id + '/cover/0' + ')'}">
            <div class="overlay">
              <div class="text-container">
                <span class="title">{{ professional.title }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container-fluid services-container">
    <h1>Professionisti</h1>
    <div class="row services">
      <div *ngFor="let category of categories">
        <div class="col-lg-3 col-md-6 col-sm-6 service-container">
          <div class="service" (click)="selectCategory(category)" [ngStyle]="{'background-image' : ' url(' + images_url + 'categories/'+ category._id + '/cover/1' + ')'}">
            <div class="overlay">
              <h1>{{category.title}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="bullets-container">
    <h1>Come funziona</h1>
    <div class="row bullets">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="box">
          <img src="../../../assets/images/service-list.png" class="rounded mx-auto d-block" alt="Seleziona il servizio">
          <h3>Seleziona un servizio</h3>
          <h5>Trova un servizio di cui hai bisogno e seleziona le carateristiche.</h5>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="box">
          <img src="../../../assets/images/service-time.png" class="rounded mx-auto d-block" alt="Calcola preventivo">
          <h3>Ricevi il prezzo immediato</h3>
          <h5>Ricevi in tempo reale un unico prezzo per il servizio, niente attese e niente intermediari.</h5>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="box">
          <img src="../../../assets/images/service-booking.png" class="rounded mx-auto d-block" alt="Ordina il servizio">
          <h3>Ordina il servizio</h3>
          <h5>Scegli il giorno quando vuoi iniziare i lavori, l'indirizzo e ordina direttamente.</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="category-container" *ngIf="inHouseServices">
    <div class="category">
      <div class="category-header">
        <h1>Servizi in casa</h1>
      </div>
      <div class="category-body">
        <div class="service-container house-service" *ngFor="let service of inHouseServices" (click)="selectService(service)">
          <div class="service" [ngStyle]="{'background-image' : ' url(' + images_url + 'services/'+ service._id + '/cover/0' + ')'}">
            <div class="overlay">
              <div class="text-container">
                <span class="title">{{ service.title }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="container-fluid professional-container">
    <div class="row professional">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text">
        <h1>Il miglior professionista</h1>
        <img src="../../../assets/images/star.png" alt="Starbook professionisti">
        <img src="../../../assets/images/star.png" alt="Starbook professionisti">
        <img src="../../../assets/images/star.png" alt="Starbook professionisti">
        <img src="../../../assets/images/star.png" alt="Starbook professionisti">
        <img src="../../../assets/images/star.png" alt="Starbook professionisti">
        <p>Noi lavoriamo solo con i migliori professionisti del settore per assicurarti il miglior risultato finale. Non importa dove abitate o quando avete bisogno, il nostro compito è quello di darvi il meglio.</p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 image">
      </div>
    </div>
  </div> -->
  <!-- <div class="container-fluid partnership-container" *ngIf="!currentUser">
    <div class="text">
      <h1>Programma partnership</h1>
      <p>Il programma partner di Starbook consente alle aziende, agenzie immobiliari, piattaforme software e startup di monetizzare utilizando i nostri servizi tramite potenziali clienti.</p>
    </div>
    <button type="button" class="btn btn-warning" name="button" routerLink="/company">Scopri di più</button>
  </div> -->
  <div class="professional-container">
    <div class="overlay">
      <div class="professional">
        <h1>Sei esperto in qualcosa?</h1>
        <p>Diventa parte di Starbook offrendo i tuoi servizi a clienti interessati.</p>
        <button class="btn btn-warning" routerLink="/company">Scopri di più</button>
      </div>
    </div>
  </div>
  <div class="container-fluid prefooter-container">
    <div class="row prefooter">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <p>Sicurezza del sito</p>
        <div class="list-security">
          <img src="../../../assets/images/norton.png" alt="Norton Security">
          <img src="../../../assets/images/secure.png" alt="100% Secure">
          <img src="../../../assets/images/trust.png" alt="Trusted Website">
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <p>Sistemi di pagamento</p>
        <div class="list-payment-methods">
          <img src="../../../assets/images/mastercard.png" alt="Mastercard">
          <img src="../../../assets/images/visa.png" alt="Visa">
          <img src="../../../assets/images/americanexpress.png" alt="American Express">
          <!-- <img src="../../../assets/images/stripe.png" alt="Stripe"> -->
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <!-- <p><a routerLink="/info/help">Aiuto e Assistenza</a></p> -->
        <p><a routerLink="/info/legal">Privacy e Condizioni</a></p>
        <!-- <p><a routerLink="/contact/partner" *ngIf="currentUser">Diventa partner</a></p> -->
        <p><a routerLink="/insert/title">Pubblica un servizio</a></p>
        <p><a routerLink="/info/about">Chi siamo</a></p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <p>Seguici su</p>
        <div class="list-socials">
          <a href="https://www.facebook.com/starbook.co/" target="_blank"><img src="../../../assets/images/facebook.png" alt="Facebook"></a>
          <a href="https://twitter.com/starbookco/" target="_blank"><img src="../../../assets/images/twitter.png" alt="Twitter"></a>
          <a href="https://www.instagram.com/starbook.co/" target="_blank"><img src="../../../assets/images/instagram.png" alt="Instagram"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p><a routerLink="/"><strong>Starbook</strong> © 2017 Tutti i diritti riservati</a></p>
  </div>
</div>
