<div *ngIf="!page" class="landing-container">
  <div class="header-container">
    <div class="overlay">
      <div class="header">
        <h1>Trova il miglior servizio per la tua casa.<br>Al prezzo giusto e senza attese.</h1>
        <div class="search">
          <div class="search-field">
            <p-autoComplete [(ngModel)]="query" [suggestions]="results" field="title" scrollHeight="275px" (completeMethod)="search($event)" (onSelect)="selectResult(query)" placeholder="Cerca un servizio" minLength="0">
              <template let-res>
                <div class="search-result" (click)="selectResult(res)">{{ res.title }}</div>
              </template>
            </p-autoComplete>
            <div class="spinner" *ngIf="spinerView">
              <svg width='21px' height='21px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
                <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                <circle cx="50" cy="50" r="45" stroke-dasharray="169.64600329384882 113.09733552923257" stroke="#3B568D" fill="none" stroke-width="10">
                  <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform>
                </circle>
              </svg>
            </div>
            <div class="close-container" *ngIf="!spinerView && clearView">
              <span class="close rounded thick" (click)="clearSearchForm()"></span>
            </div>
            <div class="ui-autocomplete-panel empty" *ngIf="results.length === 0 && query.length > 0">
              <div class="no-result noselect">
                Il servizio "{{query}}" non è disponibile
                <button class="suggess-service" (click)="requireService()">{{newServiceRequest.message}}</button>
              </div>
            </div>
          </div>
          <div class="search-button">
            <button class="btn btn-primary" (click)="searchMore()"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="bottom-container">
        <div class="arrow"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid services-container">
    <h1>Servizi più richiesti</h1>
    <div class="row services">
      <div *ngFor="let category of categories">
        <div class="col-lg-3 col-md-6 col-sm-6 service-container">
          <div class="service" (click)="selectCategory(category)" [ngStyle]="{'background-image' : ' url(' + images_url + 'categories/'+ category._id + '/cover/1' + ')'}">
            <div class="overlay">
              <h1>{{category.title}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bullets-container">
    <h1>Come funziona</h1>
    <div class="row bullets">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="box">
          <img src="../../../assets/images/service-list.png" class="rounded mx-auto d-block" alt="Seleziona il servizio">
          <h3>Seleziona un servizio</h3>
          <h5>Trova un servizio di cui hai bisogno e seleziona le carateristiche.</h5>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="box">
          <img src="../../../assets/images/service-time.png" class="rounded mx-auto d-block" alt="Calcola preventivo">
          <h3>Ricevi il preventivo immediato</h3>
          <h5>Ricevi in tempo reale un unico prezzo per il servizio, niente attese e niente intermediari.</h5>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="box">
          <img src="../../../assets/images/service-booking.png" class="rounded mx-auto d-block" alt="Ordina il servizio">
          <h3>Ordina il servizio</h3>
          <h5>Scegli il giorno quando vuoi iniziare i lavori, l'indirizzo dove si trova la tua casa e ordina direttamente.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid professional-container">
    <div class="row professional">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text">
        <h1>Il miglior professionista</h1>
        <img src="../../../assets/images/star.png" alt="Starbook professionisti"><img src="../../../assets/images/star.png" alt="Starbook professionisti"><img src="../../../assets/images/star.png" alt="Starbook professionisti"><img src="../../../assets/images/star.png" alt="Starbook professionisti"><img src="../../../assets/images/star.png" alt="Starbook professionisti">
        <p>Noi lavoriamo solo con i migliori professionisti del settore per assicurarti il miglior risultato finale. Non importa dove abitate o quando avete bisogno, il nostro compito è quello di darvi il meglio.</p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 image">
      </div>
    </div>
  </div>
  <div class="container-fluid partnership-container">
    <div class="text">
      <h1>Programma partnership</h1>
      <p>Il programma partner di Starbook consente alle aziende, agenzie immobiliari, piattaforme software e startup di monetizzare utilizando i nostri servizi tramite potenziali clienti.</p>
    </div>
    <button type="button" class="btn btn-warning" name="button" routerLink="/contact/partner">Scopri di più</button>
  </div>
  <div class="container-fluid prefooter-container">
    <div class="row prefooter">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <p>Sicurezza del sito</p>
        <div class="list-security">
          <img src="../../../assets/images/norton.png" alt="Norton Security">
          <img src="../../../assets/images/secure.png" alt="100% Secure">
          <img src="../../../assets/images/trust.png" alt="Trusted Website">
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <p>Sistemi di pagamento</p>
        <div class="list-payment-methods">
          <img src="../../../assets/images/mastercard.png" alt="Mastercard">
          <img src="../../../assets/images/visa.png" alt="Visa">
          <img src="../../../assets/images/americanexpress.png" alt="American Express">
          <img src="../../../assets/images/stripe.png" alt="Stripe">
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <p><a routerLink="/info/about">Chi siamo</a></p>
        <p><a routerLink="/info/help">Aiuto e Assistenza</a></p>
        <p><a routerLink="/info/legal">Privacy e Condizioni</a></p>
        <!-- <p><a routerLink="/landing/extensions">Estensioni</a></p> -->
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <p>Seguici su</p>
        <div class="list-socials">
          <a href="https://www.facebook.com/starbook.co/" target="_blank"><img src="../../../assets/images/facebook.png" alt="Facebook"></a>
          <a href="https://twitter.com/starbookco/" target="_blank"><img src="../../../assets/images/twitter.png" alt="Twitter"></a>
          <a href="https://www.instagram.com/starbook.co/" target="_blank"><img src="../../../assets/images/instagram.png" alt="Instagram"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p><a routerLink="/"><strong>Starbook</strong> © 2017 Tutti i diritti riservati</a></p>
  </div>
</div>

<div *ngIf="page" class="landing-container">

  <div *ngIf="page==='extensions'">
    <div class="header-container" [ngStyle]="{'background-image': 'url(' + data.pictures[0] + ')'}">
      <div class="header">
        <div class="container">
          <h1>{{data.texts[0]}}</h1>
          <h3>{{data.texts[1]}}</h3>
          <div class="actions">
            <div class="form-group">
              <button pageScroll href="#applysection" [pageScrollDuration]="500" class="btn btn-yellow-green">Applica</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slogan" [ngStyle]="{'background-color': '#22313F'}">
      <div class="container">
        <div class="title">
          <h2>{{data.texts[2]}}</h2>
        </div>
      </div>
    </div>
    <div class="container advantages">
      <div class="advantages-container">
        <div class="title">
          <h1>{{data.texts[3]}}</h1>
        </div>
        <div class="row">
          <div *ngFor="let bullet of data.bullets">
            <div class="col-md-6 col-lg-3">
              <h3><i class="fa {{bullet['icon_name']}}" aria-hidden="true"></i> {{bullet['title']}}</h3>
              <p>{{bullet['description']}}</p>
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="form-group">
            <button pageScroll href="#applysection" [pageScrollDuration]="500" class="btn btn-yellow-blue">Applica</button>
          </div>
        </div>
      </div>
    </div>
    <div class="slogan">
      <div class="container">
        <div class="title">
          <h2>{{data.texts[4]}}</h2>
        </div>
      </div>
    </div>
    <div class="extensions">
      <div class="container extensions-container">
        <div class="title">
          <h1>Funzionamento delle estensioni</h1>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h5>Seleziona il servizio che ti serve e prenota.</h5>
            <i>Questi sono dei esempi di estensioni add-on</i>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="ext-container">
                  <div class="ext-box" [ngStyle]="{'background-image': 'url(https://s3-eu-west-1.amazonaws.com/starbook-s3/plumbing/idraulico-normal.png)'}">
                    <a (click)="checkoutService('plumber')">
                      <div class="overlay plumber">
                        Idraulico
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="ext-container">
                  <div class="ext-box" [ngStyle]="{'background-image': 'url(https://st.depositphotos.com/1769672/2236/i/950/depositphotos_22367589-stock-photo-carpenter-working.jpg)'}">
                    <a (click)="checkoutService('carpenter')">
                      <div class="overlay carpenter">
                        Falegname
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="ext-container">
                  <div class="ext-box" [ngStyle]="{'background-image': 'url(https://www.masonrymagazine.com/wp-content/uploads/2017/04/shutterstock_462881602.jpg)'}">
                    <a (click)="checkoutService('brick')">
                      <div class="overlay brick">
                        Muratore
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="ext-container">
                  <div class="ext-box" [ngStyle]="{'background-image': 'url(https://static8.depositphotos.com/1477006/953/i/950/depositphotos_9532007-stock-photo-blacksmith-at-work.jpg)'}">
                    <a (click)="checkoutService('blacksmith')">
                      <div class="overlay blacksmith">
                        Fabbro
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="ext-container">
                  <div class="ext-box" [ngStyle]="{'background-image': 'url(https://st.depositphotos.com/1158045/3013/i/950/depositphotos_30136813-stock-photo-portrait-of-an-electrician-at.jpg)'}">
                    <a (click)="checkoutService('eletrical')">
                      <div class="overlay eletrical">
                        Elettricista
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="ext-container">
                  <div class="ext-box" [ngStyle]="{'background-image': 'url(https://s3-eu-west-1.amazonaws.com/starbook-s3/professionista-su-starbook.jpg)'}">
                    <a (click)="checkoutService('painter')">
                      <div class="overlay painter">
                        Imbianchino
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkout-container">
              <div class="checkout-box">
                <div class="content-container">
                  <div class="header-summary">
                    <h3>Idraulico</h3>
                    <div class="summary-details">
                      <div class="item"><p>Intervento idraulico (uscita)</p></div>
                      <div class="amount">34€</div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="payment">
                    <div class="total">
                      <div class="item">Totale</div>
                      <div class="amount">34€</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-warning">Prenota adesso</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container implementation">
          <div class="title">
            <h1>Implementazione</h1>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3">
              <p><strong>1.</strong> Scegli i servizi più adatti alla tua piattaforma web o mobile. Ti consigliamo di scegliere servizi che si addattano più alla tua app.</p>
            </div>
            <div class="col-md-6 col-lg-3">
              <p><strong>2.</strong> Noi ti aiuteremo nella implementazione dei servizi scelti offrendo un aiuto tecnico adeguato sulla vostra piattaforma.</p>
            </div>
            <div class="col-md-6 col-lg-3">
              <p><strong>3.</strong> Implementiamo ogni servizio scelto da voi ad un account speciale in modo che sappiamo quando un ordine arriva da voi e non da altri.</p>
            </div>
            <div class="col-md-6 col-lg-3">
              <p><strong>4.</strong> I servizi sono pronti ad essere usati sulla piattaforma. Il vostro utente può selezionare un servizio e ordinare direttamente.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="request" id="applysection">
      <div class="container request-container">
        <h1>Vuoi implementare le estensioni sulla tua piattaforma? Inviaci una richiesta.</h1>
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstNameInput">Inserisci il tuo nome</label>
                <input type="firstname" placeholder="Nome" class="form-control" [ngClass]="{'error-input': request_state.firstname_error}" id="firstNameInput" [(ngModel)]="Request.firstname" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastNameInput">Inserisci il tuo cognome</label>
                <input type="lastname" placeholder="Cognome" class="form-control" [ngClass]="{'error-input': request_state.lastname_error}" id="lastNameInput" [(ngModel)]="Request.lastname" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="phoneInput">Numero di telefono</label>
                <input type="phone" placeholder="Telefono" class="form-control" [ngClass]="{'error-input': request_state.phone_error}" id="phoneInput" [(ngModel)]="Request.phone" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="emailInput">La tua email</label>
                <input type="email" placeholder="Email" class="form-control" [ngClass]="{'error-input': request_state.email_error}" id="emailInput" [(ngModel)]="Request.email" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="descriptionInput">Messaggio</label>
            <textarea class="form-control" placeholder="Descrivi la tua richiesta..." rows="5" [ngClass]="{'error-input': request_state.description_error}" id="descriptionInput" [(ngModel)]="Request.description" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="form-group" *ngIf="request_state.message_success">
            <div class="alert alert-success" role="alert">
              Ottimo, hai richiesto una consulenza sul implementazione delle estensioni Starbook. La contatteremo al più presto!
            </div>
          </div>
          <div class="form-group" *ngIf="request_state.message_error">
            <div class="alert alert-danger" role="alert">
              {{request_state.message_error}}
            </div>
          </div>
          <div class="form-group">
            <button type="button" id="next" class="btn btn-warning" (click)="sendRequestForNewService()"><i class="fa fa-circle-o-notch animate" *ngIf="request_state.loading"></i>{{request_state.button_title}}</button>
          </div>
        </form>
        <p>Continuando accetti le condizioni di <a routerLink="/legal" target="_blank">Privacy Policy</a>.</p>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <ul>
              <li>Starbook © 2017</li>
              <li>Tutti i diritti riservati</li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3">
            <ul>
              <li><a routerLink="/legal" target="_blank">Privacy e Condizioni</a></li>
              <li><a routerLink="/help" target="_blank">Aiuto e Assistenza</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3">
            <ul>
              <li><a routerLink="/about" target="_blank">Chi siamo</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3">
            <ul>
              <li><a routerLink="/requests/service" target="_blank">Richiedi un servizio</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <div *ngIf="page==='idraulico'">
    <div class="header-container" [ngStyle]="{'background-image': 'url(' + data.pictures[0] + ')'}">
      <div class="header">
        <div class="container">
          <h1>{{data.texts[0]}}</h1>
          <h3>{{data.texts[1]}}</h3>
          <div class="actions">
            <div class="form-group">
              <button class="btn btn-yellow-green" (click)="checkoutService('plumber')">Prenota adesso</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slogan">
      <div class="container">
        <div class="title">
          <h1>{{data.texts[2]}}</h1>
        </div>
      </div>
    </div>
    <div class="container advantages" [ngStyle]="{'border-bottom': '1px solid rgba(221, 221, 221, 0.8)'}">
      <div class="advantages-container">
        <div class="title">
          <h1>{{data.texts[3]}}</h1>
        </div>
        <div class="row">
          <div *ngFor="let bullet of data.bullets">
            <div class="col-md-4">
              <h3><i class="fa {{bullet['icon_name']}}" aria-hidden="true"></i> {{bullet['title']}}</h3>
              <p>{{bullet['description']}}</p>
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="form-group">
            <button class="btn btn-yellow-blue" (click)="checkoutService('plumber')">Prenota adesso</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container reviews">
      <div class="title">
        <h1>{{data.texts[4]}}</h1>
      </div>
      <div class="row">
        <div *ngFor="let review of data.reviews">
          <div class="col-md-6">
            <div class="review-container">
              <h5>
                <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> da
                <strong>{{review.username}}</strong>
              </h5>
              <p>{{review.text}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="form-group">
          <button class="btn btn-yellow-blue" (click)="checkoutService('plumber')">Prenota adesso</button>
        </div>
      </div>
    </div>
    <div class="request">
      <div class="container request-container">
        <h1>Chiedi di cosa hai bisogno</h1>
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstNameInput">Inserisci il tuo nome</label>
                <input type="firstname" placeholder="Nome" class="form-control" [ngClass]="{'error-input': request_state.firstname_error}" id="firstNameInput" [(ngModel)]="Request.firstname" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastNameInput">Inserisci il tuo cognome</label>
                <input type="lastname" placeholder="Cognome" class="form-control" [ngClass]="{'error-input': request_state.lastname_error}" id="lastNameInput" [(ngModel)]="Request.lastname" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="phoneInput">Numero di telefono</label>
                <input type="phone" placeholder="Telefono" class="form-control" [ngClass]="{'error-input': request_state.phone_error}" id="phoneInput" [(ngModel)]="Request.phone" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="emailInput">La tua email</label>
                <input type="email" placeholder="Email" class="form-control" [ngClass]="{'error-input': request_state.email_error}" id="emailInput" [(ngModel)]="Request.email" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="descriptionInput">Messaggio</label>
            <textarea class="form-control" placeholder="Descrivi la tua richiesta..." rows="5" [ngClass]="{'error-input': request_state.description_error}" id="descriptionInput" [(ngModel)]="Request.description" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="form-group" *ngIf="request_state.message_success">
            <div class="alert alert-success" role="alert">
              {{request_state.message_success}}
            </div>
          </div>
          <div class="form-group" *ngIf="request_state.message_error">
            <div class="alert alert-danger" role="alert">
              {{request_state.message_error}}
            </div>
          </div>
          <div class="form-group">
            <button type="button" id="next" class="btn btn-warning" (click)="sendRequestForNewService()"><i class="fa fa-circle-o-notch animate" *ngIf="request_state.loading"></i>{{request_state.button_title}}</button>
          </div>
        </form>
        <p>Continuando accetti le condizioni di <a routerLink="/legal" target="_blank">Privacy Policy</a>.</p>
      </div>
    </div>
    <div class="container share">
      <h1>Aiuta chi ha bisogno!</h1>
      <p>Puoi sempre aiutare un amico o amica che ha bisogno di un idraulico per qualsiasi intervento. Inserisci il numero di telefono insieme alla mail e invia questa pagina.</p>
      <div class="alerts">
        <div class="form-group" *ngIf="invitation_state.message_error">
          <div class="alert alert-danger" role="alert">{{invitation_state.message_error}}</div>
        </div>
        <div class="form-group" *ngIf="invitation_state.message_success">
          <div class="alert alert-success" role="alert">{{invitation_state.message_success}}</div>
        </div>
      </div>
      <div class="input-group">
        <input type="text" placeholder="Esempio: 3234565540, john@gmail.com" class="form-control" id="contacts" [(ngModel)]="contacts" [ngModelOptions]="{standalone: true}">
        <span class="input-group-btn">
          <button type="button" id="next" class="btn btn-success" (click)="sendInvitations()">Invia</button>
        </span>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <ul>
              <li>Starbook © 2017</li>
              <li>Tutti i diritti riservati</li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3">
            <ul>
              <li><a routerLink="/info/legal">Privacy e Condizioni</a></li>
              <li><a routerLink="/info/help">Aiuto e Assistenza</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3">
            <ul>
              <li><a routerLink="/info/about">Chi siamo</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3">
            <ul>
              <li><a routerLink="/requests/service">Richiedi un servizio</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>

</div>
