<div class="page-container">
  <div class="container-fluid contact-container">
    <div class="contact-block-container">
      <div class="header">
        <h3>Programma partner di Starbook</h3>
        <h6>Il programma partner di Starbook consente alle aziende, agenzie immobiliari, piattaforme software e startup di monetizzare utilizando i nostri servizi tramite potenziali clienti. Inviaci una richiesta di partner e ti contatteremo per ulteriori dettagli.</h6>
      </div>
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstNameInput">Nome</label>
              <input type="firstname" placeholder="Nome" class="form-control" [ngClass]="{'error-input': recruiter_state.firstname_error}" id="firstNameInput" [(ngModel)]="Recruiter.firstname" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastNameInput">Cognome</label>
              <input type="lastname" placeholder="Cognome" class="form-control" [ngClass]="{'error-input': recruiter_state.lastname_error}" id="lastNameInput" [(ngModel)]="Recruiter.lastname" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneInput">Telefono</label>
          <input type="phone" placeholder="Numero di telefono" class="form-control" [ngClass]="{'error-input': recruiter_state.phone_error}" id="phoneInput" [(ngModel)]="Recruiter.phone" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input type="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': recruiter_state.email_error}" id="emailInput" [(ngModel)]="Recruiter.email" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="emailInput">Messaggio</label>
          <textarea class="form-control" placeholder="Inserisci il motivo della richiesta" rows="5" id="descriptionInput" [(ngModel)]="Recruiter.message" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
        <div class="form-group" *ngIf="recruiter_state.message_success">
          <div class="alert alert-success" role="alert">
            {{recruiter_state.message_success}}
          </div>
        </div>
        <div class="form-group" *ngIf="recruiter_state.message_error">
          <div class="alert alert-danger" role="alert">
            {{recruiter_state.message_error}}
          </div>
        </div>
        <div class="form-group">
          <button type="button" id="next" class="btn btn-warning" (click)="joinPartner()"><i class="fa fa-circle-o-notch animate" *ngIf="recruiter_state.loading"></i>Invia</button>
        </div>
      </form>
    </div>
  </div>
</div>
