<div class="step-container" *ngIf="step">
  <ul class="step">
    <div *ngFor="let item of getSteps(); let i=index">
      <li [ngClass]="{'selected': selectStepAtIndex(i)}">
        <div class="step-icon">
          <i class="fa {{item.icon}}" aria-hidden="true"></i>
        </div>
        <span class="title hide-425">{{item.title}}</span>
      </li>
    </div>
  </ul>
</div>
<div class="progress-container" *ngIf="step">
  <div class="progress" [ngStyle]="{'width': setProgressWidth()}">
  </div>
</div>
<div class="loader-container" *ngIf="RequestState.loading">
  <i class="fa fa-circle-o-notch animate loader"></i>
</div>

<div class="request-container" *ngIf="step==='service'">
  <div class="request max-width-900">
    <div class="request-content text-center">
      <div class="request-header">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title-step">{{PostDetailOption[step].title}}</h2>
            <p class="description-step">{{PostDetailOption[step].description}}</p>
          </div>
        </div>
      </div>
      <div class="request-body">
        <div *ngFor="let form of PostDetailOption[step].forms">
          <div class="row">
            <div *ngFor="let item of form.details">
              <div class="col-md-10 offset-md-1 text-left">
                <div class="extra-item" [ngClass]="{'active': arrayContainItem(Request.details, item)}" (click)="selectItemInArray(item, Request.details)">
                  <div class="extra-item-content">
                    <div class="extra-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                    <span class="extra-title">{{item.title}}</span>
                    <span class="extra-description">{{item.description}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="request-container" *ngIf="step==='category'">
  <button type="button" class="btn btn-success button-back" (click)="previousStep()">INDIETRO</button>
  <div class="request max-width-900">
    <div class="request-content text-center">
      <div class="request-header">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title-step">{{PostDetailOption[step].title}}</h2>
            <p class="description-step">{{PostDetailOption[step].description}}</p>
          </div>
        </div>
      </div>
      <div class="request-body">
        <div class="row">
          <div class="col-md-10 offset-md-1 text-left" *ngFor="let form of PostDetailOption[step].forms">
            <div *ngFor="let item of form.details">
              <div class="extra-item" [ngClass]="{'active': arrayContainItem(Request['details'], item)}" (click)="selectItemInArray(item, Request['details'])">
                <div class="extra-item-content">
                  <div class="extra-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                  <span class="extra-title">{{item.title}}</span>
                  <span class="extra-description">{{item.description}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="request-container" *ngIf="step==='real'">
  <button type="button" class="btn btn-success button-back" (click)="previousStep()">INDIETRO</button>
  <div class="request max-width-900">
    <div class="request-content text-center">
      <div class="request-header">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title-step">{{PostDetailOption[step].title}}</h2>
            <p class="description-step">{{PostDetailOption[step].description}}</p>
          </div>
        </div>
      </div>
      <div class="request-body">
        <div *ngFor="let form of PostDetailOption[step].forms">
          <div class="row">
            <div class="col-md-4 text-center" *ngFor="let item of form.details">
              <div class="extra-tab" [ngClass]="{'active': arrayContainItem(Request['details'], item)}" (click)="selectItemInArray(item, Request['details'])">
                <div class="extra-tab-content">
                  <span class="extra-title">{{item.title}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="request-container" *ngIf="step==='details'">
  <button type="button" class="btn btn-success button-back" (click)="previousStep()">INDIETRO</button>
  <div class="request max-width-900">
    <div class="request-content text-center">
      <div class="request-header">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title-step">{{PostDetailOption[step].title}}</h2>
            <p class="description-step">{{PostDetailOption[step].description}}</p>
          </div>
        </div>
      </div>
      <div class="request-body">
        <div *ngFor="let form of PostDetailOption[step].forms">
          <div class="row">
            <div *ngIf="form.type==='INPUT'">
              <div class="col-md-10 offset-md-1 text-left">
                <div *ngFor="let item of form.details">
                  <div class="counter-item">
                    <span class="title-group">{{item.title}}</span>
                    <span class="description-group">{{item.description}}</span>
                    <div class="input-group counter-group">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary btn-left" type="button" (click)="decrementItemValue(item)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                      </span>
                      <input type="number" class="form-control" placeholder="0" min="1" max="50" step="1" [ngModel]="updateFormItemToArray(item, Request.details)" (ngModelChange)="validateItemValue($event, item)">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary btn-right" type="button" (click)="incrementItemValue(item)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="form.type==='CHECK'">
              <div class="col-md-10 offset-md-1 text-left" *ngFor="let item of form.details">
                <div class="extra-item" [ngClass]="{'active': arrayContainItem(Request.details, item)}" (click)="toggleItemInArray(item, Request.details)">
                  <div class="extra-item-content">
                    <div class="extra-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                    <span class="extra-title">{{item.title}}</span>
                    <span class="extra-description">{{item.description}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="request-footer">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="form-group">
              <button type="button" class="btn btn-success btn-next" (click)="nextStep()">AVANTI</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="request-container" *ngIf="step==='options'">
  <button type="button" class="btn btn-success button-back" (click)="previousStep()">INDIETRO</button>
  <div class="request max-width-900">
    <div class="request-content text-center">
      <div class="request-header">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title-step">{{PostDetailOption[step].title}}</h2>
            <p class="description-step">{{PostDetailOption[step].description}}</p>
          </div>
        </div>
      </div>
      <div class="request-body">
        <div class="row">
          <div class="col-md-10 offset-md-1 text-left" *ngFor="let form of PostDetailOption.options.forms">
            <div *ngFor="let item of form.details">
              <div class="extra-item" [ngClass]="{'active': arrayContainItem(Request['details'], item)}" (click)="toggleItemInArray(item, Request['details'])">
                <div class="extra-item-content">
                  <div class="extra-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                  <span class="extra-title">{{item.title}}</span>
                  <span class="extra-description">{{item.description}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="request-footer">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="form-group">
              <button type="button" class="btn btn-success btn-next" (click)="nextStep()">AVANTI</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="request-container" *ngIf="step==='customer'">
  <button type="button" class="btn btn-success button-back" (click)="previousStep()">INDIETRO</button>
  <div class="request max-width-900">
    <div class="request-content">
      <div class="request-header text-center">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title-step">Inserisci i tuoi dati</h2>
            <p class="description-step">Per essere contattato da un professionista inserisci i tuoi dati, indirizzo e descrizione della richiesta.</p>
          </div>
        </div>
      </div>
      <div class="request-body">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                    <label for="firstNameInput">Nome</label>
                    <input id="firstNameInput" type="firstname" name="firstname" placeholder="Nome" class="form-control" [ngClass]="{'error-input': RequestState.error && !Request.customer.firstname}" [(ngModel)]="Request.customer.firstname" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <label for="lastNameInput">Cognome</label>
                    <input id="lastNameInput" type="lastname" name="lastname" placeholder="Cognome" class="form-control" [ngClass]="{'error-input': RequestState.error && !Request.customer.lastname}" [(ngModel)]="Request.customer.lastname" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <label for="emailInput">Email</label>
                    <input id="emailInput" type="text" name="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': RequestState.error && !Request.customer.email}" [(ngModel)]="Request.customer.email" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <label for="phone">Telefono</label>
                    <input id="phoneInput" type="text" name="phone" placeholder="Numero di telefono" class="form-control" [ngClass]="{'error-input': RequestState.error && !Request.customer.phone_number}" [(ngModel)]="Request.customer.phone_number" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="input-group address-group">
                    <label for="address">Indirizzo o cap</label>
                    <p-autoComplete id="address" class="form-control" [(ngModel)]="Request.address" [ngModelOptions]="{standalone: true}" [ngClass]="{'error-input': RequestState.error && (!Request.address || !Request.address.postal_code)}" [suggestions]="Addresses" field="full" (completeMethod)="getAddresses($event)" (onSelect)="selectAddress($event)" placeholder="Indirizzo, cap"></p-autoComplete>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <label for="descriptionInput">Descrizione richiesta</label>
                    <textarea class="form-control" placeholder="Inserisci una descrizione" rows="6" id="descriptionInput" [(ngModel)]="Request.description" [ngClass]="{'error-input': RequestState.error}" [ngModelOptions]="{standalone: true}"></textarea>
                    <a class="conditions" routerLink="/info/legal" target="_blank"><small>* Acconsento al trattamento dei dati personali.</small> </a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="request-footer">
        <div class="row">
          <div class="col-md-8 offset-md-2" *ngIf="RequestState.error">
            <div class="form-group">
              <span class="error-message">{{RequestState.error}}</span>
            </div>
          </div>
          <div class="col-md-8 offset-md-2">
            <div class="form-group text-center">
              <button type="button" class="btn btn-success btn-next" (click)="sendRequest()">INVIA RICHIESTA</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="request-container" *ngIf="step==='end'">
  <div class="request max-width-900">
    <div class="request-content text-center">
      <div class="request-header">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title-step">Richiesta inviata con successo!</h2>
            <p class="description-step">La tua richiesta è stata inviata con successo. Nelle prossime ore potrai ricevere proposte da diversi professionisti o aziende nella tua zona.</p>
          </div>
        </div>
      </div>
      <div class="request-body text-center">
        <div class="success-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
      </div>
      <div class="request-footer">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="form-group">
              <button type="button" class="btn btn-success btn-next" (click)="nextStep()">Fatto</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="footer-container">
  <div class="footer">
    <div class="app">
      <span class="app-name">Starbook</span>
      <span class="app-message">Preventivi solo dalle migliori aziende.</span>
    </div>
    <ul class="links">
      <li class="link">© 2017</li>
      <li class="link"><a routerLink="/info/legal" target="_blank">Termini e Condizioni</a></li>
      <li class="link"><a routerLink="/info/legal" target="_blank">Privacy Policy</a></li>
      <li class="link"><a routerLink="/info/help" target="_blank">Aiuto e Assistenza</a></li>
    </ul>
  </div>
</div> -->
