<div class="container-starbook without-tabs">
  <div class="row">
    <div class="left-navigate">
      <a *ngFor="let tab of tabs" [ngClass]="{'active':tab.selected}" (click)="renderPage(tab.name)">
        <span></span>
        <div>{{tab.name}}</div>
      </a>
    </div>
    <div class="col-xl-12 orders-container">
      <div class="orders-error" *ngIf="pageData.length === 0 && requestIsComplete">
        Non ci sono ordini
      </div>
      <div class="order-information" *ngFor="let order of pageData">
        <div class="header">
          <div class="category-services-state" *ngIf="order.status === 1 && dateCompare(dateFormating('now'), order.delivery_date) && selectTab === 'Ricevuti'">
            <span class="orange"></span> In corso...
          </div>
          <div class="category-services-state" *ngIf="order.status === 2 && selectTab === 'Ricevuti'">
            <span class="orange"></span> In attesa di pagamento...
          </div>
          <div class="category-services-state" *ngIf="order.status === 0 && selectTab === 'Ricevuti'">
            <span class="green"></span> In attesa di conferma
          </div>
          <div class="category-services-state" *ngIf="order.status === 1 && dateCompare(order.delivery_date, dateFormating('now')) && selectTab === 'Ricevuti'">
            <span class="orange"></span> Hai confermato
          </div>


          <div class="category-services-state" *ngIf="order.status === 99 && selectTab === 'Richiesti'">
            <span class="red"></span> Annullato
          </div>
          <div class="category-services-state" *ngIf="order.status === 0 && selectTab === 'Richiesti'">
            <span class="green"></span> In attesa di conferma
          </div>
          <div class="category-services-state" *ngIf="order.status === 1 && dateCompare(order.delivery_date, dateFormating('now')) && selectTab === 'Richiesti'">
            <span class="orange"></span> Confermato
          </div>
          <div class="category-services-state" *ngIf="order.status === 2 && selectTab === 'Richiesti'">
            <span class="orange"></span> In attesa di pagamento...
          </div>
          <div class="category-services-state" *ngIf="order.status === 1 && dateCompare(dateFormating('now'), order.delivery_date) && selectTab === 'Richiesti'">
            <span class="orange"></span> In corso...
          </div>



          <div class="category-services-state" *ngIf="order.status === 0 && selectTab === 'Archivio'">
            <span class="black"></span> Scaduto
          </div>
          <div class="category-services-state" *ngIf="order.status === 3 && selectTab === 'Archivio'">
            <span class="orange"></span> Completato
          </div>
          <div class="category-services-state" *ngIf="order.status === 99 && selectTab === 'Archivio'">
            <span class="red"></span> Annullato
          </div>
          <div class="category-name">
            {{ categories[order.category_type] }}
          </div>
          <div class="order-date">
            {{ dateFormating(order.delivery_date) }}
          </div>
        </div>
        <div class="order-body">
          <div class="row">
            <div class="order-row products col-xl-4">
              <div class="item" *ngFor="let product of itemsFormating(order.delivery_details)"><strong>{{ product.name }}:</strong> {{ product.items }}</div>
            </div>
            <div class="client-info col-xl-4">
              <div class="item">
                <div class="field-name">Cliente:</div>
                <div class="field-value"><strong>{{ order.customer.fullname }}</strong></div>
              </div>
              <div class="item">
                <div class="field-name">Cellulare:</div>
                <div class="field-value">{{ order.customer.phone_number | phone }}</div>
              </div>
              <div class="item">
                <div class="field-name">Email:</div>
                <div class="field-value">{{ order.customer.email }}</div>
              </div>
              <div class="item">
                <div class="field-name">Indirizzo:</div>
                <div class="field-value">
                  {{ order.delivery_address.street }}, {{ order.delivery_address.street_number }}<br>
                  {{ order.delivery_address.city }}, {{ order.delivery_address.postal_code }}<br>
                  {{ order.delivery_address.province }}, {{ order.delivery_address.country }}
                </div>
              </div>
            </div>
            <div class="order-row description col-xl-4">
              {{ order.delivery_description }}
            </div>
          </div>
        </div>
        <div class="order-footer">
          <div class="code">
            <span>CODICE:</span>
            {{ order._id }}
          </div>
          <div class="buttons">
            <button class="btn btn-primary" *ngIf="order.status === 1 && dateCompare(dateFormating('now'), order.delivery_date) && selectTab === 'Ricevuti'" (click)="completaOrder(order._id)">Completa ordine</button>
            <div class="price-block" *ngIf="order.status === 2 && selectTab === 'Ricevuti'"><div class="content-price">Importo: <span>{{ order.payment.amount / 100 }}€</span></div></div>
            <button class="btn btn-secondary" *ngIf="order.status === 2 && selectTab === 'Ricevuti'" (click)="editOrder(order._id, order.payment.amount)">Modifica</button>
            <button class="btn btn-primary" *ngIf="order.status === 0 && selectTab === 'Ricevuti'" (click)="confirmOrder(order._id)">Conferma ordine</button>

            <button class="btn btn-primary" *ngIf="order.status === 99 && selectTab === 'Richiesti'" (click)="completaOrder(order._id)">Completa ordine</button>
            <button class="btn btn-secondary" *ngIf="order.status === 0 && selectTab === 'Richiesti'" (click)="cancelOrder(order._id)">Annulla ordine</button>
            <div class="price-block" *ngIf="order.status === 2 && selectTab === 'Richiesti'"><div class="content-price">Importo: <span>{{ order.payment.amount / 100 }}€</span></div></div>
            <button class="btn btn-warning" *ngIf="order.status === 2 && selectTab === 'Richiesti'" (click)="continueOrder(order._id, order.payment.amount)"><i class="fa fa-lock"></i> Procedi</button>
            <div class="price-block archive" *ngIf="order.status === 3 && selectTab === 'Archivio'"><div class="content-price">Importo: <span>{{ order.payment.amount / 100 }}€</span></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

