app-profile {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 70px 10px 0;
  -webkit-overflow-scrolling: touch;
  background-color: #EDEFF3;
  .profile-container {
    .profile {
      position: relative;
      display: block;
      padding: 60px;
      max-width: 1100px;
      margin: 30px auto 10px;
      background: white;
      box-shadow: 0 1px 0px #E5E6E9, 0 -1px 0px #E5E6E9, 1px 0px 0px #DFE0E4, -1px 0px 0px #DFE0E4;
      border-radius: 3px;
      .profile-header {
        padding-bottom: 30px;
        overflow: auto;
        .avatar-container {
          position: relative;
          width: 200px;
          height: 200px;
          z-index: 1000;
          float: left;
          .avatar {
            width: 100%;
            height: 100%;
            background: white;
            // border: 1px solid #d2d2d2;
            -moz-box-shadow: 1px 1px 1px #d2d2d2;
            -webkit-box-shadow: 1px 1px 1px #d2d2d2;
            box-shadow: 1px 1px 1px #d2d2d2;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
          .avatar-sm {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50px;
            height: 50px;
            border: none;
          }
        }
        .info-container {
          margin-left: 240px;
          h2 {
            font-weight: 600;
          }
          h6 {
            font-weight: 400;
            margin-top: 5px;
          }
          p {
            margin-top: 15px;
            letter-spacing: initial;
            color: rgba(0, 0, 0, 0.7);
          }
          .communications {
            margin-top: 10px;
            i {
              font-size: 24px;
              margin-right: 10px;
            }
          }
        }
      }
      .profile-body {
        .btn-warning {
          padding: 0 40px;
          font-weight: 500;
          border-radius: 3px;
        }
      }
      .profile-footer {
      }
    }
  }
  .account-footer {
    .footer {
      max-width: 1100px;
      margin: auto;
      padding: 0 15px;
      margin-bottom: 20px;
      p {
        font-size: 14px !important;
        color: #4A4A4A;
      }
      .links {
        text-align: right;
      }
      li {
        display: inline-block;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        margin-left: 10px;
        a:hover {
          cursor: pointer;
          color: #014c8c;
          text-decoration: underline;
        }
      }
      a {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1024px) {
  app-profile .profile-container .profile {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  app-profile .profile-container .profile {
    padding: 30px;
  }
  app-profile .profile-container .profile .profile-header .avatar-container {
    width: 170px;
    height: 170px;
  }
  app-profile .profile-container .profile .profile-header .info-container {
    margin-left: 200px;
  }
}
@media (max-width: 425px) {
  app-profile .profile-container .profile .profile-header .avatar-container {
    float: none;
    margin: auto;
    width: 120px;
    height: 120px;
  }
  app-profile .profile-container .profile .profile-header .avatar-container .avatar-sm {
    width: 40px;
    height: 40px;
  }
  app-profile .profile-container .profile .profile-header .info-container {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
  app-profile .profile-container .profile .profile-body .btn-warning {
    width: 100%;
    padding: 0;
  }
  app-profile .account-footer .footer .links {
    text-align: left;
  }
}
@media (max-width: 380px) {
}
