app-profile {
  .profile-page {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    background: #fafafb;
  }
  .top-bar-container {
    display: block;
    position: fixed;
    width: 100%;
    background: white;
    height: 60px;
    border-bottom: 1px solid #DBDBDB;
    z-index: 1;
  }
  .top-bar {
    list-style: none;
    overflow: hidden;
    font: 18px Sans-Serif;
    padding: 0;
    z-index: 1;
    max-width: 1130px;
    margin: 0 auto;
  }
  .top-bar li {
    color: #9B9B9B;
    float: left;
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
  }
  .top-bar li:hover {
    color: black;
  }
  .top-bar .active {
    color: black;
    border-bottom: 2px solid #324977;
  }
  .page-container {
    display: block;
    max-width: 1130px;
    padding: 30px 40px 0;
    border: 1px solid #e3e3e3;
    background: white;
    margin: 110px auto 50px;
    .form-group .ui-inputtext:focus {
      border: 2px solid #7FC443 !important;
    }
    .form-group .form-control:focus {
      border: 2px solid #7FC443 !important;
    }
    .form-group .error-input {
      border: 2px solid #f75c4b !important;
    }
    .header {
      display: block;
      width: 100%;
      padding: 0 0 30px;
      border-bottom: 1px solid #e4e4e4;
      text-align: center;
      h6 {
       color: #4A4A4A;
       font-weight: 300;
       margin-top: 15px;
     }
    }
    .messages {
      padding: 20px 0;
      text-align: left;
      .success {
        p {
          color: #449d44;
        }
      }
      .error {
        p {
          color: red;
        }
      }

      a {
        color: #0066C0 !important;
        cursor: pointer;
      }
    }
    .actions {
      .btn-success {
        width: 200px;
      }
      .animate {
        display: block;
        position: absolute;
        top: 18px;
        left: 20px;
      }
    }
    form {
      margin: 40px 0 20px;
      .error-message {
        color: #f75c4b;
        font-size: 12px;
        position: absolute;
      }
      .card-form {
        margin: 40px auto 40px;
        max-width: 600px;
        .form-group .btn-yellow-green {
          width: 100% !important;
          line-height: 60px;
          padding: 0 !important;
        }
      }

      h1, h2, h3, h4, h5, h6 {
        margin: 40px 0 20px;
      }

      .actions {
        margin: 20px 0;
      }
    }
    .footer-box {
      display: block;
      text-align: left !important;
      width: 100%;
      padding: 20px 0 40px;
      border-top: 1px solid #e4e4e4;
      h5 {
        color: #4A4A4A;
        margin-top: 5px;
      }
      .actions {
        margin: 20px 0 0;
        .btn-danger {
          width: 100px;
        }
      }
    }
    .card-container {
      padding: 30px 0;
      .btn-success, .btn-danger, .btn-secondary {
        padding: 0 30px;
        width: initial;
        height: 40px;
        line-height: 40px;
        font-weight: 300;
        font-size: 18px;
        margin: 0 10px 10px 0;
      }
    }
    .btn-secondary {
      font-size: 20px;
      font-family: Roboto, sans-serif;
      font-weight: 500;
    }
    .btn-yellow-green {
      width: 100%;
      font-size: 26px;
      color: white;
      height: 60px;
      font-weight: 700;
    }
  }

  @media (max-width: 1024px) {
    .page-container {
      margin: 60px auto 0;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      padding: 30px 30px 0;
      background: white;
    }
  }
  @media (max-width: 780px) {

  }
  @media (max-width: 645px) {

  }
  @media (max-width: 560px) {

  }
  @media (max-width: 480px) {
    .top-bar li {
      padding: 0 20px;
    }
  }
  @media (max-width: 380px) {
    .top-bar li {
      padding: 0 10px;
    }
  }
}

.sticky-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.footer {
  background: white;
  padding: 20px;
  font-size: 16px;
  border-top: 1px solid #dce0e0;
}
.footer-container {
  max-width: 1130px;
  margin: auto;
}
