app-profile {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 70px 0px 0;
  -webkit-overflow-scrolling: touch;
  background-color: white;
  .profile-container {
    .profile {
      position: relative;
      display: block;
      background: white;
      box-shadow: 0 1px 0px #E5E6E9, 0 -1px 0px #E5E6E9, 1px 0px 0px #DFE0E4, -1px 0px 0px #DFE0E4;
      border-radius: 3px;
      .profile-header {
        padding-bottom: 30px;
        overflow: auto;
        padding: 60px 20px;
        .avatar-container {
          position: relative;
          width: 180px;
          height: 180px;
          z-index: 1000;
          margin: auto;
          .avatar {
            width: 100%;
            height: 100%;
            background: white;
            // border: 1px solid #d2d2d2;
            // -moz-box-shadow: 1px 1px 1px #d2d2d2;
            // -webkit-box-shadow: 1px 1px 1px #d2d2d2;
            // box-shadow: 1px 1px 1px #d2d2d2;
            // -moz-box-shadow: 0px 0px 3px #d2d2d2;
            // -webkit-box-shadow: 0px 0px 3px #d2d2d2;
            // box-shadow: 0px 0px 3px #d2d2d2;
            border: 1px solid #d6d6d6;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
          // .avatar:hover {
          //   box-shadow: 0px 0px 0px #d2d2d2;
          // }
          .avatar-sm {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 30px;
            height: 30px;
            border: none;
          }
        }
        .account-info {
          padding: 35px 0 20px;
          text-align: center;
          max-width: 700px;
          margin: auto;
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          h1 {
            font-weight: 600;
          }
          h2 {
            font-size: 23px;
          }
          h3 {
            font-size: 17px;
          }
          h6 {
            font-weight: 400;
            margin-top: 5px;
          }
          .name {

          }
          .tagline {
            margin-top: 15px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.7);
            line-height: inherit;
          }
          .description {
            font-weight: 400;
            margin-top: 15px;
            color: rgba(0, 0, 0, 0.7);
            line-height: inherit;
          }
          .user-address {
            margin-top: 20px;
            .user {
              margin: 0 10px;
              font-size: 16px !important;
              color: rgba(0, 0, 0, 0.7);
            }
            .address {
              margin: 0 10px;
              font-size: 16px !important;
              color: rgba(0, 0, 0, 0.7);
            }
          }
          .btn {
            border-radius: 20px;
            margin-top: 10px;
            font-size: 16px;
            padding: 8px 40px;
            line-height: unset;
            height: auto;
            font-weight: 600;
          }
          .promoted {
            border: 1px solid #006621;
            padding: 2px 15px;
            color: #006621;
            margin-top: 10px;
            display: inline-block;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 500;
            font-family: Roboto, sans-serif;
          }
        }
        .actions {
          padding: 10px 0 20px;
          text-align: center;
          .btn {
            border-radius: 30px;
            margin-right: 10px;
            margin-bottom: 10px;
          }
          .btn-map {
            background: #109d59;
            height: 50px;
            border: 0;
            color: white !important;
            font-size: 22px;
            font-family: Roboto, sans-serif;
            font-weight: 400;
            outline: none !important;
            padding: 0 20px;
            line-height: 50px;
          }
          .btn-map:active:focus {
            background-color: #0d6f40;
          }
          .btn-map:hover {
            background-color: #0d6f40;
          }
          .btn-phone {
            background: #34495e;
            height: 50px;
            border: 0;
            color: white !important;
            font-size: 22px;
            font-family: Roboto, sans-serif;
            font-weight: 400;
            outline: none !important;
            padding: 0 20px;
            line-height: 50px;
          }
          .btn-phone:active:focus {
            background-color: #172533;
          }
          .btn-phone:hover {
            background-color: #172533;
          }
          .btn-email {
            background: #2c3e50;
            height: 50px;
            border: 0;
            color: white !important;
            font-size: 22px;
            font-family: Roboto, sans-serif;
            font-weight: 400;
            outline: none !important;
            padding: 0 20px;
            line-height: 50px;
          }
          .btn-email:active:focus {
            background-color: #192633;
          }
          .btn-email:hover {
            background-color: #192633;
          }
          .btn-message {
            background: #8e44ad;
            height: 50px;
            border: 0;
            color: white !important;
            font-size: 22px;
            font-family: Roboto, sans-serif;
            font-weight: 400;
            outline: none !important;
            padding: 0 20px;
            line-height: 50px;
          }
          .btn-message:active:focus {
            background-color: #692486;
          }
          .btn-message:hover {
            background-color: #692486;
          }
        }
        .promotion-section {
          padding: 30px 0 0;
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          .promotion {
            border: 1px solid rgba(0, 0, 0, 0.2);
            background: rgba(0, 0, 0, 0.05);
            border-radius: 1px;
            max-width: 700px;
            margin: auto;
            padding: 20px;
            overflow: auto;
            .image-container {
              width: 80px;
              float: left;
              border: 2px solid #ffffff;
            }
            .text-container {
              margin-left: 110px;
              h5 {
                font-weight: 600;
              }
              p {
                margin-top: 5px;
                font-size: 16px !important;
              }
              .btn {
                width: 100%;
                border-radius: 3px;
                margin-top: 5px;
                font-size: 16px;
                padding: 8px 0;
                line-height: unset;
                height: auto;
                font-weight: 600;
              }
            }
          }
          .promotion:hover {
            border: 1px solid rgba(0, 0, 0, 0.3);
            // -webkit-transition: border 500ms linear;
            // -ms-transition: border 500ms linear;
            // transition: border 500ms linear;
          }
        }
      }
      .profile-body {
        .actions {
          padding: 10px 0 20px;
          text-align: center;
          .btn {
            border-radius: 30px;
            margin-right: 10px;
            margin-bottom: 10px;
          }
        }
      }
      .profile-footer {
      }
      .loader {
        text-align: center;
        padding: 50px;
        i {
          font-size: 30px;
        }
      }
    }
  }
  .account-footer {
    padding: 10px 0;
    .footer {
      max-width: 1440px;
      margin: auto;
      padding: 0 15px;
      margin-bottom: 20px;
      p {
        font-size: 14px !important;
        color: #4A4A4A;
      }
      .links {
        text-align: right;
      }
      li {
        display: inline-block;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        margin-left: 10px;
        a:hover {
          cursor: pointer;
          color: #014c8c;
          text-decoration: underline;
        }
      }
      a {
        cursor: pointer;
      }
    }
  }
  .popup-container {
    .popup {
      .popup-content {
        .popup-header {
          // border-bottom: 1px solid #dce0e0;
          h3 {
            font-weight: 600;
          }
          p {
            margin-top: 5px;
          }
        }
        .popup-body {
          .platform-ads {
            margin-bottom: 20px;
            .platform-ads-header {
              overflow: hidden;
              i {
                font-size: 32px;
                margin-right: 5px;
              }
              img {
                height: 40px;
                float: left;
                margin-right: 10px;
              }
              .fa-facebook-official {
                color: #3b5998;
              }
              .fa-google {
                color: #d62d20;
              }
              .platform-name {
                margin-top: 5px;
              }
              .title {
                color: rgba(0, 0, 0, 0.8);
                font-size: 26px;
                font-weight: 600;
                margin-right: 5px;
              }
              .description {
                font-size: 18px;
                line-height: initial;
              }
              .total {
                font-size: 40px;
                font-weight: 900;
                color: #16a085;
              }
            }
            .google-disabled {
              .image {
                opacity: 0.5;
              }
              .title {
                color: rgba(0, 0, 0, 0.30);
              }
              .description {
                color: rgba(0, 0, 0, 0.30);
              }
            }
            .google-disabled:hover {
              .image {
                opacity: 0.5;
              }
              .title {
                color: rgba(0, 0, 0, 0.30);
              }
              .description {
                color: rgba(0, 0, 0, 0.30);
              }
            }
            .platform-ads-body {
              padding: 10px 0;
              form {
                margin-top: 15px;
                .option {
                  padding: 5px 0;
                  .option-content {
                    cursor: pointer;
                    background: white;
                    text-align: center;
                    border-radius: 3px;
                    line-height: 50px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    span {
                      color: rgba(0, 0, 0, 0.7);
                      font-weight: 400;
                      font-size: 18px;
                    }
                  }
                  .option-content:hover {
                    background: rgba(0, 0, 0, 0.05);
                  }
                  .facebook-option-selected, .facebook-option-selected:hover {
                    background: #3b5998;
                    border: 0;
                    span {
                      color: white;
                    }
                  }
                  .google-option-selected, .google-option-selected:hover {
                    background: #d62d20;
                    border: 0;
                    span {
                      color: white;
                    }
                  }
                }
                .form-check-label {
                  text-align: left;
                  font-size: 16px !important;
                  font-weight: 500;
                  color: #1d2129 !important;
                  .form-check-input {
                    height: 16px !important;
                  }
                  span {
                    margin-left: 10px;
                  }
                }
              }
            }
            .selectable {
              cursor: pointer;
            }
          }
          .platform-ads-facebook-divider {
            margin: 20px 0 30px;
            // border-bottom: 2px solid #3b5998;
            border-bottom: 1px solid #dce0e0;
          }
          .platform-ads-google-divider {
            margin: 20px 0 30px;
            // border-bottom: 2px solid #d62d20;
            border-bottom: 1px solid #dce0e0;
          }
        }
        .popup-footer .btn {
          min-width: 120px;
        }
        .popup-footer .btn i {
          margin-right: 0;
        }
      }
    }
    .ads-popup {
      max-width: 600px;
    }
    .ads-popup .popup-content .popup-footer .btn {
      min-width: 120px;
      height: 50px;
      padding: 0 40px;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

@media (max-width: 768px) {

  app-profile .profile-container .profile .profile-header .avatar-container {
    width: 170px;
    height: 170px;
  }
  app-profile .profile-container .profile .profile-header .info-container {
    margin-left: 200px;
  }
}
@media (max-width: 425px) {
  app-profile .profile-container .profile .profile-header {
    padding: 40px 20px;
  }
  app-profile .profile-container .profile .profile-header .avatar-container {
    float: none;
    margin: auto;
    width: 150px;
    height: 150px;
  }
  app-profile .profile-container .profile .profile-header .avatar-container .avatar-sm {
    width: 20px;
    height: 20px;
  }
  app-profile .profile-container .profile .profile-header .info-container {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
  app-profile .profile-container .profile .profile-body .btn-warning {
    width: 100%;
    padding: 0;
  }
  app-profile .account-footer .footer .links {
    text-align: left;
  }
  app-profile .profile-container .profile .profile-header .actions .btn {
    // width: 80%;
  }
  app-profile .profile-container .profile .profile-header .promotion-section .promotion .image-container {
    width: 50px;
  }
  app-profile .profile-container .profile .profile-header .promotion-section .promotion .text-container {
    margin-left: 70px;
  }
}
