<div class="profile-page">
  <div class="top-bar-container noselect">
    <ul class="top-bar">
      <li *ngFor="let tab of tabs" [ngClass]="{'active':tab.route === page}" (click)="clickTabItem(tab.route)">{{tab.name}}</li>
    </ul>
  </div>
  <div class="page-container" *ngIf="page === 'general'">
    <div class="header">
      <h1>Informazioni generali</h1>
      <h6>Aggiorna le informazioni del tuo account per rimanere in contatto</h6>
    </div>
    <form>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="firstname">Nome</label>
            <input type="firstname" class="form-control" id="firstname" name="firstname" placeholder="Nome" [ngClass]="{'error-input': user_state.first_name_error}" [(ngModel)]="User.firstname">
            <small class="error-message" *ngIf="user_state.first_name_error">{{user_state.first_name_error}}</small>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="lastname">Cognome</label>
            <input type="lastname" class="form-control" id="lastname" name="lastname" placeholder="Cognome" [ngClass]="{'error-input': user_state.last_name_error}" [(ngModel)]="User.lastname">
            <small class="error-message" *ngIf="user_state.last_name_error">{{user_state.last_name_error}}</small>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="phone">Telefono</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Telefono" [ngClass]="{'error-input': user_state.phone_number_error}" [(ngModel)]="User.phone_number">
            <small class="error-message" *ngIf="user_state.phone_number_error">{{user_state.phone_number_error}}</small>
          </div>
        </div>
      </div>
      <div class="actions">
        <a class="btn btn-success" (click)="saveProfile()">{{user_state.button_title}}</a>
      </div>
    </form>
    <div class="footer-box">
      <h5>Privacy del account</h5>
      <h6><small>Le informazioni degli utenti consentono a Starbook di fornire agli utenti stessi l’accesso alle sezioni del Sito cui sono interessati e di fornire il Servizio. Esse mettono inoltre Starbook in grado di fatturare gli importi dovuti e consentono a Starbook o ad un professionista cui l’utente abbia inoltrato un Ordine di contattare l’utente in merito al Servizio.</small></h6>
    </div>
  </div>
  <div class="page-container" *ngIf="page === 'payment'">
    <div class="header">
      <h1>Metodo di pagamento</h1>
      <h6>Aggiorna le informazioni del tuo metodo di pagamento</h6>
    </div>
    <div class="card-container" *ngFor="let card of cards">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <h4>{{card.brand}} <small>{{ card.funding }} {{ card.object }}</small> <small *ngIf="defaultCard === card.id">Default</small></h4>
          <div class="information-block">
            <span>Nome:</span>
            {{ card.name }}
          </div>
          <div class="information-block">
            <span>Numero:</span>
            **** {{ card.last4 }}
          </div>
          <div class="information-block">
            <span>Scadenza:</span>
            {{ card.exp_month }}/{{ formatYear(card.exp_year) }}
          </div>
          <div class="information-block">
            <span>Tipo:</span>
            {{ card.brand }} {{ card.funding }} {{ card.object }}
          </div>
          <div class="information-block">
            <span>Indirizzo:</span>
            {{ card.address_line1 }} {{ card.address_line2 }} <br>
            {{ card.address_state }} {{ card.address_city }} <br>
            {{ card.address_zip }} {{ card.address_country }}
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="buttons-block">
            <a class="btn btn-success" *ngIf="defaultCard !== card.id" (click)="selectCard(card.id)">Default</a>
            <a class="btn btn-danger" (click)="deleteCard(card.id)">Rimuovi</a>
            <!-- <a class="btn btn-secondary" (click)="editCard(card.id)">Modifica</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <a class="btn btn-secondary" *ngIf="cards?.length===0" (click)="showCardPage()">Aggiungi un metodo</a>
      <a class="btn btn-secondary" *ngIf="cards?.length > 0" (click)="showCardPage()">Aggiungi un altro metodo</a>
    </div>
    <div class="footer-box">
      <h5>Privacy del account</h5>
      <h6><small>Le informazioni degli utenti consentono a Starbook di fornire agli utenti stessi l’accesso alle sezioni del Sito cui sono interessati e di fornire il Servizio. Esse mettono inoltre Starbook in grado di fatturare gli importi dovuti e consentono a Starbook o ad un professionista cui l’utente abbia inoltrato un Ordine di contattare l’utente in merito al Servizio.</small></h6>
    </div>
  </div>
  <div class="page-container" *ngIf="page === 'settings'">
    <div class="header">
      <h1>Impostazioni</h1>
      <h6>Modifica le informazioni</h6>
    </div>
    <form>
      <h4>Aggiorna Email</h4>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <!-- <label for="email">La tua email</label> -->
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" [ngClass]="{'error-input': user_state.email_error}" [(ngModel)]="User.email" disabled>
            <small class="error-message" *ngIf="user_state.email_error">{{user_state.email_error}}</small>
          </div>
        </div>
        <div class="col-lg-8">
          <p><small>Dopo aver salvato la nuova email ti invieremo nella attuale email un messaggio di conferma per confermare il nuovo indirizzo.</small></p>
        </div>
      </div>
      <div class="actions">
        <a class="btn btn-success" (click)="saveNewEmail()">Salva</a>
      </div>
      <h4>Cambia Password</h4>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.old_password">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="password">Nuova Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.new_password">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="password">Conferma Nuova Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="" [ngClass]="{'error-input': password_state.message_error}" [(ngModel)]="Password.confirm_password">
          </div>
        </div>
      </div>
      <div class="messages" *ngIf="password_state.message_error || password_state.message_success">
        <div class="success" *ngIf="password_state.message_success">
          <p><small>{{password_state.message_success}}</small></p>
        </div>
        <div class="error" *ngIf="password_state.message_error">
          <p><small>{{password_state.message_error}}</small></p>
        </div>
      </div>
      <div class="actions">
        <a class="btn btn-success" (click)="changePassword()">{{password_state.button_title}}</a>
      </div>
    </form>
    <div class="footer-box">
      <h5>Esci da starbook</h5>
      <h6><small>Puoi uscire ed entrare in qualsiasi momento dal sito. Le tue informazioni rimangono salvate su Starbook.</small></h6>
      <div class="actions">
        <a class="btn btn-danger" (click)="logout()">Esci</a>
      </div>
    </div>
  </div>
  <div class="page-container" *ngIf="page === 'card'">
    <div class="header">
      <h1>Inserisci un metodo di pagamento</h1>
      <h6>Per utilizzare al massimo i servizi Starbook inserisci un metodo di pagamento.</h6>
    </div>
    <form>
      <div class="card-form">
        <div class="form-group">
          <label for="numberInput">Numero carta</label>
          <input autocomplete="off" type="text" placeholder="Numero" class="form-control" [ngClass]="{'error-input': card_state.number_error}" id="numberInput" [(ngModel)]="Card.number" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="card_state.number_error">{{card_state.number_error}}</small>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="dateInput">Scadenza</label>
              <input autocomplete="off" type="text" placeholder="Scadenza" class="form-control" [ngClass]="{'error-input': card_state.exp_date_error}" id="dateInput" [(ngModel)]="Card.exp_date" (keyup)="checkExpiry(Card.exp_date)" (change)="checkExpiry(Card.exp_date)" [ngModelOptions]="{standalone: true}">
              <small class="error-message" *ngIf="card_state.exp_date_error">{{card_state.exp_date_error}}</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="numberInput">CVC/CVV</label>
              <input autocomplete="off" type="text" placeholder="CVC/CVV" class="form-control" [ngClass]="{'error-input': card_state.cvc_error}" id="numberInput" [(ngModel)]="Card.cvc" [ngModelOptions]="{standalone: true}">
              <small class="error-message" *ngIf="card_state.cvc_error">{{card_state.cvc_error}}</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="nameInput">Nome e cognome dell'intestatario</label>
          <input type="name" name="name" placeholder="Nome e cognome" class="form-control" id="nameInput" [(ngModel)]="Card.name" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="addressInput">Indirizzo</label>
              <input type="address" placeholder="Via" class="form-control" id="addressInput" [(ngModel)]="Card.address_line1" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="addressNumberInput">Nr</label>
              <input type="text" placeholder="Nr" class="form-control" id="addressNumberInput" [(ngModel)]="Card.address_line2" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="cittyInput">Città</label>
              <input type="text" placeholder="Città" class="form-control" id="cittyInput" [(ngModel)]="Card.address_city" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="capInput">CAP</label>
              <input type="text" placeholder="CAP" class="form-control" id="capInput" [(ngModel)]="Card.address_zip" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="provinceInput">Provincia</label>
              <input type="text" placeholder="Provincia" class="form-control" id="provinceInput" [(ngModel)]="Card.address_state" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="countryInput">Paese</label>
              <input type="text" placeholder="Paese" class="form-control" id="countryInput" [(ngModel)]="Card.address_country" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="messages" *ngIf="card_state.message_error">
          <div class="error" *ngIf="card_state.message_error">
            <p><small>{{card_state.message_error}}</small></p>
          </div>
        </div>
        <div class="form-group">
          <a class="btn btn-yellow-green" (click)="addCard()"><i class="fa fa-circle-o-notch animate" *ngIf="card_state.loading"></i>{{card_state.button_title}}</a>
        </div>
      </div>
    </form>
  </div>
</div>

<footer class="footer">
  <div class="footer-container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <ul>
          <li>Starbook © 2017</li>
          <li>Tutti i diritti riservati</li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <ul>
          <li><a routerLink="../../legal">Privacy e Condizioni</a></li>
          <li><a routerLink="../../help">Aiuto e Assistenza</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <ul>
          <li><a routerLink="../../about">Chi siamo</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <ul>
          <li><a routerLink="../../recruiter/share">Affiliazione</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<!-- <div class="container-starbook without-tabs">
  <div class="row">
    <div class="left-navigate" (swipeleft)="swipe($event.type, $event.deltaX)" (swiperight)="swipe($event.type, $event.deltaX)">
      <div [ngStyle]="{'margin-left.px': delta}">
        <a *ngFor="let tab of tabs" [ngClass]="{'active':tab.url === selectTab}" [routerLink]="['/profile', tab.url]">
          <span></span>
          <div>{{tab.name}}</div>
        </a>
        <a *ngIf="isAuthenticated === true" (click)="logout()"><span></span><div>Esci</div></a>
      </div>
    </div>
    <div class="profile-settings" *ngIf="selectTab === 'settings'">
      <div class="header">Informazioni del account</div>
      <form #changProfile="ngForm">
        <app-loading *ngIf="isLoading"></app-loading>
        <label>NOME COMPLETO</label>
        <div class="form-group">
          <input class="form-control" name="name" placeholder="Nome Cognome" #fullname="ngModel" [(ngModel)]="userData.fullname" required>
        </div>
        <div class="form-group">
          <label>Cognome</label>
          <input class="form-control" name="lastname" #fullname="ngModel" [(ngModel)]="userData.lastname" required disabled>
        </div>
        <div class="form-group">
          <label>Nome Azienda</label>
          <input class="form-control" name="patronymic" #fullname="ngModel" [(ngModel)]="userData.patronymic" required disabled>
        </div>
        <label>CELLULARE</label>
        <div class="form-group">
          <input class="form-control" name="phone" placeholder="Numero" #phone_number="ngModel" [(ngModel)]="userData.phone_number">
        </div>
        <label>EMAIL</label>
        <div class="form-group">
          <div class="email-field">
            <input class="form-control" name="email" placeholder="Indirizzo email" value="" #email="ngModel" [(ngModel)]="userData.email">
            <button type="button" class="btn btn-primary" (click)="getPopup('changePassword')">Modifica password</button>
          </div>
        </div> -->
        <!--<div class="form-group password-block">-->
          <!--<label>Password</label>-->
          <!--<div class="password-container">-->
            <!--<div class="password">-->
              <!--<span>•••••••••••</span>-->
            <!--</div>-->
            <!--<div class="change-password">-->
              <!--<button type="button" class="btn btn-primary" (click)="getPopup('changePassword')">Modifica password</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!-- <div class="header second">Indirizzo di fatturazione</div> -->
        <!-- <label>Indirizzo del domicilio</label>
        <div class="form-group">
          <input class="form-control" name="address1" #street="ngModel" [(ngModel)]="userData.street" placeholder="Via Verdi 13">
        </div> -->
        <!-- <label>Città e CAP</label>
        <div class="form-group double-input">
          <input class="form-control first" name="address2" #city="ngModel" [(ngModel)]="userData.city" placeholder="Città">
          <input class="form-control second" name="number2" #postal_code="ngModel" [(ngModel)]="userData.postal_code" placeholder="CAP">
        </div> -->
        <!-- <label>Provincia e Nazione</label>
        <div class="form-group double-input">
          <input class="form-control first" name="city" #province="ngModel" [(ngModel)]="userData.province" placeholder="Provincia">
          <input class="form-control second" name="country" #country="ngModel" [(ngModel)]="userData.country" placeholder="Nazione">
        </div> -->
        <!-- <label>Partita IVA</label>
        <div class="form-group">
          <input class="form-control" name="piva" placeholder="P.IVA">
        </div> -->
        <!-- <label>Codice Fiscale</label>
        <div class="form-group">
          <input class="form-control" name="codice" placeholder="Codice Fiscale">
        </div> -->
        <!-- <div class="profile-information" *ngIf="formError">
          <strong *ngIf="formError.title.length > 0">{{formError.title}}</strong> {{formError.message}}
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-warning" (click)="updateProfile()">Aggiorna Informazioni</button>
        </div> -->
        <!--<div class="form-group">-->
          <!--<button type="button" class="btn btn-secondary" (click)="logout()"><span class="fa fa-sign-out"></span> Log out</button>-->
        <!--</div>-->
      <!-- </form>
    </div>
    <div class="cards-page" *ngIf="selectTab === 'payment'">
      <app-loading *ngIf="isLoading"></app-loading>
      <div class="card-block" *ngFor="let card of cards">
        <div class="container">
          <div class="header">
            <div class="card-logo {{ formatCssClass(card.brand) }}"><span>**** {{ card.last4 }}</span></div>
            <div class="isDefault" *ngIf="defaultCard === card.id">Default</div>
            <div class="buttons-block">
              <a class="btn btn-primary" *ngIf="defaultCard !== card.id" (click)="selectCard(card.id)">Default</a>
              <a class="btn btn-primary" (click)="deleteCard(card.id)">Rimuovi</a>
              <a class="btn btn-secondary" (click)="editCard(card.id)">Modifica</a>
            </div>
          </div>
          <div class="content">
            <div class="card-information">
              <div class="information-block">
                <span>Nome:</span>
                {{ card.name }}
              </div>
              <div class="information-block">
                <span>Numero:</span>
                **** {{ card.last4 }}
              </div>
              <div class="information-block">
                <span>Scadenza:</span>
                {{ card.exp_month }}/{{ formatYear(card.exp_year) }}
              </div>
              <div class="information-block">
                <span>Tipo:</span>
                {{ card.brand }} {{ card.funding }} {{ card.object }}
              </div>
            </div>
            <div class="card-information">
              <div class="information-block">
                <span>Indirizzo:</span>
                {{ card.address_line1 }} {{ card.address_line2 }} <br>
                {{ card.address_state }} {{ card.address_city }} <br>
                {{ card.address_zip }} {{ card.address_country }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block">
        <a class="new-card" (click)="addNewCard()">
          Aggiungi un metodo di pagamento
        </a>
      </div>
    </div>
  </div>
</div> -->
