<!-- <div class="loader" *ngIf="isLoading"></div> -->
<div class="profile-page">
  <div class="container-starbook without-tabs">
    <div class="row">
      <div class="left-navigate" (swipeleft)="swipe($event.type, $event.deltaX)" (swiperight)="swipe($event.type, $event.deltaX)">
        <div [ngStyle]="{'margin-left.px': delta}">
          <a *ngFor="let tab of tabs" [ngClass]="{'active':tab.url === selectTab}" [routerLink]="['/profile', tab.url]">
            <span></span>
            <div>{{tab.name}}</div>
          </a>
          <a *ngIf="isAuthenticated === true" (click)="logout()"><span></span><div>Esci</div></a>
        </div>
      </div>
      <div class="profile-settings" *ngIf="selectTab === 'settings'">
        <div class="header">Informazioni del account</div>
        <form #changProfile="ngForm">
          <app-loading *ngIf="isLoading"></app-loading>
          <label>NOME COMPLETO</label>
          <div class="form-group">
            <input class="form-control" name="name" placeholder="Nome Cognome" #fullname="ngModel" [(ngModel)]="userData.fullname" required>
          </div>
          <!--<div class="form-group">-->
            <!--<label>Cognome</label>-->
            <!--<input class="form-control" name="lastname" #fullname="ngModel" [(ngModel)]="userData.lastname" required disabled>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label>Nome Azienda</label>-->
            <!--<input class="form-control" name="patronymic" #fullname="ngModel" [(ngModel)]="userData.patronymic" required disabled>-->
          <!--</div>-->
          <label>CELLULARE</label>
          <div class="form-group">
            <input class="form-control" name="phone" placeholder="Numero" #phone_number="ngModel" [(ngModel)]="userData.phone_number">
          </div>
          <label>EMAIL</label>
          <div class="form-group">
            <div class="email-field">
              <input class="form-control" name="email" placeholder="Indirizzo email" value="" #email="ngModel" [(ngModel)]="userData.email">
              <button type="button" class="btn btn-primary" (click)="getPopup('changePassword')">Modifica password</button>
            </div>
          </div>
          <!--<div class="form-group password-block">-->
            <!--<label>Password</label>-->
            <!--<div class="password-container">-->
              <!--<div class="password">-->
                <!--<span>•••••••••••</span>-->
              <!--</div>-->
              <!--<div class="change-password">-->
                <!--<button type="button" class="btn btn-primary" (click)="getPopup('changePassword')">Modifica password</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!-- <div class="header second">Indirizzo di fatturazione</div> -->
          <!-- <label>Indirizzo del domicilio</label>
          <div class="form-group">
            <input class="form-control" name="address1" #street="ngModel" [(ngModel)]="userData.street" placeholder="Via Verdi 13">
          </div> -->
          <!-- <label>Città e CAP</label>
          <div class="form-group double-input">
            <input class="form-control first" name="address2" #city="ngModel" [(ngModel)]="userData.city" placeholder="Città">
            <input class="form-control second" name="number2" #postal_code="ngModel" [(ngModel)]="userData.postal_code" placeholder="CAP">
          </div> -->
          <!-- <label>Provincia e Nazione</label>
          <div class="form-group double-input">
            <input class="form-control first" name="city" #province="ngModel" [(ngModel)]="userData.province" placeholder="Provincia">
            <input class="form-control second" name="country" #country="ngModel" [(ngModel)]="userData.country" placeholder="Nazione">
          </div> -->
          <!-- <label>Partita IVA</label>
          <div class="form-group">
            <input class="form-control" name="piva" placeholder="P.IVA">
          </div> -->
          <!-- <label>Codice Fiscale</label>
          <div class="form-group">
            <input class="form-control" name="codice" placeholder="Codice Fiscale">
          </div> -->
          <div class="profile-information" *ngIf="formError">
            <strong *ngIf="formError.title.length > 0">{{formError.title}}</strong> {{formError.message}}
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-warning" (click)="updateProfile()">Aggiorna Informazioni</button>
          </div>
          <!--<div class="form-group">-->
            <!--<button type="button" class="btn btn-secondary" (click)="logout()"><span class="fa fa-sign-out"></span> Log out</button>-->
          <!--</div>-->
        </form>
      </div>
      <div class="cards-page" *ngIf="selectTab === 'payment'">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="card-block" *ngFor="let card of cards">
          <div class="container">
            <div class="header">
              <div class="card-logo {{ formatCssClass(card.brand) }}"><span>**** {{ card.last4 }}</span></div>
              <div class="isDefault" *ngIf="defaultCard === card.id">Default</div>
              <div class="buttons-block">
                <a class="btn btn-primary" *ngIf="defaultCard !== card.id" (click)="selectCard(card.id)">Default</a>
                <a class="btn btn-primary" (click)="deleteCard(card.id)">Rimuovi</a>
                <a class="btn btn-secondary" (click)="editCard(card.id)">Modifica</a>
              </div>
            </div>
            <div class="content">
              <div class="card-information">
                <div class="information-block">
                  <span>Nome:</span>
                  {{ card.name }}
                </div>
                <div class="information-block">
                  <span>Numero:</span>
                  **** {{ card.last4 }}
                </div>
                <div class="information-block">
                  <span>Scadenza:</span>
                  {{ card.exp_month }}/{{ formatYear(card.exp_year) }}
                </div>
                <div class="information-block">
                  <span>Tipo:</span>
                  {{ card.brand }} {{ card.funding }} {{ card.object }}
                </div>
              </div>
              <div class="card-information">
                <div class="information-block">
                  <span>Indirizzo:</span>
                  {{ card.address_line1 }} {{ card.address_line2 }} <br>
                  {{ card.address_state }} {{ card.address_city }} <br>
                  {{ card.address_zip }} {{ card.address_country }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <a class="new-card" (click)="addNewCard()">
            Aggiungi un metodo di pagamento
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-container light-footer">
  <div class="container">
    <div class="copyright"><a routerLink="/"><strong>Starbook</strong> © 2017 Tutti i diritti riservati</a></div>
    <span> • </span><a routerLink="../../legal">Privacy e Condizioni</a>
    <span> • </span><a routerLink="../../about">Chi siamo</a>
    <span> • </span><a routerLink="../../help">Aiuto e Assistenza</a>
  </div>
</div>



<div class="dark-screen" *ngIf="activePopup !== ''" (click)="closePopup()"></div>
<!-- Change password -->
<div class="popup" *ngIf="activePopup === 'changePassword'">
  <div class="alert-block" *ngIf="formError">
    <div class="alert-icn"></div>
    <div class="alert-container">
      <div class="header">{{formError.title}}</div>
      <p>{{formError.message}}</p>
    </div>
  </div>
  <div class="header">Cambia password</div>
  <form class="login-form" #changePasswordForm="ngForm">
    <div class="form-group" [ngClass]="{'isError': changePasswordError.currentPassword}">
      <label for="currentPassword">La tua password</label>
      <input id="currentPassword" class="form-control" type="password" name="currentPassword" placeholder="" required [(ngModel)]="changePasswordData.currentPassword" #currentPassword="ngModel">
      <span class="error">La tua password attuale è richiesta</span>
    </div>
    <div class="form-group">
      <label for="newPassword">Nuova password</label>
      <input id="newPassword" class="form-control" type="password" name="newPassword" placeholder="" required [(ngModel)]="changePasswordData.newPassword" #newPassword="ngModel">
    </div>
    <div class="form-group" [ngClass]="{'isError': changePasswordError.passwordConfirm}">
      <label for="passwordConfirm">Ripeti la nuova password</label>
      <input id="passwordConfirm" class="form-control" type="password" name="password" placeholder="" required [(ngModel)]="changePasswordData.passwordConfirm" #passwordConfirm="ngModel" (keyup)="checkPassword(newPassword.value, passwordConfirm.value)">
      <span class="error">Le password non corrispondono</span>
    </div>
    <div class="form-group">
      <button class="btn btn-warning" type="submit" [disabled]="!changePasswordForm.form.valid" (click)="changePassword(currentPassword.value, newPassword.value, passwordConfirm.value)">Cambia password</button>
    </div>
  </form>
</div>
