<div class="col-sm-3 col-md-2 sidebar">
  <form class="sidebar-container" #orderForm="ngForm" (window:resize)="onResize()">
    <div class="sidebar-block">
      <div class="order-header">
        <span>Costo del servizio</span>
      </div>
      <div class="order-content">
        <div class="price-block">
          <div class="loader-section" *ngIf="price_state.loading">
            <i class="fa fa-circle-o-notch animate"></i>
            <h2>Applicando lo sconto...</h2>
          </div>
          <div *ngIf="!price_state.loading">
            <div class="total">
              <h1>{{getFinalPrice()/100}}€</h1>
              <span>IVA INCLUSA</span>
              <h2 *ngIf="price_state.is_referral">{{getInitialPrice()/100}}€</h2>
              <h6>Totale Offerta</h6>
            </div>
            <div class="upfront">
              <h1>{{getUpFront()/100}}€</h1>
              <h6>Blocca Offerta (30% del totale)</h6>
            </div>
            <div class="timing">
              <h2>{{getTiming()}}</h2>
              <h6>Durata Lavoro (Approssimativo)</h6>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group">
          <button class="btn btn-warning" (click)="startWizard()">CONTINUA</button>
        </div>
        <div class="description">
          Le offerte del preventivo possono cambiare in base alle richieste del mercato. Blocca il prezzo versando un acconto.
        </div>
      </div>
    </div>
  </form>
</div>
