<div class="col-sm-3 col-md-2 sidebar">
  <form class="sidebar-container" #orderForm="ngForm" (window:resize)="onResize()">
    <div class="sidebar-block">
      <div class="order-header">
        <span>Costi del servizio</span>
      </div>
      <div class="order-content">
        <div class="price-block">
          <!-- <div class="loader-section" *ngIf="price_state.loading">
            <i class="fa fa-circle-o-notch animate"></i>
            <h2>Applicando lo sconto...</h2>
          </div> -->
          <!-- <div class="total" *ngIf="!price_state.loading">
            <h1>{{getFinalPrice()/100}}€</h1>
            <span>Costo minimo del servizio</span>
            <span>PREZZO MINIMO DEL SERVIZIO</span>
            <h2 *ngIf="price_state.is_referral">{{getInitialPrice()/100}}€</h2>
          </div> -->
          <!-- <div class="item">
            <span class="text">Unità di misura</span> <span class="value">ORE</span>
          </div> -->
          <div class="item">
            <span class="text">A partire da</span><span class="value">{{getMinPrice()/100}}€</span>
          </div>
          <div class="item">
            <span *ngIf="getPriceUnit()"><span class="text">Prezzo medio</span><span class="amount">{{getPriceUnit()/100}}<span class="unit">€/{{getUnit()}}</span></span></span>
          </div>
          <div class="item">
            <span class="text">Acconto</span><span class="value">15€</span>
          </div>

          <!-- <div class="total" *ngIf="!price_state.loading">
            <span class="text">Prezzo minimo</span> <span class="price">567€</span>
          </div>
          <div class="total" *ngIf="!price_state.loading">
            <span>PREZZO</span>
            <h1>941€</h1>
          </div>
          <div class="upfront" *ngIf="!price_state.loading">
            <span>Garanzia</span>
            <h1>{{getUpFront()/100}}€</h1>
          </div> -->
          <div class="item" *ngIf="!price_state.loading">
          </div>

          <!-- <div class="item">
            <span class="text"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Disponibilità su prenotazione</span><br>
          </div>
          <div class="item">
            <span class="text"><i class="fa fa-clock-o" aria-hidden="true"></i> Durata minima</span>
          </div>
          <div class="item">
            <span class="text"><i class="fa fa-map-marker" aria-hidden="true"></i> Sopraluogo</span><br>
          </div>
          <div class="item">
            <span class="text"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Modalità di pagamento con carta</span>
          </div> -->
        </div>
        <!-- <div class="form-group">
          <button class="btn btn-warning" (click)="startWizard()">Fissa un sopralluogo</button>
        </div> -->

        <!-- <div class="line"></div> -->
        <!-- <div class="form-group">
          <button class="btn btn-warning" (click)="startWizard()">CONTINUA <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div> -->
        <!-- <div class="form-group">
          <button class="btn btn-danger" (click)="startWizard()">PRONTO INTERVENTO <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
        <div class="form-group">
          <button class="btn btn-success" (click)="startWizard()">SALVA <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div> -->

        <!-- <div class="description">
          Le offerte del preventivo possono cambiare in base alle richieste del mercato. Blocca il prezzo versando un acconto.
        </div> -->
        <!-- <div class="line"></div> -->
        <!-- <div class="links noselect">
          <a routerLink="/share" (click)="share()">Condividi</a>
          <a *ngIf="currentUser && !estimate_state.saved" (click)="saveEstimate()">Salva</a>
          <a *ngIf="currentUser && estimate_state.saved">Salvato!</a>
        </div> -->
      </div>
    </div>
  </form>
</div>
