<div class="about-cover">
  <img src="https://s3-eu-west-1.amazonaws.com/starbook-s3/casa%2Blavorazioni.jpg" alt="Cura per la sasa">
  <div class="mission-overlay">
    <h1>Missione</h1>
    <p>La nostra missione non è solo quella di offrire tutti i servizi necessari per la casa ma quella di offrire i servizi intelligenti, che aiutano a risparmiare energia, crescere il valore e per di più con prezzi accessibili a chiunque.</p>
  </div>
</div>
<div class="container">
  <h1>Team Starbook</h1>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="member-box">
        <img src="https://s3-eu-west-1.amazonaws.com/starbook-s3/harald-bregu.png" alt="Harald Bregu">
        <div class="content">
          <h3>Harald Bregu</h3>
          <h6>Founder • Product Developer</h6>
          <p>Migliorare i servizi. Accelerare i tempi. Offrire massima professionalità. Tre punti fondamentali che ho imparato e sono diventate le regole per costruire il futuro professionale e dove il progetto Starbook ha preso forma.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="member-box">
        <img src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png" alt="Daniel Lopez Bucheli">
        <div class="content">
          <h3>Daniel Lopez Bucheli</h3>
          <h6>Co-founder • Ingegnere Gestionale & Business Designer</h6>
          <p>Nato in Colombia, vivo a Torino. Appassionato per la generazione di quelle idee che possono migliorare e semplificare la vita delle persone.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="member-box">
        <img src="https://s3-eu-west-1.amazonaws.com/starbook-s3/danilo-gallo.png" alt="Danilo Gallo">
        <div class="content">
          <h3>Danilo Gallo</h3>
          <h6>Co-founder • Product & UX Designer</h6>
          <p>Uso la tecnologia per cambiare drasticamente il modo in cui le cose funzionano per migliorarle. Sempre disponibile a nuove sfide e miro a generare prodotti o servizi che migliorano la vita delle persone.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="member-box">
        <img src="https://s3-eu-west-1.amazonaws.com/starbook-s3/users/aleksandr-gorin-0.jpeg" alt="Alexander Gorin">
        <div class="content">
          <h3>Alexander Gorin</h3>
          <h6>Contributor • Sviluppatore Full Stack</h6>
          <p>Sviluppatore Senior Full Stack. 10 anni di esperienza nello sviluppo di prodotti IT. Il mio obiettivo primario è la costruzione di interfacce efficienti per gli utenti.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer-container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <ul>
          <li>Starbook © 2017</li>
          <li>Tutti i diritti riservati</li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <ul>
          <li><a routerLink="../legal">Privacy e Condizioni</a></li>
          <li><a routerLink="../help">Aiuto e Assistenza</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <ul>
          <li><a routerLink="../about">Chi siamo</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <ul>
          <li><a routerLink="../recruiter/share">Affiliazione</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
