<div class="about-container">
  <div class="about-cover">
    <img src="https://s3-eu-west-1.amazonaws.com/starbook-s3/casa%2Blavorazioni.jpg" alt="casa">
    <div class="mission-overlay">
      <h1>Missione</h1>
      <p>La nostra missione non è solo quella di offrire tutti i servizi necessari per la casa ma quella di offrire i servizi intelligenti, che aiutano a risparmiare energia, crescere il valore e per di più con prezzi accessibili a chiunque.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="member-box">
        <img src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png">
        <div class="content">
          <h3>Harald Bregu</h3>
          <h5>Fondatore • Sviluppatore</h5>
          <h5>Fondatore di Starbook, Sviluppatore Web Mobile full stack, 14 anni di esperienza in diverse attività lavorative e 8 anni di esperienza nella programmazione software.</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="member-box">
        <img src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png">
        <div class="content">
          <h3>Alexander Gorin</h3>
          <h5>Sviluppatore Web</h5>
          <h5>Sviluppatore Senior Full Stack, UI/UX design, forte esperienza nello sviluppo di applicazioni web, front end e back end.</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="member-box">
        <img src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png">
        <div class="content">
          <h3>Daniel Lopez Bucheli</h3>
          <h5>Business Design</h5>
          <h5>Sviluppatore Senior Full Stack, UI/UX design, forte esperienza nello sviluppo di applicazioni web, front end e back end.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-container light-footer">
  <div class="container">
    <div class="copyright"><a routerLink="/"><strong>Starbook</strong> © 2017 Tutti i diritti riservati</a></div>
    <span> • </span><a routerLink="../legal">Privacy e Condizioni</a>
    <span> • </span><a routerLink="../about">Chi siamo</a>
    <span> • </span><a routerLink="../help">Aiuto e Assistenza</a>
  </div>
</div>
