<div class="about-container">
  <div class="member-box" *ngFor="let member of memberObject">
    <img src="{{member.avatar_url}}">
    <div class="content">
      <h3>{{member.fullname}}</h3>
      <h5>{{member.headline}}</h5>
      <h5>{{member.description}}</h5>
      <i class="fa fa-envelope"></i> {{member.email}}
    </div>
  </div>
</div>
<div class="footer-container light-footer">
  <div class="container">
    <div class="copyright"><a routerLink="/"><strong>Starbook</strong> © 2017 Tutti i diritti riservati</a></div>
    <span> • </span><a routerLink="../legal">Privacy e Condizioni</a>
    <span> • </span><a routerLink="../about">Chi siamo</a>
    <span> • </span><a routerLink="../help">Aiuto e Assistenza</a>
  </div>
</div>
