app-requests {
  display: block;
  width: 100%;
  height: 100%;
  padding: 70px 0 0;

  .btn-warning {
    width: 100%;
    height: 60px;
    font-weight: 700;
    font-size: 30px;
    i {
      position: absolute;
      left: 20px;
      line-height: 60px;
      top: 0;
      font-size: 30px;
    }
  }

  .service-container {
    // position: absolute;
    // background-image: url("https://s3-eu-west-1.amazonaws.com/starbook-s3/website/illustration-city-blue.png");
    // background-repeat: no-repeat;
    // background-position: center bottom;
    // background-size: 100%;
    // top: 70px;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // overflow: scroll;
    .service {
      border: 1px solid #DBDBDB;
      background: white;
      max-width: 600px;
      padding: 40px;
      margin: 40px auto;
      .header {
        padding-bottom: 30px;
        h3 {
          margin-bottom: 20px;
        }
        h6 {
          font-weight: 300;
          line-height: inherit;
        }
      }
    }
    .estimate {
      display: block;
      max-width: 1130px;
      margin: auto;
      padding: 50px;
      border-bottom: 1px solid #CCCCCC;
      border: 1px solid #CCCCCC;
      background: #F7F7F7;
      margin: 50px auto;

      .header {
        h3 {
          margin-bottom: 10px;
        }
      }
      .line {
        display: block;
        margin: 20px auto 20px;
        height: 1px;
        border-top: 0.5px solid #CCCCCC;
      }
      .counts {
        overflow: auto;
        .item {
          float: left;
          width: 50%;
          font-size: 18px;
          font-weight: 500;
          line-height: 36px;
        }
        .amount {
          float: left;
          width: 50%;
          font-size: 28px;
          text-align: right;
          font-weight: 900;
        }
        .initial {
          font-weight: 400;
          text-decoration: line-through;
        }
      }
      .actions {
        text-align: right;
        padding: 20px 0;
      }
      .links {
        text-align: center;
      }
    }
  }

  @media (max-width: 425px) {
    .service {
      padding: 50px 10px;
    }
  }
}
