<nav class="navbar navbar-dark navbar-fixed-top bg-inverse" [style.border-bottom]="border_bottom_color" (window:resize)="onResize()">
  <div class="container-starbook top-menu">

    <a class="navbar-brand" (click)="clickBrandLogo()">
      <img *ngIf="brandLogo()" [src]="brandLogo()" alt="starbook">
    </a>

    <div *ngIf="hasCenterContainer" class="center-container">
      <div class="search-block" *ngIf="isFindField">
        <p-autoComplete [(ngModel)]="findValue" [suggestions]="results" field="title" scrollHeight="250px" (completeMethod)="search($event)" (onSelect)="selectResult(findValue)" placeholder="Cerca un altro servizio" minLength="0">
          <template let-res>
            <div class="search-result" (click)="selectResult(res)">{{ res.title }}</div>
          </template>
        </p-autoComplete>
        <div class="spinner" *ngIf="spinerView">
          <svg width='20px' height='20px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
            <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
            <circle cx="50" cy="50" r="45" stroke-dasharray="169.64600329384882 113.09733552923257" stroke="#3B568D" fill="none" stroke-width="10">
              <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform>
            </circle>
          </svg>
        </div>
        <div class="close-container" *ngIf="!spinerView && clearView">
          <span class="close rounded thick" (click)="clearSearchForm()"></span>
        </div>
        <div class="ui-autocomplete-panel empty" *ngIf="results.length === 0 && findValue.length > 0 && isSearched">
          <div class="no-result">
            Il servizio "{{findValue}}" non è disponibile
            <button class="suggess-service" (click)="requireService()">{{newServiceRequest.message}}</button>
          </div>
        </div>
      </div>
      <div *ngIf="!isFindField" class="tagline">{{tagline}}</div>
    </div>

    <!-- <ul *ngIf="auth !== false && hasRightContainer" class="nav navbar-nav float-xs-right" [ngClass]="{'collapse':!collapsed}">
      <li class="nav-item">
        <a class="nav-link home" routerLink="" (click)="updateTabMenu(true)">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link orders" routerLink="/orders/requests" (click)="toggleMenu()">Ordini</a>
      </li>
      <li class="nav-item">
        <a class="nav-link profile" routerLink="/account/profile" (click)="toggleMenu()"><i class="fa fa-user-circle-o" aria-hidden="true"> </i> {{getUsername()}}</a>
      </li>
    </ul>

    <ul *ngIf="auth === false && browser && hasRightContainer" class="nav navbar-nav float-xs-right" [ngClass]="{'collapse':!collapsed}">
      <li class="nav-item" *ngIf="collapsed">
        <a class="nav-link home" routerLink="" (click)="updateTabMenu(true)">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link profile" (click)="getLoginPopup()">Entra</a>
      </li>
    </ul> -->

    <div class="user-container dropdown" *ngIf="hasRightContainer">
      <!-- <a class="user" data-toggle="dropdown"><img class="image" src="../assets/images/no_user.png" alt="Starbook User"></a> -->
      <a class="user" data-toggle="dropdown">
        <img *ngIf="!auth" class="image" src="../assets/images/no_user.png" alt="Starbook User">
        <img *ngIf="auth" class="image" [src]="account_avatar_url" (error)="errorHandler($event)" alt="Starbook User">
        <!-- <img *ngIf="auth" class="image" [src]="../assets/images/no_user.png" onError="../assets/images/no_user.png" alt="Starbook User"> -->
      </a>
      <ul class="dropdown-menu">
        <li class="list-item" *ngIf="!auth" (click)="getLoginPopup()"><a class="btn btn-default">Entra adesso</a></li>
        <li class="list-item" *ngIf="!auth"><a class="btn btn-default" routerLink="/company">Sei un professionista?</a></li>
        <li class="list-item"><a class="btn btn-default" routerLink="/insert/product">Pubblica un servizio</a></li>
        <li class="list-item" *ngIf="auth"><a class="btn btn-default" routerLink="/orders/requests">Ordini</a></li>
        <li class="list-item line"></li>
        <li class="list-item" *ngIf="auth"><a class="btn btn-default" routerLink="/account/profile">Account</a></li>
        <li class="list-item"><a class="btn btn-default" routerLink="/blog">Blog</a></li>
        <li class="list-item line"></li>
        <li class="list-item"><a class="btn btn-default" routerLink="/info/legal">Privacy & Condizioni</a></li>
        <li class="list-item"><a class="btn btn-default" routerLink="/info/about">Chi siamo</a></li>
        <li class="list-item line"></li>
        <li class="list-item"><a class="btn btn-default" routerLink="/info/help">Aiuto</a></li>
        <li class="list-item" *ngIf="auth" (click)="logout()"><a class="btn btn-default">Esci</a></li>
      </ul>
    </div>

  </div>
</nav>

<!-- <nav class="navbar navbar-dark navbar-fixed-top bg-inverse" [style.border-bottom]="border_bottom_color" (window:resize)="onResize()">
  <div class="container-starbook top-menu">
    <a class="navbar-brand" (click)="clickBrandLogo()">
      <img *ngIf="brandLogo()" [src]="brandLogo()" alt="starbook">
    </a>
  </div>
</nav> -->



<router-outlet></router-outlet>
<app-popups></app-popups>
