app-category {
  display: block;
  width: 100%;
  height: 100%;
  padding: 70px 0 0;
  .category-container {
    .category-header {
      max-width: 1440px;
      margin: auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color: white;
      .overlay {
        background-color: rgba(18, 18, 18, 0.5);
      }
      .header-content {
        padding: 50px 10px;
        text-align: center;
        .header {
          max-width: 700px;
          margin: auto;
        }
        .professional-container {
          // padding: 40px;
          // background: rgba(0, 0, 0, 0.2);
          // max-width: 900px;
          // margin: auto;
        }
        h1 {
          font-size: 46px;
          font-weight: 500;
          margin-bottom: 10px;
          // margin-bottom: 20px;
        }
        h5 {
          font-weight: 300;
        }
        img {
          max-width: 30px;
        }
        .picture {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center top;
          width: 200px;
          height: 250px;
          margin: auto;
          border: 1px solid white;
        }
        .actions {
          padding: 20px 0;
        }
      }
      .shortcut-services {
        background: #161517;
        padding: 20px 0;
        .btn {
          padding: 0 40px;
          font-size: 26px;
          height: 60px;
          border-radius: 30px;
          min-width: 200px;
          color: black;
          line-height: 60px;
        }
        .shortcut {
          overflow: auto;
          max-width: 900px;
          margin: auto;
          .details {
            float: left;
            span {
              font-size: 18px;
            }
            .price {
              color: #FFC845;
              font-size: 36px;
              font-weight: 500;
            }
          }
          .actions {
            float: right;
          }
        }
      }
      .tabs-container {
        overflow: auto;
        // height: 70px;
        padding: 50px 10px;
        .tabs {
          overflow: auto;
          height: 100%;
          max-width: 900px;
          margin: auto;
          .tab-container {
            display: inline-block;
            height: 100%;
            padding: 10px;
            .tab {
              background: #3498db;
              border-radius: 3px;
              color: white;
              padding: 15px 40px;
              cursor: pointer;
              font-size: 20px;
              font-weight: 500;
            }
            .tab:hover {
              background: #3687bd;
            }
            .danger {
              background: #c0392b;
            }
            .danger:hover {
              background: #b62f21;
            }
            .warning {
              background: #f1c40f;
            }
            .warning:hover {
              background: #e7ba05;
            }
          }
        }
      }
    }
    .services-container {
      max-width: 1440px;
      margin: auto;
      overflow: auto;
      padding: 50px 10px;
      h3 {
        text-align: center;
        margin-bottom: 40px;
      }
      .service-container {
        float: left;
        padding: 10px;
        width: 25%;
        .service {
          position: relative;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          color: white;
          text-align: center;
          height: 300px;
          color: white;
          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          .title {
            display: block;
            position: absolute;
            z-index: 2;
            font-weight: 900;
            color: white;
            font-size: 30px;
            line-height: 120%;
            white-space: normal !important;
            text-align: left;
            padding: 15px;
            bottom: 0;
            width: 100%;
            background: -webkit-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important;
            background: -moz-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important;
            background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important;
            p {
              font-size: 30px !important;
            }
          }
          .overlay {
            line-height: 200px;
            border-radius: 3px;
            width: 100%;
            height: 100%;
            padding: 20px;
            background-color: rgba(7, 43, 88, 0.60);
          }
          .overlay:hover {
            background-color: rgba(7, 43, 88, 1);
          }
        }
        .service:hover {
          // background: rgba(107, 107, 214, 0.5);
        }
        .custom {
          line-height: 300px;
          border-radius: 3px;
          cursor: pointer;
          padding: 0 15px;
          text-align: center;
          font-size: 30px;
          background: rgba(0, 0, 0, 0.05);
        }
        .custom:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
      .big-container {
        float: left;
        padding: 10px;
        width: 75%;
      }
    }
    .share-container {
      padding: 50px 10px;
      border-top: 1px solid #DBDBDB;
      background: rgba(246, 247, 248, 1);
      .share {
        padding: 10px;
        max-width: 1440px;
        margin: auto;
        .title {
          text-align: center;
        }
      }
    }
    .footer-container {
      // border-top: 1px solid #dce0e0;
      // background: white;
      .footer {
        // padding: 50px 10px;
        // max-width: 1440px;
        // margin: auto;
        ul {
          text-align: center;
          li {
            display: inline-block;
            padding: 0 10px;
            font-size: 18px;
          }
        }
      }
    }

    .contact-container {
      max-width: 1440px;
      margin: auto;
      padding: 50px 10px;
      .form-container {
        .btn {
          padding: 0;
          margin: 0;
          font-size: 20px;
          height: 50px;
          border-radius: 0px;
          width: 100%;
        }
        .header {
          padding-bottom: 30px;
        }
        max-width: 900px;
        margin: auto;
        background: white;
        padding: 40px;
        border: 1px solid #DBDBDB;
      }
    }

    .search-container {
      padding: 20px;
      background: #161517;
      .search {
        display: block;
        position: relative;
        max-width: 900px;
        width: 100%;
        margin: auto;
        height: 60px;
        .search-field {
          display: inline-block;
          float: left;
          width: 90%;
        }
        .search-button {
          display: inline-block;
          float: left;
          width: 10%;
          height: 60px;
          .btn {
            width: 100%;
            height: 100%;
          }
        }
        .ui-autocomplete-input {
          display: block;
          width: 100%;
          height: 60px;
          padding: 15px 46px 15px 30px;
          background-color: #FFFFFF;
          border: none;
          box-shadow: none;
          outline: none;
          // color: #212121;
          font-size: 20px;
          letter-spacing: 0.11px;
        }
        .close-container {
          display: block;
          position: absolute;
          top: 17px;
          right: 13%;
        }
        .close-container .close{
          position: relative;
          display: inline-block;
          width: 25px;
          height: 25px;
          overflow: hidden;
          &::before, &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -1px;
            background: #3498db;
          }
          &::before {
           transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
          &.thick {
            &::before, &::after {
              height: 4px;
              margin-top: -2px;
            }
          }
          &.rounded {
            &::before, &::after {
              border-radius: 5px;
            }
          }
        }
        .ui-autocomplete-panel {
          display: block;
          position: absolute;
          overflow-y: auto;
          width: 90% !important;
          background-color: #FFFFFF;
          border-left: 1px solid #DCDCDC;
          border-right: 1px solid #DCDCDC;
          border-bottom: 1px solid #DCDCDC;
          outline: none;
          border-radius: 1px;
          text-align: left;
        }
        .ui-autocomplete-panel .ui-state-highlight .search-result {
          color: white;
          background-color: #506795;
        }
        .ui-autocomplete-panel .search-result {
          display: block;
          width: 100%;
          color: #212121;
          font-size: 16px;
          letter-spacing: 0.1px;
          padding: 20px 30px;
        }
        .ui-autocomplete-panel.empty {
          margin-top: 0;
        }
        .ui-autocomplete-panel.empty .no-result {
          display: block;
          width: 100%;
          color: #8D9494;
          font-size: 14px;
          letter-spacing: 0.1px;
          padding: 15px 30px;
        }
        .spinner {
          display: block;
          position: absolute;
          top: 15px;
          right: 13%;
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .category-container {

    }
  }
  @media (max-width: 768px) {
    .category-container {
      .services-container {
        .service-container {
          width: 50%;
        }
      }
    }
  }
  @media (max-width: 425px) {
    .category-container {
      .services-container {
        .service-container {
          width: 100%;
        }
      }
    }
  }
}
