<div class="category-container" *ngIf="category">
  <div class="category-header" [ngStyle]="{'background-image' : ' url(' + images_url + 'services/'+ category._id + '/cover/0' + ')'}">
    <div class="overlay">
      <div class="header-content">
        <div class="header">
          <h1>{{category.title}}</h1>
          <!-- <p>{{category.description}}</p> -->
        </div>
      </div>
      <!-- <div class="shortcut-services" *ngFor="let shortcut of category.shortcut_services">
        <div class="shortcut">
          <div class="details">
            <h2>{{shortcut.title}}</h2>
            <span>A partire da </span><span class="price">{{shortcut.min_amount/100}}€</span>
          </div>
          <div class="actions">
            <button class="btn btn-warning" (click)="pushShortcut(shortcut)">Ordina ora <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div> -->
      <!-- <div class="tabs-container">
        <div class="tabs">
          <div class="tab-container" *ngFor="let action of category.direct_actions">
            <div class="tab" (click)="showDirectAction(action)" [ngClass]="action.type">
              {{action.title}}
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- <div class="search-container">
    <div class="search">
      <div class="search-field">
        <p-autoComplete [(ngModel)]="query" [suggestions]="results" field="title" scrollHeight="275px" (completeMethod)="search($event)" (onSelect)="selectResult(query)" placeholder="Cerca un servizio" minLength="0">
          <template let-res>
            <div class="search-result" (click)="selectResult(res)">{{ res.title }}</div>
          </template>
        </p-autoComplete>
        <div class="spinner" *ngIf="spinerView">
          <svg width='21px' height='21px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
            <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
            <circle cx="50" cy="50" r="45" stroke-dasharray="169.64600329384882 113.09733552923257" stroke="#3B568D" fill="none" stroke-width="10">
              <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform>
            </circle>
          </svg>
        </div>
        <div class="close-container" *ngIf="!spinerView && clearView">
          <span class="close rounded thick" (click)="clearSearchForm()"></span>
        </div>
        <div class="ui-autocomplete-panel empty" *ngIf="results.length === 0 && query.length > 0">
          <div class="no-result noselect">
            Il servizio "{{query}}" non è disponibile
            <button class="suggess-service" (click)="requireService()">{{newServiceRequest.message}}</button>
          </div>
        </div>
      </div>
      <div class="search-button">
        <button class="btn btn-primary" (click)="searchMore()"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </div>
  </div> -->
  <div class="services-container" *ngIf="services.length>0">
    <h3>Servizi correlati</h3>
    <div class="service-container" *ngFor="let service of services">
      <div class="service" (click)="showServicePage(service)" [ngStyle]="{'background-image' : ' url(' +  images_url + 'services/'+ service._id + '/cover/0' + ')'}">
        <div class="title">
          <span>{{service.title}}</span>
        </div>
      </div>
    </div>
    <!-- <div class="service-container" *ngIf="services && services.length>0">
      <div class="service custom" (click)="requireService()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div> -->
  </div>
  <div class="footer-container">
    <div class="footer">
      <ul>
        <li><a routerLink="/info/help">Aiuto e Assistenza</a></li>
        <li><a routerLink="/requests/service">Chiedi un servizio</a></li>
        <li><a routerLink="/info/about">Chi siamo</a></li>
      </ul>
    </div>
  </div>
</div>
