<div class="category-container" *ngIf="category">
  <div class="category-header" [ngStyle]="{'background-image' : ' url(' + images_url + 'categories/'+ category._id + '/cover/0' + ')'}">
    <div class="overlay">
      <div class="header-content">
        <h1>{{category.title}}</h1>
        <!-- <h5>{{category.description}}</h5> -->
        <div class="picture" [ngStyle]="{'background-image' : ' url(' + images_url + 'categories/'+ category._id + '/avatar/0' + ')'}"></div>
        <div class="actions">
          <button class="btn btn-success" type="button" name="button" (click)="checkOut()">Sopraluogo</button>
          <button class="btn btn-danger" type="button" name="button" (click)="checkOut()">Prenota</button>
          <button class="btn btn-warning" type="button" name="button" (click)="checkOut()">Preventivo</button>
          <button class="btn btn-warning" type="button" name="button" (click)="checkOut()">Consulenza</button>
        </div>
      </div>
    </div>
  </div>
  <div class="description-container">
  </div>
  <div class="services-container">
    <div class="search-container">
      <div class="form-group">
        <input type="search" placeholder="Cerca" class="form-control" id="lastNameInput" [(ngModel)]="page" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="service-container">
      <div class="service">
        <p>Riparazione rubinetti</p>
      </div>
    </div>
    <div class="service-container">
      <div class="service">
        <p>Riparazione rubinetti</p>
      </div>
    </div>
    <div class="service-container">
      <div class="service">
        <p>Riparazione rubinetti</p>
      </div>
    </div>
    <div class="service-container">
      <div class="service">
        <p>Riparazione rubinetti</p>
      </div>
    </div>
    <div class="service-container">
      <div class="service">
        <p>Riparazione rubinetti</p>
      </div>
    </div>
    <div class="service-container">
      <div class="service">
        <p>Riparazione rubinetti</p>
      </div>
    </div>
    <div class="service-container">
      <div class="service">
        <p>Riparazione rubinetti</p>
      </div>
    </div>
    <div class="service-container">
      <div class="service">
        <p>Riparazione rubinetti</p>
      </div>
    </div>
    <div class="service-container">
      <div class="service">
        <p>Riparazione rubinetti</p>
      </div>
    </div>
    <div class="service-container">
      <div class="service">
        <p>Riparazione rubinetti</p>
      </div>
    </div>
  </div>
  <div class="contact-container">

  </div>
  <div class="how-to-container">
    <!-- <div class="row">
      <div class="col-md-3">
        <div class="box-container">
          <div class="box">
            <h1>Item</h1>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-container">
          <div class="box">
            <h1>Item</h1>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-container">
          <div class="box">
            <h1>Item</h1>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-container">
          <div class="box">
            <h1>Item</h1>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="footer-container">
    <!-- <p>This is the footer</p> -->
  </div>
</div>
