<div class="tools-container">
  <div class="tools">
    <div class="facebook-reachestimate" *ngIf="page==='facebook_reachestimate'">
      <div class="reachestimate-header">
        <h1>Clienti su Facebook?</h1>
        <h2><u>Scopri</u> quanti ci sono <u>nella tua zona</u>!</h2>
      </div>
      <div class="direction-arrow">
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
      </div>
      <div class="reachestimate-body">
        <div class="loader-container" *ngIf="reachestimate_state.loading">
          <span>In cerca di utenti vicino a te...</span>
          <div class="loader"></div>
        </div>
        <div class="created-container" *ngIf="reachestimate_state.created">
          <span class="text">{{reachestimate_state.success_message}}</span>
          <span class="estimate">{{reachestimate_state.estimate_number}}</span>
          <span class="text">persone</span>
        </div>
        <div class="cap-field-container" *ngIf="!reachestimate_state.loading && !reachestimate_state.created">
          <h5>Inserisci il tuo cap</h5>
          <input class="form-control" type="text" id="cap-input" placeholder="CAP" [(ngModel)]="cap" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="actions">
          <button *ngIf="!reachestimate_state.loading && !reachestimate_state.created" class="btn btn-circular" id="continueWithFacebook" (click)="continueWithFacebook('')">Cerca</button>
          <button *ngIf="reachestimate_state.created" class="btn btn-success" id="continueWithFacebook" (click)="continueWithFacebook('/account/new_promotion')">Pubblicizza attività</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tools-footer">
  <div class="footer">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
            © 2017 • Starbook Tutti i diritti riservati
            <a routerLink="/info/legal" target="_blank">Termini e Condizioni</a>
            <span> • </span>
            <a routerLink="/info/legal" target="_blank">Privacy Policy</a>
            <span> • </span>
            <a routerLink="/info/help" target="_blank">Aiuto e Assistenza</a>
            <span> • </span>
            <a routerLink="/company" target="_blank">Per le aziende</a>
            <span *ngIf="!CurrentAccount"> • </span>
            <a *ngIf="!CurrentAccount" routerLink="/auth/login" target="_blank">Entra</a>
          </p>
        </div>
      </div>
  </div>
</div>
