<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <div class="container-starbook top-menu">
    <a class="navbar-brand" routerLink="" (click)="updateTabMenu()">Starbook</a>
    <div class="tagline">{{tagline}}</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-label="Menu" (click)="toggleMenu()"></button>
    <ul class="nav navbar-nav float-xs-right" *ngIf="auth !== false" [ngClass]="{'collapse':navbarState===false}">
      <li class="nav-item">
        <a class="nav-link home" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="updateTabMenu(true)">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link orders" routerLink="/orders" routerLinkActive="active" (click)="toggleMenu()">Ordini</a>
      </li>
      <li class="nav-item">
        <a class="nav-link profile" routerLink="/profile/settings" routerLinkActive="active" (click)="toggleMenu()">{{auth.profile.fullname}}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav float-xs-right" *ngIf="auth === false" [ngClass]="{'collapse':navbarState===false}">
      <li class="nav-item">
        <a class="nav-link profile" (click)="getLoginPopup()">Accedi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link profile" (click)="getRegistrationPopup()">Registrati</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<app-popups (close)="closePopup()"></app-popups>
