// Wizard styles
$wizard-background-color: #F7F7F7;
$wizard-border-style: 1px solid #CCCCCC;
$wizard-header-text-color: #000000;
$wizard-header-text-size: 18px;
$wizard-header-text-letter-spacing: 0.11px;
$wizard-content-header-text-color: #000000;
$wizard-content-header-text-size: 28px;
$wizard-content-header-text-letter-spacing: 0.16px;
$wizard-content-action-header-text-letter-spacing: 0.18px;
$wizard-content-item-text-color: #000000;
$wizard-content-item-text-size: 18px;
$wizard-content-item-text-letter-spacing: 0.11px;
$wizard-content-summary-item-text-color: #000000;
$wizard-content-summary-item-text-size: 25px;
$wizard-content-summary-item-big-text-size: 25px;
$wizard-content-summary-item-text-letter-spacing: 0.13px;

// Wizard form
$wizard-form-label-text-color: #000000;
$wizard-form-label-text-size: 16px;
$wizard-form-label-text-letter-spacing: 0.1px;
$wizard-form-input-text-color: #000000;
$wizard-form-input-text-size: 16px;
$wizard-form-input-text-letter-spacing: 0.1px;
$wizard-form-input-background-color: #FFFFFF;
$wizard-form-input-border-style: 1px solid #E1E1E1;
$wizard-form-input-button-letter-spacing: 0.11px;
$wizard-form-input-warning-border: 1px solid #DB4F4F;
$wizard-form-error-text-color: #DB4F4F;
$wizard-form-error-text-size: 14px;
$wizard-form-error-text-letter-spacing: 0.1px;
$wizard-form-footer-text-color: #212121;
$wizard-form-footer-link-color: #0066C0;
$wizard-form-footer-text-size: 12px;
$wizard-form-footer-text-letter-spacing: 0.08px;
$wizard-form-error-message-border-style: 1px solid #C40000;
$wizard-form-error-message-background-color: #F2DEDE;
$wizard-form-error-message-text-size: 13px;
$wizard-form-error-message-text-color: #AB433F;
$wizard-form-error-message-letter-spacing: 0.08px;
$wizard-cards-subheader-color: #0066C0;
$wizard-cards-subheader-font-size: 12px;
$wizard-cards-subheader-letter-spacing: 0.08px;

app-wizard {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
}
.wizard {
  display: block;
  width: 100%;
  max-width: 735px;
  margin: 70px auto 0;
}
.wizard .wizard-container {
  display: block;
  float: left;
  width: 100%;
  background-color: $wizard-background-color;
  border: $wizard-border-style;
  margin-bottom: 40px;
}
.wizard .wizard-container .header {
  display: block;
  float: left;
  width: 100%;
  border-bottom: $wizard-border-style;
  padding-left: 10px;
}
.wizard .wizard-container .header span {
  display: inline-block;
  float: left;
  position: relative;
  padding: 16px 30px 19px 20px;
  overflow: hidden;
  font-family: $font-name;
  color: $wizard-header-text-color;
  font-size: $wizard-header-text-size;
  letter-spacing: $wizard-header-text-letter-spacing;
}
.wizard .wizard-container .header span i {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 2px;
  right: 7px;
  -moz-transform: rotate(54deg) skewX(20deg);
  -ms-transform: rotate(54deg) skewX(20deg);
  -webkit-transform: rotate(54deg) skewX(20deg);
  -o-transform: rotate(54deg) skewX(20deg);
  transform: rotate(54deg) skewX(20deg);
  background-color: transparent;
  border-top: $wizard-border-style;
  border-right: $wizard-border-style;
}
.wizard-container .image-block {
  display: block;
  width: 100%;
  height: 250px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 90%;
}
.wizard-container .content-container {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.wizard-container .content-container .title {
  display: block;
  float: left;
  width: 100%;
  font-family: $font-name;
  color: $wizard-content-header-text-color;
  font-size: $wizard-content-header-text-size;
  letter-spacing: $wizard-content-header-text-letter-spacing;
  margin-top: 40px;
}
.wizard-container .content-container .title.action-title {
  letter-spacing: $wizard-content-action-header-text-letter-spacing;
  margin-top: 48px;
  text-align: center;
}
.wizard-container .content-container.loan .title.action-title {
  margin-top: 45px;
}
.wizard-container .content-container .items {
  display: block;
  float: left;
  width: 100%;
  margin-top: 18px;
}
.wizard-container .content-container .items .item {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding-top: 5px;
  font-family: $font-name-light;
  color: $wizard-content-item-text-color;
  font-size: $wizard-content-item-text-size;
  letter-spacing: $wizard-content-item-text-letter-spacing;
}
.wizard-container .content-container .items .item span {
  display: block;
  position: absolute;
  max-width: 120px;
  top: 0;
  right: 0;
  text-align: right;
  padding-top: 5px;
  font-family: $font-name-light;
  color: $wizard-content-item-text-color;
  font-size: $wizard-content-item-text-size;
  letter-spacing: $wizard-content-item-text-letter-spacing;
}
.wizard-container .content-container .items .element {
  display: block;
  float: left;
  width: 100%;
  padding-top: 5px;
}
.wizard-container .content-container .items .element p {
  display: block;
  float: left;
  width: 68%;
  font-family: $font-name-light;
  color: $wizard-content-item-text-color;
  font-size: $wizard-content-item-text-size;
  letter-spacing: $wizard-content-item-text-letter-spacing;
  padding: 0 10px 0 0;
  margin: 0;
}
.wizard-container .content-container .items .element span {
  display: block;
  position: static;
  float: left;
  width: 32%;
  text-align: right;
  font-family: $font-name-light;
  color: $wizard-content-item-text-color;
  font-size: $wizard-content-item-text-size;
  letter-spacing: $wizard-content-item-text-letter-spacing;
}
.wizard-container .content-container .summary {
  display: block;
  float: left;
  width: 100%;
  margin-top: 30px;
  padding: 5px 0;
  border-top: 0.5px solid #E1E1E1;
  border-bottom: 0.5px solid #E1E1E1;
}
.wizard-container .content-container .summary .item {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 5px 0;
  font-family: $font-name;
  color: $wizard-content-summary-item-text-color;
  font-size: $wizard-content-summary-item-text-size;
  letter-spacing: $wizard-content-summary-item-text-letter-spacing;
}
.wizard-container .content-container .summary .item-small {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 5px 0;
  font-family: $font-name;
  color: $wizard-content-summary-item-text-color;
  font-size: 18px;
  letter-spacing: $wizard-content-summary-item-text-letter-spacing;
}
.wizard-container .content-container .summary .item span {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  text-align: right;
  font-family: $font-name;
  color: $wizard-content-summary-item-text-color;
  font-size: $wizard-content-summary-item-text-size;
  letter-spacing: $wizard-content-summary-item-text-letter-spacing;
  text-transform: capitalize;
}
.wizard-container .content-container .summary .item-small span {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  text-align: right;
  font-family: $font-name;
  color: $wizard-content-summary-item-text-color;
  font-size: 18px;
  letter-spacing: $wizard-content-summary-item-text-letter-spacing;
  text-transform: capitalize;
}
.wizard-container .content-container .summary .item span.big {
  top: 5px;
  font-size: $wizard-content-summary-item-big-text-size;
}
.wizard-container .content-container .wizard-form {
  display: block;
  float: left;
  width: 100%;
  margin-top: 22px;
}
.wizard-container .content-container.registration .wizard-form {
  margin-top: 45px;
}
.wizard-container .content-container .wizard-form .form-group {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
}
.wizard-container .content-container .wizard-form .form-group label {
  display: block;
  float: left;
  width: 100%;
  font-family: $font-name;
  color: $wizard-form-label-text-color;
  font-size: $wizard-form-label-text-size;
  letter-spacing: $wizard-form-label-text-letter-spacing;
  font-weight: normal;
  padding: 0 0 5px 0;
  margin-bottom: 0;
}
.wizard-container .content-container .wizard-form .form-group button.btn.btn-warning {
  display: block;
  float: left;
  width: 100%;
  margin-top: 20px;
  font-family: $font-name;
  letter-spacing: $wizard-form-input-button-letter-spacing;
  border: none;
  margin-bottom: 80px;
  outline: none;
}
.wizard-container .content-container.registration .wizard-form .form-group button.btn.btn-warning {
  margin-top: 10px;
  margin-bottom: 20px;
}
.wizard-container .content-container.loan .wizard-form .form-group button.btn.btn-warning {
  margin-top: 35px;
  margin-bottom: 139px;
}
.wizard-container .content-container .wizard-form .form-group .date {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.wizard-container .content-container .wizard-form .form-group .date .ui-datepicker {
  margin-left: 0;
}
.wizard-container .content-container .wizard-form .form-group .ui-inputtext {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 38px;
  padding: 7px 12px;
  font-family: $font-name;
  color: $wizard-form-input-text-color;
  font-size: $wizard-form-input-text-size;
  letter-spacing: $wizard-form-input-text-letter-spacing;
  border-radius: 0;
  border: $wizard-form-input-border-style;
  background-color: $wizard-form-input-background-color;
  outline: none;
}
.wizard-container .content-container .wizard-form .form-group.isError .ui-inputtext {
  border: $wizard-form-input-warning-border;
}
.wizard-container .content-container .wizard-form .form-group .date .ui-datepicker .ui-datepicker-prev span, .date .ui-datepicker .ui-datepicker-next span {
  padding: 3px;
  width: 30px;
  height: 25px;
  text-align: center;
}
.wizard-container .content-container .wizard-form .form-group .date .ui-datepicker .ui-datepicker-next {
  right: 10px;
}
.wizard-container .content-container .wizard-form .form-group .ui-datepicker-calendar td a.ui-state-default {
  padding: 6px 2px;
  height: 30px;
}
.wizard-container .content-container .wizard-form .form-group .form-control {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
}
.wizard .error-message {
  display: block;
  float: left;
  width: 100%;
  margin-top: 10px;
  font-family: $font-name;
  color: $wizard-form-error-text-color;
  font-size: $wizard-form-error-text-size;
  letter-spacing: $wizard-form-error-text-letter-spacing;
  text-transform: capitalize;
}
.wizard-container .content-container.registration .form-group .form-control,
.wizard-container .content-container.loan .form-group .form-control {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 38px;
  padding: 7px 12px;
  font-family: $font-name;
  color: $wizard-form-input-text-color;
  font-size: $wizard-form-input-text-size;
  letter-spacing: $wizard-form-input-text-letter-spacing;
  border-radius: 0;
  border: $wizard-form-input-border-style;
  background-color: $wizard-form-input-background-color;
  outline: none;
}
.wizard-container .content-container.registration .isError .form-control,
.wizard-container .content-container.loan .isError .form-control {
  border: $wizard-form-input-warning-border;
}
.wizard-container .content-container.registration .form-footer,
.wizard-container .content-container.loan .form-footer {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 115px;
  font-family: $font-name;
  color: $wizard-form-footer-text-color;
  font-size: $wizard-form-footer-text-size;
  letter-spacing: $wizard-form-footer-text-letter-spacing;
}
.wizard-container .content-container.registration .form-footer a,
.wizard-container .content-container.registration .form-footer a:hover,
.wizard-container .content-container.loan .form-footer a,
.wizard-container .content-container.loan .form-footer a:hover {
  color: $wizard-form-footer-link-color;
  text-decoration: none;
}

.wizard-container .form-group.subheader {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 33px;
  margin-bottom: 27px;
  font-family: $font-name-medium;
  color: $wizard-cards-subheader-color;
  font-size: $wizard-cards-subheader-font-size;
  letter-spacing: $wizard-cards-subheader-letter-spacing;
}
.wizard-container .form-group .part-group span.fa {
  top: 37px;
  right: 11px;
}

.wizard-form .error-message {
  display: block;
  float: left;
  width: 100%;
  padding: 11px 15px 12px;
  border: $wizard-form-error-message-border-style;
  background-color: $wizard-form-error-message-background-color;
  border-radius: 3px;
  font-family: $font-name;
  font-size: $wizard-form-error-message-text-size;
  color: $wizard-form-error-message-text-color;
  letter-spacing: $wizard-form-error-message-letter-spacing;
}
.wizard-form .error-message span {
  font-family: $font-name-medium;
}

// ICONS
$popup-success-icon: '/assets/images/success-icon.png';

.content-container .success-icon {
  display: block;
  width: 100%;
  height: 70px;
  margin-top: 3px;
  margin-bottom: 30px;
  text-align: center;
}
.content-container .success-icon span {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-image: url($popup-success-icon);
  background-repeat: no-repeat;
  background-size: contain;
}

// Spinner

.wizard-form .popup-spinner {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 3px;
  margin-bottom: 10px;
  text-align: center;
}
