<div class="wizard">
  <div class="wizard-container">
    <div class="header">
      <span>Controparete in cartongesso<i></i></span>
      <span>Dettagli del servizio<i></i></span>
    </div>
    <div class="image-block" style="background-image: url('https://s3-eu-west-1.amazonaws.com/starbook-s3/controsoffitto%2Bcartongesso.jpg')"></div>
    <div class="content-container">
      <div class="title">Controparete in cartongesso</div>
      <div class="items">
        <div class="item">
          Title item
          <span>Quantity</span>
        </div>
        <div class="item">
          Title item
          <span>Quantity</span>
        </div>
        <div class="item">
          Title item
          <span>Quantity</span>
        </div>
      </div>
    </div>
  </div>
</div>
