<div class="wizard" (window:resize)="onResize()">
  <ul class="breadcrumb" *ngIf="step !== ''">
    <li *ngFor="let items of wizardDataItems; let i = index;"
        [ngStyle]="{'width': 100/wizardDataItems.length + '%'}"
        [ngClass]="{'active': (step === 'summary' && items === 'Sommario') || (step === 'address' && items === 'Indirizzo') || (step === 'date' && items === 'Data') || ((step === 'preview' || step === 'login' || step === 'signup' || step === 'card') && (items === 'Anteprima' || items === 'Login' || items === 'Signup' || items === 'Carta')) || ((step === 'end' || step === 'info') && (items === 'Fine' || items === 'Info'))}">
        <a><div *ngIf="screenWidth<=425">{{i+1}}</div><div *ngIf="screenWidth>425">{{items}}</div></a>
      </li>
  </ul>
  <div class="wizard-container" *ngIf="step === 'summary'">
    <div class="content-container">
      <div class="header-summary">
        <h3>{{Order.title}}</h3>
        <div class="summary-details" *ngFor="let item of Order.details">
          <div *ngIf="item.type !== 'service'">
            <div class="item"><p>{{item.title}}</p></div>
            <div class="amount">
              <div *ngIf="item.value">{{item.value}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="line" *ngIf="Order.timing.days > 1"></div>
      <div class="timing" *ngIf="Order.timing.days > 1">
        <div class="item">Durata del lavoro</div>
        <div class="amount">{{daysString(Order.timing.days)}}</div>
      </div>
      <!-- <div class="line"></div>
      <div class="payment">
        <div class="initial" *ngIf="Order.price.initial>Order.price.final">
          <div class="item">Totale iniziale</div>
          <div class="amount">{{Order.price.initial/100}}€</div>
        </div>
        <div class="total" *ngIf="Order.price.final>0">
          <div class="item">Totale</div>
          <div class="amount">{{Order.price.final/100}}€</div>
        </div>
        <div class="upfront" *ngIf="Order.price.final!==Order.payment.upfront">
          <div class="item">Acconto</div>
          <div class="amount">{{Order.payment.upfront/100}}€</div>
        </div>
      </div> -->
      <form>
        <div class="form-group">
          <textarea class="form-control" placeholder="Inserisci una descrizione" rows="5" id="descriptionInput" [(ngModel)]="Order.description" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
        <div class="actions">
          <div class="form-group">
            <button type="button" id="next" class="btn btn-warning" (click)="confirmPreview()">Continua</button>
          </div>
        </div>
      </form>
    </div>
    <div class="container footer-details">
      <p><i class="fa fa-info-circle" aria-hidden="true"></i> Inserisci una descrizione più dettagliata della richiesta. In questo modo ci assicuriamo che il tecnico avra più informazioni prima di effetuare l'intervento. Se nel corso del opera si richiedono altri interventi, il tecnico può incrementare il totale.</p>
    </div>
  </div>
  <div class="wizard-container" *ngIf="step === 'address'">
    <div class="content-container">
      <div class="header">
        <h1 class="text-center">Dove si trova la sua abitazione?</h1>
        <p class="text-center">Inserisci l'indirizzo e la città della sua abitazione</p>
      </div>
      <div class="forms">
        <div class="form-group">
          <p-autoComplete id="luogo" class="form-control" [(ngModel)]="temp_address" (clickOutside)="clickOutsideAddressInput()" [ngModelOptions]="{standalone: true}" [suggestions]="addresses" field="street_number_city" (completeMethod)="getAddresses($event)" (onSelect)="selectAddress($event)" placeholder="Inserisci indirizzo"></p-autoComplete>
        </div>
      </div>
      <div class="messages" [hidden]="!address_state.error_message">
        <p><small>{{address_state.error_message}}</small></p>
      </div>
      <div class="actions">
        <div class="form-group">
          <div class="undobutton">
            <button type="button" id="next" class="btn btn-back" (click)="back()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
            <button type="button" id="next" class="btn btn-warning" (click)="confirmAddress()">Continua</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container footer-details">
      <p><i class="fa fa-map-marker" aria-hidden="true"></i> Inserisci l'indirizzo esatto della sua abitazione o locale dove vuole effetuare l'intervento.</p>
    </div>
  </div>
  <div class="wizard-container" *ngIf="step === 'date'">
    <div class="content-container">
      <div class="header">
        <h1 class="text-center">Quando vuoi realizare questo lavoro?</h1>
        <p class="text-center">Inserisci la data che vuoi realizzare questo servizio</p>
      </div>
      <div class="forms">
        <div class="form-group calendar-part">
          <div class="input-group date datepicker-block">
            <p-calendar name="data" [(ngModel)]="temp_date" id="data" class="date" autocomplete="off" readonlyInput="true" dateFormat="dd MM yy" [locale]="it" [minDate]="minDate" (onSelect)="selectDate()" placeholder="Inserisci la data"></p-calendar>
          </div>
        </div>
      </div>
      <div class="messages" [hidden]="!date_state.error_message">
        <p><small>{{date_state.error_message}}</small></p>
      </div>
      <div class="actions">
        <div class="form-group">
          <div class="undobutton">
            <button type="button" id="next" class="btn btn-back" (click)="back()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
            <button type="button" id="next" class="btn btn-warning" (click)="confirmDate()">Continua</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container footer-details">
      <p><i class="fa fa-calendar" aria-hidden="true"></i> Inserisci una data ideale per quando vuoi effetuare l'intervento del tecnico.</p>
    </div>
  </div>
  <div class="wizard-container" *ngIf="step === 'preview'">
    <div class="content-container">
      <div class="header-summary">
        <h3>{{Order.title}}</h3>
        <div class="summary-details" *ngFor="let item of Order.details">
          <div *ngIf="item.type !== 'service'">
            <div class="item"><p>{{item.title}}</p></div>
            <div class="amount">
              <div *ngIf="item.value">{{item.value}}</div>
            </div>
          </div>
        </div>
        <p>{{Order.description}}</p>
      </div>
      <div class="line" *ngIf="Order.timing.days > 1"></div>
      <div class="timing" *ngIf="Order.timing.days > 1">
        <div class="item">Durata del lavoro</div>
        <div class="amount">{{daysString(Order.timing.days)}}</div>
      </div>
      <div class="line"></div>
      <div class="address">
        <p><strong>Indirizzo: </strong><span>{{Order.address.street}} {{Order.address.street_number}}, {{Order.address.city}}</span></p>
      </div>
      <div class="date">
        <p><strong>Data: </strong><span>{{formated_date}}</span></p>
      </div>
      <div class="line"></div>
      <div class="payment">
        <div class="initial" *ngIf="Order.price.initial>Order.price.final">
          <div class="item">Totale iniziale</div>
          <div class="amount">{{Order.price.initial/100}}€</div>
        </div>
        <div class="total" *ngIf="Order.price.final>0">
          <div class="item">Totale</div>
          <div class="amount">{{Order.price.final/100}}€</div>
        </div>
        <div class="upfront" *ngIf="Order.price.final!==Order.payment.upfront">
          <div class="item">Acconto</div>
          <div class="amount">{{Order.payment.upfront/100}}€</div>
        </div>
      </div>
      <div class="messages" [hidden]="!order_status.error_message">
        <p><small>{{order_status.error_message}}</small></p>
        <div *ngIf="order_status.payment_error_message">
          <!-- <p><small>{{order_status.payment_error_message}} <a routerlink="profile/payment" ng-reflect-router-link="profile/payment" ng-reflect-href="profile/payment" href="/profile/payment" target="_blank">metodo di pagamento</a></small></p> -->
          <p><small>{{order_status.payment_error_message}} <a routerLink="/order/card">metodo di pagamento</a></small></p>
        </div>
      </div>
      <div class="actions">
        <div class="form-group">
          <div class="undobutton">
            <button type="button" id="next" class="btn btn-back" (click)="back()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
            <button type="button" id="next" class="btn btn-warning" (click)="confirmOrder()"><i class="fa fa-circle-o-notch animate" *ngIf="order_status.loading"></i>{{order_status.button_title}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container footer-details">
      <p>Controlla l'ordine richiesto e tutti i dati inseriti, l'indirizzo, la data, la descrizione della richiesta prima di continuare.</p>
    </div>
  </div>
  <div class="wizard-container" *ngIf="step === 'end'">
    <div class="content-container">
      <div class="header">
        <!-- <h1 class="text-center">Complimenti!</h1> -->
        <h1 class="text-center">Complimenti, hai prenotato con successo un tecnico.</h1>
        <p class="text-center">La contatteremo per ulteriori informazioni.</p>
      </div>
      <div class="messages">
        <div class="success-icon"><span></span></div>
      </div>
      <div class="actions">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-warning" (click)="confirmEnd()">Fatto</button>
        </div>
      </div>
    </div>
    <div class="container footer-details">
      <p>Fatto! Nei prossimi minuti verrai contattato da noi per ulteriori dettagli e per confermare l'ordine. Per sucurezza controlla che sia inserito il numero del telefono nel tuo account.</p>
    </div>
  </div>
  <div class="wizard-container" *ngIf="step === 'login'">
    <div class="content-container">
      <div class="header">
        <h1>Accedi al tuo account</h1>
      </div>
      <form>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input type="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': login_state.email_error}" id="emailInput" [(ngModel)]="loginParameters.email" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="login_state.email_error">{{login_state.email_error}}</small>
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': login_state.password_error}" id="passwordInput" [(ngModel)]="loginParameters.password" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="login_state.password_error">{{login_state.password_error}}</small>
        </div>
      </form>
      <div class="messages" [hidden]="!login_state.error_message">
        <p><small>{{login_state.error_message}}</small></p>
      </div>
      <div class="messages" [hidden]="!facebook_state.error_message">
        <p><small>{{facebook_state.error_message}}</small></p>
      </div>
      <div class="actions">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-warning" (click)="login()"><i class="fa fa-circle-o-notch animate" *ngIf="login_state.loading"></i>{{login_state.button_title}}</button>
        </div>
        <div class="form-group">
          <button type="button" id="next"class="btn btn-white" (click)="changeToSignup()">Sei nuovo? Crea un account</button>
        </div>
        <div class="form-divider">
          <span>o</span>
        </div>
        <div class="form-group">
          <button type="button" id="next"class="btn btn-facebook" (click)="continueWithFacebook()"><i></i>{{facebook_state.button_title}}</button>
        </div>
      </div>
      <div class="footer">
        <h6><small>Continuando dichiari di aver letto e accetti le <a routerlink="legal" ng-reflect-router-link="legal" ng-reflect-href="legal" href="/legal" target="_blank">condizioni generali</a> e <a routerlink="legal" ng-reflect-router-link="legal" ng-reflect-href="legal" href="/legal" target="_blank">l’informativa sulla privacy</a></small></h6>
      </div>
    </div>
    <div class="container footer-details">
      <p>Se hai gia un account su Starbook accedi e poi continua con l'ordine. In alternativa puoi usare anche Facebook per continuare.</p>
    </div>
  </div>
  <div class="wizard-container" *ngIf="step === 'signup'">
    <div class="content-container">
      <div class="header">
        <h1>Crea un account</h1>
      </div>
      <form>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input type="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': signup_state.email_error}" id="emailInput" [(ngModel)]="signupParameters.email" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="signup_state.email_error">{{signup_state.email_error}}</small>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstNameInput">Nome</label>
              <input type="firstname" placeholder="Nome" class="form-control" [ngClass]="{'error-input': signup_state.first_name_error}" id="firstNameInput" [(ngModel)]="signupParameters.firstname" [ngModelOptions]="{standalone: true}">
              <small class="error-message" *ngIf="signup_state.first_name_error">{{signup_state.first_name_error}}</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastNameInput">Cognome</label>
              <input type="lastname" placeholder="Cognome" class="form-control" [ngClass]="{'error-input': signup_state.last_name_error}" id="lastNameInput" [(ngModel)]="signupParameters.lastname" [ngModelOptions]="{standalone: true}">
              <small class="error-message" *ngIf="signup_state.last_name_error">{{signup_state.last_name_error}}</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneInput">Telefono</label>
          <input type="phone" placeholder="Numero di telefono" class="form-control" [ngClass]="{'error-input': signup_state.phone_error}" id="phoneInput" [(ngModel)]="signupParameters.phone" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="signup_state.phone_error">{{signup_state.phone_error}}</small>
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': signup_state.password_error}" id="passwordInput" [(ngModel)]="signupParameters.password" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="signup_state.password_error">{{signup_state.password_error}}</small>
        </div>
        <div class="form-group">
          <label for="confirmPasswordInput">Di nuovo la password</label>
          <input type="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': signup_state.confirm_password_error}" id="confirmPasswordInput" [(ngModel)]="signupParameters.confirmPassword" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="signup_state.confirm_password_error">{{signup_state.confirm_password_error}}</small>
        </div>
      </form>
      <div class="messages" [hidden]="!signup_state.error_message">
        <p><small>{{signup_state.error_message}}</small></p>
      </div>
      <div class="messages" [hidden]="!facebook_state.error_message">
        <p><small>{{facebook_state.error_message}}</small></p>
      </div>
      <div class="actions">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-warning" (click)="signup()"><i class="fa fa-circle-o-notch animate" *ngIf="signup_state.loading"></i>{{signup_state.button_title}}</button>
        </div>
        <div class="form-group">
          <button type="button" id="next"class="btn btn-white" (click)="changeToLogin()">Accedi</button>
        </div>
        <div class="form-divider">
          <span>o</span>
        </div>
        <div class="form-group">
          <button type="button" id="next"class="btn btn-facebook" (click)="continueWithFacebook()"><i></i>{{facebook_state.button_title}}</button>
        </div>
      </div>
      <div class="footer">
        <h6><small>Continuando dichiari di aver letto e accetti le <a routerlink="legal" ng-reflect-router-link="legal" ng-reflect-href="legal" href="/legal" target="_blank">condizioni generali</a> e <a routerlink="legal" ng-reflect-router-link="legal" ng-reflect-href="legal" href="/legal" target="_blank">l’informativa sulla privacy</a></small></h6>
      </div>
    </div>
    <div class="container footer-details">
      <p>Crea un account su Starbook inserendo i dati più importanti e poi proseguì inviando l'ordine. In alternativa puoi usare anche Facebook per continuare.</p>
    </div>
  </div>
  <div class="wizard-container" *ngIf="step === 'card'">
    <div class="content-container">
      <div class="header">
        <h1>Inserisci un metodo di pagamento</h1>
        <h6>Per continuare con l'ordine inserisci un metodo di pagamento</h6>
      </div>
      <form>
        <div class="card-form">
          <div class="form-group">
            <label for="numberInput">Numero carta</label>
            <input autocomplete="off" type="text" placeholder="Numero" class="form-control" [ngClass]="{'error-input': card_state.message_error}" id="numberInput" [(ngModel)]="Card.number" [ngModelOptions]="{standalone: true}">
            <!-- <small class="error-message" *ngIf="card_state.number_error">{{card_state.number_error}}</small> -->
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="dateInput">Scadenza</label>
                <input autocomplete="off" type="text" placeholder="Scadenza" class="form-control" [ngClass]="{'error-input': card_state.message_error}" id="dateInput" [(ngModel)]="Card.exp_date" (keyup)="checkExpiry(Card.exp_date)" (change)="checkExpiry(Card.exp_date)" [ngModelOptions]="{standalone: true}">
                <!-- <small class="error-message" *ngIf="card_state.exp_date_error">{{card_state.exp_date_error}}</small> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="numberInput">CVC/CVV</label>
                <input autocomplete="off" type="text" placeholder="CVC/CVV" class="form-control" [ngClass]="{'error-input': card_state.message_error}" id="numberInput" [(ngModel)]="Card.cvc" [ngModelOptions]="{standalone: true}">
                <!-- <small class="error-message" *ngIf="card_state.cvc_error">{{card_state.cvc_error}}</small> -->
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="nameInput">Nome e cognome dell'intestatario</label>
            <input type="name" name="name" placeholder="Nome e cognome" class="form-control" id="nameInput" [(ngModel)]="Card.name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="addressInput">Indirizzo</label>
                <input type="address" placeholder="Via" class="form-control" id="addressInput" [(ngModel)]="Card.address_line1" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="addressNumberInput">Nr</label>
                <input type="text" placeholder="Nr" class="form-control" id="addressNumberInput" [(ngModel)]="Card.address_line2" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="cittyInput">Città</label>
                <input type="text" placeholder="Città" class="form-control" id="cittyInput" [(ngModel)]="Card.address_city" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="capInput">CAP</label>
                <input type="text" placeholder="CAP" class="form-control" id="capInput" [(ngModel)]="Card.address_zip" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="provinceInput">Provincia</label>
                <input type="text" placeholder="Provincia" class="form-control" id="provinceInput" [(ngModel)]="Card.address_state" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="countryInput">Paese</label>
                <input type="text" placeholder="Paese" class="form-control" id="countryInput" [(ngModel)]="Card.address_country" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="actions">
            <div class="form-group" *ngIf="card_state.message_error">
              <div class="alert alert-danger" role="alert">{{card_state.message_error}}</div>
            </div>
            <div class="form-group">
              <div class="undobutton">
                <button type="button" id="next" class="btn btn-back" (click)="back()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                <button type="button" id="next" class="btn btn-warning" (click)="addCard()"><i class="fa fa-circle-o-notch animate" *ngIf="card_state.loading"></i>{{card_state.button_title}}</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container footer-details">
      <p><i class="fa fa-credit-card" aria-hidden="true"></i> Inserisci un metodo di pagamento per inviare l'ordine. In questo modo assicuriamo che il pagamento del professionista sia garantio. Puo richiedere il rimborso delle spese in qualsiasi momento contatandoci.</p>
    </div>
  </div>
  <div class="wizard-container" *ngIf="step === 'info'">
    <div class="content-container">
      <div class="header">
        <h1>Inserisci un contatto telefonico</h1>
        <p>Per favore inserisci un numero di telefono per essere contatato dal professionista.</p>
      </div>
      <form>
        <div class="form-group">
          <label for="phoneInput">Telefono</label>
          <input type="phone" name="phone" placeholder="Numero di telefono" class="form-control" [ngClass]="{'error-input': profile_info_state.phone_number_error}" id="phoneInput" [(ngModel)]="profileInformation.phone_number" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="profile_info_state.phone_number_error">{{profile_info_state.phone_number_error_message}}</small>
        </div>
      </form>
      <div class="actions">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-warning" (click)="saveInformations()"><i class="fa fa-circle-o-notch animate" *ngIf="profile_info_state.loading"></i>{{profile_info_state.button_title}}</button>
        </div>
      </div>
    </div>
    <div class="container footer-details">
      <p>Inserisci il tuo numero di telefono per essere contattato da noi per ulteriori dettagli sul ordine effetuato.</p>
    </div>
  </div>

  <div class="container-fluid wizard-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-15 col-sm-15">
          <div class="box">
            <h5><i class="fa fa-info-circle" aria-hidden="true"></i> Informazioni</h5>
            <h6>Le informazioni sono importanti per poter inviare un ordine più dettagliata.</h6>
          </div>
        </div>
        <div class="col-md-15 col-sm-15">
          <div class="box">
            <h5><i class="fa fa-map-marker" aria-hidden="true"></i> Indirizzo</h5>
            <h6>Inserisci l'indirizzo della sua abitazione o locale dove vuoi svolgere il lavoro.</h6>
          </div>
        </div>
        <div class="col-md-15 col-sm-15">
          <div class="box">
            <h5><i class="fa fa-calendar" aria-hidden="true"></i> Data</h5>
            <h6>Decidi la data del lavoro. Inserisci una data ideale per te.</h6>
          </div>
        </div>
        <div class="col-md-15 col-sm-15">
          <div class="box">
            <h5><i class="fa fa-credit-card" aria-hidden="true"></i> Pagamento</h5>
            <h6>Inserisci un metodo di pagamento per poter pagare il lavoro comodamente online.</h6>
          </div>
        </div>
        <div class="col-md-15 col-sm-15">
          <div class="box">
            <h5><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Fine</h5>
            <h6>Dopo aver inviato l'ordine noi faremo il resto. Invieremo il tecnico nella data prestabilita.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
