<div class="blog-container">
  <!-- <div class="header">
    <h1>Questo è il blog di Starbook. Bla bla bla</h1>
    <p>Hear directly from the people who know it best. From tech to politics to creativity and more — whatever your interest, we’ve got you covered.</p>
  </div> -->

  <!-- <div class="articles-container">
    <div class="article">
      <div [innerHtml]="selectedArticle.html_body"></div>
    </div>
  </div> -->
  <div class="breadcrumb-container">
    <div class="breadcrumb">
      Tu sei qui: <span><a href="/">Home</a></span><span class="separator">/</span><span><a href="/blog">Blog</a></span>
    </div>
  </div>
  <div class="body">
    <div class="post-container" *ngFor="let article of articles">
      <div class="post" (click)="showArticle(article)">
        <div class="post-image" [ngStyle]="{'background-image' : ' url(' + article.picture_url + ')'}"></div>
        <div class="post-body">
          <div class="post-title">
            {{article.title}}
          </div>
          <div class="post-description">
            {{article.subtitle}}
          </div>
        </div>
        <div class="post-author">
          <img class="left" [src]="article.author.picture_url" title="={{article.author.fullname}}" alt="{{article.author.fullname}}">
          <div class="left">
            <div class="author-username">
              {{article.author.fullname}}
            </div>
            <div class="post-date">
              {{article.updated_at}} - {{article.timing}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lead-container">
    <div class="lead-actions">
      <h5>Vuoi rimanere aggiornato sulle novità di Starbook?</h5>
      <div class="form-group emailfield">
        <input type="text" placeholder="Inserisci il tuo indirizzo email" class="form-control" id="emailInput" [(ngModel)]="Lead.email" [ngModelOptions]="{standalone: true}">
      </div>
      <span *ngIf="!Lead.generated" class="form-group sendbutton">
        <button type="button" id="next" class="btn btn-success" (click)="sendEmail()"><i class="fa fa-circle-o-notch animate" *ngIf="Lead.loading"></i><div *ngIf="!Lead.loading">Aggiornami</div></button>
      </span>
      <div *ngIf="Lead.generated" class="sendbutton done"><span>Fatto!</span></div>
    </div>
  </div>
  <div class="links-container">
    <div class="links">
      <div class="row">
        <div class="col-md-3">
          <h4>Scopri di più</h4>
          <ul>
            <li><a href="/info/about">Chi Siamo</a></li>
            <li><a href="/info/contact">Contatti</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Pagine principali</h4>
          <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/">Starbook</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Articoli</h4>
          <ul>
            <li><a href="/blog/Gli-artigiani-del-web%3A-3-semplici-modi-per-aumentare-i-clienti-online" target="_blank">Gli artigiani del web: 3 semplici modi per aumentare i clienti online</a></li>
            <li><a href="/blog/Le-piattaforme-digitali%3A-come-gestire-il-tempo-nell'era-della-new-economy" target="_blank">Le piattaforme digitali: come gestire il tempo nell'era della new economy</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Seguici su</h4>
          <ul>
            <li>
              <a class="social" href="https://www.facebook.com/starbook.co/?ref=aymt_homepage_panel" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a class="social" href="https://twitter.com/starbookco" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a class="social" href="https://www.linkedin.com/company-beta/10928230/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a class="social" href="https://plus.google.com/u/1/communities/101402164822702062201" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-container">
  <div class="footer">
    <p>© 2017 • Starbook Tutti i diritti riservati • <a href="/info/legal" target="_blank">Terms</a> & <a href="/info/legal" target="_blank">Privacy Policy</a></p>
  </div>
</div>
