app-quotation {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 70px 0 50px;
  -webkit-overflow-scrolling: touch;
  background-color: #EDEFF3;
  .quotation-container {
    padding: 0 10px;
    .quotation {
      max-width: 900px;
      margin: auto;
      box-shadow: 0 1px 0px #E5E6E9, 0 -1px 0px #E5E6E9, 1px 0px 0px #DFE0E4, -1px 0px 0px #DFE0E4;
      margin-top: 30px;
      margin-bottom: 10px;
      background: white;
      .quotation-content {
        .quotation-header {
          padding: 20px 30px;
          border-bottom: 1px solid #eceeef;
          overflow: auto;
          .title {
            font-size: 20px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.5);
          }
          .date {
            float: right;
            font-size: 17px;
            line-height: 28px;
          }
        }
        .quotation-body {
          padding: 30px 50px;
          overflow: auto;
          p {
            span {
              font-weight: 500;
            }
          }
          .vendor {
            float: left;
            width: 50%;
            margin-bottom: 20px;
            .businessname {
              display: block;
              font-size: 26px;
            }
            .username {
              display: block;
              font-size: 16px;
            }
          }
          .customer {
            text-align: right;
            float: right;
            width: 50%;
            .date {
              display: block;
              margin-top: 5px;
              font-size: 18px;
            }
            h4 {
              font-weight: 500;
              color: rgba(0, 0, 0, 0.5);
            }
            h5 {
              margin-top: 20px;
              font-weight: 400;
            }
            h6 {
              margin-top: 20px;
            }
            .username {
              display: block;
              font-size: 20px;
            }
          }
          .description {
            overflow: auto;
            width: 100%;
            p {
              margin-bottom: 10px;
            }
          }
        }
        .quotation-footer {
          padding: 20px 30px;
          border-top: 1px solid #eceeef;
          text-align: right;
          .btn {
            padding: 0 30px;
            border-radius: 3px;
            height: 45px;
            line-height: 45px;
            font-size: 17px;
            font-weight: 500;
          }
          .btn-facebook {
            padding: 0 30px 0 13px;
            i {
              font-size: 33px;
              vertical-align: middle;
              margin-right: 20px;
              margin-top: -2px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  app-quotation .quotation-container .quotation {
    margin-top: 10px;
  }
}
@media (max-width: 425px) {
  app-quotation .quotation-container .quotation .quotation-content .quotation-header {
    padding: 40px 20px 20px;
  }
  app-quotation .quotation-container .quotation .quotation-content .quotation-header .vendor {
    width: 100%;
  }
  app-quotation .quotation-container .quotation .quotation-content .quotation-header .vendor h2 {
    font-size: 26px;
  }
  app-quotation .quotation-container .quotation .quotation-content .quotation-header .vendor h5 {
    font-weight: 400;
    margin-top: 5px;
    font-size: 17px;
  }
  app-quotation .quotation-container .quotation .quotation-content .quotation-header .customer {
    width: 100%;
    text-align: left;
    margin-top: 10px;
  }
  app-quotation .quotation-container .quotation .quotation-content .quotation-header .customer h4 {
    font-size: 18px;
  }
  app-quotation .quotation-container .quotation .quotation-content .quotation-header .customer .date {
    font-size: 16px;
  }
  app-quotation .quotation-container .quotation .quotation-content .quotation-header .customer h5 {
    font-weight: 400;
    margin-top: 5px;
    font-size: 17px;
  }
  app-quotation .quotation-container .quotation .quotation-content .quotation-body {
    padding: 20px;
  }
  app-quotation .quotation-container .quotation .quotation-content .quotation-footer {
    padding: 20px;
  }
  app-quotation .quotation-container .quotation .quotation-content .quotation-footer {
    text-align: center;
  }
  app-quotation .quotation-container .quotation .quotation-content .quotation-footer .btn-secondary {
    // width: 100%;
  }
  app-quotation .quotation-container .quotation .quotation-content .quotation-footer .btn-facebook {
    // width: 100%;
    margin-top: 10px;
  }
}
