<div class="quotation-container" *ngIf="quotation">
  <div class="quotation">
    <div class="quotation-content">
      <div class="quotation-header">
        <!-- <h4>PREVENTIVO</h4> -->
        <span class="title">PREVENTIVO</span>
        <span class="date" *ngIf="quotation.created_at">{{formatedDateFromString(quotation.created_at)}}</span>
      </div>
      <div class="quotation-body">
        <div class="vendor" *ngIf="quotation.vendor">
          <span class="businessname" *ngIf="quotation.vendor.businessname">{{quotation.vendor.businessname}}</span>
          <span class="username" *ngIf="quotation.vendor.businessname">{{quotation.vendor.firstname}} {{quotation.vendor.lastname}}</span>
          <span class="username" *ngIf="!quotation.vendor.businessname">{{quotation.vendor.firstname}} {{quotation.vendor.lastname}}</span>
        </div>
        <div class="customer" *ngIf="quotation.customer">
          <span class="username">{{quotation.customer.firstname}} {{quotation.customer.lastname}}</span>
        </div>
        <div class="description">
          <p>{{quotation.title}}</p>
          <p>{{quotation.description}}</p>
        </div>
      </div>
      <div class="quotation-footer">
        <button type="button" class="btn btn-secondary" *ngIf="Account" (click)="saveQuotation()">Salva</button>
        <button type="button" class="btn btn-facebook"  *ngIf="!Account" (click)="continueWithFacebook()"><i class="fa fa-facebook-official" aria-hidden="true"></i>Salva con Facebook</button>
      </div>
    </div>
  </div>
</div>
