app-orders {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  .noitems {
    text-align: center;
    font-size: 50px;
    color: rgba(33, 33, 33, 0.7);
  }
  .orders-container {
    display: block;
    width: 100%;
    height: 100%;
    .top-bar-container {
      display: block;
      position: fixed;
      top: 70px;
      width: 100%;
      background: white;
      height: 60px;
      border-bottom: 1px solid #DBDBDB;
      z-index: 1;
      .top-bar {
        list-style: none;
        overflow: hidden;
        font: 18px Sans-Serif;
        padding: 0;
        z-index: 1;
        max-width: 1100px;
        margin: 0 auto;
      }
      .top-bar li {
        color: rgba(33, 33, 33, 0.7);
        float: left;
        height: 60px;
        line-height: 60px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        font-weight: 300;
        cursor: pointer;
      }
      .top-bar li:hover {
        color: rgba(33, 33, 33, 1);
      }
      .top-bar .active {
        color: rgba(33, 33, 33, 1);
        border-bottom: 4px solid #324977;
      }
    }
    .orders {
      margin-top: 40px;
      .order-container {
        display: block;
        max-width: 1100px;
        border: 1px solid #9b9c9d;
        background: white;
        margin: 0px auto 40px;
        .order {
          .order-header {
            font-size: 18px;
            .top {
              padding: 20px;
              background: #ececec;
              overflow: auto;
              font-weight: 600;
              color: #eb8102
            }
            .client {
              padding-top: 0;
              color: black;
              font-weight: 400;
              span {
                display: block;
              }
            }
            .table-header {
              padding: 10px 20px;
              color: white;
              font-weight: 500;
              // background: #989ca4;
              background: #324977;
              overflow: auto;
              word-wrap: break-word;
            }
            .item {
              float: left;
              width: 70%;
            }
            .quantity, .price, .total {
              float: left;
              width: 30%;
              text-align: right;
            }
          }
          .order-body {
            padding: 20px;
            .content {
              overflow: auto;
              font-size: 20px;
              .items {
                overflow: auto;
                font-size: 20px;
                .item {
                  float: left;
                  width: 70%;
                }
                .quantity, .price, .total {
                  float: left;
                  width: 30%;
                  text-align: right;
                }
              }
              .description {
                font-size: 20px;
                display: block;
                width: 100%;
                overflow: auto;
              }
              .price {
                overflow: auto;
                .items {
                  text-align: right;
                  .item {
                    text-align: right;
                    width: 85%;
                    float: left;
                  }
                  .amount {
                    text-align: right;
                    width: 15%;
                    float: left;
                  }
                }
              }

              .payment {
                overflow: auto;
                .items {
                  text-align: right;
                  .item {
                    text-align: right;
                    width: 85%;
                    float: left;
                  }
                  .amount {
                    text-align: right;
                    width: 15%;
                    float: left;
                  }
                }
              }
              .text {
                overflow: auto;
                float: left;
                width: 50%;
                span {
                  font-size: 14px;
                }
              }
              .actions {
                width: 100%;
                text-align: right;
                overflow: auto;
                .btn {
                  font-size: 18px;
                  padding: 0 40px;
                  font-weight: 500;
                }
              }
            }
          }
          .order-footer {
            background: #ececec;
            padding: 10px 20px;
            border-top: 1px solid #9b9c9d;
          }
          .line {
            display: block;
            height: 1px;
            margin: 20px 0;
            border-top: 1px solid #9b9c9d;
          }
          .dashed {
            border-top: 1px dashed #9b9c9d;
          }
          .dashed:before {
            background-color: #FFFFFF;
            content: "";
            height: 10px;
            position: absolute;
            top: -2px;
            width: 100%;
          }
          .dashed:after {
            background-color: #FFFFFF;
            content: "";
            height: 10px;
            position: absolute;
            top: -13px;
            width: 100%;
          }
        }
      }
    }

    .popup-container {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1050;
      display: none;
      overflow: hidden;
      -webkit-overflow-scrolling: touch;
      outline: 0;
      overflow-x: hidden;
      overflow-y: auto;
      // background: rgba(0, 0, 0, 0.3);
      .popup-shadow {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: none;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background: rgba(0, 0, 0, 0.3);
      }
      .popup {
        background: white;
        width: 500px;
        padding: 30px;
        margin: 80px auto;
        overflow-x: hidden;
        overflow-y: scroll;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        .popup-header {
          text-align: center;
        }
        .popup-body {
          padding-top: 30px;
          .input-group-addon {
            padding: 0 20px;
            font-size: 24px;
            font-weight: 600;
          }
          .total {
            padding: 0 0 30px;
            text-align: center;
            .top-title {
              display: block;
              font-weight: 400;
            }
            .price {
              font-size: 48px;
              font-weight: 500;
            }
          }
          .rest {
            padding: 0 0 30px;
            text-align: center;
            .top-title {
              display: block;
              font-weight: 400;
            }
            .price {
              font-size: 38px;
              font-weight: 500;
            }
          }
          .price-field {
            text-align: right;
          }
          .message {
            text-align: center;
            padding: 20px 0;
          }
          .details {
            overflow: auto;
            .form-group {
              overflow: auto;
              margin-bottom: 5px;
              .item {
                float: left;
                width: 70%;
              }
              .amount {
                float: left;
                width: 20%;
                text-align: center;
                border-left: none;
              }
            }
            .list {
              overflow: auto;
              margin-bottom: 5px;
              .item {
                float: left;
                width: 75%;
              }
              .amount {
                float: left;
                width: 15%;
                text-align: center;
                border-left: none;
                border-right: none;
                padding: 5px;
              }
              button {
                width: 10%;
                outline: none;
              }
            }
            .new {
              overflow: auto;
              margin-bottom: 5px;
              .item {
                float: left;
                width: 75%;
              }
              .amount {
                float: left;
                width: 25%;
                text-align: center;
                border-left: none;
              }
            }
            .actions {
              padding: 0 0 30px;
              .btn-link {
                font-size: 18px;
              }
            }
          }
          .actions {
            .btn {
              width: 100%;
              font-weight: 500;
              outline: none;
            }
            .btn-warning {
              color: black;
            }
            .btn-warning:hover {
              color: black !important;
            }
          }
        }
        .popup-footer {
          padding: 30px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .orders-container .orders {
      margin-top: 10px;
      padding: 0 10px;
    }
  }
  @media (max-width: 425px) {
    .orders-container .popup-container {
      padding: 10px;
    }
    .orders-container .popup-container .popup {
      width: 100%;
      margin-top: 70px;
    }
    .orders-container .orders .order-container .order .order-body .content .payment .items .item {
      width: 50%;
    }
    .orders-container .orders .order-container .order .order-body .content .payment .items .amount {
      width: 50%;
    }
    .orders-container .orders .order-container .order .order-body .content .price .items .item {
      width: 50%;
    }
    .orders-container .orders .order-container .order .order-body .content .price .items .amount {
      width: 50%;
    }
    .orders-container .orders .order-container .order .order-body .content .price .items .item {
      width: 50%;
    }
    .orders-container .orders .order-container .order .order-body .content .price .items .amount {
      width: 50%;
    }
    // .orders-container .orders .order-container .order .order-header .item {
    //   width: 55%;
    // }
    // .orders-container .orders .order-container .order .order-header .quantity,
    // .orders-container .orders .order-container .order .order-header .price,
    // .orders-container .orders .order-container .order .order-header .total {
    //   width: 15%;
    // }
    // .orders-container .orders .order-container .order .order-body .content .items .item {
    //   width: 55%;
    // }
    // .orders-container .orders .order-container .order .order-body .content .items .quantity,
    // .orders-container .orders .order-container .order .order-body .content .items .price,
    // .orders-container .orders .order-container .order .order-body .content .items .total {
    //   width: 15%;
    // }
    .orders-container .orders .order-container .order .order-body .content .price {
      width: 100%;
    }
  }

}
