app-home {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 70px 0 0;
  -webkit-overflow-scrolling: touch;
  background: #f9f9f9;
  .home-container {
    padding: 10px 10px 40px;
    .home {
      max-width: 1140px;
      margin: auto;
      .home-content {
        position: relative;
        .home-header {
          font-family: 'Open Sans', sans-serif;
          background: white;
          border-radius: 10px;
          border: solid 1px #e0e0e0;
          -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.1);
          -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.1);
          box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.1);
          padding: 40px 50px;
          margin-top: 30px;
          img {
            width: 40px;
            float: left;
          }
          .title {
            font-weight: 300;
            color: rgba(0, 0, 0, 0.70);
          }
          i {
            color: #2ecc71;
            font-size: 19px;
            font-weight: 300;
            margin-right: 5px;
          }
          span {
            font-size: 19px;
            // font-weight: 300;
          }
          .description {
            margin-top: 10px;
            color: rgba(0, 0, 0, 0.8);
          }
          .options {
            // margin-top: 30px;
            i {
              display: block;
            }
            .opt-title {
              display: block;
              font-size: 22px;
              margin-left: 50px;
            }
            .opt-description {
              display: block;
              font-weight: 300;
              font-size: 16px;
              margin-left: 50px;
            }
          }
        }
        .home-body {
          .post {
            background: white;
            margin-top: 30px;
            margin-bottom: 10px;
            border-radius: 10px;
            border: solid 1px #e0e0e0;
            -webkit-box-shadow: 0 0 10px 0 rgba(50,50,50,0.10);
            -moz-box-shadow: 0 0 10px 0 rgba(50,50,50,0.10);
            box-shadow: 0 0 10px 0 rgba(50,50,50,0.10);
            overflow: auto;
            .post-content {
              position: relative;
              background: white;
              .post-header {
                padding: 40px 50px;
                font-family: Helvetica Neue, sans-serif;
              }
              .post-body {
                padding: 40px 50px;
                overflow: auto;
                .post-interest {
                  display: block;
                  margin-top: 5px;
                  text-align: left;
                  float: right;
                  .title {
                    display: block;
                    font-size: 17px;
                    color: rgba(0, 0, 0, 0.7);
                  }
                  .icons {
                    text-align: right;
                    font-size: 30px;
                    color: #27ae60;
                  }
                }
                .post-warranty {
                  display: block;
                  font-family: 'Open Sans', sans-serif;
                  margin-top: 5px;
                  text-align: right;
                  float: right;
                  .top-title {
                    display: block;
                    margin-bottom: 15px;
                    font-size: 17px;
                  }
                  .warranty-amount {
                    float: right;
                    margin-left: 10px;
                    display: inline-flex;
                    .warranty-price {
                      font-size: 52px;
                      font-weight: 900;
                      color: #2ecc71;
                      line-height: 44px;
                    }
                    .warranty-cent {
                      font-size: 26px;
                      font-weight: 900;
                      color: #2ecc71;
                      line-height: 28px;
                    }
                  }
                  .warranty-text {
                    float: right;
                    text-align: right;
                    .warranty-title {
                      display: block;
                      font-size: 17px;
                      font-weight: 700;
                      color: #343a43;
                    }
                    .warranty-description {
                      display: block;
                      color: rgba(0, 0, 0, 0.7);
                    }
                  }
                }
                .post-initial {
                  display: block;
                  overflow: auto;
                  padding: 10px 0px;
                  margin-bottom: 10px;
                  float: left;
                  .top-title {
                    display: block;
                    margin-bottom: 15px;
                    font-size: 17px;
                    font-weight: 500;
                    .top-title-label {
                      color: #343a43;
                      margin-right: 5px;
                    }
                    .top-title-value {
                      padding: 5px 15px;
                      font-weight: 500;
                      color: white;
                      border-radius: 25px;
                    }
                    .active {
                      background: #2ecc71;
                    }
                    .assigned {
                      background: #f1c40f;
                    }
                  }
                  .left-icon {
                    color: #2980B9;
                    font-size: 80px;
                    float: left;
                  }
                  .post-title {
                    margin-left: 100px;
                    color: #2980B9;
                    font-weight: 500;
                    text-transform: uppercase;
                  }
                  .post-location {
                    display: block;
                    margin-top: 10px;
                    font-size: 24px;
                    font-weight: 300;
                    color: rgba(0, 0, 0, 0.7);
                    margin-left: 100px;
                  }
                }
                .post-informations {
                  display: block;
                  width: 100%;
                  overflow: auto;
                  padding: 5px 0;
                  .label {
                    display: block;
                    float: left;
                    font-size: 17px;
                    font-weight: 700;
                    color: #343a43;
                    line-height: 26px;
                  }
                  .content {
                    display: block;
                    margin-left: 170px;
                    font-size: 18px;
                    color: #343a43;
                  }
                  .content-full-width {
                    margin: 0 !important;
                  }
                  .customer-type {
                    text-transform: uppercase;
                    font-weight: 700;
                    color: rgba(0, 0, 0, 0.70);
                  }
                  .price {
                    color: #12BF55;
                    font-weight: 700;
                  }
                  .contact-price {
                    font-weight: 900;
                    color: #3498db;
                  }
                  .priority {
                    color: #e74c3c;
                  }
                  .competitors {
                    color: #1abc9c;
                  }
                  .fa-circle {
                    float: left;
                    margin-right: 4px;
                    line-height: 25px;
                  }
                  .fa-circle-thin {
                    float: left;
                    margin-right: 4px;
                    line-height: 25px;
                  }
                  .fa-circle-o {
                    float: left;
                    margin-right: 4px;
                    line-height: 25px;
                  }
                  img {
                    height: 25px;
                  }
                }
                .post-customer {
                  font-family: 'Open Sans', sans-serif;
                  display: block;
                  .title {
                    display: block;
                    font-size: 19px;
                    font-weight: 900;
                    color: #1173be;
                    margin-bottom: 10px;
                  }
                  .info {
                    padding: 5px 0;
                    .label {
                      float: left;
                      font-size: 16px;
                      font-weight: 700;
                      color: #A3A3A3;
                    }
                    .content {
                      display: block;
                      margin-left: 120px;
                      font-size: 17px;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }
                  }
                }
                .post-activity {
                  display: block;
                  .info {
                    margin-top: 5px;
                    .label {
                      float: left;
                      font-size: 17px;
                      font-weight: 600;
                      color: #A3A3A3;
                    }
                    .content {
                      display: block;
                      margin-left: 150px;
                      font-size: 18px;
                      color: black;
                    }
                  }
                }
                .post-timer {
                  display: block;
                  margin-top: 5px;
                  text-align: left;
                  float: right;
                  .title {
                    font-size: 17px;
                    font-weight: 900;
                    color: #e74c3c;
                  }
                  .timer {
                    text-align: right;
                    margin-top: 5px;
                    .dots {
                      font-size: 22px;
                      margin: 0 5px;
                      color: #0F334D;
                    }
                    span {
                      display: inline-block;
                      p {
                        max-width: 45px;
                        font-size: 16px !important;
                        font-weight: 400;
                        text-align: center;
                      }
                    }
                    .hours, .minutes, .seconds {
                      display: inline-block;
                      background: #0F334D;
                      border: 1px solid #0a2a42;
                      color: white;
                      padding: 5px 10px;
                      font-size: 22px;
                      border-radius: 3px;
                      font-weight: 600;
                      width: 45px;
                      text-align: center;
                    }
                  }
                }
                .post-description {
                  font-family: 'Open Sans', sans-serif;
                  margin-top: 20px;
                  .title {
                    display: block;
                    font-size: 17px;
                    font-weight: 700;
                    color: #343a43;
                    line-height: 26px;
                  }
                  .subtitle {
                    display: block;
                    font-size: 15px;
                    color: #343a43;
                  }
                  .label-strong {
                    float: left;
                    font-size: 19px;
                    font-weight: 900;
                    color: #1173be;
                    margin-bottom: 10px;
                  }
                  .content-budget {
                    display: block;
                    margin-left: 150px;
                    font-size: 20px;
                    color: rgba(0, 0, 0, 0.8);
                    .price {
                      color: #27ae60;
                      font-weight: 700;
                    }
                  }
                  .customer {
                    // display: inline-block;
                    display: block;
                    float: left;
                    width: 40px;
                    height: 40px;
                    color: white;
                    text-align: center;
                    line-height: 40px;
                    font-size: 26px;
                    border-radius: 2px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    margin-right: 5px;
                  }
                  .accepted {
                    background: #2ecc71;
                  }
                  .refunded {
                    background: #f1c40f;
                  }
                }
                .post-actions {
                  display: block;
                  margin-top: 40px;
                  .title {
                    font-size: 24px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.7);
                  }
                  .btn-action {
                    display: block;
                    position: relative;
                    width: 100%;
                    margin-top: 10px;
                    text-align: center;
                    border-radius: 3px;
                    color: #fff;
                    // background-color: #5cb85c;
                    background-color: #12bf53;
                    // text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
                    // background-image: linear-gradient(to bottom, #5cb85c 0%, #4cae4c 100%);
                    // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 3px 0px #357935;
                    // background-image: linear-gradient(to bottom, #566eb3 0%, #3a539b 100%);
                    // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 3px 0px #132352;
                    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
                    background-repeat: repeat-x;
                    // border-color: #3e8f3e;
                    // border-color: #132352;
                    white-space: normal;
                    cursor: pointer;
                    outline: none;
                    .title {
                      display: block;
                      font-weight: 500;
                      color: white;
                      line-height: 60px;
                      font-size: 30px;
                      padding: 0 60px;
                    }
                    .price {
                      float: right;
                      line-height: 65px;
                      font-size: 30px;
                      font-weight: 900;
                      border-left: 1px solid white;
                      padding: 0 25px;
                    }
                  }
                  .btn-action:hover {
                    // background-image: linear-gradient(to bottom, #67bd67 0%, #47a447 100%);
                    background-color: #11d75b;
                    // border-color: #388038;
                  }
                  .btn-action:active:hover {
                    // color: #fff;
                    // background-color: #398439;
                    // border-color: #398e39;
                    // -webkit-box-shadow: none;
                    // -moz-box-shadow: none;
                  	// box-shadow: none;
                    background-color: #11d75b;
                  }

                  .btn-closed {
                    background: #bdc3c7 !important;
                    // border-color: #8e8e8e !important;
                    box-shadow: none !important;
                    text-shadow: none !important;
                    .title {
                      display: block;
                      font-weight: 500;
                      color: white;
                      line-height: 60px;
                      font-size: 30px;
                      padding: 0 60px;
                    }
                    .price {
                      float: right;
                      line-height: 65px;
                      font-size: 30px;
                      font-weight: 900;
                      border-left: 1px solid white;
                      padding: 0 25px;
                    }
                  }
                  .btn-closed:hover {
                    background-image: linear-gradient(to bottom, #67bd67 0%, #47a447 100%);
                    // border-color: #388038;
                  }
                  .btn-closed:active:hover {
                    color: #fff;
                    background-color: #398439;
                    // border-color: #398e39;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                  	box-shadow: none;
                  }

                  .bottom-message {
                    display: block;
                    font-size: 18px;
                    font-weight: 300;
                    margin-top: 10px;
                    font-style: italic;
                  }
                }
                .post-action-description {
                  font-family: 'Open Sans', sans-serif;
                  margin-top: 50px;
                  .title-action {
                    display: block;
                    font-size: 20px;
                    font-weight: 600;
                  }
                  .description-action {
                    display: block;
                    font-size: 16px;
                    font-weight: 400;
                  }
                }
                .divider {
                  border-top: 1px solid #E7E7E7;
                  margin-top: 20px;
                  margin-bottom: 20px;
                }
                .dot {
                  color: #27ae60;
                }
                .post-section {
                  overflow: auto;
                }
              }
              .post-footer {
                overflow: hidden;
                border-top: solid 1px #e0e0e0;
                padding: 30px 50px;
                .post-message {
                  float: left;
                  span {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    // font-style: italic;
                    font-weight: 300;
                  }
                }
                .post-actions-right {
                  float: right;
                  .icon-new-page {
                    font-size: 24px;
                  }
                }
              }
              .purchased-image {
                position: absolute;
                width: 120px;
                right: 0;
              }
            }
            .loader {
              text-align: center;
              padding: 50px;
              i {
                font-size: 30px;
              }
            }
          }
        }
        .home-footer {
          position: relative;
          background: white;
          border-radius: 10px;
          border: solid 1px #e0e0e0;
          -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.1);
          -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.1);
          box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.1);
          padding: 40px 50px;
          margin-top: 30px;
          .footer {
            margin: auto;
            .testimonial-title {
              display: block;
              font-size: 24px;
              font-weight: 700;
              text-align: center;
              margin-bottom: 20px;
            }
            .pagelist-container {
              overflow: auto;
              margin: 0 -15px;
              padding: 10px 0;
              .page-container {
                float: left;
                padding: 10px;
                width: calc(100% / 4);
                margin-bottom: 20px;
                text-align: center;
                .page {
                  background: white;
                  overflow: hidden;
                  text-align: center;
                  text-decoration: none;
                  .image {
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                    display: inline-block;
                    border: 1px solid #324977;
                  }
                  .pro-name {
                    margin-top: 10px;
                    font-size: 17px;
                    display: block;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: #343a43;
                    text-overflow: ellipsis;
                    height: 20px;
                  }
                }
              }
            }
            p {
              font-size: 14px !important;
              color: #4A4A4A;
              text-align: center;
            }
            .links {
              text-align: right;
            }
            li {
              display: inline-block;
              font-size: 16px;
              color: rgba(0, 0, 0, 0.6);
              margin-left: 10px;
              a:hover {
                cursor: pointer;
                color: #014c8c;
                text-decoration: underline;
              }
            }
            a {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .popup-container .contact {
    max-width: 700px;
  }
  .popup-container .popup .popup-content .popup-header {
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px !important;
      margin-top: 5px;
      line-height: 24px;
    }
    .post-title {
      // color: #2980B9;
      font-weight: 600;
      margin-top: 5px;
    }
    .post-timer {
      display: block;
      margin-top: 20px;
      .text {
        font-size: 20px;
        font-weight: 300;
        color: #0F334D;
        margin-right: 10px;
      }
      .timer {
        line-height: 35px;
        margin-bottom: 10px;
        .dots {
          font-size: 17px;
          margin: 0 5px;
          color: #e74c3c;
        }
        .hours, .minutes, .seconds {
          display: inline-block;
          border: 1px solid #e74c3c;
          // background: white;
          // color: #e74c3c;
          background: #e74c3c;
          color: white;
          font-size: 17px;
          border-radius: 3px;
          font-weight: 600;
          width: 45px;
          text-align: center;
          height: 35px;
        }
      }
    }
  }
  .popup-container .thankyoupage .popup-content .popup-header {
    text-align: center;
    .purchased-icon {
      font-size: 110px;
      color: #27ae60;
    }
    p {
      padding-top: 10px;
    }
  }
  .popup-container .thankyoupage .popup-content .popup-body {
    text-align: center;
    .btn-done {
      padding: 0 30px;
      border-radius: 3px;
    }
  }
  .popup-container .popup .popup-content .popup-body {
    .btn-form-login {
      width: 100%;
      border-radius: 3px;
    }
    .btn-form-signup {
      width: 100%;
      border-radius: 3px;
    }
    .btn-form-facebook {
      width: 100%;
      height: 50px;
      padding: 0 30px;
      font-size: 20px;
      font-weight: 500;
      border-radius: 3px;
      i {
        font-size: 36px;
        vertical-align: inherit;
        position: absolute;
        left: 27px;
        top: 7px;
      }
    }
    .password-forgot {
      color: #16a085;
      font-weight: 400;
      margin-bottom: 20px;
      cursor: pointer;
    }
    .info {
      margin-top: 5px;
      margin-bottom: 5px;
      display: block;
      width: 100%;
      overflow: auto;
      .label {
        float: left;
        font-size: 15px;
        font-weight: 600;
        color: #A3A3A3;
      }
      .content {
        display: block;
        margin-left: 120px;
        font-size: 16px;
        color: black;
      }
      .customer-type {
        text-transform: uppercase;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.7);
      }
      .verified-image {
        display: block;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);
        height: 22px;
      }
      .priority {
        color: #f39c12;
      }
      .competitors {
        color: #1abc9c;
      }
      .warranty-amount {
        color: #1abc9c;
        font-weight: 700;
        display: inline-flex;
        .warranty-price {
          font-size: 52px;
          font-weight: 900;
          line-height: 44px;
        }
        .warranty-cent {
          font-size: 28px;
          font-weight: 900;
          line-height: 28px;
        }
      }
    }
  }
  .popup-container .popup .popup-content .popup-footer {
    .description-purchase {
      text-align: center;
      font-size: 20px !important;
      color: #2c3e50;
      font-weight: 600;
    }
    .description-small {
      text-align: center;
      font-weight: 300;
      font-size: 17px !important;
    }
    .post-timer {
      display: block;
      .text {
        font-size: 13px;
        font-weight: 400;
        color: #0F334D;
      }
      .timer {
        line-height: 35px;
        margin-bottom: 10px;
        .dots {
          font-size: 17px;
          margin: 0 5px;
          color: #e74c3c;
        }
        .hours, .minutes, .seconds {
          display: inline-block;
          border: 1px solid #e74c3c;
          // background: white;
          // color: #e74c3c;
          background: #e74c3c;
          color: white;
          font-size: 17px;
          border-radius: 3px;
          font-weight: 600;
          width: 45px;
          text-align: center;
          height: 35px;
        }
      }
    }
    .action {
      display: inline-block;
      position: relative;
      text-align: center;
      width: 100%;
      font-size: 20px;
      line-height: 1.33;
      border-radius: 3px;
      color: #fff;
      background-color: #5cb85c;
      border-color: #4cae4c;
      text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
      background-image: linear-gradient(to bottom, #5cb85c 0%, #4cae4c 100%);
      // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 3px 0px #357935;
      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
      background-repeat: repeat-x;
      border-color: #3e8f3e;
      white-space: normal;
      font-size: 26px;
      line-height: 55px;
      margin-top: 20px;
      cursor: pointer;
      .title {
        font-weight: 600;
        color: white;
        font-size: 24px;
        padding: 0 40px;
      }
      .warranty-amount {
        float: right;
        font-size: 30px;
        font-weight: 900;
        border-left: 1px solid white;
        padding: 0 25px;
        line-height: 56px;
        display: inline-flex;
        .warranty-price {
          font-size: 30px;
          font-weight: 900;
          line-height: 56px;
        }
        .warranty-cent {
          font-size: 20px;
          font-weight: 500;
          line-height: 47px;
        }
      }
    }
    .action:hover {
      background-image: linear-gradient(to bottom, #67bd67 0%, #47a447 100%);
      border-color: #388038;
    }
    .action:active:hover {
      color: #fff;
      background-color: #398439;
      border-color: #398e39;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .actions {
      text-align: center;
      .btn {
        border-radius: 30px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .btn-map {
        background: #3498db;
        height: 50px;
        border: 0;
        color: white !important;
        font-size: 22px;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        outline: none !important;
        padding: 0 20px;
        line-height: 50px;
      }
      .btn-map:active:focus {
        background-color: #2980b9;
      }
      .btn-map:hover {
        background-color: #2980b9;
      }
      .btn-phone {
        background: #2ecc71;
        height: 50px;
        border: 0;
        color: white !important;
        font-size: 22px;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        outline: none !important;
        padding: 0 20px;
        line-height: 50px;
      }
      .btn-phone:active:focus {
        background-color: #27ae60;
      }
      .btn-phone:hover {
        background-color: #27ae60;
      }
      .btn-email {
        background: #95a5a6;
        height: 50px;
        border: 0;
        color: white !important;
        font-size: 22px;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        outline: none !important;
        padding: 0 20px;
        line-height: 50px;
      }
      .btn-email:active:focus {
        background-color: #7f8c8d;
      }
      .btn-email:hover {
        background-color: #7f8c8d;
      }
      .btn-list {
        background: #34495e;
        height: 50px;
        border: 0;
        color: white !important;
        font-size: 22px;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        outline: none !important;
        padding: 0 20px;
        line-height: 50px;
        i {
          margin-right: 0;
        }
      }
      .btn-list:active:focus {
        background-color: #2c3e50;
      }
      .btn-list:hover {
        background-color: #2c3e50;
      }
    }
  }
  .popup-container .popup .popup-content .popup-footer .refund {
    float: left;
  }
  .popup-container .popup .popup-content .popup-footer .refund .refund-image {
    height: 50px;
    float: left;
  }
  .popup-container .popup .popup-content .popup-footer .refund .title {
    margin-left: 10px;
    font-size: 18px;
    line-height: 50px;
  }
  .popup-container .popup .popup-content .popup-footer .btn {
    margin-top: 15px;
  }
  .popup-container .popup .popup-content .popup-footer .btn-full-width {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  app-home .home-container .home .home-content .home-body .post {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  app-home .home-container .home .home-content .home-header {
    padding: 30px;
    margin-top: 10px;
  }
  app-home .home-container .home .home-content .home-body .post {
    margin-top: 20px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-header {
    padding: 30px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-initial .left-icon {
    font-size: 60px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-initial .post-title {
    margin-left: 80px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-initial .post-location {
    margin-top: 5px;
    margin-left: 80px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body {
    padding: 30px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .content {
    margin-left: 120px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-customer .info .content {
    margin-left: 90px;
    text-align: right;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-footer {
    padding: 20px 30px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-timer .timer .hours,
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-timer .timer .minutes,
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-timer .timer .seconds {
    width: 55px;
    border-radius: 5px;
    font-size: 26px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-timer .timer .dots {
    font-size: 26px;
    margin: 0 2px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-timer .timer span p {
    max-width: 55px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-description .content-budget {
    margin-left: 120px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .priority {
    margin-left: 140px !important;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .competitors {
    margin-left: 140px !important;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .price {
    margin-left: 140px !important;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .customer-type {
    margin-left: 140px !important;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .verified-image {
    margin-left: 140px !important;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .contact-price {
    margin-left: 140px !important;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-actions .btn-action {
    width: 100%;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-actions .btn-action .price {
    display: none;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-interest {
    width: 100%;
    margin-bottom: 10px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-interest .icons {
    text-align: left;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-warranty {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-actions .btn-action .title {
    padding: 0 10px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-initial {
    float: none;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-warranty .warranty-amount {
    // float: left;
    margin: 0;
    // margin-right: 10px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-warranty .warranty-text {
    float: left;
    text-align: left;
  }
}

@media (max-width: 425px) {
  app-home .popup-container .popup .popup-content .popup-footer .post-timer {
    text-align: center;
    margin-top: 20px;
  }
  app-home .popup-container .popup .popup-content .popup-body .info .content {
    margin-left: 88px;
  }
  app-home .popup-container .popup .popup-content .popup-body .info .label_mobile {
    float: none;
  }
  app-home .popup-container .popup .popup-content .popup-body .info .content_mobile {
    margin: 0;
  }
  app-home .popup-container .popup .popup-content .popup-body .info .content-mobile-right {
    float: right;
    margin: 0;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-timer {
    margin-top: 10px;
    margin-bottom: 10px;
    float: none;
    width: 100%;
    text-align: left;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-timer .timer {
    text-align: left;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-actions {
    margin-top: 30px;
    width: 100%;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .label_mobile {
    float: none;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .content {
    margin-left: 90px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .content_mobile {
    margin: 0;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-initial .left-icon {
    display: none;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-initial .post-title {
    margin-left: 0;
    font-size: 28px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-initial .post-location {
    margin-left: 0;
    font-size: 20px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-actions .btn-action .title {
    font-size: 26px;
    padding: 0 5px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-actions .btn-action .price {
    font-size: 24px;
    padding: 0 10px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-actions .btn-action {
    width: 100%;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-customer {
    margin-top: 30px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-initial {
    float: none;
    width: 100%;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-description .content-budget {
    text-align: right;
    margin-left: 50px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .fa-circle {
    float: right;
    margin-left: 0px !important;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .fa-circle-o {
    float: right;
    margin-left: 0px !important;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .price {
    float: right;
    margin-left: 0px !important;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .contact-price {
    float: right;
    margin-left: 0px !important;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .customer-type {
    float: right;
    margin-left: 0px !important;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-informations .verified-image {
    float: right;
    margin-left: 0px !important;
  }
  app-home .home-container .home .home-content .home-footer {
    padding: 30px;
  }
  app-home .home-container .home .home-content .home-footer .footer .pagelist-container .page-container {
    width: calc(100% / 2);
  }
  app-home .popup-container .popup .popup-content .popup-footer .action {
    margin-top: 20px;
  }
  app-home .home-container .home .home-content .home-header .title {
    font-size: 30px;
  }
  app-home .home-container .home .home-content .home-header .description {
    font-size: 16px !important;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body {
    padding: 20px;
  }
  app-home .popup-container .popup .popup-content .popup-footer .action .title {
    padding: 0;
  }
  app-home .popup-container .popup .popup-content .popup-footer .action .warranty-amount {
    padding: 0 15px;
    font-size: 26px;
  }
}

@media (max-width: 375px) {
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-actions .btn-action .title {
    font-size: 24px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-actions .btn-action .price {
    font-size: 21px;
  }
}

@media (max-width: 320px) {
  app-home .popup-container .popup .popup-content .popup-footer .action .title {
    font-size: 22px;
  }
  app-home .popup-container .popup .popup-content .popup-footer .action .warranty-amount {
    padding: 0 8px;
    font-size: 22px;
  }
  app-home .home-container .home .home-content .home-footer .footer .pagelist-container .page-container {
    width: calc(100% / 1);
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-actions .btn-action .title {
    font-size: 22px;
  }
  app-home .home-container .home .home-content .home-body .post .post-content .post-body .post-actions .btn-action .price {
    font-size: 21px;
  }
}

.awesome-title {
  -webkit-animation:colorchange 6s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: #3e8f3e;
  }
  // 10% {
  //   color: #8e44ad;
  // }
  // 20% {
  //   color: #1abc9c;
  // }
  // 30% {
  //   color: #d35400;
  // }
  // 40% {
  //   color: blue;
  // }
  50% {
    color: #2980b9;
  }
  // 60% {
  //   color: blue;
  // }
  // 70% {
  //   color: #2980b9;
  // }
  // 80% {
  //   color: #f1c40f;
  // }
  // 90% {
  //   color: #2980b9;
  // }
  100% {
    color: #e74c3c;
  }
}

.loading-dots:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(5,end) 2900ms infinite;
  animation: ellipsis steps(5,end) 2900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
  0% {
    color: rgba(255,255,255,0);
  }
  25% {
    color: rgba(255,255,255,0.25);
  }
  50% {
    color: rgba(255,255,255,0.5);
  }
  75% {
    color: rgba(255,255,255,0.75);
  }
  100% {
    color: rgba(255,255,255,1);
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
  0% {
    color: rgba(255,255,255,0);
  }
  25% {
    color: rgba(255,255,255,0.25);
  }
  50% {
    color: rgba(255,255,255,0.5);
  }
  75% {
    color: rgba(255,255,255,0.75);
  }
  100% {
    color: rgba(255,255,255,1);
  }
}
