<div class="home-container">
  <div class="home">
    <div class="home-content">
      <!-- <div class="home-header" *ngIf="router.url==='/'">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title">Serramenti e infissi</h1>
            <p class="description">Chiedi un preventivo gratuito alle migliori aziende nella tua zona. Fai una richiesta in semplici passi e Starbook penserà a proporti la migliore azienda della zona. Con Starbook risparmi tempo e denaro.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="options">
              <img src="../assets/images/verified-customer.png" alt="verificato">
              <span class="opt-title">Richiesta personalizzata</span>
              <span class="opt-description">Fai la tua richiesta di preventivo selezionando più opzioni predefinite in modo da dare un idea più chiara alle aziende.</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="options">
              <img src="../assets/images/verified-customer.png" alt="verificato">
              <span class="opt-title">Aziende selezionate</span>
              <span class="opt-description">Per ogni richiesta di preventivo noi proponiamo solo le aziende con più esperienza e le più specializzate nel settore.</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="options">
              <img src="../assets/images/verified-customer.png" alt="verificato">
              <span class="opt-title">Risparmia tempo</span>
              <span class="opt-description">Non dovrai mai spendere tempo a cercare da solo l'azienda per i tuoi lavori. Ci pensiamo noi in breve tempo a offrirti l'azienda più seria.</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-request" routerLink="/request/service">
              Chiedi un preventivo
            </button>
          </div>
        </div>
      </div> -->
      <div class="home-header" *ngIf="!fragment">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title">Clienti per infissi</h1>
            <p class="description">Una piattaforma che mette a disposizione richieste dettagliate da potenziali clienti nella tua zona offrendo partnership a lungo termine e costi agevolati.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="options">
              <span class="opt-icon background-f1c40f"><i class="fa fa-list" aria-hidden="true"></i></span>
              <span class="opt-title">Richieste più specifiche</span>
              <span class="opt-description">Finalmente le richieste dei clienti su Starbook diventano più complete e dettagliate.</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="options">
              <span class="opt-icon background-27ae60"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <span class="opt-title">Lavori in zona</span>
              <span class="opt-description">Riceverai richieste da clienti nella tua zona o entro un raggio geografico predefinito.</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="options">
              <span class="opt-icon background-2980b9"><i class="fa fa-handshake-o" aria-hidden="true"></i></span>
              <span class="opt-title">Partner per sempre</span>
              <span class="opt-description">A lungo termine con Starbook puoi diventare partner e ricevere richieste con prezzi più agevolati.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="home-body">
        <div class="post" *ngIf="posts && posts.length===0">
          <div class="post-content">
            <div class="post-header">
              <h3 class="title">Al momento non ci sono lavori pubblicati su Starbook!</h3>
            </div>
          </div>
        </div>
        <div class="post" *ngIf="!posts">
          <div class="loader">
            <i class="fa fa-circle-o-notch animate"></i>
          </div>
        </div>
        <div class="post" *ngFor="let post of posts">
          <div class="post-content">
            <img class="purchased-image" *ngIf="post.status && post.status.active===false" src='../assets/images/purchased-label.png'>
            <div class="post-header">
              <div class="row">
                <div class="col-md-12">
                  <div class="post-initial">
                    <i class="fa fa-briefcase left-icon" aria-hidden="true"></i>
                    <h1 class="post-title" *ngIf="!(post.details | objectContain:'ARRAY_HAVE_TITLE') && !post.title">Richiesta preventivo</h1>
                    <h1 class="post-title" *ngIf="!(post.details | objectContain:'ARRAY_HAVE_TITLE') && post.title">{{post.title}}</h1>
                    <h1 class="post-title" *ngIf="(post.details | objectContain:'ARRAY_HAVE_TITLE')">{{post.details | elementInArrayBy: 'type': 'TITLE': 'title'}}</h1>
                    <span class="post-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{checkPostLocation(post)}}</span>
                  </div>
                  <div class="post-warranty">
                    <app-dynamicprice class="warranty-amount" [price]="post.budget" (onPriceCalculated)="setPriceCalculated($event)" ></app-dynamicprice>
                    <div class="warranty-text">
                      <span class="warranty-title">Contatto</span>
                      <span class="warranty-description"><i>(iva inclusa)</i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-body">
              <div class="row" *ngIf="post.description && post.description.length>0">
                <div class="col-md-12">
                  <div class="post-details">
                    <div class="post-detail">
                      <span class="title font-size-18">Descrizione del cliente</span>
                      <span class="description font-size-17">{{post.description}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="post.details | objectContain:'CONTAIN_OBJECT_IN_ARRAY'">
                <div class="col-md-6" *ngFor="let detail of post.details | sortBy: 'type': true: 'OBJECT'">
                  <div class="post-details">
                    <div class="post-detail">
                      <span class="title" *ngIf="detail.value">{{detail.title}}: {{detail.value}}</span>
                      <span class="title" *ngIf="!detail.value">{{detail.title}}</span>
                      <span class="description elipsis-2lines">{{detail.description}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="post.details | objectContain:'STRING_OBJECT_IN_ARRAY'">
                <div class="col-md-12">
                  <div class="post-details">
                    <div class="post-detail">
                      <span class="title font-size-18">Dettagli</span>
                      <span class="description elipsis-2lines font-size-17" *ngFor="let detail of post.details | sortBy: 'type': true: 'STRING'">{{detail}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-12" *ngIf="post.details && post.details.length>0">
                  <div class="post-description">
                    <div class="row" *ngIf="!fragment">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="post-informations" *ngIf="post.status && post.status.active===false && post.temp_data">
                                  <span class="label">Risultati della richiesta</span>
                                  <span class="sublabel">Le aziende accettate e le aziende rimborsate.</span>
                                  <div *ngFor="let tick of counter(post.temp_data.purchases)" class="customer accepted"><i class="fa fa-check" aria-hidden="true"></i></div>
                                  <div *ngFor="let tick of counter(post.temp_data.refunds)" class="customer refunded">
                                    <i class="fa fa-repeat" aria-hidden="true"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="post-footer">
              <div class="row">
                <div class="col-md-12">
                  <app-action [post]="post" (onPreviewPurchase)="previewPost($event)" (onPreviewUpdate)="previewUpdatePost(post)" (onSendQuotation)="openQuotationForm(post)"></app-action>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="post-message" *ngIf="(!post.status || post.status.active===true) && !fragment" >
                    <span>Riceverai tutte le informazioni del contatto una volta garantito l'acquisto e potrai contattare il cliente tramite email e telefono.</span>
                  </div>
                  <div class="post-message" *ngIf="(post.status && post.status.active===false) && !fragment">
                    <span>Questa richiesta di lavoro è stata venduta e non è più possibile acquistarla.</span>
                  </div>
                  <div class="post-message" *ngIf="fragment">
                    <span>Aggiorna la richiesta per poter notificare i professionisti e far partire il sistema dei rimborsi.</span>
                  </div>
                  <!-- <div class="post-actions-right" *ngIf="!params.id">
                    <a routerLink="/post/{{post._id}}"><i class="fa fa-sign-out icon-new-page" aria-hidden="true"></i></a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="home-footer" *ngIf="!fragment">
        <div class="footer">
          <div class="row">
            <div class="col-md-12" *ngIf="TestimonialAccounts && TestimonialAccounts.length>0">
              <span class="testimonial-title">Aziende attive su Starbook</span>
              <div class="pagelist-container">
                <div class="page-container" *ngFor="let account of TestimonialAccounts">
                  <div class="page">
                    <img class="image" [src]="imageForAccount(account)">
                    <span class="pro-name">{{checkCompanyName(account)}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="home-footer">
        <div class="footer">
          <div class="row">
            <div class="col-md-12">
              <p>
                © 2017 • Starbook Tutti i diritti riservati • C.F brghld87h21z100n •
                <a routerLink="/info/legal" target="_blank">Termini e Condizioni</a>
                <span> • </span>
                <a routerLink="/info/legal" target="_blank">Privacy Policy</a>
                <span> • </span>
                <a routerLink="/info/help" target="_blank">Aiuto e Assistenza</a>
                <span> • </span>
                <a routerLink="/company" target="_blank">Per le aziende</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup-container" *ngIf="selected_post" [ngStyle]="{'display' : popup==='PREVIEW_PURCHASE_CONTACT_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup=null; commonService.enableScroll()"></div>
  <div class="popup contact">
    <div class="popup-loader" *ngIf="PurchaseState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content background-white">
      <div class="popup-nav">
        <button type="button" class="close" (click)="popup=null; commonService.enableScroll()">&times;</button>Anteprima della richiesta
      </div>
      <div class="popup-header">
        <div class="row">
          <div class="col-md-12">
            <h3 class="post-title left" *ngIf="!(selected_post.details | objectContain:'ARRAY_HAVE_TITLE') && !selected_post.title">Richiesta preventivo</h3>
            <h3 class="post-title left" *ngIf="!(selected_post.details | objectContain:'ARRAY_HAVE_TITLE') && selected_post.title">{{selected_post.title}}</h3>
            <h3 class="post-title left" *ngIf="(selected_post.details | objectContain:'ARRAY_HAVE_TITLE')">{{selected_post.details | elementInArrayBy: 'type': 'TITLE': 'title'}}</h3>
            <div class="post-warranty right">
              <app-dynamicprice class="warranty-amount" [price]="selected_post.budget" (onPriceCalculated)="setPriceCalculated($event)" ></app-dynamicprice>
              <div class="warranty-text">
                <span class="warranty-title">CONTATTO</span>
                <span class="warranty-description"><i>(iva inclusa)</i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-body">
        <div class="row">
          <div class="col-md-12" *ngIf="selected_post.description && selected_post.description.length>0">
            <div class="post-details">
              <div class="post-detail">
                <span class="title font-size-18">Descrizione del cliente</span>
                <span class="description font-size-17">{{selected_post.description}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="selected_post.details | objectContain:'CONTAIN_OBJECT_IN_ARRAY'">
            <div *ngFor="let detail of selected_post.details | sortBy: 'type': true: 'OBJECT'">
              <div class="post-details">
                <div class="post-detail">
                  <!-- <span class="title">{{detail.title}}</span> -->
                  <span class="title" *ngIf="detail.value">{{detail.title}}: {{detail.value}}</span>
                  <span class="title" *ngIf="!detail.value">{{detail.title}}</span>
                  <span class="description">{{detail.description}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="selected_post.details | objectContain:'STRING_OBJECT_IN_ARRAY'">
            <div class="post-details">
              <div class="post-detail">
                <span class="title font-size-17">Dettagli</span>
                <span class="description font-size-17 display-block" *ngFor="let detail of selected_post.details | sortBy: 'type': true: 'STRING'">{{detail}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <!-- <div class="client-details">
              <div class="client-avatar">
                <span class="name-initials">{{selected_post.customer.firstname.charAt(0)}} {{selected_post.customer.lastname.charAt(0)}}</span>
              </div>
              <span class="client-name" *ngIf="(purchased_post && (purchased_post.customer.complete===false) && (purchased_post._id===selected_post._id)) || !purchased_post">{{selected_post.customer.firstname.charAt(0)}}. {{selected_post.customer.lastname.charAt(0)}}****</span>
              <span class="client-name" *ngIf="purchased_post && (purchased_post.customer.complete===true) && (purchased_post._id===selected_post._id)">{{purchased_post.customer.firstname}} {{purchased_post.customer.lastname}}</span>
              <span class="client-request" *ngIf="!(selected_post.details | objectContain:'ARRAY_HAVE_TITLE') && !selected_post.title">Richiesta preventivo</span>
              <span class="client-request" *ngIf="!(selected_post.details | objectContain:'ARRAY_HAVE_TITLE') && selected_post.title">{{selected_post.title}}</span>
              <span class="client-request" *ngIf="(selected_post.details | objectContain:'ARRAY_HAVE_TITLE')">{{selected_post.details | elementInArrayBy: 'type': 'TITLE': 'title'}}</span>
            </div> -->
            <div class="post-details">
              <div class="post-detail overflow-auto">
                <span class="title left">Nominativo:</span>
                <span class="description right font-size-17" *ngIf="(purchased_post && (purchased_post.customer.complete===false) && (purchased_post._id===selected_post._id)) || !purchased_post">{{selected_post.customer.firstname.charAt(0)}}. {{selected_post.customer.lastname.charAt(0)}}****</span>
                <span class="description right font-size-17" *ngIf="purchased_post && (purchased_post.customer.complete===true) && (purchased_post._id===selected_post._id)">{{purchased_post.customer.firstname}} {{purchased_post.customer.lastname}}</span>
              </div>
              <div class="post-detail overflow-auto">
                <span class="title left">Cliente:</span>
                <span class="description right font-size-17">PRIVATO</span>
              </div>
            </div>
            <div class="post-details">
              <div class="post-detail overflow-auto">
                <span class="title left">Stato:</span>
                <span class="description right font-size-17">VERIFICATO</span>
              </div>
            </div>
            <div class="post-details">
              <div class="post-detail overflow-auto">
                <span class="title left">Comune:</span>
                <span class="description right font-size-17">{{checkPostLocation(selected_post)}}</span>
              </div>
            </div>
            <div class="post-details" *ngIf="purchased_post">
              <div class="post-detail overflow-auto">
                <span class="title left">Email:</span>
                <span class="description right font-size-17">{{purchased_post.customer.email}}</span>
              </div>
              <div class="post-detail overflow-auto">
                <span class="title left">Telefono:</span>
                <span class="description right font-size-17">{{purchased_post.customer.phone_number}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="post-details">
              <div class="post-detail overflow-auto">
                <app-maps [city]="selected_post.address.city"></app-maps>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="error-container" *ngIf="PurchaseState.error">
          <span class="error">{{PurchaseState.error}}</span>
        </div>
        <div class="row">
          <div class="col-md-12" *ngIf="!purchased_post">
            <button type="button" class="btn btn-danger btn-preview" id="previewPurchaseContact" (click)="showPreviewPurchasePost(selected_post)">
              Vedi tutti i dati
            </button>
          </div>
          <div class="col-md-12" *ngIf="purchased_post && (purchased_post._id===selected_post._id)">
            <a role="button" class="btn btn-primary btn-preview" id="previewPurchaseContact" routerLink = "/account/contacts" target="_blank">
              Guarda contatto
            </a>
          </div>
          <div class="col-md-12" *ngIf="!purchased_post">
            <p class="description-small"><i>Procedendo ti verrà mostrato quello che riceverai dopo l'acquisto del contatto.</i></p>
          </div>
          <div class="col-md-12" *ngIf="purchased_post && (purchased_post._id===selected_post._id)">
            <p class="description-small"><i>Per guardare tutti i dettagli del contatto vai nella sezione contatti del tuo account.</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup-container" *ngIf="selected_post" [ngStyle]="{'display' : popup_second==='CONFIRM_PURCHASE_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup_second=null;"></div>
  <div class="popup purchase">
    <div class="popup-loader" *ngIf="PurchaseState.loading || DefaultCardState.loading || CardsState.loading || CardState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content background-white">
      <div class="popup-nav">
        <button type="button" class="close" (click)="popup_second=null;">&times;</button>Conferma l'acquisto
      </div>
      <div class="popup-header">
        <h3 class="post-title">Che cosa avrai:</h3>
        <p><span class="badge">1</span><span class="list-item">Dati completi del cliente: telefono, email, indirizzo.</span></p>
        <p><span class="badge">2</span><span class="list-item">Illimitate notifiche verso il cliente via email gratis.</span></p>
        <p><span class="badge">3</span><span class="list-item">Crediti da poter inviare nuove proposte ai clienti.</span></p>
        <p><span class="badge">4</span><span class="list-item">Rimborso credito per lavoro chiuso o non accettato.</span></p>
      </div>
      <div class="popup-header" *ngIf="!CardsState.loading">
        <h3 class="post-title">Seleziona pagamento</h3>
        <p>Seleziona o aggiungi un metodo di pagamento per continuare.</p>
      </div>
      <div class="popup-body" *ngIf="!CardsState.loading">
        <div *ngIf="Cards.length>0">
          <div *ngFor="let card of Cards">
            <div class="default-card-container" (click)="selectCard(card.id);">
              <div class="default-card noselect">
                <i *ngIf="DefaultCard===card.id" class="fa fa-check-circle checked" aria-hidden="true"></i>
                <i *ngIf="DefaultCard!==card.id" class="fa fa-circle-thin unchecked" aria-hidden="true"></i>
                <span class="card-item">Numero Carta **** {{ card.last4 }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="default-card-container" *ngIf="Cards.length>0 && DefaultCard && !DefaultCardState.loading" (click)="DefaultCard=null; CardState.error=null;">
          <div class="default-card noselect">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="card-item">Nuova Carta</span>
          </div>
        </div>
        <form *ngIf="!DefaultCard">
          <div class="row">
            <div class="col-md-12">
              <div class="list-cards">
                <img src="../../../assets/images/visa.png" alt="Visa">
                <img src="../../../assets/images/mastercard.png" alt="Mastercard">
                <img src="../../../assets/images/americanexpress.png" alt="AmericanExpress">
                <img src="../../../assets/images/discover.png" alt="Discover">
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="firstname-input">Numero carta *</label>
              <input autocomplete="off" type="text" placeholder="Numero" class="form-control" [ngClass]="{'error-input': CardState.error}" id="numberInput" [(ngModel)]="Card.number" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="dateInput">Scadenza *</label>
              <input autocomplete="off" type="text" placeholder="MM/AA" class="form-control" [ngClass]="{'error-input': CardState.error}" id="dateInput" [(ngModel)]="Card.exp_date" (keyup)="checkExpiry(Card.exp_date)" (change)="checkExpiry(Card.exp_date)" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="numberInput">Codice di sicurezza *</label>
              <input autocomplete="off" type="text" placeholder="CVC/CVV" class="form-control" [ngClass]="{'error-input': CardState.error}" id="numberInput" [(ngModel)]="Card.cvc" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-12">
              <div class="error-container" *ngIf="CardState.error">
                <span class="error">{{CardState.error}}</span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="popup-footer">
        <button type="button" class="btn btn-success btn-confirm" id="confirmPurchase" (click)="confirmPurchase(selected_post)">
          <span class="title">Conferma acquisto</span>
          <!-- <div class="warranty-amount">
            <span class="warranty-price">{{ getDecimalPartPrice(selected_post) }}</span><span class="warranty-cent">,{{ getFracPartPrice(selected_post) }}€</span>
          </div> -->
        </button>
        <span class="security-message">*Protocollo di sicurezza HTTPS, certificati TSL (SSL) e processore di pagamenti <a href="https://stripe.com" target="_blank">Stripe.com</a>.</span>
      </div>
    </div>
  </div>
</div>
<div class="popup-container" *ngIf="selected_post" [ngStyle]="{'display' : popup_second==='PURCHASE_CONFIRMED_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup_second=null;"></div>
  <div class="popup purchase">
    <!-- <div class="popup-loader">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div> -->
    <div class="popup-content background-white">
      <div class="popup-nav">
        <button type="button" class="close" (click)="popup_second=null;">&times;</button>Acquisto confermato
      </div>
      <div class="popup-header">
        <h3 class="post-title">Che cosa avrai:</h3>
        <p><span class="badge">1</span><span class="list-item">Dati completi del cliente: telefono, email, indirizzo.</span></p>
        <p><span class="badge">2</span><span class="list-item">Illimitate notifiche verso il cliente via email gratis.</span></p>
        <p><span class="badge">3</span><span class="list-item">Crediti da poter inviare nuove proposte ai clienti.</span></p>
        <p><span class="badge">4</span><span class="list-item">Rimborso credito per lavoro chiuso o non accettato.</span></p>
      </div>
      <div class="popup-header" *ngIf="!CardsState.loading">
        <h3 class="post-title">Complimenti, hai acquistato un contatto!</h3>
        <p>Riceverai i dati del cliente successivamente via mail.</p>
      </div>
      <div class="popup-body">

      </div>
      <div class="popup-footer">
        <button type="button" class="btn btn-success btn-confirm" id="confirmPurchase" (click)="donePurchase(selected_post)">
          <span class="title">Fatto</span>
        </button>
        <span class="security-message">*Protocollo di sicurezza HTTPS, certificati TSL (SSL) e processore di pagamenti <a href="https://stripe.com" target="_blank">Stripe.com</a>.</span>
      </div>
    </div>
  </div>
</div>

<div class="popup-container" [ngStyle]="{'display' : popup_second==='SIGNUP_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup_second=null; popup='PREVIEW_PURCHASE_CONTACT_POPUP'; checkPurchasePost(selected_post);"></div>
  <div class="popup">
    <div class="popup-loader" *ngIf="AuthState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content">
      <div class="popup-nav">
        <button type="button" class="close" (click)="popup_second=null; popup='PREVIEW_PURCHASE_CONTACT_POPUP'; checkPurchasePost(selected_post);">&times;</button>Registrazione
      </div>
      <div class="popup-header">
        <h3 class="post-title">Registrazione</h3>
        <p>Registrati inserendo i tuoi dati per poter utilizzare tutte le funzionalità della piattaforma.</p>
      </div>
      <div class="popup-body">
        <form (keyup.enter)="signup(AuthField)">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="business-name-input">Ragione sociale</label>
              <input class="form-control" placeholder="Nome della tua azienda" type="text" [ngClass]="{'error-input': AuthState.error}" id="business-name-input" [(ngModel)]="AuthField.business.name" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="firstNameInput">Nome</label>
              <input type="firstname" placeholder="Nome" class="form-control" [ngClass]="{'error-input': AuthState.error}" id="firstNameInput" [(ngModel)]="AuthField.profile.firstname" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="lastNameInput">Cognome</label>
              <input type="lastname" placeholder="Cognome" class="form-control" [ngClass]="{'error-input': AuthState.error}" id="lastNameInput" [(ngModel)]="AuthField.profile.lastname" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-12">
              <label for="emailInput">Email</label>
              <input type="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': AuthState.error}" id="emailInput" [(ngModel)]="AuthField.email" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-12">
              <label for="passwordInput">Scegli una password</label>
              <input type="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': AuthState.error}" id="passwordInput" [(ngModel)]="AuthField.password" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-12">
              <div class="error-container" *ngIf="AuthState.error">
                <span class="error">{{AuthState.error}}</span>
              </div>
            </div>
            <div class="form-group col-md-12">
              <button type="button" id="signup" class="btn btn-primary btn-form-signup" (click)="signup(AuthField)">Iscriviti</button>
            </div>
            <div class="form-group col-md-12 text-center">
              <a class="show-login-popup" (click)="popup_second='LOGIN_POPUP';">Sei gia iscritto? Accedi</a>
            </div>
          </div>
        </form>
      </div>
      <div class="popup-footer text-center">
        <span class="text">Continuando dichiari di aver letto e accetti le <a routerLink="/info/legal" target="_blank">condizioni generali e l’informativa sulla privacy</a></span>
      </div>
    </div>
  </div>
</div>
<div class="popup-container" [ngStyle]="{'display' : popup_second==='LOGIN_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup_second=null; popup='PREVIEW_PURCHASE_CONTACT_POPUP'; checkPurchasePost(selected_post);"></div>
  <div class="popup">
    <div class="popup-loader" *ngIf="AuthState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content">
      <div class="popup-nav">
        <button type="button" class="close" (click)="popup_second=null; popup='PREVIEW_PURCHASE_CONTACT_POPUP'; checkPurchasePost(selected_post);">&times;</button>Accedi
      </div>
      <div class="popup-header">
        <h3 class="post-title">Accedi al tuo account</h3>
        <p>Hai gia un account registrato su Starbook? Accedi per contattare il cliente.</p>
      </div>
      <div class="popup-body">
        <form (keyup.enter)="login(AuthField)">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="email">Indirizzo email</label>
              <input id="email" class="form-control" type="email" name="email" [ngClass]="{'error-input': AuthState.error}" [(ngModel)]="AuthField.email" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-12">
              <label for="password">Password</label>
              <input id="password" class="form-control" type="password" name="password" [ngClass]="{'error-input': AuthState.error}" [(ngModel)]="AuthField.password" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-12">
              <div class="error-container" *ngIf="AuthState.error">
                <span class="error">{{AuthState.error}}</span>
              </div>
            </div>
            <div class="form-group col-md-12">
              <a class="btn btn-primary btn-form-login" (click)="login(AuthField)">Accedi</a>
            </div>
            <div class="form-group col-md-12 text-center">
              <a class="show-login-popup" (click)="popup='SIGNUP_POPUP';">Nuovo utente? Registrati</a>
            </div>
            <div class="form-group col-md-12 text-center">
              <a class="password-forgot" routerLink="/auth/password_recovery" target="_blank">Hai dimenticato la password?</a>
            </div>
          </div>
        </form>
      </div>
      <div class="popup-footer text-center">
        <span class="text">Continuando dichiari di aver letto e accetti le <a routerLink="/info/legal" target="_blank">condizioni generali e l’informativa sulla privacy</a></span>
      </div>
    </div>
  </div>
</div>

<!-- <div class="popup-container" *ngIf="purchased_post" [ngStyle]="{'display' : popup==='PURCHASED_CONTACT_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup=null; commonService.enableScroll()"></div>
  <div class="popup contact">
    <div class="popup-loader" *ngIf="PurchaseState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content">
      <div class="popup-nav">
        <button type="button" class="close" (click)="popup=null; commonService.enableScroll()">&times;</button>Contatto acquistato
      </div>
      <div class="popup-header">
        <h3 class="post-title">{{purchased_post.title}}</h3>
      </div>
      <div class="popup-body">
        <div class="row">
          <div class="col-md-12">
            <div class="info">
              <span class="label label_mobile">LAVORO:</span><span class="content content_mobile">{{purchased_post.title}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="info">
              <span class="label label_mobile">DESCRIZIONE: </span><span class="content content_mobile">{{purchased_post.description}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="info">
              <span class="label label_mobile">DETTAGLI:</span>
              <span class="content content_mobile" *ngFor="let detail of purchased_post.details">{{detail}}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <span class="label">COGNOME: </span><span class="content">{{checkCustomerLastname(purchased_post)}}</span>
            </div>
            <div class="info">
              <span class="label">NOME: </span><span class="content">{{checkCustomerFirstname(purchased_post)}}</span>
            </div>
            <div class="info">
              <span class="label">EMAIL: </span><span class="content">{{checkCustomerEmailAddress(purchased_post)}}</span>
            </div>
            <div class="info">
              <span class="label">TELEFONO: </span><span class="content">{{checkCustomerPhoneNumber(purchased_post)}}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <span class="label">COMUNE: </span><span class="content">{{checkPostLocation(purchased_post)}}</span>
            </div>
            <div class="info">
              <span class="label">INDIRIZZO: </span><span class="content">{{checkAddressStreet(purchased_post)}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="error-container" *ngIf="PurchaseState.error">
          <span class="error">{{PurchaseState.error}}</span>
        </div>
        <div class="actions">
          <a *ngIf="getPhoneNumber(purchased_post)" role="button" href="tel:{{getPhoneNumber(purchased_post)}}" target="_blank" name="button" class="btn btn-phone"><i class="fa fa-phone" aria-hidden="true"></i><b>Chiama</b></a>
          <a *ngIf="getEmailAddress(purchased_post)" role="button" href="mailto:{{getEmailAddress(purchased_post)}}" target="_blank" name="button" class="btn btn-email"><i class="fa fa-envelope" aria-hidden="true"></i><b>Email</b></a>
          <a *ngIf="getGoogleMapsLink(purchased_post)" role="button" name="button" class="btn btn-map" href="{{getGoogleMapsLink(purchased_post)}}" target="_blank"><i class="fa fa-location-arrow" aria-hidden="true"></i><b>Vai</b></a>
          <a *ngIf="getEmailAddress(purchased_post)" role="button" routerLink="/account/contacts" target="_blank" name="button" class="btn btn-list"><i class="fa fa-list" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="popup-container" *ngIf="selected_post" [ngStyle]="{'display' : popup==='SELECT_COMPANY_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup=null; commonService.enableScroll()"></div>
  <div class="popup">
    <div class="popup-loader" *ngIf="PostCustomersState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content">
      <div class="popup-nav">
        <button type="button" class="close" (click)="popup=null; commonService.enableScroll()">&times;</button>Aggiorna la richiesta
      </div>
      <div class="popup-header">
        <h3 class="post-title">Seleziona l'azienda e assegna il lavoro.</h3>
      </div>
      <div class="popup-body">
        <div class="row">
          <div class="col-md-12" *ngFor="let contact of PostCustomers" (click)="selectCompanyForPost(contact.customer)">
            <div class="customer-company" [ngClass]="{'active-customer':(SelectedPostCustomer && (contact.customer._id===SelectedPostCustomer._id))}">
              <img class="image" [src]="imageForAccount(contact.customer)">
              <span class="pro-name">{{checkCompanyName(contact.customer)}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-secondary" (click)="popup=null; commonService.enableScroll()">Decido più tardi</button>
            <button type="button" class="btn btn-primary" [disabled]="!SelectedPostCustomer" (click)="assignCustomerToPost(selected_post, SelectedPostCustomer)">Assegna lavoro</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="popup-container" [ngStyle]="{'display' : popup==='NEW_CARD_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup='PREVIEW_PURCHASE_CONTACT_POPUP';"></div>
  <div class="popup">
    <div class="popup-loader" *ngIf="CardState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content">
      <div class="popup-nav">
        <button type="button" class="close" (click)="popup='PREVIEW_PURCHASE_CONTACT_POPUP';">&times;</button>Aggiungi un metodo di pagamento
      </div>
      <div class="popup-header">
        <h3 class="post-title">Inserisci un metodo di pagamento</h3>
        <p>Aggiungi un metodo di pagamento e procedi al versamento della garanzia del acquisto del contatto.</p>
      </div>
      <div class="popup-body">
        <div class="list-cards">
          <img src="../../../assets/images/visa.png" alt="Visa">
          <img src="../../../assets/images/mastercard.png" alt="Mastercard">
          <img src="../../../assets/images/americanexpress.png" alt="AmericanExpress">
          <img src="../../../assets/images/discover.png" alt="Discover">
        </div>
        <form>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="firstname-input">Numero carta *</label>
              <input autocomplete="off" type="text" placeholder="Numero" class="form-control" [ngClass]="{'error-input': CardState.error}" id="numberInput" [(ngModel)]="Card.number" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="dateInput">Scadenza *</label>
              <input autocomplete="off" type="text" placeholder="MM/AA" class="form-control" [ngClass]="{'error-input': CardState.error}" id="dateInput" [(ngModel)]="Card.exp_date" (keyup)="checkExpiry(Card.exp_date)" (change)="checkExpiry(Card.exp_date)" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="numberInput">Codice di sicurezza *</label>
              <input autocomplete="off" type="text" placeholder="CVC/CVV" class="form-control" [ngClass]="{'error-input': CardState.error}" id="numberInput" [(ngModel)]="Card.cvc" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-12">
              <div class="error-container" *ngIf="CardState.error">
                <span class="error">{{CardState.error}}</span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="popup-footer">
        <div class="refund">
          <img class="refund-image" src="../assets/images/refund-guarantee.png" alt="rimborso">
          <span class="title">Rimborso credito</span>
        </div>
        <button id="addCard" type="button" class="btn btn-danger btn-full-width" (click)="addCardAndContinue()">Salva e continua</button>
      </div>
    </div>
  </div>
</div> -->
<div class="popup-container" [ngStyle]="{'display' : popup==='SUCCESS_PURCHASED_CONTACT_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup=null; commonService.enableScroll()"></div>
  <div class="popup thankyoupage">
    <div class="popup-loader" *ngIf="PurchaseState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content">
      <div class="popup-header">
        <i class="fa fa-check-circle purchased-icon" aria-hidden="true"></i>
        <h3 class="post-title">Contatto acquistato con successo</h3>
        <p>Per sicurezza le invieremo via mail tutti i dati del cliente e la richiesta del lavoro.</p>
      </div>
      <div class="popup-body">
        <div class="form-group">
          <a class="btn btn-primary btn-done" (click)="popup=null; commonService.enableScroll()">Fatto</a>
        </div>
        <div class="form-group">
          <p><i>Per maggiore sicurezza controlla l'indirizzo email e il numero di telefono nel suo account Starbook.</i></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup-container" *ngIf="selected_post" [ngStyle]="{'display' : popup==='PROPOSAL_FORM_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup=null; commonService.enableScroll()"></div>
  <div class="popup proposal">
    <div class="popup-loader" *ngIf="PurchaseState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content">
      <div class="popup-nav">
        <button type="button" class="close" (click)="popup=null; commonService.enableScroll()">&times;</button>Invia una proposta al cliente
      </div>
      <div class="popup-header">
        <h3 class="post-title">Richiesta cliente</h3>
      </div>
      <div class="popup-body">
        <div class="row">
          <!-- <div class="col-md-12">
            <h3 class="section-title">Richiesta cliente</h3>
          </div> -->
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12">
                <div class="info-client">
                  <div class="client-avatar">
                    <span class="name-initials">{{selected_post.customer.firstname.charAt(0)}} {{selected_post.customer.lastname.charAt(0)}}</span>
                  </div>
                  <span class="client-name">{{selected_post.customer.firstname.charAt(0)}}. {{selected_post.customer.lastname.charAt(0)}}****</span>
                  <span class="client-request">{{selected_post.title}}</span>
                </div>
              </div>
              <!-- <div class="col-md-12">
                <div class="info">
                  <span class="label label_mobile">Lavoro richiesto:</span>
                  <span class="content content_mobile">{{selected_post.title}}</span>
                </div>
              </div> -->
              <div class="col-md-12">
                <div class="info">
                  <span class="label label_mobile">Descrizione:</span>
                  <span class="content content_mobile">{{selected_post.description}}</span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info">
                  <span class="label label_mobile">Dettagli:</span>
                  <span class="content content_mobile" *ngFor="let detail of selected_post.details">{{detail}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <div class="info">
                  <span class="label left">Comune:</span>
                  <span class="content content-mobile-right right">{{checkPostLocation(selected_post)}}</span>
                </div>
                <app-maps [city]="selected_post.address.city"></app-maps>
                <div class="info">
                  <span class="label left">Cliente:</span>
                  <span class="content content-mobile-right customer-type right">PRIVATO</span>
                </div>
                <div class="info">
                  <span class="label left">Stato:</span>
                  <img class="content content-mobile-right verified-image right" src="../assets/images/verified-contact.png" alt="verificato">
                </div>
                <!-- <div class="info">
                  <span class="label left">Budget:</span>
                  <span class="content content-mobile-right price right content-budget">{{selected_post.budget.min/100}}€ - {{selected_post.budget.max/100}}€</span>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="divider"></div>
          </div>
          <div class="col-md-12">
            <h3 class="section-title">Proposta</h3>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="label label_mobile" for="something-input">Messaggio</label>
              <textarea id="something-input" placeholder="Scrivi qui il tuo messaggio..." class="form-control" rows="8" [(ngModel)]="Proposal.text" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <!-- <p>Inserisci un prezzo stimato dei lavori.</p> -->
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="something-input">Prezzo stimato</label>
              <!-- <div class="estimate-price form-group">
                <label for="something-input">Euro</label>
                <input id="something-input" class="form-control" placeholder="0" type="text" [ngClass]="{'error-input': ProposalState.error}" [(ngModel)]="Proposal.estimate_price" [ngModelOptions]="{standalone: true}">
              </div> -->
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="form-group">
              <p>La qualità del servizio che offri.</p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label for="something-input">La qualità del servizio che offri</label>
              <input id="something-input" class="form-control" type="text" [ngClass]="{'error-input': ProposalState.error}" [(ngModel)]="Proposal.product_quality" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="something-input">Data inizio lavoro (stimata)</label>
              <input id="something-input" class="form-control" type="text" [ngClass]="{'error-input': ProposalState.error}" [(ngModel)]="Proposal.start_date" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="something-input">Durata stimata in giorni</label>
              <input id="something-input" class="form-control" type="text" [ngClass]="{'error-input': ProposalState.error}" [(ngModel)]="Proposal.work_duration_day" [ngModelOptions]="{standalone: true}">
            </div>
          </div> -->
        </div>
      </div>
      <div class="popup-footer">
        <div class="error-container" *ngIf="PurchaseState.error">
          <span class="error">{{PurchaseState.error}}</span>
        </div>
        <div class="row">
          <!-- <div class="col-md-12">
            <p class="description-small"><i>Garanzia che verrà utilizzato in caso di lavoro accettato dal cliente.</i></p>
            <p class="description-small"><i>IVA Inclusa</i></p>
          </div> -->
          <div class="col-md-12">
            <button type="button" class="btn btn-danger btn-preview" id="previewPurchaseContact" (click)="showPreviewProposal(selected_post)">
              Invia proposta
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="post-timer">
  <span class="title">RICHIESTA TERMINA TRA:</span>
  <div class="timer">
    <span><span class="hours">{{getCountDownHours(post)}}</span><span class="dots">:</span><p>ore</p></span>
    <span><span class="minutes">{{getCountDownMinutes(post)}}</span><span class="dots">:</span><p>min</p></span>
    <span><span class="seconds">{{getCountDownSeconds(post)}}</span><p>sec</p></span>
  </div>
</div> -->
