<div class="home-container">
  <div class="home">
    <div class="home-content">
      <div class="home-header">
        <div *ngIf="!params.id">
          <h1 class="title">Richieste per: <b>Lavori, Servizi, Preventivi</b></h1>
          <p class="description">
            Trova una richiesta di lavoro per la tua categoria. Garantisci l'acquisto del contatto in caso di lavoro accettato. Ricevi i dati del cliente e contattalo direttamente.
          </p>
        </div>
        <div *ngIf="params.id && posts && posts.length===1">
          <h1 class="title">Richiesta per: <b>{{posts[0].title}}</b></h1>
          <p class="description">
            Garantisci l'acquisto del contatto in caso di lavoro accettato. Ricevi i dati del cliente e contattalo direttamente.
          </p>
        </div>
        <div class="options">
          <div class="row">
            <div class="col-md-4">
              <img src="../assets/images/verified-customer.png" alt="verificato">
              <span class="opt-title">Solo clienti verificati</span>
              <span class="opt-description">I clienti sono sempre verificati e filtrati. Le richieste di lavoro sono selezionate.</span>
            </div>
            <div class="col-md-4">
              <img src="../assets/images/pay-for-job.png" alt="pagamento">
              <span class="opt-title">Acquisti con garanzie</span>
              <span class="opt-description">Il pagamento del totale viene effettuato solo se il cliente accetta la sua offerta.</span>
            </div>
            <div class="col-md-4">
              <img src="../assets/images/refund-guarantee.png" alt="rimborso">
              <span class="opt-title">Rimborso garantito</span>
              <span class="opt-description">Il tuo investimento ritorna sempre con il sistema dei rimborsi su Starbook.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="home-body">
        <div class="post" *ngIf="posts && posts.length===0">
          <div class="post-content">
            <div class="post-header">
              <h3 class="title">Al momento non ci sono lavori pubblicati su Starbook!</h3>
            </div>
          </div>
        </div>
        <div class="post" *ngIf="!posts">
          <div class="loader">
            <i class="fa fa-circle-o-notch animate"></i>
          </div>
        </div>
        <div class="post" *ngFor="let post of posts">
          <div class="post-content">
            <img class="purchased-image" *ngIf="post.status && post.status==='PURCHASED'" src='../assets/images/purchased-label.png'>
            <div class="post-body">
              <div class="post-initial">
                <span class="top-title">RICHIESTA CLIENTE:</span>
                <i class="fa fa-briefcase left-icon" aria-hidden="true"></i>
                <h1 class="post-title">{{post.title}}</h1>
                <span class="post-location">a {{checkPostLocation(post)}}</span>
              </div>
              <div class="post-warranty">
                <!-- <span class="top-title">GARANTISCI</span> -->
                <div class="warranty-amount">
                  <!-- <span class="warranty-price">{{getPriceBasedOnBudget(post)/100}}</span><span class="warranty-cent">,95€</span> -->
                  <span class="warranty-price">{{ getDecimalPartPrice(post) }}</span><span class="warranty-cent">,{{ getFracPartPrice(post) }}€</span>
                </div>
                <div class="warranty-text">
                  <span class="warranty-title">Garantisci:</span>
                  <span class="warranty-description"><i>Per lavoro accettato</i></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="post-description">
                    <!-- <span class="title">DESCRIZIONE DEL LAVORO:</span> -->
                    <div class="post-informations">
                      <span class="label label_mobile">Titolo:</span><span class="content content_mobile">{{post.title}}</span>
                    </div>
                    <div class="post-informations">
                      <span class="label label_mobile">Descrizione:</span><span class="content content_mobile">{{post.description}}</span>
                    </div>
                    <div class="post-informations" *ngIf="post.details && post.details.length>0">
                      <span class="label label_mobile">Dettagli:</span>
                      <span class="content content_mobile" *ngFor="let detail of post.details">{{detail}}</span>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="post-informations">
                          <span class="label">Cliente:</span><span class="content customer-type">PRIVATO</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="post-informations">
                          <span class="label">Stato:</span><img class="content verified-image" src="../assets/images/verified-contact.png" alt="verificato">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="post-informations">
                          <span class="label">Budget:</span>
                          <span class="content price">{{post.budget.min/100}}€ - {{post.budget.max/100}}€</span>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="post-informations">
                      <span class="label">URGENZA:</span>
                      <div class="content priority">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                      </div>
                    </div> -->
                    <!-- <div class="post-informations">
                      <span class="label">CONCORRENZA:</span>
                      <div class="content competitors">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                      </div>
                    </div> -->

                    <!-- <div class="post-informations">
                      <span class="label">COSTO:</span>
                      <span class="content contact-price">{{getPriceBasedOnBudget(post)/100}}€</span>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="!post.status || post.status!=='PURCHASED'">
                <!-- <div class="col-md-12">
                  <div class="post-action-description">
                    <span class="title-action">Visualizza l'anteprima del contatto.</span>
                    <span class="description-action">Riceverai tutte le informazioni del contatto una volta garantito l'acquisto e potrai contattare il cliente tramite mail e telefono.</span>
                  </div>
                </div> -->
                <div class="col-md-12">
                   <div class="post-actions">
                     <button type="button" class="btn btn-action" id="previewPurchaseContact" (click)="previewPurchase(post)">
                       <span class="title" id="previewPurchaseContact">Contatta cliente</span>
                     </button>
                   </div>
                </div>
              </div>
            </div>
            <div class="post-footer" *ngIf="!post.status || post.status!=='PURCHASED'">
              <div class="post-message">
                <span>Riceverai tutte le informazioni del contatto una volta garantito l'acquisto e potrai contattare il cliente tramite email e telefono.</span>
              </div>
              <div class="post-actions-right" *ngIf="!params.id">
                <a routerLink="/post/{{post._id}}"><i class="fa fa-sign-out icon-new-page" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-footer">
        <div class="footer">
          <div class="row">
            <div class="col-md-12" *ngIf="TestimonialAccounts && TestimonialAccounts.length>0">
              <span class="testimonial-title">PROFESSIONISTI SU STARBOOK</span>
              <div class="pagelist-container">
                <div class="page-container" *ngFor="let account of TestimonialAccounts">
                  <div class="page">
                    <img class="image" [src]="imageForAccount(account)">
                    <span class="pro-name">{{checkCompanyName(account)}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <p>
                © 2017 • Starbook Tutti i diritti riservati
                <a routerLink="/info/legal" target="_blank">Termini e Condizioni</a>
                <span> • </span>
                <a routerLink="/info/legal" target="_blank">Privacy Policy</a>
                <span> • </span>
                <a routerLink="/info/help" target="_blank">Aiuto e Assistenza</a>
                <span> • </span>
                <a routerLink="/company" target="_blank">Per le aziende</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup-container" *ngIf="selected_post" [ngStyle]="{'display' : popup==='PREVIEW_PURCHASE_CONTACT_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup=null; commonService.enableScroll()"></div>
  <div class="popup contact">
    <div class="popup-loader" *ngIf="PurchaseState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content">
      <div class="popup-nav">
        <button type="button" class="close" (click)="popup=null; commonService.enableScroll()">&times;</button>Anteprima del contatto
      </div>
      <div class="popup-header">
        <h3 class="post-title">{{selected_post.title}}</h3>
      </div>
      <div class="popup-body">
        <div class="row">
          <div class="col-md-12">
            <div class="info">
              <span class="label label_mobile">LAVORO:</span><span class="content content_mobile">{{selected_post.title}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="info">
              <span class="label label_mobile">DESCRIZIONE: </span><span class="content content_mobile">{{selected_post.description}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="info">
              <span class="label label_mobile">DETTAGLI:</span>
              <span class="content content_mobile" *ngFor="let detail of selected_post.details">{{detail}}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <span class="label">COGNOME:</span><span class="content content-mobile-right">{{checkCustomerLastname(selected_post)}}</span>
            </div>
            <div class="info">
              <span class="label">NOME:</span><span class="content content-mobile-right">{{checkCustomerFirstname(selected_post)}}</span>
            </div>
            <div class="info">
              <span class="label">EMAIL:</span><span class="content content-mobile-right">{{checkCustomerEmailAddress(selected_post)}}</span>
            </div>
            <div class="info">
              <span class="label">TELEFONO:</span><span class="content content-mobile-right">{{checkCustomerPhoneNumber(selected_post)}}</span>
            </div>
            <div class="info">
              <span class="label">COMUNE:</span><span class="content content-mobile-right">{{checkPostLocation(selected_post)}}</span>
            </div>
            <div class="info">
              <span class="label">INDIRIZZO:</span><span class="content content-mobile-right">{{checkAddressStreet(selected_post)}}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <span class="label">CLIENTE:</span><span class="content content-mobile-right customer-type">PRIVATO</span>
            </div>
            <div class="info">
              <span class="label">STATO:</span><img class="content content-mobile-right verified-image" src="../assets/images/verified-contact.png" alt="verificato">
            </div>
            <div class="info">
              <span class="label">URGENZA:</span>
              <div class="content content-mobile-right priority">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
            </div>
            <!-- <div class="info">
              <span class="label">CONCORRENZA:</span>
              <div class="content content-mobile-right competitors">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
              </div>
            </div> -->
            <div class="info">
              <span class="label">BUDGET:</span>
              <span class="content content-mobile-right price">{{selected_post.budget.min/100}}€ - {{selected_post.budget.max/100}}€</span>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="error-container" *ngIf="PurchaseState.error">
          <span class="error">{{PurchaseState.error}}</span>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- <p class="description-purchase">Garanzia di acquisizione contatto.</p> -->
            <p class="description-small"><i>Garanzia che verrà utilizzato in caso di lavoro accettato dal cliente.</i></p>
          </div>
          <div class="col-md-12">
            <div class="action" (click)="purchase(selected_post)">
              <!-- <span class="title">Garanzia d'acquisto</span> -->
              <span class="title">Garantisci</span>
              <!-- <span class="price">{{getPriceBasedOnBudget(selected_post)/100}}€</span> -->
              <div class="warranty-amount">
                <span class="warranty-price">{{ getDecimalPartPrice(selected_post) }}</span><span class="warranty-cent">,{{ getFracPartPrice(selected_post) }}€</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup-container" *ngIf="purchased_post" [ngStyle]="{'display' : popup==='PURCHASED_CONTACT_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup=null; commonService.enableScroll()"></div>
  <div class="popup contact">
    <div class="popup-loader" *ngIf="PurchaseState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content">
      <div class="popup-nav">
        <button type="button" class="close" (click)="popup=null; commonService.enableScroll()">&times;</button>Contatto acquistato
      </div>
      <div class="popup-header">
        <h3 class="post-title">{{purchased_post.title}}</h3>
      </div>
      <div class="popup-body">
        <div class="row">
          <div class="col-md-12">
            <div class="info">
              <span class="label label_mobile">LAVORO:</span><span class="content content_mobile">{{purchased_post.title}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="info">
              <span class="label label_mobile">DESCRIZIONE: </span><span class="content content_mobile">{{purchased_post.description}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="info">
              <span class="label label_mobile">DETTAGLI:</span>
              <span class="content content_mobile" *ngFor="let detail of purchased_post.details">{{detail}}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <span class="label">COGNOME: </span><span class="content">{{checkCustomerLastname(purchased_post)}}</span>
            </div>
            <div class="info">
              <span class="label">NOME: </span><span class="content">{{checkCustomerFirstname(purchased_post)}}</span>
            </div>
            <div class="info">
              <span class="label">EMAIL: </span><span class="content">{{checkCustomerEmailAddress(purchased_post)}}</span>
            </div>
            <div class="info">
              <span class="label">TELEFONO: </span><span class="content">{{checkCustomerPhoneNumber(purchased_post)}}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <span class="label">COMUNE: </span><span class="content">{{checkPostLocation(purchased_post)}}</span>
            </div>
            <div class="info">
              <span class="label">INDIRIZZO: </span><span class="content">{{checkAddressStreet(purchased_post)}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="error-container" *ngIf="PurchaseState.error">
          <span class="error">{{PurchaseState.error}}</span>
        </div>
        <div class="actions">
          <a *ngIf="getPhoneNumber(purchased_post)" role="button" href="tel:{{getPhoneNumber(purchased_post)}}" target="_blank" name="button" class="btn btn-phone"><i class="fa fa-phone" aria-hidden="true"></i><b>Chiama</b></a>
          <a *ngIf="getEmailAddress(purchased_post)" role="button" href="mailto:{{getEmailAddress(purchased_post)}}" target="_blank" name="button" class="btn btn-email"><i class="fa fa-envelope" aria-hidden="true"></i><b>Email</b></a>
          <a *ngIf="getGoogleMapsLink(purchased_post)" role="button" name="button" class="btn btn-map" href="{{getGoogleMapsLink(purchased_post)}}" target="_blank"><i class="fa fa-location-arrow" aria-hidden="true"></i><b>Vai</b></a>
          <a *ngIf="getEmailAddress(purchased_post)" role="button" routerLink="/account/contacts" target="_blank" name="button" class="btn btn-list"><i class="fa fa-list" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup-container" [ngStyle]="{'display' : popup==='SIGNUP_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup=null; commonService.enableScroll()"></div>
  <div class="popup">
    <div class="popup-loader" *ngIf="AuthState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content">
      <div class="popup-nav">
        <button type="button" class="close" (click)="popup=null; commonService.enableScroll();">&times;</button>Registrazione
      </div>
      <div class="popup-header">
        <h3 class="post-title">Registrati e contatta il cliente</h3>
        <p>Non hai ancora un account su Starbook? Registrati inserendo i tuoi dati per contattare il cliente.</p>
      </div>
      <div class="popup-body">
        <form (keyup.enter)="signup(AuthField)">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="business-name-input">Ragione Sociale:</label>
              <input class="form-control" placeholder="Nome della tua azienda" type="text" [ngClass]="{'error-input': AuthState.error}" id="business-name-input" [(ngModel)]="AuthField.business.name" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="firstNameInput">Nome</label>
              <input type="firstname" placeholder="Nome" class="form-control" [ngClass]="{'error-input': AuthState.error}" id="firstNameInput" [(ngModel)]="AuthField.profile.firstname" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="lastNameInput">Cognome</label>
              <input type="lastname" placeholder="Cognome" class="form-control" [ngClass]="{'error-input': AuthState.error}" id="lastNameInput" [(ngModel)]="AuthField.profile.lastname" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-12">
              <label for="emailInput">Email</label>
              <input type="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': AuthState.error}" id="emailInput" [(ngModel)]="AuthField.email" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-12">
              <label for="passwordInput">Scegli una password</label>
              <input type="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': AuthState.error}" id="passwordInput" [(ngModel)]="AuthField.password" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-12">
              <div class="error-container" *ngIf="AuthState.error">
                <span class="error">{{AuthState.error}}</span>
              </div>
            </div>
            <div class="form-group col-md-12">
              <button type="button" id="signup" class="btn btn-success btn-form-signup" (click)="signup(AuthField)">Iscriviti</button>
            </div>
            <div class="form-group col-md-12">
              <a class="btn btn-secondary btn-form-login" (click)="popup='LOGIN_POPUP';">Sei gia iscritto</a>
            </div>
            <!-- <div class="form-group col-md-12">
              <button type="button" class="btn btn-facebook btn-form-facebook" id="continueWithFacebook" (click)="continueWithFacebook()"><i class="fa fa-facebook-official" aria-hidden="true"></i>Continua con Facebook</button>
            </div> -->
          </div>
        </form>
      </div>
      <div class="popup-footer">
        <span class="text">Continuando dichiari di aver letto e accetti le <a routerLink="/info/legal" target="_blank">condizioni generali e l’informativa sulla privacy</a></span>
      </div>
    </div>
  </div>
</div>
<div class="popup-container" [ngStyle]="{'display' : popup==='LOGIN_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup=null; commonService.enableScroll()"></div>
  <div class="popup">
    <div class="popup-loader" *ngIf="AuthState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content">
      <div class="popup-nav">
        <button type="button" class="close" (click)="popup=null; commonService.enableScroll()">&times;</button>Login
      </div>
      <div class="popup-header">
        <h3 class="post-title">Accedi e contatta il cliente</h3>
        <p>Hai gia un account registrato su Starbook? Accedi per contattare il cliente.</p>
      </div>
      <div class="popup-body">
        <form (keyup.enter)="login(AuthField)">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="email">Indirizzo email</label>
              <input id="email" class="form-control" type="email" name="email" [ngClass]="{'error-input': AuthState.error}" [(ngModel)]="AuthField.email" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-12">
              <label for="password">Password</label>
              <input id="password" class="form-control" type="password" name="password" [ngClass]="{'error-input': AuthState.error}" [(ngModel)]="AuthField.password" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-12">
              <div class="error-container" *ngIf="AuthState.error">
                <span class="error">{{AuthState.error}}</span>
              </div>
            </div>
            <div class="form-group col-md-12">
              <a class="btn btn-success btn-form-login" (click)="login(AuthField)">Accedi</a>
            </div>
            <div class="form-group col-md-12">
              <a class="btn btn-secondary btn-form-signup" (click)="popup='SIGNUP_POPUP';">Nuovo utente</a>
            </div>
            <div class="form-group col-md-12 text-center">
              <a class="password-forgot" routerLink="/auth/password_recovery" target="_blank">Hai dimenticato la password?</a>
            </div>
            <!-- <div class="form-group col-md-12">
              <button type="button" class="btn btn-facebook btn-form-facebook" id="continueWithFacebook" (click)="continueWithFacebook()"><i class="fa fa-facebook-official" aria-hidden="true"></i>Continua con Facebook</button>
            </div> -->
          </div>
        </form>
      </div>
      <div class="popup-footer">
        <span class="text">Continuando dichiari di aver letto e accetti le <a routerLink="/info/legal" target="_blank">condizioni generali e l’informativa sulla privacy</a></span>
      </div>
    </div>
  </div>
</div>
<div class="popup-container" [ngStyle]="{'display' : popup==='NEW_CARD_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup='PREVIEW_PURCHASE_CONTACT_POPUP';"></div>
  <div class="popup">
    <div class="popup-loader" *ngIf="CardState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content">
      <div class="popup-nav">
        <button type="button" class="close" (click)="popup='PREVIEW_PURCHASE_CONTACT_POPUP';">&times;</button>Aggiungi un metodo di pagamento
      </div>
      <div class="popup-header">
        <h3 class="post-title">Inserisci un metodo di pagamento</h3>
        <p>Aggiungi un metodo di pagamento e procedi al versamento della garanzia del acquisto del contatto.</p>
      </div>
      <div class="popup-body">
        <div class="list-cards">
          <img src="../../../assets/images/visa.png" alt="Visa">
          <img src="../../../assets/images/mastercard.png" alt="Mastercard">
          <img src="../../../assets/images/americanexpress.png" alt="AmericanExpress">
          <img src="../../../assets/images/discover.png" alt="Discover">
        </div>
        <form>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="firstname-input">Numero carta *</label>
              <input autocomplete="off" type="text" placeholder="Numero" class="form-control" [ngClass]="{'error-input': CardState.error}" id="numberInput" [(ngModel)]="Card.number" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="dateInput">Scadenza *</label>
              <input autocomplete="off" type="text" placeholder="MM/AA" class="form-control" [ngClass]="{'error-input': CardState.error}" id="dateInput" [(ngModel)]="Card.exp_date" (keyup)="checkExpiry(Card.exp_date)" (change)="checkExpiry(Card.exp_date)" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="numberInput">Codice di sicurezza *</label>
              <input autocomplete="off" type="text" placeholder="CVC/CVV" class="form-control" [ngClass]="{'error-input': CardState.error}" id="numberInput" [(ngModel)]="Card.cvc" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-12">
              <div class="error-container" *ngIf="CardState.error">
                <span class="error">{{CardState.error}}</span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="popup-footer">
        <div class="refund">
          <img class="refund-image" src="../assets/images/refund-guarantee.png" alt="rimborso">
          <span class="title">Rimborso garantito</span>
        </div>
        <button id="addCard" type="button" class="btn btn-danger btn-full-width" (click)="addCardAndContinue()">Salva e continua</button>
      </div>
    </div>
  </div>
</div>
<div class="popup-container" [ngStyle]="{'display' : popup==='SUCCESS_PURCHASED_CONTACT_POPUP' ? 'block' : 'none'}">
  <div class="popup-shadow" [ngStyle]="{'display' : popup ? 'block' : 'none'}" (click)="popup=null; commonService.enableScroll()"></div>
  <div class="popup thankyoupage">
    <div class="popup-loader" *ngIf="PurchaseState.loading">
      <i class="fa fa-circle-o-notch animate loader"></i>
    </div>
    <div class="popup-content">
      <div class="popup-header">
        <i class="fa fa-check-circle purchased-icon" aria-hidden="true"></i>
        <h3 class="post-title">Contatto acquistato con successo</h3>
        <p>Per sicurezza le invieremo via mail tutti i dati del cliente e la richiesta del lavoro.</p>
      </div>
      <div class="popup-body">
        <div class="form-group">
          <a class="btn btn-primary btn-done" (click)="popup=null; commonService.enableScroll()">Fatto</a>
        </div>
        <div class="form-group">
          <p><i>Per maggiore sicurezza controlla l'indirizzo email e il numero di telefono nel suo account Starbook.</i></p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="post-timer">
  <span class="title">RICHIESTA TERMINA TRA:</span>
  <div class="timer">
    <span><span class="hours">{{getCountDownHours(post)}}</span><span class="dots">:</span><p>ore</p></span>
    <span><span class="minutes">{{getCountDownMinutes(post)}}</span><span class="dots">:</span><p>min</p></span>
    <span><span class="seconds">{{getCountDownSeconds(post)}}</span><p>sec</p></span>
  </div>
</div> -->
