// General styles
$font-name: HelveticaNeue, sans-serif;
$font-name-medium: HelveticaNeue-Medium, sans-serif;
$font-name-bold: HelveticaNeue-Bold, sans-serif;
$font-name-light: HelveticaNeue-Light, sans-serif;
$landing-background-color: #FAFAFA;
$landing-header-color: #3B568D;
$landing-header-font-size: 30px; // 32px
$landing-header-letter-spacing: 0.22px; // 0.19px
$landing-general-text-color: #212121;
$btn-gradient-color-yellow-light: #FFE589;
$btn-gradient-color-yellow-dark: #FEC751;
$landing-top-header-color: #212121;
$landing-top-header-text-size: 20px;
$landing-top-header-letter-spacing: 0.13px;

// Cards styles
$card-background-color: #FFFFFF;
$card-green-background-color: #16A085;
$card-border: 1px solid #DCDCDC;
$card-shadow: 0px 2px 6px 0px #DCDCDC;
$card-border-radius: 1px;
$card-font-color: #212121;
$card-header-font-size: 22px;
$card-header-letter-spacing: 0.14px;
$card-text-font-size: 16px;
$card-text-letter-spacing: 0.1px;
$card-image-1: '/assets/images/landing-image-1.png';
$card-image-2: '/assets/images/landing-image-2.png';
$card-image-3: '/assets/images/landing-image-3.png';
$card-btn-border: 1px solid #A6A6A6;
$card-btn-text-color: #2A0202;
$card-btn-font-size: 14px;
$card-btn-letter-spacing: 0.9px;

// Descriptions styles
$center-description-font-size: 24px;
$center-description-letter-spacing: 0.11px;
$footer-description-color: #4A4A4A;

// How to block styles
$how-to-products-image: '/assets/images/product-image.png';
$how-to-order-form-image: '/assets/images/order-form.png';
$how-to-font-size: 18px;
$how-to-letter-spacing: 0.11px;
$how-to-icons-color: #4A4A4A;
$how-to-icons-size: 24px;

// Banners style
$banner-text-color: #FFFFFF;
$banner-text-font-size: 30px;
$banner-text-letter-spacing: 0.19px;
$banner-text-shadow: 2px 2px 4px rgba(0,0,0,0.80);
$banner-image-1: '/assets/images/banner-1.png';
$banner-image-2: '/assets/images/banner-2.png';
$banner-image-3: '/assets/images/banner-3.png';

// Footer styles
$footer-background-color: #F4F4F4;
$footer-text-color: #90949C;
$footer-text-font-size: 14px;
$footer-text-letter-spacing: 0.09px;

// Search box
$search-input-background: #FFFFFF;
$search-input-border: 1px solid #C8C8C8;
$search-result-border: 1px solid #DCDCDC;
$search-input-box-shadow: 0 2px 6px 0 #DCDCDC;
$search-text-color: #212121;
$search-text-size: 18px;
$search-text-letter-spacing: 0.11px;
$search-result-hover-background: #506795;
$search-result-text-color: #212121;
$search-result-text-size: 16px;
$search-result-letter-spacing: 0.1px;
$search-result-empty-font-size: 14px;
$search-result-empty-color: #8D9494;
$search-close-icon-base-color: #8D9494;

// Services cards
$services-container-background: #FFFFFF;
$services-container-shadoed: #000000;
$services-container-border: 1px solid #DCE0E0;
$services-container-box-shadow: 0 2px 6px 0 #DCDCDC;
$services-header-color: #FFFFFF;
$services-header-text-size: 16px;
$services-header-letter-spacing: 0.09px;
$services-content-color: #212121;
$services-content-text-size: 14px;
$services-content-letter-spacing: 0.09px;
$services-footer-text-size: 12px;
$services-footer-letter-spacing: 0.06px;
$services-footer-price-text-size: 22px;
$services-footer-price-letter-spacing: 0.06px;

.landing {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 40px; // 70px
  padding-bottom: 62px;
  background-color: $landing-background-color;
}
.landing .landing-top-header h1 {
  display: block;
  float: none;
  max-width: 470px;
  margin: 0 auto;
  text-align: center;
  font-family: $font-name-light;
  color: $landing-top-header-color;
  font-size: $landing-top-header-text-size;
  letter-spacing: $landing-top-header-letter-spacing;
  padding: 0;
  font-weight: normal;
}
.landing .btn.btn-warning {
  width: 100%;
  height: 35px;
  font-family: $font-name-bold;
  border: $card-btn-border;
  border-radius: 3px;
  font-size: $card-btn-font-size;
  color: $card-btn-text-color;
  letter-spacing: $card-btn-letter-spacing;
  padding: 8px 7px;
  background: $btn-gradient-color-yellow-light;
  text-align: center;
  outline: none;
  background: -moz-linear-gradient(top,  $btn-gradient-color-yellow-light 0%, $btn-gradient-color-yellow-dark 100%);
  background: -webkit-linear-gradient(top,  $btn-gradient-color-yellow-light 0%,$btn-gradient-color-yellow-dark 100%);
  background: linear-gradient(to bottom,  $btn-gradient-color-yellow-light 0%,$btn-gradient-color-yellow-dark 100%);
  opacity: 0.9;
}
.landing .btn.btn-warning:hover,
.landing .btn.btn-warning:active {
  opacity: 1;
}
.landing-header h1 {
  width: 100%;
  text-align: center;
  padding: 100px 0 20px; // 130px 0 90px
  font-family: $font-name-medium;
  color: $landing-header-color;
  font-size: $landing-header-font-size;
  letter-spacing: $landing-header-letter-spacing;
}
.landing-header h2 {
  width: 100%;
  text-align: center;
  padding: 90px 0;
  font-family: $font-name-bold;
  color: $landing-header-color;
  font-size: $landing-header-font-size;
  letter-spacing: $landing-header-letter-spacing;
}
.landing .row .top-cards {
  padding: 0 10px;
}
.top-cards .top-card {
  display: block;
  position: relative;
  width: 100%;
  height: 250px;
  padding: 5px;
  background-color: $card-background-color;
  border: $card-border;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
  margin-bottom: 20px;
}
.top-cards .top-card .header {
  display: block;
  position: relative;
  width: 100%;
  padding: 16px 12px 20px 12px;
  font-family: $font-name-bold;
  font-size: $card-header-font-size;
  letter-spacing: $card-header-letter-spacing;
  color: $card-font-color;
  z-index: 3;
}
.top-cards .top-card.green-card .header {
  color: $card-background-color;
}
.top-cards .top-card .description {
  display: block;
  width: 100%;
  margin-top: -20px;
  position: relative;
  z-index: 3;
  font-family: $font-name;
  font-size: $card-text-font-size;
  color: $card-font-color;
  letter-spacing: $card-text-letter-spacing;
  padding: 0 12px;
  line-height: 18px;
}
.top-cards .top-card.green-card .description {
  color: $card-background-color;
}
.top-cards .top-card .header span {
  font-family: $font-name-light;
  font-size: $card-text-font-size;
  color: $card-font-color;
  letter-spacing: $card-text-letter-spacing;
}
.top-cards .top-card p {
  display: block;
  width: 100%;
  margin: 0;
  font-family: $font-name-light;
  font-size: $card-text-font-size;
  color: $card-font-color;
  letter-spacing: $card-text-letter-spacing;
  padding: 0 12px;
  line-height: 18px;
}
.top-card .card-background {
  display: block;
  position: absolute;
  width: 100%;
  height: 203px;
  top: 0;
  left: 0;
  padding: 5px 5px 0 5px;
}
.top-card .card-background .image {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.top-card .card-background .image.image-1 {
  background-image: url($card-image-1);
}
.top-card .card-background .image.image-2 {
  background-image: url($card-image-2);
}
.top-card .card-background .image.image-3 {
  background-image: url($card-image-3);
}
.top-card .card-background .white-background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $card-background-color;
  opacity: 0.95;
  z-index: 2;
  transition: opacity 0.5s ease-in-out;
}
.top-card.green-card .card-background .white-background {
  top:5px;
  left: 5px;
  right: 5px;
  bottom: 0;
  height: auto;
  width: auto;
  background-color: $card-green-background-color;
  opacity: 0.9;
  transition: opacity 0.5s ease-in-out;
}
.top-card .landing-card-footer {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 5px;
}
.landing .center-description {
  display: block;
  max-width: 500px;
  margin: 20px auto 20px;
  font-family: $font-name-light;
  color: $landing-general-text-color;
  font-size: $center-description-font-size;
  letter-spacing: $center-description-letter-spacing;
  text-align: center;
}
.landing .how-to-block {
  margin-bottom: 21px;
}
.landing .how-to-block .how-to-content {
  display: block;
  width: 100%;
}
.how-to-content .top-part {
  display: block;
  width: 100%;
  height: 187px;
}
.how-to-content .top-part .product-image {
  display: block;
  width: 100%;
  height: 187px;
  background-image: url($how-to-products-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.how-to-content .top-part .order-image {
  display: block;
  width: 100%;
  height: 183px;
  background-image: url($how-to-order-form-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 4px;
}
.how-to-content .top-part .landing-form {
  display: block;
  width: 209px;
  height: 183px;
  margin: 0 auto;
  padding-top: 40px;
}
.how-to-content .top-part .landing-form .btn.btn-warning {
  height: 30px;
  color: $landing-general-text-color;
  padding: 5px 7px;
}
.how-to-content .top-part .landing-form .icons-block {
  display: block;
  width: 160px;
  margin: 25px auto 0;
  color: $how-to-icons-color;
  font-size: $how-to-icons-size;
}
.landing-form .icons-block .fa-envelope {
  margin-left: 37px;
  margin-right: 36px;
}
.how-to-content .header {
  display: block;
  width: 100%;
  margin-top: 52px;
  font-family: $font-name-bold;
  font-size: $how-to-font-size;
  letter-spacing: $how-to-letter-spacing;
  color: $landing-general-text-color;
  text-align: center;
}
.how-to-content p {
  display: block;
  width: 100%;
  margin-top: 25px;
  font-family: $font-name-light;
  font-size: $how-to-font-size;
  letter-spacing: $how-to-letter-spacing;
  color: $landing-general-text-color;
  text-align: center;
}
.landing .row .banner {
  padding: 0 10px;
}
.landing .banner a {
  display: block;
  position: relative;
  width: 100%;
  height: 235px;
}
.landing .banner a .background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: 1;
  transition: opacity 0.5s ease-in-out;
}
.landing .banner a:hover .background {
  opacity: 1;
}
.landing .banner a span {
  display: block;
  position: absolute;
  width: auto;
  height: 35px;
  bottom: 19px;
  left: 26px;
  z-index: 2;
  font-family: $font-name;
  color: $banner-text-color;
  font-size: $banner-text-font-size;
  letter-spacing: $banner-text-letter-spacing;
  text-shadow: $banner-text-shadow;
}
.landing .banner a.banner-1 .background {
  background-image: url($banner-image-1);
}
.landing .banner a.banner-2 .background {
  background-image: url($banner-image-2);
}
.landing .banner a.banner-3 .background {
  background-image: url($banner-image-3);
}
.footer-description {
  display: block;
  max-width: 570px;
  margin: 90px auto 130px;
  font-family: $font-name-light;
  font-size: $center-description-font-size;
  letter-spacing: $center-description-letter-spacing;
  color: #4A4A4A;
  text-align: center;
}
.footer-container {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 42px;
  background-color: $footer-background-color;
  text-align: center;
  padding: 13px 0;
}
.footer-container .copyright, .footer-container span, .footer-container a, .footer-container a:hover {
  display: inline;
  color: $footer-text-color;
  font-family: $font-name;
  font-size: $footer-text-font-size;
  letter-spacing: $footer-text-letter-spacing;
  text-decoration: none;
}
// Search box
.landing-search {
  display: block;
  position: relative;
  float: none;
  max-width: 562px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
}
.landing-search .ui-autocomplete-input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 46px 15px 19px;
  background-color: $search-input-background;
  border: $search-input-border;
  border-radius: 1px;
  // box-shadow: $search-input-box-shadow;
  outline: none;
  color: $search-text-color;
  font-family: $font-name;
  font-size: $search-text-size;
  letter-spacing: $search-text-letter-spacing;
}
input.ui-autocomplete-input::-webkit-input-placeholder,
input.landing-search .ui-autocomplete-input:-moz-placeholder,
input.landing-search .ui-autocomplete-input:-ms-input-placeholder {
  color: $search-text-color;
}
.landing-search .spinner {
  display: block;
  position: absolute;
  top: 15px;
  right: 35px;
  width: 21px;
  height: 21px;
}
.landing-search .close-container {
  display: block;
  position: absolute;
  top: 15px;
  right: 35px;
}
.close-container .close{
  position: relative;
  display: inline-block;
  width: 21px;
  height: 21px;
  overflow: hidden;
  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
  }
  &::before {
   transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &.thick {
    &::before, &::after {
      height: 4px;
      margin-top: -2px;
    }
  }
  &.rounded {
    &::before, &::after {
      border-radius: 5px;
    }
  }
}

.landing-search .ui-autocomplete-panel {
  display: block;
  position: relative;
  margin-top: -50px;
  width: 100%;
  background-color: $search-input-background;
  border-left: $search-result-border;
  border-right: $search-result-border;
  border-bottom: $search-result-border;
  // box-shadow: $search-input-box-shadow;
  outline: none;
  border-radius: 1px;
  overflow-y: scroll;
}
.landing-search .ui-autocomplete-panel .ui-state-highlight .search-result {
  color: white;
  background-color: $search-result-hover-background;
}
.landing-search .ui-autocomplete-panel .search-result {
  display: block;
  width: 100%;
  font-family: $font-name;
  color: $search-result-text-color;
  font-size: $search-result-text-size;
  letter-spacing: $search-result-letter-spacing;
  padding: 16px 21px;
}
.landing-search .ui-autocomplete-panel.empty {
  margin-top: 0;
}
.landing-search .ui-autocomplete-panel.empty .no-result {
  display: block;
  width: 100%;
  font-family: $font-name;
  color: $search-result-empty-color;
  font-size: $search-result-empty-font-size;
  letter-spacing: $search-result-letter-spacing;
  padding: 8px 21px;
}

// Services cards
.landing-services {
  display: block;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  min-height: 200px;
  margin-top: 120px;
  margin-bottom: 63px;
}
.landing-services h1 {
  display: block;
  float: none;
  margin: 0 auto;
  text-align: left;
  font-family: $font-name-light;
  color: $landing-top-header-color;
  font-size: $landing-top-header-text-size;
  letter-spacing: $landing-top-header-letter-spacing;
  padding-left: 7px;
  padding-bottom: 15px;
  font-weight: normal;
}
.landing-services .services-card {
  display: block;
  float: left;
  width: 20%;
  padding: 7px;
}
.services-card .service-container {
  display: block;
  position: relative;
  width: 100%;
  min-height: 280px;
  border: none;
  // border-radius: 1px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.services-card .service-container .shadow {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $services-container-shadoed;
  opacity: 0.1;
  transition: opacity 0.4s ease-in-out;
  z-index: 1;
  // border-radius: 3px;
}
.services-card .service-container:hover .shadow {
  opacity: 0.2;
}
.services-card .service-container .header {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
  font-family: $font-name-bold;
  color: $services-header-color;
  font-size: $services-header-text-size;
  letter-spacing: $services-header-letter-spacing;
  padding: 18px 12px;
  text-transform: uppercase;
}
.services-card .service-container .service-footer {
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 11px;
  width: 100%;
  text-align: right;
  font-family: $font-name-medium;
  color: $services-header-color;
  font-size: $services-footer-text-size;
  letter-spacing: $services-footer-letter-spacing;
  font-weight: normal;
  padding-right: 14px;
}
.services-card .service-container .service-footer span {
  font-family: $font-name-bold;
  color: $services-header-color;
  font-size: $services-footer-price-text-size;
  letter-spacing: $services-footer-price-letter-spacing;
}

// Loading style
.landing-services .loader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 50px;
  background-color: $loader-style;
  z-index: 10;
}
.landing-services .loader svg {
  display: block;
  width: 50px;
  height: 50px;
  margin: 20px auto;
}

@media (max-width: 991px) {
  .landing-services {
    min-height: 440px;
  }
  .landing-services .services-card {
    width: 33.333%;
  }
}
@media (max-width: 768px) {
  .landing-services {
    min-height: 660px;
  }
  .landing-services .services-card {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .landing-services {
    min-height: 1100px;
  }
  .landing-services .services-card {
    width: 100%;
  }
  .landing .landing-top-header h1 {
    padding: 0 15px;
  }
  .footer-container {
    height: auto;
    position: static;
    margin-bottom: -62px;
    margin-top: 20px;
  }
  .footer-container span {
    display: none;
  }
  .footer-container .copyright, .footer-container a, .footer-container a:hover {
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }
  .landing .center-description, .footer-description  {
    width: 100%;
    padding: 0 15px;
  }
}
