<div class="landing">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 landing-header">
        <h1>Scegli un servizio. Prenotalo.</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 top-cards">
        <div class="top-card">
          <div class="header">Starbook <span>services</span></div>
          <p>Seleziona uno dei servizi su Starbook, imposta la data, ora, indirizzo e conferma l’ordine. Verrai notificato con un sms e una mail quando l’ordine e stato accettato da un professionista qualificato.</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 top-cards">
        <div class="top-card">
          <div class="card-background">
            <div class="image image-1"></div>
            <div class="white-background"></div>
          </div>
          <div class="header">Pulizie</div>
          <div class="description">Hai bisogno di un servizio di pulizie per la casa, l’ufficio o il negozio?</div>
          <div class="landing-card-footer">
            <a href="#" class="btn btn-warning">Prenota Pulizie</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 top-cards">
        <div class="top-card">
          <div class="card-background">
            <div class="image image-2"></div>
            <div class="white-background"></div>
          </div>
          <div class="header">Elettricista</div>
          <div class="description">Ti serve un elettricista qualificato e affidabile per lavori di casa, ufficio o negozio?</div>
          <div class="landing-card-footer">
            <a href="#" class="btn btn-warning">Prenota Elettricista</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 top-cards">
        <div class="top-card green-card">
          <div class="card-background">
            <div class="image image-3"></div>
            <div class="white-background"></div>
          </div>
          <div class="header">Idraulico</div>
          <div class="description">Ti serve un idraulico professionista, puoi prenotarlo subito su Starbook senza impegno.</div>
          <div class="landing-card-footer">
            <a href="#" class="btn btn-warning">Prenota Idraulico</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="center-description">
        Rendi la tua vita più facile. Prenota il servizio di cui hai bisogno.
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 landing-header">
        <h1>Come funziona?</h1>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 how-to-block">
        <div class="how-to-content">
          <div class="top-part">
            <div class="product-image"></div>
          </div>
          <div class="header">Seleziona i servizi</div>
          <p>Ogni categoria ha una lista di servizi. Seleziona quelli di qui hai bisogno.</p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 how-to-block">
        <div class="how-to-content">
          <div class="top-part">
            <div class="order-image"></div>
          </div>
          <div class="header">Prenota un appuntamento</div>
          <p>Inserisci i dati necessari del ordine e invia la richiesta.</p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 how-to-block">
        <div class="how-to-content">
          <div class="top-part">
            <div class="landing-form">
              <a class="btn btn-warning">Invia richiesta</a>
              <div class="icons-block">
                <a><i class="fa fa-bell"></i></a>
                <a><i class="fa fa-envelope"></i></a>
                <a><i class="fa fa-commenting"></i></a>
              </div>
            </div>
          </div>
          <div class="header">Ricevi la conferma e rilassati!</div>
          <p>Un professionista si presenterà nella data e l’ora del appuntamento.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 landing-header">
        <h1>Le principali città</h1>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 banner">
        <a href="#" class="banner-1">
          <div class="background"></div>
          <span>Varese</span>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 banner">
        <a href="#" class="banner-2">
          <div class="background"></div>
          <span>Milano</span>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 banner">
        <a href="#" class="banner-3">
          <div class="background"></div>
          <span>Torino</span>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="footer-description">
        Starbook è la piattaforma che ti da la possibilità di prenotare i professionisti nell'ora e data che tu desideri senza dover chiamare e lasciare appuntamenti tramite telefono o email.
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="copyright">Starbook © 2016 Tutti i diritti riservati</div>
    <span> • </span><a href="#">Privacy</a>
    <span> • </span><a href="#">Condizioni</a>
    <span> • </span><a href="#">Assistenza</a>
  </div>
</div>