<div class="landing">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 landing-header">
        <h1>Scegli un servizio. Prenotalo.</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 top-cards">
        <div class="top-card">
          <div class="header">Starbook <span>services</span></div>
          <p>Seleziona uno dei servizi su Starbook, imposta la data, ora, indirizzo e conferma l’ordine.<br><br>
            Verrai notificato con un sms e una mail quando l’ordine e stato accettato da un professionista qualificato.</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 top-cards">
        <div class="top-card">
          <div class="card-background">
            <div class="image image-1"></div>
            <div class="white-background"></div>
          </div>
          <div class="header">Pulizie</div>
          <div class="description">Hai bisogno si un servizio di pulizie per pulire la casa, l’ufficio o il negozio?</div>
          <div class="landing-card-footer">
            <a href="#" class="btn btn-warning">Pulizie</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 top-cards">
        <div class="top-card">
          <div class="card-background">
            <div class="image image-2"></div>
            <div class="white-background"></div>
          </div>
          <div class="header">Elettricista</div>
          <div class="description">Ti serve un elettricista qualificato e affidabile per lavori di casa, ufficio o negozio?</div>
          <div class="landing-card-footer">
            <a href="#" class="btn btn-warning">Elettricista</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 top-cards">
        <div class="top-card green-card">
          <div class="card-background">
            <div class="image image-3"></div>
            <div class="white-background"></div>
          </div>
          <div class="header">Idraulico</div>
          <div class="description">Ti serve un idraulico professionista, puoi prenotarlo subito su Starbook senza impegno.</div>
          <div class="landing-card-footer">
            <a href="#" class="btn btn-warning">Idraulico</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="center-description">
        Non hai tempo di chiamare professionisti e lasciare appuntamenti. Starbook ti permette di prenotare servizi professionali senza perdere tempo.
      </div>
      <div class="col-xl-12 landing-header">
        <h2>COME FUNZIONA</h2>
      </div>
      <div class="col-xl-4 how-to-block">
        <div class="how-to-content">
          <div class="top-part">
            <div class="product-image"></div>
          </div>
          <div class="header">Seleziona i servizi</div>
          <p>Ogni categoria ha una lista di servizi. Seleziona quelli di qui hai bisogno.</p>
        </div>
      </div>
      <div class="col-xl-4 how-to-block">
        <div class="how-to-content">
          <div class="top-part">
            <div class="order-image"></div>
          </div>
          <div class="header">Prenota un appuntamento</div>
          <p>Inserisci i dati necessari del ordine e invia la richiesta</p>
        </div>
      </div>
      <div class="col-xl-4 how-to-block">
        <div class="how-to-content">
          <div class="top-part">
            <div class="landing-form">
              <a href="#" class="btn btn-warning">Invia richiesta</a>
              <div class="icons-block">
                <a href="#"><i class="notify"></i></a>
                <a href="#"><i class="mail"></i></a>
                <a href="#"><i class="sms"></i></a>
              </div>
            </div>
          </div>
          <div class="header">Ricevi la conferma e rilassati!</div>
          <p>Un professionista si presenterà nella data e l’ora del appuntamento.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 landing-header">
        <h1>Le principali città</h1>
      </div>
    </div>
  </div>
</div>