<div class="post-actions" *ngIf="post">

  <!-- <div *ngIf="countContacts>0">
    <div class="row">
      <div class="col-md-6">
        <button *ngIf="(!post.status || post.status.active===true) && !fragment" type="button" class="btn btn-success btn-action" id="previewPurchaseContact" (click)="previewPurchase(post)">
          <span class="title" id="previewPurchaseContact">Più informazioni</span>
        </button>
      </div>
      <div class="col-md-6">
        <button *ngIf="(!post.status || post.status.active===true) && !fragment" type="button" class="btn btn-success btn-action" id="previewPurchaseContact" (click)="sendQuotation(post)">
          <span class="title" id="previewPurchaseContact">Invia preventivo</span>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="countContacts===0">
    <button *ngIf="(!post.status || post.status.active===true) && !fragment" type="button" class="btn btn-success btn-action" id="previewPurchaseContact" (click)="previewPurchase(post)">
      <span class="title" id="previewPurchaseContact">Più informazioni</span>
    </button>
  </div> -->

  <button *ngIf="(!post.status || post.status.active===true) && !fragment" type="button" class="btn btn-warning btn-action" id="previewPurchaseContact" (click)="previewPurchase(post)">
    <span class="title" id="previewPurchaseContact">Più informazioni</span>
  </button>

  <button *ngIf="(post.status && post.status.active===false) && !fragment" type="button" class="btn btn-action btn-closed" id="previewClosedContact">
    <span class="title" id="previewClosedContact">Venduto</span>
  </button>

  <button *ngIf="fragment" type="button" class="btn btn-action btn-update" id="previewPurchaseContact" (click)="previewUpdatePost(post)">
    <span class="title" id="previewPurchaseContact">Aggiorna richiesta</span>
  </button>

</div>
