<div class="checkout-container">
  <div class="progress-container" *ngIf="step">
    <div class="progress"
    [ngStyle]="{'width': setProgressWidth()}"></div>
  </div>

  <button type="button" id="next" class="btn btn-warning back" (click)="undoStep()" *ngIf="step && step!=='summary' && step!=='title' && step!=='end'">Indietro</button>

  <div class="checkout" *ngIf="step==='address'">
    <div class="checkout-header">
      <h1>Inserisci il tuo indirizzo</h1>
    </div>
    <div class="checkout-body">
      <form (keyup.enter)="nextStep()">
        <div class="input-group">
          <p-autoComplete id="address" class="form-control" [(ngModel)]="temp_address" [suggestions]="addresses" field="street_number_city" [ngModelOptions]="{standalone: true}" (completeMethod)="getAddresses($event)" (onSelect)="selectAddress($event)" placeholder="Via, Numero, Città"></p-autoComplete>
        </div>
        <div class="form-group error">
          <span class="error-text" *ngIf="state.address_error">{{state.address_error}}</span>
        </div>
        <div class="actions">
          <div class="form-group text-center">
            <button type="button" class="btn btn-warning" (click)="nextStep()">Avanti</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="checkout" *ngIf="step==='date'">
    <div class="checkout-header">
      <h1>Inserisci la data</h1>
    </div>
    <div class="checkout-body">
      <form (keyup.enter)="nextStep()">
        <div class="input-group">
          <p-calendar class="date" name="data" [(ngModel)]="temp_date" id="date" autocomplete="off" readonlyInput="true" dateFormat="dd MM yy" [locale]="it" [minDate]="minDate" (onSelect)="selectDate()" placeholder="Inserisci la data"></p-calendar>
        </div>
        <div class="form-group error">
          <span class="error-text" *ngIf="state.date_error">{{state.date_error}}</span>
        </div>
        <div class="actions">
          <div class="form-group text-center">
            <button type="button" class="btn btn-warning" (click)="nextStep()">Avanti</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="checkout" *ngIf="step==='preview'">
    <div class="checkout-header">
      <h1>Anteprima</h1>
    </div>
    <div class="checkout-body" *ngIf="Order.services">
      <div class="order-container">
        <div class="services" *ngFor="let service of Order.services">
          <div class="service">
            <div class="service-header">
              <span class="title">{{service.title}}</span>
            </div>
            <div class="details" *ngFor="let detail of service.details">
              <span class="detail">{{detail.title}}</span>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="address">
          <div class="address-header">
            <span>Indirizzo</span>
          </div>
          <div class="address-body">
            <span>{{Order.address.street}} {{Order.address.street_number}}, {{Order.address.city}}</span>
          </div>
        </div>
        <div class="date">
          <div class="date-header">
            <span>Data</span>
          </div>
          <div class="date-body">
            <span>{{formated_date}}</span>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="form-group text-center">
          <button type="button" class="btn btn-warning" (click)="nextStep()">Avanti</button>
        </div>
      </div>
    </div>
  </div>

  <div class="checkout" *ngIf="step==='signup'">
    <div class="checkout-header">
      <h1>Crea un account</h1>
    </div>
    <div class="checkout-body">
      <form>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input id="emailInput" type="email" name="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': signup_state.email_error}" [(ngModel)]="signupParameters.email" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="signup_state.email_error">{{signup_state.email_error}}</small>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstNameInput">Nome</label>
              <input id="firstNameInput" type="firstname" name="firstnam" placeholder="Nome" class="form-control" [ngClass]="{'error-input': signup_state.first_name_error}" [(ngModel)]="signupParameters.firstname" [ngModelOptions]="{standalone: true}">
              <small class="error-message" *ngIf="signup_state.first_name_error">{{signup_state.first_name_error}}</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastNameInput">Cognome</label>
              <input id="lastNameInput" type="lastname" name="lastname" placeholder="Cognome" class="form-control" [ngClass]="{'error-input': signup_state.last_name_error}" [(ngModel)]="signupParameters.lastname" [ngModelOptions]="{standalone: true}">
              <small class="error-message" *ngIf="signup_state.last_name_error">{{signup_state.last_name_error}}</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Telefono</label>
          <input id="phoneInput" field="phone" type="text" name="phone" placeholder="Numero di telefono" class="form-control" [ngClass]="{'error-input': signup_state.phone_error}" [(ngModel)]="signupParameters.phone" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="signup_state.phone_error">{{signup_state.phone_error}}</small>
        </div>
        <div class="form-group">
          <label for="passwordInput">Crea una password</label>
          <input id="passwordInput" type="password" name="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': signup_state.password_error}" [(ngModel)]="signupParameters.password" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="signup_state.password_error">{{signup_state.password_error}}</small>
        </div>
        <div class="form-group" *ngIf="signup_state.error_message">
          <div class="alert alert-danger" role="alert">{{signup_state.error_message}}</div>
        </div>
        <div class="form-group text-center">
          <button type="button" class="btn btn-warning" (click)="signup()"><i class="fa fa-circle-o-notch animate" *ngIf="signup_state.loading"></i>{{signup_state.button_title}}</button>
        </div>
        <div class="form-group footer-group">
          <span class="text">Sei gia registrato?</span>
          <span class="text enter" (click)="changeToLogin()">Entra</span>
          <span class="text">Continuando dichiari di aver letto e accetti le <a routerlink="/info/legal" href="/info/legal" target="_blank">condizioni generali e l’informativa sulla privacy</a></span>
        </div>
      </form>
    </div>
  </div>
  <div class="checkout" *ngIf="step==='login'">
    <div class="checkout-header">
      <h1>Accedi al tuo account</h1>
    </div>
    <div class="checkout-body">
      <form>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input type="email" placeholder="La tua mail" class="form-control" [ngClass]="{'error-input': login_state.email_error}" id="emailInput" [(ngModel)]="loginParameters.email" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="login_state.email_error">{{login_state.email_error}}</small>
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" placeholder="Password" class="form-control" [ngClass]="{'error-input': login_state.password_error}" id="passwordInput" [(ngModel)]="loginParameters.password" [ngModelOptions]="{standalone: true}">
          <small class="error-message" *ngIf="login_state.password_error">{{login_state.password_error}}</small>
        </div>
        <div class="form-group" *ngIf="login_state.error_message">
          <div class="alert alert-danger" role="alert">{{login_state.error_message}}</div>
        </div>
        <div class="form-group text-center">
          <button type="button" id="next" class="btn btn-warning" (click)="login()"><i class="fa fa-circle-o-notch animate" *ngIf="login_state.loading"></i>{{login_state.button_title}}</button>
        </div>
        <div class="form-group footer-group">
          <span class="text password-forget"><a routerlink="/account/password_recovery" href="/account/password_recovery" target="_blank">Hai dimenticato la password?</a></span>
          <span class="text">Non sei ancora registrato?</span>
          <span class="text enter" (click)="changeToSignup()">Registrati</span>
        </div>
      </form>
    </div>
  </div>

  <div class="checkout" *ngIf="step==='payment'">
    <div class="checkout-header">
      <h1>Ultimo passo</h1>
    </div>
    <div class="checkout-body">
      <div class="order-container">
        <div class="message">
          <div class="message-header">
            <span>Acconto in garanzia</span>
          </div>
          <div class="message-body">
            <span>Prenota il servizio versando un acconto in garanzia in modo da avere la priorità e l'attenzione del professionista selezionato.</span>
          </div>
        </div>
        <div class="line"></div>
        <div class="upfront">
          <div class="upfront-header">
            <span class="left">Prenotazione</span>
            <span class="right">4.99€</span>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="form-group text-center">
          <button type="button" class="btn btn-warning" (click)="nextStep()"><i class="fa fa-circle-o-notch animate" *ngIf="state.loading"></i>Prenota</button>
        </div>
      </div>
    </div>
  </div>
  <div class="checkout" *ngIf="step==='card'">
    <div class="checkout-header">
      <h1>Metodo di pagamento</h1>
      <p>Inserisci un metodo di pagamento per poter continuare.</p>
    </div>
    <div class="checkout-body">
      <div class="list-cards">
        <img src="../../../assets/images/mastercard-dark.png" alt="Mastercard">
        <img src="../../../assets/images/visa-dark.png" alt="Visa">
        <img src="../../../assets/images/americanexpress-dark.png" alt="AmericanExpress">
        <img src="../../../assets/images/dinersclub-dark.png" alt="DinersClub">
        <img src="../../../assets/images/discover-dark.png" alt="Discover">
        <img src="../../../assets/images/jbc-dark.png" alt="JBC">
      </div>
      <form>
        <div class="form-group">
          <label for="numberInput">Numero carta</label>
          <input autocomplete="off" type="text" placeholder="Numero" class="form-control" [ngClass]="{'error-input': card_state.message_error}" id="numberInput" [(ngModel)]="Card.number" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="dateInput">Scadenza</label>
              <input autocomplete="off" type="text" placeholder="Scadenza" class="form-control" [ngClass]="{'error-input': card_state.message_error}" id="dateInput" [(ngModel)]="Card.exp_date" (keyup)="checkExpiry(Card.exp_date)" (change)="checkExpiry(Card.exp_date)" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="numberInput">CVC/CVV</label>
              <input autocomplete="off" type="text" placeholder="CVC/CVV" class="form-control" [ngClass]="{'error-input': card_state.message_error}" id="numberInput" [(ngModel)]="Card.cvc" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="nameInput">Nome e cognome dell'intestatario</label>
          <input type="name" name="name" placeholder="Nome e cognome" class="form-control" id="nameInput" [(ngModel)]="Card.name" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="addressInput">Indirizzo</label>
              <input type="address" placeholder="Via" class="form-control" id="addressInput" [(ngModel)]="Card.address_line1" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="addressNumberInput">Nr</label>
              <input type="text" placeholder="Nr" class="form-control" id="addressNumberInput" [(ngModel)]="Card.address_line2" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="cittyInput">Città</label>
              <input type="text" placeholder="Città" class="form-control" id="cittyInput" [(ngModel)]="Card.address_city" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="capInput">CAP</label>
              <input type="text" placeholder="CAP" class="form-control" id="capInput" [(ngModel)]="Card.address_zip" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="provinceInput">Provincia</label>
              <input type="text" placeholder="Provincia" class="form-control" id="provinceInput" [(ngModel)]="Card.address_state" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="countryInput">Paese</label>
              <input type="text" placeholder="Paese" class="form-control" id="countryInput" [(ngModel)]="Card.address_country" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group error">
          <span class="error-text" *ngIf="card_state.message_error">{{card_state.message_error}}</span>
        </div>
        <div class="actions">
          <div class="form-group text-center">
            <button type="button" class="btn btn-warning" (click)="addCard()"><i class="fa fa-circle-o-notch animate" *ngIf="card_state.loading"></i>Salva e continua</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="checkout" *ngIf="step==='end'">
    <div class="checkout-header">
      <h1>Complimenti!</h1>
      <p>Ha prenotato con successo il servizio scelto. In breve tempo la contateremo per ulteriori informazioni.</p>
      <p>Si assicuri di aver inserito un numero di telefono corretto nel suo account.</p>
    </div>
    <div class="checkout-body">
      <div class="actions">
        <div class="form-group text-center">
          <button type="button" class="btn btn-warning" (click)="nextStep()">Fine</button>
        </div>
      </div>
    </div>
  </div>
</div>
