///
/// All styles for the Home page
///

// General styles
$font-name: HelveticaNeue, sans-serif;
$font-name-medium: HelveticaNeue-Medium, sans-serif;
$font-name-light: HelveticaNeue-Light, sans-serif;
$letter-spacing: 0.08px;
$background: #FAFAFA;
$home-background-color: #FFFFFF;
$general-text-color: #000000;

// Tabs styles
$navbar-tabs-items-color: #000000;
$navbar-tabs-items-letter-spacing: 0.1px;
$navbar-tabs-background-color: #F5F5F5;
$navbar-tabs-border-style: 1px solid #DCDCDC;
$navbar-tabs-border-noactive-style: 1px solid transparent;
$navbar-tabs-active-background-color: #FAFAFA;

// Services Block styles
$services-block-background-color: #FCFCFC;
$services-item-hover-background-color: #F5F5F5;
$services-block-border-color: #DCE0E0;
$services-block-text-color: #424242;
$services-block-header-background-color: rgba(252, 252, 252, 0);
$services-block-header-letter-spacing: 0.1px;

// Input styles
$home-input-background-color: #FFFFFF;
$home-input-border: 1px solid #DCDCDC;
$home-input-text-size: 16px;
$home-input-text-color: #000000;
$home-input-text-letter-spacing: 0.1px;

// Services item styles
$services-item-letter-spacing: 0.09px;
$services-item-font-size: 14px;

app-home {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  background-color: $home-background-color;
}
.container-starbook.home-tab-bar {
  height: 30px;
  overflow: hidden;
}
.navbar.navbar-tabs {
  display: block;
  width: 100%;
  height: 30px;
  position: fixed;
  z-index: 1030;
  top:40px;
  left:0;
  background-color: $navbar-tabs-background-color;
  border: $navbar-tabs-border-style;
  padding: 0 !important;
}
.container-starbook .nav-pills {
  margin-left: -15px;
  white-space: nowrap;
}
.nav-pills .nav-item+.nav-item {
  margin-left: 0 !important;
}
.nav-pills .nav-item {
  float: none;
  display: inline-block;
}
.container-starbook .nav-pills .nav-link {
  position: relative;
  border-radius: 0 !important;
  margin: 0;
  padding: 3px 10px 4px 31px;
  color: $navbar-tabs-items-color !important;
  font-family: $font-name-light;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: $navbar-tabs-items-letter-spacing;
  cursor: pointer;
  border-left: $navbar-tabs-border-noactive-style;
  border-right: $navbar-tabs-border-noactive-style;
}
.container-starbook .nav-pills .nav-link:hover{
  background-color: $navbar-tabs-active-background-color;
  padding: 3px 10px 3px 31px;
}
.container-starbook .nav-pills .nav-link i {
  position: absolute;
  top: 6px;
  left: 10px;
  font-size: 16px;
  margin-right: 0;
}
.container-starbook .nav-pills .nav-link.active {
  font-family: $font-name-light;
  font-weight: normal;
  letter-spacing: $navbar-tabs-items-letter-spacing;
  background-color: $home-background-color;
  border-left: $navbar-tabs-border-style;
  border-right: $navbar-tabs-border-style;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.container-starbook {
  display: block;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  overflow-x: hidden;
}
.container-starbook.home-page {
  padding: 0 0 0 10px !important;
  background-color: rgb(249, 249, 249);
}
.container-starbook .row {
  position: relative;
  min-height: 100vh;
  padding: 80px 0 0 8px;
}
.container-starbook .main {
  display: block;
  width: 100%;
  padding-right: 388px;
}

.services-block {
  display: block;
  width: 490px;
  // background-color: $services-block-background-color;
  border: 1px solid $services-block-border-color;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 3px;
  background-color: white;
}
.services-block .header {
  font-family: $font-name-medium;
  font-size: 16px;
  font-weight: bold;
  // background-color: $services-block-header-background-color;
  padding: 15px 20px;
  border-bottom: 1px solid $services-block-border-color;
  letter-spacing: $services-block-header-letter-spacing;
  color: $services-block-text-color;
}
.services-block .service {
  display: block;
  width: 100%;
  padding: 9px 9px 12px 9px;
}
.services-block .service .item {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 7px 9px 50px;
  margin: 1px 0 1px 0;
  height: 40px;
  font-weight: 400;
  font-family: $font-name;
  font-size: $services-item-font-size;
  color: $general-text-color;
  letter-spacing: $services-item-letter-spacing;
  cursor: pointer;
  -webkit-font-smoothing: initial !important;
  background-color: $services-block-header-background-color;
  border-radius: 3px;
}
.services-block .service .item:hover {
  background-color: #E6E9EF;
  border-radius: 3px;
}
.services-block .service .item i {
  display: block;
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 20px;
  color: #E0E0E0;
}
.services-block .service .item:hover i {
  display: block;
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 20px;
  color: #324977;
}
.services-block .service .item.checked i {
  display: block;
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 20px;
  color: #324977;
}
.services-block .service .item.checked {
  font-weight: bold;
  font-family: $font-name;
  font-size: $services-item-font-size;
  color: $general-text-color;
  letter-spacing: $services-item-letter-spacing;
  cursor: pointer;
  -webkit-font-smoothing: initial !important;
  background-color: #E6E9EF;
}
.services-block .service .input {
  display: block;
  width: 100%;
  padding: 0 2px 1px 2px;
}
.services-block .service .input input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 9px 13px 8px 13px;
  text-align: right;
  border-radius: 3px;
  background-color: $home-input-background-color;
  border: $home-input-border;
  font-family: $font-name;
  font-weight: normal;
  font-size: $home-input-text-size;
  letter-spacing: $home-input-text-letter-spacing;
  color: $home-input-text-color;
  outline: none;
}
.services-block .service .input-group {
  padding: 10px 10px 10px 10px;
}
.services-block .service .input-group input {
  width: 100%;
  border-top: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  border-right: 0px solid #E0E0E0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: block;
  height: 40px;
  padding: 9px 13px 8px 13px;
  text-align: right;
  background-color: $home-input-background-color;
  font-family: $font-name;
  font-weight: normal;
  font-size: $home-input-text-size;
  letter-spacing: $home-input-text-letter-spacing;
  color: $home-input-text-color;
  outline: none;
}
.services-block .service .input-group span {
  border-top: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 35px;
  text-align: right;
  font-family: $font-name;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: $home-input-text-letter-spacing;
  color: #424242;
  outline: none;
  background-color: #E6E9EF;
}
.services-block-big {
  display: block;
  position: absolute;
  width: 490px;
  border: none;
  background-color: $services-block-background-color;
  margin-bottom: 20px;
  margin-left: 10px;
}
.services-block-big img {
  display: block;
  width: 100%;
  min-height: 130px;
  border-radius: 3px 3px 0 0;
}

// Description block
$content-block-description-text-color: #212121;
$content-block-description-text-size: 14px;
$content-block-description-text-letter-spacing: 0.08px;
.services-block-big .description {
  display: block;
  width: 100%;
  padding: 15px 12px 14px 13px;
  font-family: $font-name;
  font-size: $content-block-description-text-size;
  color: $content-block-description-text-color;
  letter-spacing: $content-block-description-text-letter-spacing;
  border-radius: 0 0 3px 3px;
  border: 1px solid $services-block-border-color;
}

// Loading style
.services-loader .loader {
  display: block;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 60px;
}
.services-loader .loader svg {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.services-loader.add-price .loader {
  margin-bottom: 20px;
}
@media (max-width: 1168px) {
  .home-page .tab-container {
    display: block;
    width: 525px;
    // margin: 0 auto;
    margin: 0 auto 50px auto;
  }
}
@media (max-width: 906px) {
  .home-page .tab-container {
    display: block;
    width: 262px;
    // margin: 0 auto;
    margin: 0 auto 50px auto;
  }
  .services-block-big {
    width: 245px;
  }
}
@media (max-width: 645px) {
  .home-page .tab-container {
    display: block;
    width: 525px;
    margin: 0 auto;
  }
  .container-starbook .main {
    padding-right: 15px;
  }
}
@media (max-width: 534px) {
  .home-page .tab-container {
    display: block;
    width: 262px;
    margin: 0 auto;
  }
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
