///
/// All styles for the Home page
///

// General styles
$font-name: HelveticaNeue, sans-serif;
$font-name-medium: HelveticaNeue-Medium, sans-serif;
$font-name-light: HelveticaNeue-Light, sans-serif;
$letter-spacing: 0.08px;
$background: #FAFAFA;
$home-background-color: #FFFFFF;
$general-text-color: rgba(66, 66, 66, 0.87);
$general-checked-text-color: rgba(33, 33, 33, 1.0);
$general-background-black-color: #161517;
$white-text-secondary-color: rgba(255,255,255,0.7);
$white-text-primary-color: rgba(255,255,255,1.0);
$black-text-primary-color: rgba(0,0,0,1);
$black-text-secondary-color: rgba(0,0,0,0.7);

// Tabs styles
$navbar-tabs-items-color: #000000;
$navbar-tabs-items-letter-spacing: 0.1px;
$navbar-tabs-background-color: #F5F5F5;
$navbar-tabs-border-style: 1px solid #DCDCDC;
$navbar-tabs-border-noactive-style: 1px solid transparent;
$navbar-tabs-active-background-color: #FAFAFA;

// Services Block styles
$services-block-background-color: #F7F7F7;
$services-item-hover-background-color: #F5F5F5;
$services-block-border-color: #CCCCCC;
$services-block-header-border-color: #E1E1E1;
$services-block-text-color: rgba(0, 0, 0, 1);
$services-block-header-background-color: rgba(252, 252, 252, 0);
$services-block-header-letter-spacing: 0.1px;

// Input styles
$home-input-background-color: #FAFAFA;
$home-input-border: 1px solid #DCDCDC;
$home-input-text-size: 16px;
$home-input-text-color: #000000;
$home-input-text-letter-spacing: 0.1px;

// Services item styles
$services-item-letter-spacing: 0.09px;
$services-item-font-size: 14px;

app-home {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  background-color: $home-background-color;
}
.container-starbook.home-tab-bar {
  height: 30px;
  overflow: hidden;
}
.navbar.navbar-tabs {
  display: block;
  width: 100%;
  height: 30px;
  position: fixed;
  z-index: 1030;
  top:40px;
  left:0;
  background-color: $navbar-tabs-background-color;
  border: $navbar-tabs-border-style;
  padding: 0 !important;
}
.container-starbook .nav-pills {
  margin-left: -15px;
  white-space: nowrap;
}
.nav-pills .nav-item+.nav-item {
  margin-left: 0 !important;
}
.nav-pills .nav-item {
  float: none;
  display: inline-block;
}
.container-starbook .nav-pills .nav-link {
  position: relative;
  border-radius: 0 !important;
  margin: 0;
  padding: 3px 10px 4px 31px;
  color: $navbar-tabs-items-color !important;
  font-family: $font-name-light;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: $navbar-tabs-items-letter-spacing;
  cursor: pointer;
  border-left: $navbar-tabs-border-noactive-style;
  border-right: $navbar-tabs-border-noactive-style;
}
.container-starbook .nav-pills .nav-link:hover{
  background-color: $navbar-tabs-active-background-color;
  padding: 3px 10px 3px 31px;
}
.container-starbook .nav-pills .nav-link i {
  position: absolute;
  top: 6px;
  left: 10px;
  font-size: 16px;
  margin-right: 0;
}
.container-starbook .nav-pills .nav-link.active {
  font-family: $font-name-light;
  font-weight: normal;
  letter-spacing: $navbar-tabs-items-letter-spacing;
  background-color: $home-background-color;
  border-left: $navbar-tabs-border-style;
  border-right: $navbar-tabs-border-style;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.masonry-container {
  // padding-left: 30px;
  // margin-left: 10px;
  // margin-right: 10px;
}

.container-starbook {
  display: block;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  overflow-x: hidden;
}
.container-starbook.home-page {
  // padding: 0 0 0 10px !important;
  padding: 0px;
  background-color: $home-background-color;
}
.container-starbook .row {
  position: relative;
  min-height: 100vh;
  padding: 70px 0 0 0;
  margin: 0;
}
.container-starbook .header-cover {
  background-color: red;
  margin-bottom: 20px;
  background-color: $general-background-black-color;
  color: white;
}
.tablet-mobile {
  display: none;
}
.header-cover .left-block {
  float: left;
  width: 30%;
}
.header-cover .title {
  font-family: $font-name-light;
  font-size: 19px;
  font-weight: 400;
  color: $white-text-primary-color;
  padding: 20px;
}
.header-cover .description {
  font-family: $font-name;
  font-size: 16px;
  font-weight: 400;
  color: $white-text-secondary-color;
  padding: 0 20px 20px 20px;
}
.header-cover img {
  width: 70%;
  height: 400px;
  object-fit: cover;
}
.container-starbook .main {
  display: block;
  width: 100%;
  padding-right: 390px;
  padding-left: 0px;
}

// Service masonry
$icon-checked-background-color: #161517;

.tab-container {
  padding: 0 10px 0 20px;
}
// .gutter-sizer {
//   width: 4%;
// }
// .grid-sizer {
//   width: 48%;
// }
.services-block {
  display: block;
  width: 48%;
  // width: 505px;
  // background-color: $services-block-background-color;
  border: 1px solid $services-block-border-color;
  margin-bottom: 20px;
  // margin-left: 10px;
  // border-radius: 3px;
  background-color: $services-block-background-color;
  // box-shadow: 0 1px 3px 0 #EDEFEF;
}
.services-block .header {
  font-family: $font-name-medium;
  font-size: 16px;
  font-weight: 500;
  // background-color: $services-block-header-background-color;
  padding: 15px 20px;
  border-bottom: 1px solid $services-block-header-border-color;
  letter-spacing: $services-block-header-letter-spacing;
  color: $services-block-text-color;
}
.services-block .service {
  display: block;
  width: 100%;
  padding: 15px;
}
.services-block .service .item {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 7px 9px 50px;
  margin: 1px 0 1px 0;
  // height: 40px;
  font-weight: 400;
  font-family: $font-name;
  font-size: $services-item-font-size;
  color: $black-text-secondary-color;
  letter-spacing: $services-item-letter-spacing;
  cursor: pointer;
  -webkit-font-smoothing: initial !important;
  background-color: $services-block-header-background-color;
  border-radius: 3px;
}
.services-block .service .item:hover {
  background-color: rgba(230, 233, 239, 0.2);
  border-radius: 3px;
}
.services-block .service .item i {
  display: block;
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 24px;
  color: #E0E0E0;
}
.services-block .service .item:hover i {
  display: block;
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 24px;
  color: rgba(50, 73, 119, 0.3);
}
.services-block .service .item.checked i {
  display: block;
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 24px;
  color: $icon-checked-background-color;
}
.services-block .service .item.checked {
  font-weight: 400;
  font-family: $font-name;
  font-size: $services-item-font-size;
  color: $black-text-primary-color;
  letter-spacing: $services-item-letter-spacing;
  cursor: pointer;
  -webkit-font-smoothing: initial !important;
  // background-color: #E6E9EF;
}
.services-block .service .input {
  display: block;
  width: 100%;
  padding: 0 2px 1px 2px;
}
.services-block .service .input input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 9px 13px 8px 13px;
  text-align: right;
  border-radius: 3px;
  background-color: $home-input-background-color;
  border: $home-input-border;
  font-family: $font-name;
  font-weight: normal;
  font-size: $home-input-text-size;
  letter-spacing: $home-input-text-letter-spacing;
  color: $home-input-text-color;
  outline: none;
}
.services-block .service .input-group {
  padding: 0 10px 0 10px;
}
.services-block .service .input-group input {
  width: 100%;
  border-top: 1px solid $services-block-border-color;
  border-left: 1px solid $services-block-border-color;
  border-bottom: 1px solid $services-block-border-color;
  border-right: 0px solid $services-block-border-color;
  // border-top-left-radius: 3px;
  // border-bottom-left-radius: 3px;
  display: block;
  height: 40px;
  padding: 9px 13px 8px 13px;
  text-align: right;
  background-color: white;
  font-family: $font-name;
  font-weight: normal;
  font-size: $home-input-text-size;
  letter-spacing: $home-input-text-letter-spacing;
  color: $home-input-text-color;
  outline: none;
}
.services-block .service .input-group span {
  border-top: 1px solid $services-block-border-color;
  border-left: 1px solid $services-block-border-color;
  border-bottom: 1px solid $services-block-border-color;
  border-right: 1px solid $services-block-border-color;
  // border-top-right-radius: 3px;
  // border-bottom-right-radius: 3px;
  height: 35px;
  text-align: right;
  font-family: $font-name-medium;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: $home-input-text-letter-spacing;
  color: $services-block-text-color;
  outline: none;
  background-color: #FAFAFA;
  padding: 0px 14px;
  border-radius: 0;
}
.services-block-big {
  display: block;
  position: absolute;
  width: 505px;
  border: none;
  background-color: $services-block-background-color;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px 0 #EDEFEF;
}
.services-block-big img {
  display: block;
  width: 100%;
  min-height: 130px;
  border-radius: 3px 3px 0 0;
}

// Description block
$content-block-description-text-color: #212121;
$content-block-description-text-size: 15px;
$content-block-description-text-letter-spacing: 0.08px;
.services-block-big .description {
  display: block;
  width: 100%;
  padding: 22px 20px;
  font-family: $font-name;
  font-size: $content-block-description-text-size;
  // color: $content-block-description-text-color;
  color: white;
  letter-spacing: $content-block-description-text-letter-spacing;
  border-radius: 0 0 3px 3px;
  // border: 1px solid $services-block-border-color;
  background-color: black;
}

// Loading style
.services-loader .loader {
  display: block;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 60px;
}
.services-loader .loader svg {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.services-loader.add-price .loader {
  margin-bottom: 20px;
}

@media (max-width: 1430px) {
  .home-page .tab-container {
    display: block;
    width: 100%;
    margin: 0 auto 20px auto;
  }

  .services-block {
    width: 600px;
  }
  .services-block-big {
    width: 600px;
  }
}
@media (max-width: 1168px) {
  .tablet-mobile {
    display: inherit;
  }
  .large-cover {
    display: none;
  }
  .header-cover .title {
    text-align: center;
    padding: 10px 20px;
  }
  .header-cover .description {
    padding-top: 20px;
  }
  .header-cover img {
    width: 100%;
    height: 400px;
    object-position: bottom;
  }
  .home-page .tab-container {
    display: block;
    width: 100%;
    // margin: 0 auto;
    margin: 0 auto 0 auto;
  }

  .services-block {
    width: 100%;
  }
  .services-block-big {
    width: 100%;
  }
}
@media (max-width: 906px) {
  .container-starbook .tablet-mobile {
    display: inherit;
  }
  .container-starbook .header-cover {
    margin-left: 20px;
    margin-right: 20px;
  }
  .home-page .tab-container {
    display: block;
    width: 100%;
    // margin: 0 auto 0 auto;
    padding: 0;
    margin: 0 auto 0 auto;
  }
  .services-block {
    width: 100%;
  }
  .masonry-container {
    // padding-left: 20px;
    // padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .services-block-big {
    width: 100%;
  }
  .container-starbook .row {
    padding: 70px 0 0 0;
  }
}
@media (max-width: 645px) {
  .home-page .tab-container {
    display: block;
    width: 525px;
    margin: 0 auto;
  }
  .header-cover img {
    height: 240px;
  }
  .container-starbook .main {
    padding-right: 15px;
  }
  .container-starbook .header-cover {
    margin-left: 0;
    margin-right: 0;
  }
  .services-block {
    // padding-left: 10px;
    // padding-right: 10px;
    margin-bottom: 10px;
  }
  .masonry-container {
    // padding-left: 20px;
    padding: 0px;
  }
  .container-starbook .row {
    padding: 50px 0 0 0;
  }
}
@media (max-width: 534px) {
  .home-page .tab-container {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .masonry-container {
    // padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .container-starbook .row {
    padding: 60px 0 0 0;
  }
  .services-block .services-block-big {
    width: 345px;
  }
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
