<div class="estimate" *ngIf="page==='service' && Estimate">
  <div class="header">
    <div *ngFor="let item of Estimate.details">
      <div *ngIf="item.type==='service'">
        <h3>{{item.title}}</h3>
      </div>
      <div *ngIf="item.type==='detail'">
        <p>{{item.title}}</p>
      </div>
    </div>
  </div>
  <div class="line" *ngIf="Estimate.timing.days > 1"></div>
  <div class="counts" *ngIf="Estimate.timing.days > 1">
    <div class="item">Durata del lavoro</div>
    <div class="amount time">{{daysString(Estimate.timing.days)}}</div>
  </div>
  <div class="line"></div>
  <div class="counts" *ngIf="Estimate.price.initial>Estimate.price.final">
    <div class="item">Totale (Iniziale)</div>
    <div class="amount initial">{{Estimate.price.initial/100}}€</div>
  </div>
  <div class="counts">
    <div class="item">Totale</div>
    <div class="amount">{{Estimate.price.final/100}}€</div>
  </div>
  <div class="line"></div>
  <div class="actions">
    <div class="form-group">
      <button type="button" id="next" class="btn btn-warning" (click)="startWizard()">Continua con l'ordine</button>
    </div>
    <div class="form-group">
      <a *ngIf="currentUser && !estimate_state.saved" (click)="saveEstimate()">Salva preventivo</a>
      <a *ngIf="currentUser && estimate_state.saved">Preventivo Salvato!</a>
    </div>
  </div>
</div>

<div class="share-container" *ngIf="page==='starbook'">
  <div class="header">
    <h1>Aiuta un amico e guadagnate insieme!</h1>
    <p>Condividi Starbook ai tuoi amici e per ogni servizio acquistato riceverete entrambi 5% del totale del servizio</p>
  </div>
  <div class="invitation">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group" *ngIf="invitation_state.message_error">
          <div class="alert alert-danger" role="alert">{{invitation_state.message_error}}</div>
        </div>
        <div class="form-group" *ngIf="invitation_state.message_success">
          <div class="alert alert-success" role="alert">{{invitation_state.message_success}}</div>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Esempio: 3234565540, john@gmail.com" class="form-control" id="contacts" [(ngModel)]="contacts" [ngModelOptions]="{standalone: true}">
          <span class="input-group-btn">
            <button type="button" id="next" class="btn btn-success" (click)="sendInvitations()">Invia</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="share-actions">
    <h1>Condividi sui social</h1>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-facebook" (click)="shareOnFacebook()"><i class="fa fa-facebook"></i>Facebook</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-twitter" (click)="shareOnTwitter()"><i class="fa fa-twitter"></i>Twitter</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-linkedin" (click)="shareOnLinkedin()"><i class="fa fa-linkedin"></i>Linkedin</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-google-plus" (click)="shareOnGoogle()"><i class="fa fa-google-plus"></i>Google Plus</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-white" (click)="shareWithEmail()"><i class="fa fa-envelope"></i>Email</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-white" [clipboard]="sharelink" (clipboardCopy)="copyLink($event)" (clipboardError)="copyError($event)"><i class="fa fa-link"></i>Copia link</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="estimate" *ngIf="page==='estimate' && Estimate">
  <div class="header">
    <div *ngFor="let item of Estimate.details">
      <div *ngIf="item.type==='service'">
        <h3>{{item.title}}</h3>
      </div>
      <div *ngIf="item.type==='detail'">
        <p>{{item.title}}</p>
      </div>
    </div>
  </div>
  <div class="line" *ngIf="Estimate.timing.days > 1"></div>
  <div class="counts" *ngIf="Estimate.timing.days > 1">
    <div class="item">Durata del lavoro</div>
    <div class="amount time">{{daysString(Estimate.timing.days)}}</div>
  </div>
  <div class="line"></div>
  <div class="counts" *ngIf="Estimate.price.initial>Estimate.price.final">
    <div class="item">Totale (Iniziale)</div>
    <div class="amount initial">{{Estimate.price.initial/100}}€</div>
  </div>
  <div class="counts">
    <div class="item">Totale</div>
    <div class="amount">{{Estimate.price.final/100}}€</div>
  </div>
  <div class="line"></div>
  <div class="actions">
    <div class="form-group">
      <button type="button" id="next" class="btn btn-warning" (click)="startWizard()">Continua con l'ordine</button>
    </div>
    <div class="form-group">
      <a *ngIf="currentUser && !estimate_state.saved" (click)="saveEstimate()">Salva preventivo</a>
      <a *ngIf="currentUser && estimate_state.saved">Preventivo Salvato!</a>
    </div>
  </div>
  <div class="invitation">
    <h3>Invia preventivo a</h3>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group" *ngIf="invitation_state.message_error">
          <div class="alert alert-danger" role="alert">{{invitation_state.message_error}}</div>
        </div>
        <div class="form-group" *ngIf="invitation_state.message_success">
          <div class="alert alert-success" role="alert">{{invitation_state.message_success}}</div>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Esempio: 3234565540, john@gmail.com" class="form-control" id="contacts" [(ngModel)]="contacts" [ngModelOptions]="{standalone: true}">
          <span class="input-group-btn">
            <button type="button" id="next" class="btn btn-success" (click)="sendInvitations()">Invia</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="share-actions">
    <h3>Condividi sui social</h3>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-facebook" (click)="shareOnFacebook()"><i class="fa fa-facebook"></i>Facebook</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-twitter" (click)="shareOnTwitter()"><i class="fa fa-twitter"></i>Twitter</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-linkedin" (click)="shareOnLinkedin()"><i class="fa fa-linkedin"></i>Linkedin</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-google-plus" (click)="shareOnGoogle()"><i class="fa fa-google-plus"></i>Google Plus</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-white" (click)="shareWithEmail()"><i class="fa fa-envelope"></i>Email</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-white" [clipboard]="sharelink" (clipboardCopy)="copyLink($event)" (clipboardError)="copyError($event)"><i class="fa fa-link"></i>Copia link</button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer sticky-footer" *ngIf="page!==''">
  <div class="footer-container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <ul>
          <li>Starbook © 2017</li>
          <li>Tutti i diritti riservati</li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <ul>
          <li><a routerLink="/legal" routerLinkActive="active">Privacy e Condizioni</a></li>
          <li><a routerLink="/help" routerLinkActive="active">Aiuto e Assistenza</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <ul>
          <li><a routerLink="/about" routerLinkActive="active">Chi siamo</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <ul>
          <li><a routerLink="/requests/service" routerLinkActive="active">Richiedi un servizio</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
