<div class="share-container" *ngIf="page==='starbook'">
  <div class="header">
    <h1>Aiuta un amico e guadagnate insieme!</h1>
    <p>Condividi Starbook ai tuoi amici e per ogni servizio acquistato riceverete entrambi 5% del totale del servizio</p>
  </div>
  <div class="invitation">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group" *ngIf="invitation_state.message_error">
          <div class="alert alert-danger" role="alert">{{invitation_state.message_error}}</div>
        </div>
        <div class="form-group" *ngIf="invitation_state.message_success">
          <div class="alert alert-success" role="alert">{{invitation_state.message_success}}</div>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Esempio: 3234565540, john@gmail.com" class="form-control" id="contacts" [(ngModel)]="contacts" [ngModelOptions]="{standalone: true}">
          <span class="input-group-btn">
            <button type="button" id="next" class="btn btn-success" (click)="sendInvitations()">Invia</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="share-actions">
    <h1>Condividi sui social</h1>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-facebook" (click)="shareOnFacebook()"><i class="fa fa-facebook"></i>Facebook</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-twitter" (click)="shareOnTwitter()"><i class="fa fa-twitter"></i>Twitter</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-linkedin" (click)="shareOnLinkedin()"><i class="fa fa-linkedin"></i>Linkedin</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-google-plus" (click)="shareOnGoogle()"><i class="fa fa-google-plus"></i>Google Plus</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-white" (click)="shareWithEmail()"><i class="fa fa-envelope"></i>Email</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-white" [clipboard]="sharelink" (clipboardCopy)="copyLink($event)" (clipboardError)="copyError($event)"><i class="fa fa-link"></i>Copia link</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="estimate" *ngIf="page==='service'">
  <div class="header">
    <div *ngFor="let item of Estimate.details">
      <div *ngIf="item.type === 'service'">
        <h3>{{item.title}}</h3>
      </div>
      <div *ngIf="item.type === 'detail'">
        <p>{{item.title}}</p>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="counts" *ngIf="Estimate.price.initial>Estimate.price.final">
    <div class="item">PREZZO INIZIALE</div>
    <div class="amount initial">{{Estimate.price.initial/100}}€</div>
  </div>
  <div class="counts">
    <div class="item">PREZZO FINALE</div>
    <div class="amount">{{Estimate.price.final/100}}€</div>
  </div>
  <div class="line"></div>
  <div class="counts">
    <div class="item">DURATA DEL LAVORO (Approssimativo)</div>
    <div class="amount time">{{Estimate.timing.days}}</div>
  </div>

  <!-- <div class="counts">
    <div class="item">ACCONTO (30% del totale)</div>
    <div class="amount">{{Estimate.payment.upfront/100}}€</div>
  </div>
  <div class="actions">
    <div class="form-group">
      <button class="btn btn-warning" id="next" type="button" (click)="startWizard()">Continua</button>
    </div>
    <a routerLinkActive="active" (click)="saveEstimate()">Salva preventivo</a>
  </div> -->
  <div class="line"></div>
  <div class="invitation">
    <h3>Invia ad un amico</h3>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group" *ngIf="invitation_state.message_error">
          <div class="alert alert-danger" role="alert">{{invitation_state.message_error}}</div>
        </div>
        <div class="form-group" *ngIf="invitation_state.message_success">
          <div class="alert alert-success" role="alert">{{invitation_state.message_success}}</div>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Esempio: 3234565540, john@gmail.com" class="form-control" id="contacts" [(ngModel)]="contacts" [ngModelOptions]="{standalone: true}">
          <span class="input-group-btn">
            <button type="button" id="next" class="btn btn-success" (click)="sendInvitations()">Invia</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="share-actions">
    <h3>Condividi sui social</h3>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-facebook" (click)="shareOnFacebook()"><i class="fa fa-facebook"></i>Facebook</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-twitter" (click)="shareOnTwitter()"><i class="fa fa-twitter"></i>Twitter</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-linkedin" (click)="shareOnLinkedin()"><i class="fa fa-linkedin"></i>Linkedin</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-google-plus" (click)="shareOnGoogle()"><i class="fa fa-google-plus"></i>Google Plus</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-white" (click)="shareWithEmail()"><i class="fa fa-envelope"></i>Email</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <button type="button" id="next" class="btn btn-white" [clipboard]="sharelink" (clipboardCopy)="copyLink($event)" (clipboardError)="copyError($event)"><i class="fa fa-link"></i>Copia link</button>
        </div>
      </div>
    </div>
  </div>
</div>
