<div class="tests-container">
  <div class="overlay">
    <!-- <div *ngIf="page===''" class="loader-container">
      <i class="fa fa-circle-o-notch animate"></i>
    </div> -->
    <div *ngIf="page" class="header">
      <h1>{{title}}</h1>
      <h4>{{subtitle}}</h4>
      <div class="search-panel">
        <div class="fields">
          <div class="service-title">
            <div class="form-group">
              <label for="serviceTitleInput">Di cosa hai bisogno?</label>
              <div class="input-group">
                <span class="input-group-addon" id="price-input"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                <p-autoComplete [(ngModel)]="query" [suggestions]="suggestions" field="title" scrollHeight="275px" (completeMethod)="showSuggestions($event)" (ngModelChange)="changeSearch($event)" placeholder="Servizio, professionista, altro?" minLength="0">
                  <template let-res>
                    <i class="fa fa-search" aria-hidden="true"></i><div class="search-result" (click)="selectSuggestion(res)">{{ res.title }}</div>
                  </template>
                </p-autoComplete>
                <div class="spinner" *ngIf="spinerView">
                  <svg width='21px' height='21px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
                    <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                    <circle cx="50" cy="50" r="45" stroke-dasharray="169.64600329384882 113.09733552923257" stroke="#3B568D" fill="none" stroke-width="10">
                      <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform>
                    </circle>
                  </svg>
                </div>
                <div class="close-container" *ngIf="!spinerView && clearView">
                  <span class="close rounded thick" (click)="clearSearchForm()"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="service-when">
            <div class="form-group">
              <label for="dateInput">Quando ti serve?</label>
              <div class="input-group">
                <span class="input-group-addon" id="price-input"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                <p-calendar class="date form-control" name="data" placeholder="Quando?" [(ngModel)]="temp_date" id="date" autocomplete="off" readonlyInput="true" dateFormat="dd MM yy" [locale]="it" [minDate]="minDate" (onSelect)="selectDate()"></p-calendar>
              </div>
            </div>
          </div>
        </div>
        <div class="service-action">
          <div class="form-group text-center">
            <button type="button" id="BookService" class="btn btn-danger" (click)="bookServiceNow($object)">{{button_title}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
