app-post {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  padding: 70px 0 0;
  font-family: Helvetica Neue, sans-serif;
  .article-container {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 50px 20px 0;
    max-width: 790px;
    margin: auto;

    article {
      text-align: left;
      p {
        margin-top: 20px;
      }
      p img {
        box-shadow: 2px 2px 0 rgba(192, 192, 192, 0.3);
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #c0c0c0;
      }
      header {
        text-align: left;
        h1 {
          font-size: 44px;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.8);
          line-height: 53px;
        }
        p {
          margin-bottom: 24px;
          font-size: 14px !important;
          line-height: 31px;
          color: rgba(0, 0, 0, 0.8);
          margin-top: 20px;
          text-align: left;
          -webkit-hyphens: auto;
          -epub-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
          time {
            margin-right: 15px;
          }
        }
        .share-links {
          overflow: auto;
          margin-top: 0;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 #ffffff, 0 1px 0 #ffffff inset;
          li {
            display: inline;
            list-style-type: none;
            float: left;
            a {
              display: block;
              text-decoration: none;
              background-clip: padding-box;
              height: 40px;
            }
            a i {
              display: inline-block;
              vertical-align: middle;
              text-align: center;
              line-height: 40px;
              font-size: 18px!important;
              width: 40px;
              height: 40px;
            }
            a span {
              margin-right: 20px;
              font-size: 14px;
            }
          }
          .line {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 1px 0 0 #ffffff inset;
          }
          .facebook a {
            color: #3a579a;
          }
          .facebook a:hover {
            color: #212121!important;
          }
          .twitter a {
            color: #00abf0;
          }
          .twitter a:hover {
            color: #212121!important;
          }
          .google a {
            color: #EA4335;
          }
          .google a:hover {
            color: #212121!important;
          }
          .pinterest a {
            color: #cd1c1f;
          }
          .pinterest a:hover {
            color: #212121!important;
          }
          .linkedin a {
            color: #127bb6!important;
          }
          .linkedin a:hover {
            color: #212121!important;
          }

        }
      }
      section {
        margin-top: 40px;
        a {
          color: #3B5998;
          text-decoration: none;
          border-bottom: 1px dotted rgba(59, 89, 152, 0.4);
          transition: all 0.1s ease-in;
        }
        a:hover {
          text-decoration: none;
          border-bottom-style: solid;
          color: #5f7ec1;
          border-bottom: 1px solid rgba(59, 89, 152, 0.6);
        }
        h2 {
          text-align: left;
          font-size: 32px;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.8);
          line-height: 38px;
        }
      }
    }
    .lead-form {
      margin-top: 30px;
      .form-box {
        width: 100%;
        background: #2F509D;
        .form-content {
          .content {
            h2 {
              font-family: PT Serif Caption;
              font-weight: 700;
              line-height: inherit;
            }
            span {
              font-weight: 600;
              color: #7ae271;
            }
            p {
              margin-top: 10px;
            }
          }
        }
        .form-content {
          padding: 40px;
          color: white;
        }
        .form-cta {
          padding: 15px;
          background: #112F75;
          text-align: center;
          .done {
            i {
              color: #2cb92a;
              font-size: 50px;
            }
            span {
              font-size: 30px;
              color: white;
              display: block;
            }
          }
          *::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: #1E2E4F !important;
            opacity: 1 !important;
          }
          *:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #1E2E4F !important;
            opacity: 1;
          }
          *::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #1E2E4F !important;
            opacity: 1;
          }
          *:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #1E2E4F !important;
            opacity: 1 !important;
          }
          *::-ms-input-placeholder { /* Microsoft Edge */
            color: #1E2E4F !important;
            opacity: 1 !important;
          }
          .input-group-btn {
            padding-left: 15px;
          }
          .input-group {
            margin-bottom: 5px;
          }
          .input-group .form-control {
            height: 60px !important;
            border: 1px solid rgba(0, 0, 0, 0.2);
            text-align: center;
            font-size: 23px;
            font-weight: 300;
            font-style: italic;
          }
          .input-group input[type="text"] {
            background-color : #F8F8F8;
          }
          .btn-success {
            background: #58b957 !important;
            height: 60px;
            padding: 0 40px;
            font-weight: 500;
            font-size: 25px;
            // text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
          }
          .btn-success:hover {
            background: #2cb92a !important;
          }
          .btn-success:active {
            background: #2cb92a !important;
          }
        }
      }
    }
    .facebook-comments {
      padding: 30px 0 80px;
      max-width: 790px;
      margin: auto;
      .btn-twitter, .btn-facebook, .btn-linkedin, .btn-google-plus {
        background: white;
        padding: 0 5px;
      }
      i {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.7);
      }
      .fb-comments {
        width: 100%;
        ._5lm5 _2pi3 _3-8y {
          display: none;
        }
        span {
          width: 100% !important;
          iframe {
            width: 100% !important;
          }
        }
      }
    }

    .header {
      padding: 50px 20px 0;
      max-width: 790px;
      margin: auto;
      overflow: auto;
      h1 {
        font-size: 44px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.8);
        line-height: 53px;
      }
      .author {
        padding: 20px 0;
        text-align: left;
        overflow: auto;
        img {
          width: 50px;
          border-radius: 25px;
        }
        .author-username {
          margin-left: 10px;
          margin-top: 4px;
          font-size: 18px;
          font-weight: 300;
          color: rgba(0, 0, 0, 1);
          font-weight: 400;
        }
        .headline {
          margin-left: 10px;
          margin-top: 1px;
          color: rgba(0, 0, 0, 0.44);
          font-size: 15px;
          font-weight: 400;
        }
      }
      .date {
        overflow: auto;
        margin-top: 10px;
        border-bottom: 1px solid rgb(219, 219, 219);
        .post-date {
          color: rgba(0, 0, 0, 0.8);
          font-size: 16px;
          font-weight: 400;
        }
      }
      .share {
        overflow: auto;
        margin-top: 10px;
        .btn-twitter, .btn-facebook, .btn-linkedin, .btn-google-plus {
          background: white;
          padding: 0 5px;
        }
        i {
          font-size: 18px;
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }
    .body {
      padding: 20px;
      max-width: 790px;
      margin: auto;
      text-align: center;
      .image-preview {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 250px;
      }
      p img {
        box-shadow: 2px 2px 0 rgba(192, 192, 192, 0.3);
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #c0c0c0;
      }
      h2 {
        text-align: left;
        font-size: 32px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.8);
        line-height: 38px;
        margin-top: 40px;
      }
      a.starbook-banner {
        display: block;
        margin-top: 30px;
        background: #324977;
        line-height: 60px;
        text-align: center;
        color: white;
        font-size: 22px;
      }
      a.starbook-banner:hover, a.starbook-banner:focus {
        background: #1d325d;
        text-decoration: none;
      }
    }

    // .line {
    //   border-bottom: 1px solid rgb(219, 219, 219);
    // }
  }
  .footer-container {
    position: relative;
    background: white;
    padding: 0;
    border: 0;
    .footer {
      max-width: 1000px;
      margin: auto;
      padding: 20px 10px;
      border-top: 1px solid #DBDBDB;
      span {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 768px) {

}
@media (max-width: 425px) {
  app-post .article-container .header {
    padding: 30px 20px 0;
  }
  app-post .article-container .header h1 {
    font-size: 38px;
    line-height: 47px;
  }
  app-post .article-container .body {
    padding: 30px 20px;
  }
  app-post .article-container .body p {
    margin-top: 20px;
  }
  app-post .article-container .body h2 {
    margin-top: 30px;
  }
}
