<div class="article-container" *ngIf="selectedArticle">
  <div [innerHtml]="selectedArticle.html_body"></div>
  <!-- <div class="header">
    <h1>{{selectedArticle.title}}</h1>
    <div class="author">
      <img class="left" [src]="selectedArticle.author.picture_url" title="={{selectedArticle.author.fullname}}" alt="{{selectedArticle.author.fullname}}">
      <div class="left">
        <div class="author-username">{{selectedArticle.author.fullname}}</div>
        <div class="headline">{{selectedArticle.author.headline}}</div>
      </div>
    </div>
    <div class="date">
      <div class="post-date">{{selectedArticle.updated_at}} - {{selectedArticle.timing}}</div>
    </div>
    <div class="share right">
      <a class="btn btn-twitter" (click)="shareOnTwitter()">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a class="btn btn-facebook" (click)="shareOnFacebook()">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
      <a class="btn btn-linkedin" (click)="shareOnLinkedin()">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
    </div>
  </div> -->
  <!-- <div class="body" *ngIf="browser">
    <div [innerHtml]="selectedArticle.html_body"></div>
    <markdown [data]="selectedArticle.markdown_body"></markdown>
  </div> -->
  <!-- <div class="footer">
  </div> -->
  <div class="lead-form">
    <div class="form-box">
      <div class="form-content">
        <div class="content">
          <h2><span>Nuovo metodo:</span> Scopri l'innovazione del web nel mondo dell'artigianato.</h2>
          <p>Vuoi rimanere sempre <strong>un passo avanti</strong> alla <strong>concorrenza</strong> utilizzando le novità del web? <strong>Unisciti</strong> e ti aggiorneremmo su nuove <strong>opportunità</strong>.</p>
        </div>
      </div>
      <div class="form-cta" *ngIf="!Lead.generated">
        <div class="form-group emailfield">
          <input type="text" placeholder="Inserisci il tuo indirizzo email" class="form-control" id="emailInput" [(ngModel)]="Lead.email" [ngModelOptions]="{standalone: true}">
        </div>
        <span class="form-group sendbutton">
          <button type="button" id="next" class="btn btn-success" (click)="sendEmail()"><i class="fa fa-circle-o-notch animate" *ngIf="Lead.loading"></i><div *ngIf="!Lead.loading">Aggiornami</div></button>
        </span>

        <!-- <div class="input-group">
          <input type="text" placeholder="Inserisci il tuo indirizzo email" class="form-control" id="emailInput" [(ngModel)]="Lead.email" [ngModelOptions]="{standalone: true}">
          <span class="input-group-btn">
            <button type="button" id="next" class="btn btn-success" (click)="sendEmail()"><i class="fa fa-circle-o-notch animate" *ngIf="Lead.loading"></i><div *ngIf="!Lead.loading">Aggiornami</div></button>
          </span>
        </div> -->
      </div>
      <div class="form-cta" *ngIf="Lead.generated">
        <div class="done">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          <span>Fatto!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="facebook-comments" *ngIf="browser">
    <fb-comments href="https://developers.facebook.com/docs/plugins/comments#{{selectedArticle.title}}"></fb-comments>
  </div>

</div>

<div class="footer-container">
  <div class="footer">
    <span>Starbook © 2017 Tutti i diritti riservati</span>
  </div>
</div>
