<div class="marketing-page">

  <h1>Condividi, Invita, Guadagna</h1>
  <p>Condividi Starbook ai tuoi amici e per ogni servizio acquistato riceverete entrambi 5% del totale del servizio.</p>
  <input type="text" placeholder="Numero telefono, Email" class="form-control" id="textInput">
  <button class="btn btn-primary">Invia</button>


  <div class="share">
    <div class="row">
      <div class="col-md-4">
        Facebook
      </div>
      <div class="col-md-4">
        Email
      </div>
      <div class="col-md-4">
        Twitter
      </div>
    </div>
  </div>

  <!-- <a href="whatsapp://send?text=http://sivasankar.in" data-action="share/whatsapp/share">Share via Whatsapp</a>
  <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info@starbook.co&body=questoèuntesto">Click here to email</a> -->
</div>
